workflows/[JESS] [DISPARO] 18/06.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-06-18T16:38:28.837Z",
  "id": "6LtBTjk0KOVboFTM",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[JESS] [DISPARO] 18/06",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression"
            }
          ]
        }
      },
      "id": "6d719c46-7495-4820-8d73-1b519a735ae2",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        620,
        300
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4",
          "mode": "list",
          "cachedResultName": "[Jess] [L1] - Planilha Central",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 696415991,
          "mode": "list",
          "cachedResultName": "Compradores - Britshize",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit#gid=696415991"
        },
        "options": {}
      },
      "id": "2004cfd3-1cc5-46f9-a1cd-e54140ba530d",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        840,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "bd8d922f-e157-450a-b07b-123912a1e50b",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1080,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C92A5E4516CC0A421E9D604DAF2BCF1/token/DAEE58152CBC84AAAF621399/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fa17da691aa134d98a36ad45928e14669S"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ \"55\"+$json.DDD+\"\"+$json.Telefone}}"
            },
            {
              "name": "message",
              "value": "={{ $json.Nome.split(\" \")[0] }}, passando aqui pra te avisar que o concurso de depoimentos acaba amanhã.\n\nCaso ainda não tenha enviado seu vídeo, pode mandar pra gente até amanhã a noite tudo bem? ❤️\n\nAguardo seu vídeo, see you later."
            }
          ]
        },
        "options": {}
      },
      "id": "9de957b0-91c5-4c7e-8ef0-dce1c2ff0ba6",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1380,
        320
      ]
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * (20 - 8 + 1)) + 8}}"
      },
      "id": "d5de612c-f8f7-49af-8f7e-5a5e6035b6b0",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1620,
        320
      ],
      "webhookId": "0c1e6032-0def-4362-8dbd-33a4d5a88128"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-06-20T20:22:16.000Z",
  "versionId": "7f5242f6-0b64-4a67-ba97-c6ce06edc875"
}