workflows/[Dígito] Envio de feedback do LibbIA.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Trata Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trata Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-06-26T00:33:32.111Z",
  "id": "02XosALXRcxT5Hre",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[Dígito] Envio de feedback do LibbIA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dd5f0ffa-470b-4bc6-a34f-0f3b7584775e",
        "options": {}
      },
      "id": "81374b63-d9a5-40e6-8853-aac98d4eb408",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        800,
        380
      ],
      "webhookId": "dd5f0ffa-470b-4bc6-a34f-0f3b7584775e"
    },
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]\n"
      },
      "id": "0a0ea8d4-bf2e-4354-bc65-46cc4690a4ec",
      "name": "Trata Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1020,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://flowise.autoflows.online/api/v1/prediction/692a3afd-6089-4910-8bc0-9e4b422a3801",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "question",
              "value": "={{ $json.prompt }}"
            }
          ]
        },
        "options": {}
      },
      "id": "948e3427-b1fe-4132-9bba-7fb9e3290b6f",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1240,
        380
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1PsRhz29j61GfjN5kLbonUbpCDWXM-XmYOfq7U1ofABU",
          "mode": "list",
          "cachedResultName": "[LIBERTAS] PROGRAMA DÍGITO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PsRhz29j61GfjN5kLbonUbpCDWXM-XmYOfq7U1ofABU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1020147468,
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PsRhz29j61GfjN5kLbonUbpCDWXM-XmYOfq7U1ofABU/edit#gid=1020147468"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Nome",
              "lookupValue": "={{ $('Trata Webhook').item.json.para }}"
            }
          ]
        },
        "options": {}
      },
      "id": "821cd908-99e8-4893-9591-67359d69290c",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        1460,
        380
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dentistapower.com.br/message/sendText/libby",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=5yd083w0zymg45h6nmd7xr "
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.Telefone }}"
            },
            {
              "name": "textMessage.text",
              "value": "=*Comentário do libby sobre o dígito:*\n\n{{ $('HTTP Request').item.json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3154c64c-02d0-4fea-ab81-703c9c09422e",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1700,
        380
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.marcosfoks.com.br",
            "user-agent": "Make/production",
            "content-length": "125",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare",
            "cf-connecting-ip": "54.80.47.193",
            "cf-ipcountry": "US",
            "cf-ray": "89c74f9148b73af3-IAD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "traceparent": "00-6682c664000000001b7c4b17ffdc8205-1b7c4b17ffdc8205-00",
            "tracestate": "dd=t.tid:6682c66400000000;t.dm:1;s:0",
            "x-datadog-parent-id": "1980540502585147909",
            "x-datadog-sampling-priority": "0",
            "x-datadog-tags": "_dd.p.tid=6682c66400000000",
            "x-datadog-trace-id": "1980540502585147909",
            "x-forwarded-for": "172.70.43.62",
            "x-forwarded-host": "n8n.marcosfoks.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "bc917484dc53",
            "x-real-ip": "172.70.43.62"
          },
          "params": {},
          "query": {},
          "body": {
            "prompt": "de: Victor Tran para Matheus Cristhyan motivo: digito teste",
            "de": "Victor Tran",
            "para": "Matheus Cristhyan"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-07-02T00:21:21.000Z",
  "versionId": "c43dd77f-1de2-498a-afef-285c28866de2"
}