workflows/[ILA & NICOLE] Sala Black - Ficha de Onboarding.json
{
  "active": true,
  "connections": {
    "Trata Webhook": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Trata Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Formata Telefone",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Existe precif",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formata Telefone Responsavel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formata Telefone mentoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Telefone": {
      "main": [
        [
          {
            "node": "Existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Adiciona",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualiza",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existe": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Atual": {
      "main": [
        [
          {
            "node": "Formata Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1º Laço?": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Adiciona papo de dono",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualiza papo de dono",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Telefone Responsavel": {
      "main": [
        [
          {
            "node": "1º Laço?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "Adiciona mentoria",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualiza mentoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Telefone mentoria": {
      "main": [
        [
          {
            "node": "1º Laço mentoria?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1º Laço mentoria?": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF3": {
      "main": [
        [
          {
            "node": "Atualiza email precif",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualiza email precif1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existe precif": {
      "main": [
        [
          {
            "node": "IF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Data": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza email precif": {
      "main": [
        [
          {
            "node": "busca infos mentorado2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona": {
      "main": [
        [
          {
            "node": "busca infos mentorado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca infos mentorado": {
      "main": [
        [
          {
            "node": "IF4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza": {
      "main": [
        [
          {
            "node": "busca infos mentorado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca infos mentorado1": {
      "main": [
        [
          {
            "node": "IF5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca infos mentorado2": {
      "main": [
        [
          {
            "node": "permissao precif",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza email precif1": {
      "main": [
        [
          {
            "node": "busca infos mentorado3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca infos mentorado3": {
      "main": [
        [
          {
            "node": "permissao precif1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "permissao acomp": {
      "main": [
        [
          {
            "node": "add papo de dono2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add papo de dono2": {
      "main": [
        [
          {
            "node": "add mentoria2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF4": {
      "main": [
        [
          {
            "node": "permissao acomp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "permissao acomp2": {
      "main": [
        [
          {
            "node": "add papo de dono3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add papo de dono3": {
      "main": [
        [
          {
            "node": "add mentoria3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "IF6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF5": {
      "main": [
        [
          {
            "node": "permissao acomp1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF6": {
      "main": [
        [
          {
            "node": "permissao acomp2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não Encontrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "IF7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF7": {
      "main": [
        [
          {
            "node": "permissao acomp3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não Encontrado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-02-29T19:31:31.334Z",
  "id": "F3xgSYJUEYUjFzaP",
  "meta": null,
  "name": "[ILA & NICOLE] Sala Black - Ficha de Onboarding",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cd5f3e5b-3b5c-4779-8c98-5aec0c291da8",
        "options": {}
      },
      "id": "247f3714-7db2-4d87-8007-7d705dff592d",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        540,
        380
      ],
      "webhookId": "cd5f3e5b-3b5c-4779-8c98-5aec0c291da8"
    },
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]\n"
      },
      "id": "fd78d01a-3d29-4449-b88a-fb8d4c3e34e7",
      "name": "Trata Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        720,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "function formataTelefone(number) {\n    number = number.toString().replace(/[^\\d]/g, \"\")\n    let ddi = '55'\n    let ddd = number.substring(0, 2)\n\n    if (number.length == 13) {\n        let ddi = number.substring(0, 2)\n        let ddd = number.substring(2, 4)\n        return ddi + ddd + (ddd <= 28 ? number.substring(4, 13) : number.substring(5, 13))\n\n    } else if (number.length == 11) {\n        return ddi + ddd + (ddd <= 28 ? number.substring(2, 11) : number.substring(3, 11))\n\n    } else if (number.length == 10) {\n        return ddi + ddd + (ddd <= 28 ? '9' : '') + number.substring(2, 11)\n\n    } else if (number.length == 12) {\n        return number.substring(0, 2) == '55' ? number : (number.substring(0, 1) == '0' ? formataTelefone(number.substring(1, 12)) : number)\n\n    } else {\n        return number\n    }\n}\n\n$input.all()[0].json['Telefone'] = formataTelefone($node['Trata Webhook'].json['Telefone'])\n\nreturn $input.all();"
      },
      "id": "0c7e4123-4e0c-427a-b479-33b834512f12",
      "name": "Formata Telefone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1540,
        120
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $('Trata Webhook').item.json.etapa }}",
        "rules": {
          "rules": [
            {
              "value2": "=1"
            },
            {
              "value2": "2",
              "output": 1
            },
            {
              "value2": "3",
              "output": 2
            },
            {
              "value2": "4",
              "output": 3
            }
          ]
        }
      },
      "id": "d154654b-b8d2-4eb9-9abe-a031f5f1ede6",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1320,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.row_number }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "33b943b1-38ce-4c05-9d0f-852d6f14b3ad",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2000,
        120
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI",
          "mode": "list",
          "cachedResultName": "Controle de Automações | Sala Black",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1334154859,
          "mode": "list",
          "cachedResultName": "Ficha de Onboarding",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit#gid=1334154859"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "E-mail",
              "lookupValue": "={{ $('Trata Webhook').item.json['E-mail'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1e24db86-ad66-4452-8a46-3bb26d9d7c5b",
      "name": "Existe",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1780,
        120
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI",
          "mode": "list",
          "cachedResultName": "Controle de Automações | Sala Black",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1334154859,
          "mode": "list",
          "cachedResultName": "Ficha de Onboarding",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit#gid=1334154859"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data": "={{ $('Formata Data').item.json.formattedDate }}",
            "E-mail": "={{ $('Trata Webhook').item.json['E-mail'] }}",
            "Telefone": "={{ $('Trata Webhook').item.json.Telefone }}",
            "Email da plataforma": "={{ $('Trata Webhook').item.json['Email-Acesso'] }}",
            "Emails de acesso": "={{ $('Trata Webhook').item.json['Email-Acesso'] }}",
            "Emails de acesso acompanhamento": "={{ $('Trata Webhook').item.json['Email-Extra'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email da plataforma",
              "displayName": "Email da plataforma",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Emails de acesso acompanhamento",
              "displayName": "Emails de acesso acompanhamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Emails de acesso precificação",
              "displayName": "Emails de acesso precificação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Grupo papo de dono",
              "displayName": "Grupo papo de dono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Grupo Mentoria",
              "displayName": "Grupo Mentoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "ae93fba9-8527-4cc4-8060-6688a4879710",
      "name": "Adiciona",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2240,
        60
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1b9ab2dd-3944-48f0-ae15-b66d26d41f4a",
      "name": "Data Atual",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        900,
        380
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy",
        "options": {}
      },
      "id": "5a5cf004-ba8d-45b4-bb58-483f8a0098b4",
      "name": "Formata Data",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1100,
        380
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI",
          "mode": "list",
          "cachedResultName": "Controle de Automações | Sala Black",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1334154859,
          "mode": "list",
          "cachedResultName": "Ficha de Onboarding",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit#gid=1334154859"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "E-mail": "={{ $('Trata Webhook').item.json['E-mail'] }}",
            "Emails de acesso": "={{ $('Existe').item.json['Emails de acesso'] + \", \" + $('Trata Webhook').item.json['Email-Extra'] }}",
            "Emails de acesso acompanhamento": "={{ $('Existe').item.json['Emails de acesso acompanhamento'] + \", \" + $('Trata Webhook').item.json['Email-Extra'] }}"
          },
          "matchingColumns": [
            "E-mail"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email da plataforma",
              "displayName": "Email da plataforma",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Emails de acesso acompanhamento",
              "displayName": "Emails de acesso acompanhamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Emails de acesso precificação",
              "displayName": "Emails de acesso precificação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Grupo papo de dono",
              "displayName": "Grupo papo de dono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Grupo Mentoria",
              "displayName": "Grupo Mentoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "6a56e9fd-e7f6-4a49-94eb-2fc127a6d8f7",
      "name": "Atualiza",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2240,
        260
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI",
          "mode": "list",
          "cachedResultName": "Controle de Automações | Sala Black",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1334154859,
          "mode": "list",
          "cachedResultName": "Ficha de Onboarding",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit#gid=1334154859"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "E-mail",
              "lookupValue": "={{ $('Trata Webhook').item.json['E-mail'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7982611f-a98f-4372-84c3-fcd493aad985",
      "name": "1º Laço?",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1740,
        940
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json['Grupo papo de dono'] }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "637c3c66-d5ef-4cb6-889d-a9f136165363",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1940,
        940
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI",
          "mode": "list",
          "cachedResultName": "Controle de Automações | Sala Black",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1334154859,
          "mode": "list",
          "cachedResultName": "Ficha de Onboarding",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit#gid=1334154859"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "E-mail": "={{ $('Trata Webhook').item.json['E-mail'] }}",
            "Emails de acesso": "=",
            "Grupo papo de dono": "={{ $('Trata Webhook').item.json['Nome-Responsável'] + \" - \" +  $('Trata Webhook').item.json['Número-Responsável']}} "
          },
          "matchingColumns": [
            "E-mail"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email da plataforma",
              "displayName": "Email da plataforma",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Emails de acesso acompanhamento",
              "displayName": "Emails de acesso acompanhamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Emails de acesso precificação",
              "displayName": "Emails de acesso precificação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Grupo papo de dono",
              "displayName": "Grupo papo de dono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Grupo Mentoria",
              "displayName": "Grupo Mentoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "f23efe8f-d515-46cf-a94b-38db47d7958f",
      "name": "Adiciona papo de dono",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2220,
        880
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI",
          "mode": "list",
          "cachedResultName": "Controle de Automações | Sala Black",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1334154859,
          "mode": "list",
          "cachedResultName": "Ficha de Onboarding",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit#gid=1334154859"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "E-mail": "={{ $('Trata Webhook').item.json['E-mail'] }}",
            "Emails de acesso": "=",
            "Grupo papo de dono": "={{ $json['Grupo papo de dono'] + \" | \" + $('Trata Webhook').item.json['Nome-Responsável'] + \" - \" +  $('Trata Webhook').item.json['Número-Responsável']}}"
          },
          "matchingColumns": [
            "E-mail"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email da plataforma",
              "displayName": "Email da plataforma",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Emails de acesso acompanhamento",
              "displayName": "Emails de acesso acompanhamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Emails de acesso precificação",
              "displayName": "Emails de acesso precificação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Grupo papo de dono",
              "displayName": "Grupo papo de dono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Grupo Mentoria",
              "displayName": "Grupo Mentoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "b61bb78b-1880-427f-ae5b-b225ac1a5b28",
      "name": "Atualiza papo de dono",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2220,
        1080
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function formataTelefone(number) {\n    number = number.toString().replace(/[^\\d]/g, \"\")\n    let ddi = '55'\n    let ddd = number.substring(0, 2)\n\n    if (number.length == 13) {\n        let ddi = number.substring(0, 2)\n        let ddd = number.substring(2, 4)\n        return ddi + ddd + (ddd <= 28 ? number.substring(4, 13) : number.substring(5, 13))\n\n    } else if (number.length == 11) {\n        return ddi + ddd + (ddd <= 28 ? number.substring(2, 11) : number.substring(3, 11))\n\n    } else if (number.length == 10) {\n        return ddi + ddd + (ddd <= 28 ? '9' : '') + number.substring(2, 11)\n\n    } else if (number.length == 12) {\n        return number.substring(0, 2) == '55' ? number : (number.substring(0, 1) == '0' ? formataTelefone(number.substring(1, 12)) : number)\n\n    } else {\n        return number\n    }\n}\n\n$('Trata Webhook').all()[0].json['Número-Responsável'] = formataTelefone($('Trata Webhook').all()[0].json['Número-Responsável'])\n\nreturn $('Trata Webhook').all();"
      },
      "id": "a82b668c-d2b1-47b8-9d8a-fe3f7f92e3dd",
      "name": "Formata Telefone Responsavel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1540,
        940
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json['Grupo Mentoria'] }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "9527e7bc-ac64-48e7-bd4e-905fdd486dba",
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1940,
        1380
      ]
    },
    {
      "parameters": {
        "jsCode": "function formataTelefone(number) {\n    number = number.toString().replace(/[^\\d]/g, \"\")\n    let ddi = '55'\n    let ddd = number.substring(0, 2)\n\n    if (number.length == 13) {\n        let ddi = number.substring(0, 2)\n        let ddd = number.substring(2, 4)\n        return ddi + ddd + (ddd <= 28 ? number.substring(4, 13) : number.substring(5, 13))\n\n    } else if (number.length == 11) {\n        return ddi + ddd + (ddd <= 28 ? number.substring(2, 11) : number.substring(3, 11))\n\n    } else if (number.length == 10) {\n        return ddi + ddd + (ddd <= 28 ? '9' : '') + number.substring(2, 11)\n\n    } else if (number.length == 12) {\n        return number.substring(0, 2) == '55' ? number : (number.substring(0, 1) == '0' ? formataTelefone(number.substring(1, 12)) : number)\n\n    } else {\n        return number\n    }\n}\n\n$('Trata Webhook').all()[0].json['Número-Responsável'] = formataTelefone($('Trata Webhook').all()[0].json['Número-Responsável'])\n\nreturn $('Trata Webhook').all();"
      },
      "id": "532d7748-1965-460f-8067-b11ef3f332d1",
      "name": "Formata Telefone mentoria",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1540,
        1380
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI",
          "mode": "list",
          "cachedResultName": "Controle de Automações | Sala Black",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1334154859,
          "mode": "list",
          "cachedResultName": "Ficha de Onboarding",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit#gid=1334154859"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "E-mail",
              "lookupValue": "={{ $('Trata Webhook').item.json['E-mail'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "31a7d974-4367-4081-9eee-ae7792c0f5f3",
      "name": "1º Laço mentoria?",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1740,
        1380
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI",
          "mode": "list",
          "cachedResultName": "Controle de Automações | Sala Black",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1334154859,
          "mode": "list",
          "cachedResultName": "Ficha de Onboarding",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit#gid=1334154859"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "E-mail": "={{ $('Trata Webhook').item.json['E-mail'] }}",
            "Emails de acesso": "=",
            "Grupo Mentoria": "={{ $('Trata Webhook').item.json['nome-mentoria'] + \" - \" +  $('Trata Webhook').item.json['numero-mentoria']}} "
          },
          "matchingColumns": [
            "E-mail"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email da plataforma",
              "displayName": "Email da plataforma",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Emails de acesso acompanhamento",
              "displayName": "Emails de acesso acompanhamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Emails de acesso precificação",
              "displayName": "Emails de acesso precificação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Grupo papo de dono",
              "displayName": "Grupo papo de dono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Grupo Mentoria",
              "displayName": "Grupo Mentoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "bb51592d-6443-4265-9db1-91c64064332b",
      "name": "Adiciona mentoria",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2220,
        1280
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI",
          "mode": "list",
          "cachedResultName": "Controle de Automações | Sala Black",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1334154859,
          "mode": "list",
          "cachedResultName": "Ficha de Onboarding",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit#gid=1334154859"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "E-mail": "={{ $('Trata Webhook').item.json['E-mail'] }}",
            "Emails de acesso": "=",
            "Grupo Mentoria": "={{ $json['Grupo Mentoria'] + \" | \" + $('Trata Webhook').item.json['nome-mentoria'] + \" - \" +  $('Trata Webhook').item.json['numero-mentoria']}}"
          },
          "matchingColumns": [
            "E-mail"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email da plataforma",
              "displayName": "Email da plataforma",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Emails de acesso acompanhamento",
              "displayName": "Emails de acesso acompanhamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Emails de acesso precificação",
              "displayName": "Emails de acesso precificação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Grupo papo de dono",
              "displayName": "Grupo papo de dono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Grupo Mentoria",
              "displayName": "Grupo Mentoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "10a5ce15-1a59-49c4-8a18-d16353d45cf5",
      "name": "Atualiza mentoria",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2220,
        1520
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json['Emails de acesso precificação'] }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "af5032ad-2a2f-436c-b903-a2ca910e5d26",
      "name": "IF3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1780,
        540
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI",
          "mode": "list",
          "cachedResultName": "Controle de Automações | Sala Black",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1334154859,
          "mode": "list",
          "cachedResultName": "Ficha de Onboarding",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit#gid=1334154859"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "E-mail",
              "lookupValue": "={{ $('Trata Webhook').item.json['E-mail'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a0b5fe24-c89b-4cda-bf39-5cd546dad672",
      "name": "Existe precif",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1580,
        540
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI",
          "mode": "list",
          "cachedResultName": "Controle de Automações | Sala Black",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1334154859,
          "mode": "list",
          "cachedResultName": "Ficha de Onboarding",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit#gid=1334154859"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "E-mail": "={{ $('Trata Webhook').item.json['E-mail'] }}",
            "Emails de acesso": "={{ $('Existe precif').item.json['Emails de acesso'] + \", \" + $('Trata Webhook').item.json['Email-Extra'] }}",
            "Emails de acesso precificação": "={{ $('Trata Webhook').item.json['Email-Precificação'] }}"
          },
          "matchingColumns": [
            "E-mail"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email da plataforma",
              "displayName": "Email da plataforma",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Emails de acesso acompanhamento",
              "displayName": "Emails de acesso acompanhamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Emails de acesso precificação",
              "displayName": "Emails de acesso precificação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Grupo papo de dono",
              "displayName": "Grupo papo de dono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Grupo Mentoria",
              "displayName": "Grupo Mentoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "f0e160e6-f258-4347-aaa1-6374add2ed05",
      "name": "Atualiza email precif",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2020,
        460
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI",
          "mode": "list",
          "cachedResultName": "Controle de Automações | Sala Black",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1334154859,
          "mode": "list",
          "cachedResultName": "Ficha de Onboarding",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit#gid=1334154859"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "E-mail": "={{ $('Trata Webhook').item.json['E-mail'] }}",
            "Emails de acesso": "={{ $('Existe precif').item.json['Emails de acesso'] + \", \" + $('Trata Webhook').item.json['Email-Extra'] }}",
            "Emails de acesso precificação": "={{ $('Existe precif').item.json['Emails de acesso precificação'] + \", \" + $('Trata Webhook').item.json['Email-Precificação']}} "
          },
          "matchingColumns": [
            "E-mail"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email da plataforma",
              "displayName": "Email da plataforma",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Emails de acesso acompanhamento",
              "displayName": "Emails de acesso acompanhamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Emails de acesso precificação",
              "displayName": "Emails de acesso precificação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Grupo papo de dono",
              "displayName": "Grupo papo de dono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Grupo Mentoria",
              "displayName": "Grupo Mentoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "47673f6e-e2ce-4ba9-95ce-ca3129653c5e",
      "name": "Atualiza email precif1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2020,
        680
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI",
          "mode": "list",
          "cachedResultName": "Controle de Automações | Sala Black",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1219484480,
          "mode": "list",
          "cachedResultName": "Turma 8",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit#gid=1219484480"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $('Trata Webhook').item.json['E-mail'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d0fb687b-b42b-4fa8-82bf-2560e01dc4ee",
      "name": "busca infos mentorado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2460,
        60
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI",
          "mode": "list",
          "cachedResultName": "Controle de Automações | Sala Black",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1219484480,
          "mode": "list",
          "cachedResultName": "Turma 8",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit#gid=1219484480"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $('Trata Webhook').item.json['E-mail'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f1aaa406-78dd-4f13-8f7d-54d941c4af69",
      "name": "busca infos mentorado1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2460,
        260
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "share",
        "folderNoRootId": {
          "__rl": true,
          "value": "={{ $json['ID Pasta Precificacao'] }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "writer",
            "type": "user",
            "emailAddress": "={{ $('Trata Webhook').item.json['E-mail'] }}"
          }
        },
        "options": {}
      },
      "id": "bfee31f1-73eb-4037-a628-076e031e84db",
      "name": "permissao acomp",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2900,
        -500
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ip47vcSKsulzZM52",
          "name": "Sala Black"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "share",
        "folderNoRootId": {
          "__rl": true,
          "value": "={{ $json['ID Pasta Precificacao'] }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "writer",
            "type": "user",
            "emailAddress": "={{ $('Trata Webhook').item.json['Email-Extra'] }}"
          }
        },
        "options": {}
      },
      "id": "a205cd13-62d2-41f5-9423-2b1a1240bb4e",
      "name": "permissao acomp1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2960,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ip47vcSKsulzZM52",
          "name": "Sala Black"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI",
          "mode": "list",
          "cachedResultName": "Controle de Automações | Sala Black",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1219484480,
          "mode": "list",
          "cachedResultName": "Turma 8",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit#gid=1219484480"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $('Trata Webhook').item.json['E-mail'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dbf9172b-e611-4c46-8a6c-35bfaff0e335",
      "name": "busca infos mentorado2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2240,
        460
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "share",
        "folderNoRootId": {
          "__rl": true,
          "value": "={{ $json['ID Pasta Precificacao'] }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "writer",
            "type": "user",
            "emailAddress": "={{ $('Trata Webhook').item.json['Email-Precificação'] }}"
          }
        },
        "options": {}
      },
      "id": "4ad47cb2-f6ab-49fa-bd9d-dc98862fb903",
      "name": "permissao precif",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2460,
        460
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ip47vcSKsulzZM52",
          "name": "Sala Black"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI",
          "mode": "list",
          "cachedResultName": "Controle de Automações | Sala Black",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1219484480,
          "mode": "list",
          "cachedResultName": "Turma 8",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit#gid=1219484480"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $('Trata Webhook').item.json['E-mail'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "913d3e62-377a-4c12-a780-9fa1f8f2ec80",
      "name": "busca infos mentorado3",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2240,
        680
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "share",
        "folderNoRootId": {
          "__rl": true,
          "value": "={{ $json['ID Pasta Precificacao'] }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "writer",
            "type": "user",
            "emailAddress": "={{ $('Trata Webhook').item.json['Email-Precificação'] }}"
          }
        },
        "options": {}
      },
      "id": "f16a939a-0f45-4cb2-8b74-aeb724a8fc40",
      "name": "permissao precif1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2460,
        680
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ip47vcSKsulzZM52",
          "name": "Sala Black"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C1825917D649026AAA446A65441921E/token/92B58C5DAD3489D5AD780116/add-participant",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"autoInvite\": true,\n  \"groupId\": \"120363191248187347-group\",\n  \"phones\": [\"{{ $('Trata Webhook').item.json['Número-Responsável'] }}\"]\n  } ",
        "options": {}
      },
      "id": "5ef8f8d7-d294-4d4c-b9d1-315f9034a457",
      "name": "add papo de dono",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2460,
        880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C1825917D649026AAA446A65441921E/token/92B58C5DAD3489D5AD780116/add-participant",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"autoInvite\": true,\n  \"groupId\": \"120363198216362637-group\",\n  \"phones\": [\"{{  $('Trata Webhook').item.json['numero-mentoria']}} \"]\n  } ",
        "options": {}
      },
      "id": "12ac5e08-0692-4091-8087-5a955b438b76",
      "name": "add mentoria",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2460,
        1280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C1825917D649026AAA446A65441921E/token/92B58C5DAD3489D5AD780116/add-participant",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"autoInvite\": true,\n  \"groupId\": \"120363191248187347-group\",\n  \"phones\": [\"{{ $('Trata Webhook').item.json.Telefone }}\"]\n  } ",
        "options": {}
      },
      "id": "07e18729-816b-4748-9370-5bb2b22d4133",
      "name": "add papo de dono2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3100,
        -500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C1825917D649026AAA446A65441921E/token/92B58C5DAD3489D5AD780116/add-participant",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"autoInvite\": true,\n  \"groupId\": \"120363198216362637-group\",\n  \"phones\": [\"{{ $('Trata Webhook').item.json.Telefone }}\"]\n  } ",
        "options": {}
      },
      "id": "8903b15e-5271-418d-8837-94eb999b11df",
      "name": "add mentoria2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3300,
        -500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C1825917D649026AAA446A65441921E/token/92B58C5DAD3489D5AD780116/add-participant",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"autoInvite\": true,\n  \"groupId\": \"120363191248187347-group\",\n  \"phones\": [\"{{ $('Trata Webhook').item.json['Número-Responsável'] }}\"]\n  } ",
        "options": {}
      },
      "id": "2cfd1818-e0ac-48f1-a10d-1662d42bbb5e",
      "name": "add papo de dono1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2460,
        1080
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C1825917D649026AAA446A65441921E/token/92B58C5DAD3489D5AD780116/add-participant",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"autoInvite\": true,\n  \"groupId\": \"120363198216362637-group\",\n  \"phones\": [\"{{  $('Trata Webhook').item.json['numero-mentoria']}} \"]\n  } ",
        "options": {}
      },
      "id": "4a17de05-b437-4d90-840e-fa824379b785",
      "name": "add mentoria1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2460,
        1520
      ]
    },
    {
      "parameters": {
        "workflowId": "wzS9yvoNIBUKAwed"
      },
      "id": "f5d0440e-092d-4e4e-88ef-d747feb3105b",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        980,
        780
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI",
          "mode": "list",
          "cachedResultName": "Controle de Automações | Sala Black",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1219484480,
          "mode": "list",
          "cachedResultName": "Turma 8",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit#gid=1219484480"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Chave",
              "lookupValue": "={{ $('Formata Telefone').item.json.Telefone.slice(-7) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cf9e28bb-9b9a-41f5-ab99-e056ee2905d6",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2900,
        -320
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Nome }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "99bb28d8-0a9b-4199-bc1e-94fedf7afd16",
      "name": "IF4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2640,
        60
      ]
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "share",
        "folderNoRootId": {
          "__rl": true,
          "value": "={{ $json['ID Pasta Precificacao'] }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "writer",
            "type": "user",
            "emailAddress": "={{ $('Trata Webhook').item.json['E-mail'] }}"
          }
        },
        "options": {}
      },
      "id": "ebc88b52-2e00-4c48-8e30-3acb78206467",
      "name": "permissao acomp2",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3340,
        -320
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ip47vcSKsulzZM52",
          "name": "Sala Black"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C1825917D649026AAA446A65441921E/token/92B58C5DAD3489D5AD780116/add-participant",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"autoInvite\": true,\n  \"groupId\": \"120363191248187347-group\",\n  \"phones\": [\"{{ $('Trata Webhook').item.json.Telefone }}\"]\n  } ",
        "options": {}
      },
      "id": "2af3b398-1d13-4845-a8db-dc93ba7adea6",
      "name": "add papo de dono3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3540,
        -320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C1825917D649026AAA446A65441921E/token/92B58C5DAD3489D5AD780116/add-participant",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"autoInvite\": true,\n  \"groupId\": \"120363198216362637-group\",\n  \"phones\": [\"{{ $('Trata Webhook').item.json.Telefone }}\"]\n  } ",
        "options": {}
      },
      "id": "7e40f599-f602-4148-898a-0c38db89291f",
      "name": "add mentoria3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3760,
        -320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Nome }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "e1728ac2-c8f6-41b0-bfa4-9e1ec26e7f3b",
      "name": "IF5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2660,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Nome }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "542c9923-97d9-421a-b1dd-ff5038aa8969",
      "name": "IF6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3080,
        -320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C1825917D649026AAA446A65441921E/token/92B58C5DAD3489D5AD780116/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=5581993515055"
            },
            {
              "name": "message",
              "value": "=Aluno não encontrado para importação!\n\nEmail informado: {{ $('Formata Telefone').item.json['E-mail'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c01c7ee1-9415-4ac9-a213-8b4111158022",
      "name": "Não Encontrado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3340,
        -100
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI",
          "mode": "list",
          "cachedResultName": "Controle de Automações | Sala Black",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1219484480,
          "mode": "list",
          "cachedResultName": "Turma 8",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit#gid=1219484480"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Chave",
              "lookupValue": "={{ $node[\"Webhook\"].json[\"body\"][\"Telefone\"].slice(-7) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "af205bdc-a906-449d-a626-e016038e6b24",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2960,
        220
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Nome }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "fa64f741-093e-4c96-afde-613a10495186",
      "name": "IF7",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3160,
        220
      ]
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "share",
        "folderNoRootId": {
          "__rl": true,
          "value": "={{ $json['ID Pasta Precificacao'] }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "writer",
            "type": "user",
            "emailAddress": "={{ $('Trata Webhook').item.json['Email-Extra'] }}"
          }
        },
        "options": {}
      },
      "id": "952dac34-b71a-442f-b339-4a21c42fe66c",
      "name": "permissao acomp3",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3400,
        200
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ip47vcSKsulzZM52",
          "name": "Sala Black"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C1825917D649026AAA446A65441921E/token/92B58C5DAD3489D5AD780116/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=5581993515055"
            },
            {
              "name": "message",
              "value": "=Aluno não encontrado para importação!\n\nEmail informado: {{ $('Formata Telefone').item.json['E-mail'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "190ae04b-abbf-4619-be15-e30b4067f879",
      "name": "Não Encontrado1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3440,
        380
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.marcosfoks.com.br",
            "user-agent": "got (https://github.com/sindresorhus/got)",
            "content-length": "213",
            "accept-encoding": "gzip, br",
            "baggage": "sentry-environment=vercel-production,sentry-release=bbeb12cad2bad3ed9899cc04a70563ef67fdabc6-viewer,sentry-public_key=94aaae78880c4b659d57b76b5aa2e3f5,sentry-trace_id=df86e9bb064c41ae970955f7d2aca1f1",
            "cdn-loop": "cloudflare",
            "cf-connecting-ip": "18.171.232.147",
            "cf-ipcountry": "GB",
            "cf-ray": "8630313f591824e6-LHR",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "sentry-trace": "df86e9bb064c41ae970955f7d2aca1f1-b002fe25bc572d1a-0",
            "x-forwarded-for": "172.71.242.166",
            "x-forwarded-host": "n8n.marcosfoks.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "af9052d35998",
            "x-real-ip": "172.71.242.166",
            "x-vercel-id": "gru1::xhhhn-1710208844504-bb4350ea0823"
          },
          "params": {},
          "query": {},
          "body": {
            "submittedAt": "2024-03-12T02:00:44.654Z",
            "E-mail": "matheuscristhyan.2@gmail.com",
            "Telefone": "+5581993515055",
            "Email-Acesso": "matheuscristhyan.2@gmail.com",
            "Email-Extra": "matheuscristhyan.1@gmail.com",
            "etapa": "1"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-03-14T15:00:06.000Z",
  "versionId": "d747b43a-db84-4728-8993-32feec8664d2"
}