workflows/[ILA & NICOLE] Análise Comercial.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Trata Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trata Webhook": {
      "main": [
        [
          {
            "node": "Formata Telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Telefone": {
      "main": [
        [
          {
            "node": "Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Etapa 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Busca Lead Etapa 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data": {
      "main": [
        [
          {
            "node": "Formata Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Data": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Lead Etapa 2": {
      "main": [
        [
          {
            "node": "Existe? Etapa 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existe? Etapa 2": {
      "main": [
        [
          {
            "node": "Atualiza Etapa 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Lead Final": {
      "main": [
        [
          {
            "node": "Existe? Etapa 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Etapa 2": {
      "main": [
        [
          {
            "node": "Desqualificado CRC/Até 10Mil/Não investe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Desqualificado CRC/Até 10Mil/Não investe": {
      "main": [
        [
          {
            "node": "Atualiza Etapa Final DQ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Considerável",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Etapa Final DQ": {
      "main": [
        [
          {
            "node": "Add lead DQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Considerável": {
      "main": [
        [
          {
            "node": "Atualiza Etapa Final CR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Qualificado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Etapa Final CR": {
      "main": [
        [
          {
            "node": "Add lead CR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qualificado": {
      "main": [
        [
          {
            "node": "Atualiza Etapa Final Q",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualiza Etapa Final MQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Etapa Final Q": {
      "main": [
        [
          {
            "node": "Add lead Q",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Etapa Final MQ": {
      "main": [
        [
          {
            "node": "Add lead MQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add lead Q": {
      "main": [
        [
          {
            "node": "5 Minutos Q",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5 Minutos Q": {
      "main": [
        [
          {
            "node": "CRM DQ2",
            "type": "main",
            "index": 0
          },
          {
            "node": "MSG Q",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add lead MQ": {
      "main": [
        [
          {
            "node": "5 Minutos MQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5 Minutos MQ": {
      "main": [
        [
          {
            "node": "CRM DQ3",
            "type": "main",
            "index": 0
          },
          {
            "node": "MSG MQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add lead DQ": {
      "main": [
        [
          {
            "node": "CRM DQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add lead CR": {
      "main": [
        [
          {
            "node": "CRM DQ1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM DQ": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HighLevel": {
      "main": [
        [
          {
            "node": "HighLevel1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HighLevel2": {
      "main": [
        [
          {
            "node": "HighLevel3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM DQ1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HighLevel4": {
      "main": [
        [
          {
            "node": "HighLevel5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM DQ2": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HighLevel6": {
      "main": [
        [
          {
            "node": "HighLevel7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM DQ3": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "ClickUp1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ClickUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "ClickUp2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ClickUp3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "ClickUp4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ClickUp5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp4": {
      "main": [
        [
          {
            "node": "MSG GRUPO4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp5": {
      "main": [
        [
          {
            "node": "MSG GRUPO5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "ClickUp6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ClickUp7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp6": {
      "main": [
        [
          {
            "node": "MSG GRUPO6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp7": {
      "main": [
        [
          {
            "node": "MSG GRUPO7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp1": {
      "main": [
        [
          {
            "node": "MSG GRUPO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp": {
      "main": [
        [
          {
            "node": "MSG GRUPO1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp2": {
      "main": [
        [
          {
            "node": "MSG GRUPO2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp3": {
      "main": [
        [
          {
            "node": "MSG GRUPO3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-02-16T09:21:40.196Z",
  "id": "1K0sCvGSCbtoBiVY",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[ILA & NICOLE] Análise Comercial",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "536ccbc5-b0a5-49ad-af92-c373c27ed0be",
        "options": {}
      },
      "id": "672a5950-0068-4bb7-a9e0-f2503a3ab46c",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        60,
        360
      ],
      "webhookId": "536ccbc5-b0a5-49ad-af92-c373c27ed0be"
    },
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]\n"
      },
      "id": "25708a76-922b-4668-b710-f4f44be58d34",
      "name": "Trata Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        260,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "function formataTelefone(number) {\n    number = number.toString().replace(/[^\\d]/g, \"\")\n    let ddi = '55'\n    let ddd = number.substring(0, 2)\n\n    if (number.length == 13) {\n        let ddi = number.substring(0, 2)\n        let ddd = number.substring(2, 4)\n        return ddi + ddd + (ddd <= 28 ? number.substring(4, 13) : number.substring(5, 13))\n\n    } else if (number.length == 11) {\n        return ddi + ddd + (ddd <= 28 ? number.substring(2, 11) : number.substring(3, 11))\n\n    } else if (number.length == 10) {\n        return ddi + ddd + (ddd <= 28 ? '9' : '') + number.substring(2, 11)\n\n    } else if (number.length == 12) {\n        return number.substring(0, 2) == '55' ? number : (number.substring(0, 1) == '0' ? formataTelefone(number.substring(1, 12)) : number)\n\n    } else {\n        return number\n    }\n}\n\n$input.all()[0].json['telefone'] = formataTelefone($node['Trata Webhook'].json['telefone'])\n\nreturn $input.all();"
      },
      "id": "5f83bab2-f9cf-4b11-9a02-01722b6de4b2",
      "name": "Formata Telefone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        460,
        360
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $('Formata Telefone').item.json.etapa }}",
        "rules": {
          "rules": [
            {
              "value2": "=1"
            },
            {
              "value2": "=2",
              "output": 1
            },
            {
              "value2": "=3",
              "output": 2
            }
          ]
        }
      },
      "id": "af751cbc-96e7-4cee-8117-08a5cbad70e8",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1020,
        360
      ]
    },
    {
      "parameters": {
        "options": {
          "timezone": "America/Sao_Paulo"
        }
      },
      "id": "9b0801f2-aaaa-4f36-b89d-d0b119f8232c",
      "name": "Data",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        660,
        360
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy",
        "options": {}
      },
      "id": "82d8739c-a0e2-48c0-9956-238ea2486711",
      "name": "Formata Data",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        840,
        360
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1hFQ9qe8_GSWHxxPENgNu5yoJ053JF0UDea7GFbuzgK0",
          "mode": "list",
          "cachedResultName": "[ILA & NICOLE] Funis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hFQ9qe8_GSWHxxPENgNu5yoJ053JF0UDea7GFbuzgK0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 162548593,
          "mode": "list",
          "cachedResultName": "[AUTO] Análise Comercial",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hFQ9qe8_GSWHxxPENgNu5yoJ053JF0UDea7GFbuzgK0/edit#gid=162548593"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data": "={{ $json.formattedDate }}",
            "Nome": "={{ $('Formata Telefone').item.json.nome }}",
            "Email": "={{ $('Formata Telefone').item.json.email }}",
            "Telefone": "={{ $('Formata Telefone').item.json.telefone }}",
            "Chave(busca)": "={{ $('Formata Telefone').item.json.telefone.slice(-7) }}",
            "Etapa_form": "1",
            "Clínica": "={{ $('Formata Telefone').item.json.clinica }}",
            "utm_source": "={{ $('Formata Telefone').item.json.utm_source == 'null' ? \"\" : $('Formata Telefone').item.json.utm_source }}",
            "utm_campaign": "={{ $('Formata Telefone').item.json.utm_campaign == 'null' ? \"\" : $('Formata Telefone').item.json.utm_campaign }}",
            "utm_term": "={{ $('Formata Telefone').item.json.utm_term == 'null' ? \"\" : $('Formata Telefone').item.json.utm_term }}",
            "utm_content": "={{ $('Formata Telefone').item.json.utm_content == 'null' ? \"\" : $('Formata Telefone').item.json.utm_content }}",
            "utm_medium": "={{ $('Formata Telefone').item.json.utm_medium == 'null' ? \"\" : $('Formata Telefone').item.json.utm_medium }}",
            "Função": "={{ $('Formata Telefone').item.json.função }}",
            "Status": "incompleto",
            "Qualificação": "sem dados"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Chave(busca)",
              "displayName": "Chave(busca)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Etapa_form",
              "displayName": "Etapa_form",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Qualificação",
              "displayName": "Qualificação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clínica",
              "displayName": "Clínica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Função",
              "displayName": "Função",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Especialidade",
              "displayName": "Especialidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Dificuldade",
              "displayName": "Dificuldade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Investe em tráfego",
              "displayName": "Investe em tráfego",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Faturamento",
              "displayName": "Faturamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pagamento",
              "displayName": "Pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Transformação",
              "displayName": "Transformação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "e0d4fd98-8605-4e8e-b176-f9b86525caac",
      "name": "Etapa 1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1280,
        80
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1hFQ9qe8_GSWHxxPENgNu5yoJ053JF0UDea7GFbuzgK0",
          "mode": "list",
          "cachedResultName": "[ILA & NICOLE] Funis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hFQ9qe8_GSWHxxPENgNu5yoJ053JF0UDea7GFbuzgK0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 162548593,
          "mode": "list",
          "cachedResultName": "[AUTO] Análise Comercial",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hFQ9qe8_GSWHxxPENgNu5yoJ053JF0UDea7GFbuzgK0/edit#gid=162548593"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Dificuldade": "={{ $('Formata Telefone').item.json.dificuldade }}",
            "Especialidade": "={{ $('Formata Telefone').item.json.especialidade }}",
            "Investe em tráfego": "={{ $('Formata Telefone').item.json.investe }}",
            "Faturamento": "={{ $('Formata Telefone').item.json.faturamento }}",
            "Etapa_form": "2",
            "Chave(busca)": "={{ $json['Chave(busca)'] }}"
          },
          "matchingColumns": [
            "Chave(busca)"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chave(busca)",
              "displayName": "Chave(busca)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Etapa_form",
              "displayName": "Etapa_form",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Qualificação",
              "displayName": "Qualificação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clínica",
              "displayName": "Clínica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Função",
              "displayName": "Função",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Especialidade",
              "displayName": "Especialidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dificuldade",
              "displayName": "Dificuldade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Investe em tráfego",
              "displayName": "Investe em tráfego",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Faturamento",
              "displayName": "Faturamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pagamento",
              "displayName": "Pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Transformação",
              "displayName": "Transformação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "a38ca460-4017-48b7-b5e3-f7b4a55cd31e",
      "name": "Atualiza Etapa 2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1740,
        320
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hFQ9qe8_GSWHxxPENgNu5yoJ053JF0UDea7GFbuzgK0",
          "mode": "list",
          "cachedResultName": "[ILA & NICOLE] Funis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hFQ9qe8_GSWHxxPENgNu5yoJ053JF0UDea7GFbuzgK0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 162548593,
          "mode": "list",
          "cachedResultName": "[AUTO] Análise Comercial",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hFQ9qe8_GSWHxxPENgNu5yoJ053JF0UDea7GFbuzgK0/edit#gid=162548593"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Chave(busca)",
              "lookupValue": "={{ $('Formata Telefone').item.json.telefone.slice(-7) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3f6830ff-92e2-42e5-a36d-38600a332215",
      "name": "Busca Lead Etapa 2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1280,
        340
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "130dJLqIJVkcFvqzEpK2M_bMpaGvhZMOLhDsWGuSJxy0",
          "mode": "list",
          "cachedResultName": "[ILA] [CICLO 3] Planilha Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/130dJLqIJVkcFvqzEpK2M_bMpaGvhZMOLhDsWGuSJxy0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1069928038,
          "mode": "list",
          "cachedResultName": "[AUTO] Análise Comercial",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/130dJLqIJVkcFvqzEpK2M_bMpaGvhZMOLhDsWGuSJxy0/edit#gid=1069928038"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Chave(busca)",
              "lookupValue": "={{ $('Formata Telefone').item.json.telefone.slice(-7) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7a9100af-716f-4b2f-8c7d-b72d6e35842e",
      "name": "Busca Lead Final",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1240,
        600
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.row_number }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "5ead2b8f-d040-418d-b257-49e9c9a3e635",
      "name": "Existe? Etapa 2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1500,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.row_number }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "ceeaa378-7676-441e-af25-acf8306b718e",
      "name": "Existe? Etapa 3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1420,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Formata Telefone').item.json.função }}",
              "value2": "CRC"
            },
            {
              "value1": "={{ $('Formata Telefone').item.json.faturamento }}",
              "value2": "Até R$ 10 mil"
            },
            {
              "value1": "={{ $('Formata Telefone').item.json.investe }}",
              "value2": "Não"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "fb7fab95-db67-4171-aff1-3d9c15cfc49e",
      "name": "Desqualificado CRC/Até 10Mil/Não investe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1720,
        580
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1hFQ9qe8_GSWHxxPENgNu5yoJ053JF0UDea7GFbuzgK0",
          "mode": "list",
          "cachedResultName": "[ILA & NICOLE] Funis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hFQ9qe8_GSWHxxPENgNu5yoJ053JF0UDea7GFbuzgK0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 162548593,
          "mode": "list",
          "cachedResultName": "[AUTO] Análise Comercial",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hFQ9qe8_GSWHxxPENgNu5yoJ053JF0UDea7GFbuzgK0/edit#gid=162548593"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Chave(busca)": "={{ $json['Chave(busca)'] }}",
            "Dificuldade": "={{ $('Formata Telefone').item.json.dificuldade }}",
            "Especialidade": "={{ $('Formata Telefone').item.json.especialidade }}",
            "Investe em tráfego": "={{ $('Formata Telefone').item.json.investe }}",
            "Faturamento": "={{ $('Formata Telefone').item.json.faturamento }}",
            "Pagamento": "={{ $json.Pagamento }}",
            "Transformação": "={{ $json.Transformação }}",
            "Etapa_form": "3",
            "Staus": "Completo",
            "Qualificado": "Não",
            "Status": "completo",
            "Qualificação": "desqualificado"
          },
          "matchingColumns": [
            "Chave(busca)"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chave(busca)",
              "displayName": "Chave(busca)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Etapa_form",
              "displayName": "Etapa_form",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Qualificação",
              "displayName": "Qualificação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clínica",
              "displayName": "Clínica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Função",
              "displayName": "Função",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Especialidade",
              "displayName": "Especialidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dificuldade",
              "displayName": "Dificuldade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Investe em tráfego",
              "displayName": "Investe em tráfego",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Faturamento",
              "displayName": "Faturamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pagamento",
              "displayName": "Pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Transformação",
              "displayName": "Transformação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "6e40e2a6-3f37-4339-a18c-139b1cff13dd",
      "name": "Atualiza Etapa Final DQ",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2000,
        560
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1hFQ9qe8_GSWHxxPENgNu5yoJ053JF0UDea7GFbuzgK0",
          "mode": "list",
          "cachedResultName": "[ILA & NICOLE] Funis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hFQ9qe8_GSWHxxPENgNu5yoJ053JF0UDea7GFbuzgK0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 136709084,
          "mode": "list",
          "cachedResultName": "[LEADS] Análise Comercial",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hFQ9qe8_GSWHxxPENgNu5yoJ053JF0UDea7GFbuzgK0/edit#gid=136709084"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Chave(busca)": "={{ $json['Chave(busca)'] }}",
            "Dificuldade": "={{ $('Formata Telefone').item.json.dificuldade }}",
            "Especialidade": "={{ $('Formata Telefone').item.json.especialidade }}",
            "Investe em tráfego": "={{ $('Formata Telefone').item.json.investe }}",
            "Faturamento": "={{ $('Formata Telefone').item.json.faturamento }}",
            "Pagamento": "=",
            "Transformação": "=",
            "Etapa_form": "3",
            "Staus": "Completo",
            "Qualificado": "Não",
            "utm_source": "={{ $('Busca Lead Etapa 2').item.json.utm_source }}",
            "utm_campaign": "={{ $('Busca Lead Etapa 2').item.json.utm_campaign }}",
            "utm_medium": "={{ $('Busca Lead Etapa 2').item.json.utm_medium }}",
            "utm_content": "={{ $('Busca Lead Etapa 2').item.json.utm_content }}",
            "utm_term": "={{ $('Busca Lead Etapa 2').item.json.utm_term }}",
            "Função": "={{ $('Formata Telefone').item.json.função }}",
            "Clínica": "={{ $('Formata Telefone').item.json.clinica }}",
            "Status": "completo",
            "Telefone": "={{ $('Formata Telefone').item.json.telefone }}",
            "Email": "={{ $('Formata Telefone').item.json.email }}",
            "Nome": "={{ $('Formata Telefone').item.json.nome }}",
            "Data": "={{ $('Formata Data').item.json.formattedDate }}",
            "Qualificação": "desqualificado"
          },
          "matchingColumns": [
            "Chave(busca)"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chave(busca)",
              "displayName": "Chave(busca)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Qualificação",
              "displayName": "Qualificação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clínica",
              "displayName": "Clínica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Função",
              "displayName": "Função",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Especialidade",
              "displayName": "Especialidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dificuldade",
              "displayName": "Dificuldade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Investe em tráfego",
              "displayName": "Investe em tráfego",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Faturamento",
              "displayName": "Faturamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pagamento",
              "displayName": "Pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Transformação",
              "displayName": "Transformação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "f97d35ae-c0e2-452d-85e4-a3e15361d346",
      "name": "Add lead DQ",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2220,
        560
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Formata Telefone').item.json.investe }}",
              "operation": "contains",
              "value2": "Sim"
            },
            {
              "value1": "={{ $('Formata Telefone').item.json.faturamento }}",
              "value2": "Entre R$ 10 mil e R$ 20 mil"
            }
          ]
        }
      },
      "id": "0d36177c-ed53-4a33-bfe0-eaf781743628",
      "name": "Considerável",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2000,
        860
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1hFQ9qe8_GSWHxxPENgNu5yoJ053JF0UDea7GFbuzgK0",
          "mode": "list",
          "cachedResultName": "[ILA & NICOLE] Funis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hFQ9qe8_GSWHxxPENgNu5yoJ053JF0UDea7GFbuzgK0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 162548593,
          "mode": "list",
          "cachedResultName": "[AUTO] Análise Comercial",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hFQ9qe8_GSWHxxPENgNu5yoJ053JF0UDea7GFbuzgK0/edit#gid=162548593"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Chave(busca)": "={{ $json['Chave(busca)'] }}",
            "Dificuldade": "={{ $('Formata Telefone').item.json.dificuldade }}",
            "Especialidade": "={{ $('Formata Telefone').item.json.especialidade }}",
            "Investe em tráfego": "={{ $('Formata Telefone').item.json.investe }}",
            "Faturamento": "={{ $('Formata Telefone').item.json.faturamento }}",
            "Pagamento": "={{ $json.Pagamento }}",
            "Transformação": "={{ $json.Transformação }}",
            "Etapa_form": "3",
            "Staus": "Completo",
            "Status": "completo",
            "Qualificado": "Considerável",
            "Qualificação": "considerável"
          },
          "matchingColumns": [
            "Chave(busca)"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chave(busca)",
              "displayName": "Chave(busca)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Etapa_form",
              "displayName": "Etapa_form",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Qualificação",
              "displayName": "Qualificação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clínica",
              "displayName": "Clínica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Função",
              "displayName": "Função",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Especialidade",
              "displayName": "Especialidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dificuldade",
              "displayName": "Dificuldade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Investe em tráfego",
              "displayName": "Investe em tráfego",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Faturamento",
              "displayName": "Faturamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pagamento",
              "displayName": "Pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Transformação",
              "displayName": "Transformação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "2df8f578-ce57-4c7b-a7ff-a8b303d5b8ac",
      "name": "Atualiza Etapa Final CR",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2240,
        840
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1hFQ9qe8_GSWHxxPENgNu5yoJ053JF0UDea7GFbuzgK0",
          "mode": "list",
          "cachedResultName": "[ILA & NICOLE] Funis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hFQ9qe8_GSWHxxPENgNu5yoJ053JF0UDea7GFbuzgK0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 136709084,
          "mode": "list",
          "cachedResultName": "[LEADS] Análise Comercial",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hFQ9qe8_GSWHxxPENgNu5yoJ053JF0UDea7GFbuzgK0/edit#gid=136709084"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Chave(busca)": "={{ $json['Chave(busca)'] }}",
            "Dificuldade": "={{ $('Formata Telefone').item.json.dificuldade }}",
            "Especialidade": "={{ $('Formata Telefone').item.json.especialidade }}",
            "Investe em tráfego": "={{ $('Formata Telefone').item.json.investe }}",
            "Faturamento": "={{ $('Formata Telefone').item.json.faturamento }}",
            "Pagamento": "=",
            "Transformação": "=",
            "Etapa_form": "3",
            "Staus": "Completo",
            "Qualificado": "Não",
            "utm_source": "={{ $('Busca Lead Etapa 2').item.json.utm_source }}",
            "utm_campaign": "={{ $('Busca Lead Etapa 2').item.json.utm_campaign }}",
            "utm_medium": "={{ $('Busca Lead Etapa 2').item.json.utm_medium }}",
            "utm_content": "={{ $('Busca Lead Etapa 2').item.json.utm_content }}",
            "utm_term": "={{ $('Busca Lead Etapa 2').item.json.utm_term }}",
            "Função": "={{ $('Formata Telefone').item.json.função }}",
            "Clínica": "={{ $('Formata Telefone').item.json.clinica }}",
            "Status": "completo",
            "Telefone": "={{ $('Formata Telefone').item.json.telefone }}",
            "Email": "={{ $('Formata Telefone').item.json.email }}",
            "Nome": "={{ $('Formata Telefone').item.json.nome }}",
            "Data": "={{ $('Formata Data').item.json.formattedDate }}",
            "Qualificação": "considerável"
          },
          "matchingColumns": [
            "Chave(busca)"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chave(busca)",
              "displayName": "Chave(busca)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Qualificação",
              "displayName": "Qualificação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clínica",
              "displayName": "Clínica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Função",
              "displayName": "Função",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Especialidade",
              "displayName": "Especialidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dificuldade",
              "displayName": "Dificuldade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Investe em tráfego",
              "displayName": "Investe em tráfego",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Faturamento",
              "displayName": "Faturamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pagamento",
              "displayName": "Pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Transformação",
              "displayName": "Transformação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "f6ded813-e26f-448b-b71c-2ce53fc94431",
      "name": "Add lead CR",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2460,
        840
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Formata Telefone').item.json.faturamento }}",
              "operation": "notEqual",
              "value2": "Entre R$ 100 mil e R$ 250 mil"
            },
            {
              "value1": "={{ $('Formata Telefone').item.json.faturamento }}",
              "value2": "Entre R$ 250 mil e R$ 500 mil"
            },
            {
              "value1": "={{ $('Formata Telefone').item.json.faturamento }}",
              "value2": "Mais que R$ 500 mil"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "a6828c7d-921e-415e-8d95-c095387efa26",
      "name": "Qualificado",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2260,
        1180
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1hFQ9qe8_GSWHxxPENgNu5yoJ053JF0UDea7GFbuzgK0",
          "mode": "list",
          "cachedResultName": "[ILA & NICOLE] Funis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hFQ9qe8_GSWHxxPENgNu5yoJ053JF0UDea7GFbuzgK0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 162548593,
          "mode": "list",
          "cachedResultName": "[AUTO] Análise Comercial",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hFQ9qe8_GSWHxxPENgNu5yoJ053JF0UDea7GFbuzgK0/edit#gid=162548593"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Chave(busca)": "={{ $json['Chave(busca)'] }}",
            "Dificuldade": "={{ $('Formata Telefone').item.json.dificuldade }}",
            "Especialidade": "={{ $('Formata Telefone').item.json.especialidade }}",
            "Investe em tráfego": "={{ $('Formata Telefone').item.json.investe }}",
            "Faturamento": "={{ $('Formata Telefone').item.json.faturamento }}",
            "Pagamento": "={{ $json.Pagamento }}",
            "Transformação": "={{ $json.Transformação }}",
            "Etapa_form": "3",
            "Staus": "Completo",
            "Status": "completo",
            "Qualificado": "Considerável",
            "Qualificação": "qualificado"
          },
          "matchingColumns": [
            "Chave(busca)"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chave(busca)",
              "displayName": "Chave(busca)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Etapa_form",
              "displayName": "Etapa_form",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Qualificação",
              "displayName": "Qualificação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clínica",
              "displayName": "Clínica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Função",
              "displayName": "Função",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Especialidade",
              "displayName": "Especialidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dificuldade",
              "displayName": "Dificuldade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Investe em tráfego",
              "displayName": "Investe em tráfego",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Faturamento",
              "displayName": "Faturamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pagamento",
              "displayName": "Pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Transformação",
              "displayName": "Transformação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "6508f449-f8bc-4475-86df-02419219e8c0",
      "name": "Atualiza Etapa Final Q",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2480,
        1160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1hFQ9qe8_GSWHxxPENgNu5yoJ053JF0UDea7GFbuzgK0",
          "mode": "list",
          "cachedResultName": "[ILA & NICOLE] Funis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hFQ9qe8_GSWHxxPENgNu5yoJ053JF0UDea7GFbuzgK0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 136709084,
          "mode": "list",
          "cachedResultName": "[LEADS] Análise Comercial",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hFQ9qe8_GSWHxxPENgNu5yoJ053JF0UDea7GFbuzgK0/edit#gid=136709084"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Chave(busca)": "={{ $json['Chave(busca)'] }}",
            "Dificuldade": "={{ $('Formata Telefone').item.json.dificuldade }}",
            "Especialidade": "={{ $('Formata Telefone').item.json.especialidade }}",
            "Investe em tráfego": "={{ $('Formata Telefone').item.json.investe }}",
            "Faturamento": "={{ $('Formata Telefone').item.json.faturamento }}",
            "Pagamento": "=",
            "Transformação": "=",
            "Etapa_form": "3",
            "Staus": "Completo",
            "Qualificado": "Não",
            "utm_source": "={{ $('Busca Lead Etapa 2').item.json.utm_source }}",
            "utm_campaign": "={{ $('Busca Lead Etapa 2').item.json.utm_campaign }}",
            "utm_medium": "={{ $('Busca Lead Etapa 2').item.json.utm_medium }}",
            "utm_content": "={{ $('Busca Lead Etapa 2').item.json.utm_content }}",
            "utm_term": "={{ $('Busca Lead Etapa 2').item.json.utm_term }}",
            "Função": "={{ $('Formata Telefone').item.json.função }}",
            "Clínica": "={{ $('Formata Telefone').item.json.clinica }}",
            "Status": "completo",
            "Telefone": "={{ $('Formata Telefone').item.json.telefone }}",
            "Email": "={{ $('Formata Telefone').item.json.email }}",
            "Nome": "={{ $('Formata Telefone').item.json.nome }}",
            "Data": "={{ $('Formata Data').item.json.formattedDate }}",
            "Qualificação": "qualificado"
          },
          "matchingColumns": [
            "Chave(busca)"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chave(busca)",
              "displayName": "Chave(busca)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Qualificação",
              "displayName": "Qualificação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clínica",
              "displayName": "Clínica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Função",
              "displayName": "Função",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Especialidade",
              "displayName": "Especialidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dificuldade",
              "displayName": "Dificuldade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Investe em tráfego",
              "displayName": "Investe em tráfego",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Faturamento",
              "displayName": "Faturamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pagamento",
              "displayName": "Pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Transformação",
              "displayName": "Transformação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "9e268424-46ba-4e1b-9572-474f79f3842e",
      "name": "Add lead Q",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2720,
        1160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1hFQ9qe8_GSWHxxPENgNu5yoJ053JF0UDea7GFbuzgK0",
          "mode": "list",
          "cachedResultName": "[ILA & NICOLE] Funis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hFQ9qe8_GSWHxxPENgNu5yoJ053JF0UDea7GFbuzgK0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 162548593,
          "mode": "list",
          "cachedResultName": "[AUTO] Análise Comercial",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hFQ9qe8_GSWHxxPENgNu5yoJ053JF0UDea7GFbuzgK0/edit#gid=162548593"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Chave(busca)": "={{ $json['Chave(busca)'] }}",
            "Dificuldade": "={{ $('Formata Telefone').item.json.dificuldade }}",
            "Especialidade": "={{ $('Formata Telefone').item.json.especialidade }}",
            "Investe em tráfego": "={{ $('Formata Telefone').item.json.investe }}",
            "Faturamento": "={{ $('Formata Telefone').item.json.faturamento }}",
            "Pagamento": "=",
            "Transformação": "=",
            "Etapa_form": "3",
            "Staus": "Completo",
            "Status": "completo",
            "Qualificado": "Considerável",
            "Qualificação": "qualificado"
          },
          "matchingColumns": [
            "Chave(busca)"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chave(busca)",
              "displayName": "Chave(busca)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Etapa_form",
              "displayName": "Etapa_form",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Qualificação",
              "displayName": "Qualificação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clínica",
              "displayName": "Clínica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Função",
              "displayName": "Função",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Especialidade",
              "displayName": "Especialidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dificuldade",
              "displayName": "Dificuldade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Investe em tráfego",
              "displayName": "Investe em tráfego",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Faturamento",
              "displayName": "Faturamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pagamento",
              "displayName": "Pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Transformação",
              "displayName": "Transformação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "06b64f38-5a7f-4f21-ad1f-bfa1e8928794",
      "name": "Atualiza Etapa Final MQ",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2480,
        1680
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1hFQ9qe8_GSWHxxPENgNu5yoJ053JF0UDea7GFbuzgK0",
          "mode": "list",
          "cachedResultName": "[ILA & NICOLE] Funis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hFQ9qe8_GSWHxxPENgNu5yoJ053JF0UDea7GFbuzgK0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 136709084,
          "mode": "list",
          "cachedResultName": "[LEADS] Análise Comercial",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hFQ9qe8_GSWHxxPENgNu5yoJ053JF0UDea7GFbuzgK0/edit#gid=136709084"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Chave(busca)": "={{ $json['Chave(busca)'] }}",
            "Dificuldade": "={{ $('Formata Telefone').item.json.dificuldade }}",
            "Especialidade": "={{ $('Formata Telefone').item.json.especialidade }}",
            "Investe em tráfego": "={{ $('Formata Telefone').item.json.investe }}",
            "Faturamento": "={{ $('Formata Telefone').item.json.faturamento }}",
            "Pagamento": "=",
            "Transformação": "=",
            "Etapa_form": "3",
            "Staus": "Completo",
            "Qualificado": "Não",
            "utm_source": "={{ $('Busca Lead Etapa 2').item.json.utm_source }}",
            "utm_campaign": "={{ $('Busca Lead Etapa 2').item.json.utm_campaign }}",
            "utm_medium": "={{ $('Busca Lead Etapa 2').item.json.utm_medium }}",
            "utm_content": "={{ $('Busca Lead Etapa 2').item.json.utm_content }}",
            "utm_term": "={{ $('Busca Lead Etapa 2').item.json.utm_term }}",
            "Função": "={{ $('Formata Telefone').item.json.função }}",
            "Clínica": "={{ $('Formata Telefone').item.json.clinica }}",
            "Status": "completo",
            "Telefone": "={{ $('Formata Telefone').item.json.telefone }}",
            "Email": "={{ $('Formata Telefone').item.json.email }}",
            "Nome": "={{ $('Formata Telefone').item.json.nome }}",
            "Data": "={{ $('Formata Data').item.json.formattedDate }}",
            "Qualificação": "qualificado"
          },
          "matchingColumns": [
            "Chave(busca)"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chave(busca)",
              "displayName": "Chave(busca)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Qualificação",
              "displayName": "Qualificação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clínica",
              "displayName": "Clínica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Função",
              "displayName": "Função",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Especialidade",
              "displayName": "Especialidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dificuldade",
              "displayName": "Dificuldade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Investe em tráfego",
              "displayName": "Investe em tráfego",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Faturamento",
              "displayName": "Faturamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pagamento",
              "displayName": "Pagamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Transformação",
              "displayName": "Transformação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "c1961545-e90b-4e43-8819-dea288d76653",
      "name": "Add lead MQ",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2720,
        1680
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C1825917D649026AAA446A65441921E/token/92B58C5DAD3489D5AD780116/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fc42ae886be5842c29595e379b6c74fbaS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Formata Telefone').item.json.telefone }}"
            },
            {
              "name": "message",
              "value": "={{ $node[\"Formata Telefone\"].json[\"nome\"].split(\" \")[0] }}, aqui é da equipe das Dras. ILA Flávia e Nicole aqui! \n\nAcabamos de receber seu formulário para sua reunião de análise. *Vamos te ligar em breve* para agendar o horário e entender mais sobre sua clínica (bate-papo de 5 minutos).\n\nRecomendo que fique de olho no seu celular (tire do modo silencioso). \n\nCaso esteja em atendimento, pode me falar o melhor horário para essa conversa rápida antes da reunião. Até já!"
            }
          ]
        },
        "options": {}
      },
      "id": "39909c61-803e-42f1-bc4f-4c6f7ddc87ea",
      "name": "MSG MQ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3080,
        1800
      ]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "minutes"
      },
      "id": "2c083a6c-cde2-4ef2-bda1-b9b6566dfa96",
      "name": "5 Minutos Q",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2920,
        1160
      ],
      "webhookId": "258d9aa1-5d6b-40aa-8787-c26013d770ee"
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "minutes"
      },
      "id": "89da5916-b8a3-448e-b10a-47c9e144e90f",
      "name": "5 Minutos MQ",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2900,
        1680
      ],
      "webhookId": "2f644fec-808f-45d2-9ed2-2361a5dac233"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hook.us1.make.com/zp4je6j4ppyvnogp9a5qqbolh7ipjv9q",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Data",
              "value": "={{ $('Formata Data').item.json.formattedDate }}"
            },
            {
              "name": "Nome",
              "value": "={{ $('Formata Telefone').item.json.nome }}"
            },
            {
              "name": "Email",
              "value": "={{ $('Formata Telefone').item.json.email }}"
            },
            {
              "name": "Telefone",
              "value": "={{ $('Formata Telefone').item.json.telefone }}"
            },
            {
              "name": "Qualificação",
              "value": "=considerável"
            },
            {
              "name": "Clínica",
              "value": "={{ $('Formata Telefone').item.json.clinica }}"
            },
            {
              "name": "Função",
              "value": "={{ $('Formata Telefone').item.json.função }}"
            },
            {
              "name": "Especialidade",
              "value": "={{ $('Formata Telefone').item.json.especialidade }}"
            },
            {
              "name": "Dificuldade",
              "value": "={{ $('Formata Telefone').item.json.dificuldade }}"
            },
            {
              "name": "Investe",
              "value": "={{ $('Formata Telefone').item.json.investe }}"
            },
            {
              "name": "Faturamento",
              "value": "={{ $('Formata Telefone').item.json.faturamento }}"
            },
            {
              "name": "Transformação",
              "value": "={{ $('Formata Telefone').item.json.transformacao }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $('Formata Telefone').item.json.utm_source }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $('Formata Telefone').item.json.utm_campaign }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $('Formata Telefone').item.json.utm_medium }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $('Formata Telefone').item.json.utm_content }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $('Formata Telefone').item.json.utm_term }}"
            },
            {
              "name": "chave",
              "value": "={{ $('Formata Telefone').item.json.telefone.slice(-7) }}"
            },
            {
              "name": "investimento",
              "value": "={{ $('Formata Telefone').item.json.investimento }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4db950fe-6b04-42ba-a96c-10f469fe4ab0",
      "name": "CRM DQ1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2680,
        840
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hook.us1.make.com/zp4je6j4ppyvnogp9a5qqbolh7ipjv9q",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Data",
              "value": "={{ $('Formata Data').item.json.formattedDate }}"
            },
            {
              "name": "Nome",
              "value": "={{ $('Formata Telefone').item.json.nome }}"
            },
            {
              "name": "Email",
              "value": "={{ $('Formata Telefone').item.json.email }}"
            },
            {
              "name": "Telefone",
              "value": "={{ $('Formata Telefone').item.json.telefone }}"
            },
            {
              "name": "Qualificação",
              "value": "=desqualificado"
            },
            {
              "name": "Clínica",
              "value": "={{ $('Formata Telefone').item.json.clinica }}"
            },
            {
              "name": "Função",
              "value": "={{ $('Formata Telefone').item.json.função }}"
            },
            {
              "name": "Especialidade",
              "value": "={{ $('Formata Telefone').item.json.especialidade }}"
            },
            {
              "name": "Dificuldade",
              "value": "={{ $('Formata Telefone').item.json.dificuldade }}"
            },
            {
              "name": "Investe",
              "value": "={{ $('Formata Telefone').item.json.investe }}"
            },
            {
              "name": "Faturamento",
              "value": "={{ $('Formata Telefone').item.json.faturamento }}"
            },
            {
              "name": "Transformação",
              "value": "={{ $('Formata Telefone').item.json.transformacao }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $('Formata Telefone').item.json.utm_source }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $('Formata Telefone').item.json.utm_campaign }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $('Formata Telefone').item.json.utm_medium }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $('Formata Telefone').item.json.utm_content }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $('Formata Telefone').item.json.utm_term }}"
            },
            {
              "name": "chave",
              "value": "={{ $('Formata Telefone').item.json.telefone.slice(-7) }}"
            },
            {
              "name": "investimento",
              "value": "={{ $('Formata Telefone').item.json.investimento }}"
            }
          ]
        },
        "options": {}
      },
      "id": "39a84de7-32a7-4af3-976b-9097044b2701",
      "name": "CRM DQ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2440,
        560
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hook.us1.make.com/zp4je6j4ppyvnogp9a5qqbolh7ipjv9q",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Data",
              "value": "={{ $('Formata Data').item.json.formattedDate }}"
            },
            {
              "name": "Nome",
              "value": "={{ $('Formata Telefone').item.json.nome }}"
            },
            {
              "name": "Email",
              "value": "={{ $('Formata Telefone').item.json.email }}"
            },
            {
              "name": "Telefone",
              "value": "={{ $('Formata Telefone').item.json.telefone }}"
            },
            {
              "name": "Qualificação",
              "value": "=qualificado"
            },
            {
              "name": "Clínica",
              "value": "={{ $('Formata Telefone').item.json.clinica }}"
            },
            {
              "name": "Função",
              "value": "={{ $('Formata Telefone').item.json.função }}"
            },
            {
              "name": "Especialidade",
              "value": "={{ $('Formata Telefone').item.json.especialidade }}"
            },
            {
              "name": "Dificuldade",
              "value": "={{ $('Formata Telefone').item.json.dificuldade }}"
            },
            {
              "name": "Investe",
              "value": "={{ $('Formata Telefone').item.json.investe }}"
            },
            {
              "name": "Faturamento",
              "value": "={{ $('Formata Telefone').item.json.faturamento }}"
            },
            {
              "name": "Transformação",
              "value": "={{ $('Formata Telefone').item.json.transformacao }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $('Formata Telefone').item.json.utm_source }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $('Formata Telefone').item.json.utm_campaign }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $('Formata Telefone').item.json.utm_medium }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $('Formata Telefone').item.json.utm_content }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $('Formata Telefone').item.json.utm_term }}"
            },
            {
              "name": "chave",
              "value": "={{ $('Formata Telefone').item.json.telefone.slice(-7) }}"
            },
            {
              "name": "investimento",
              "value": "={{ $('Formata Telefone').item.json.investimento }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4aa105e3-3342-4a62-a282-acf8719dba23",
      "name": "CRM DQ2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3080,
        1040
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C1825917D649026AAA446A65441921E/token/92B58C5DAD3489D5AD780116/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fc42ae886be5842c29595e379b6c74fbaS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Formata Telefone').item.json.telefone }}"
            },
            {
              "name": "message",
              "value": "={{ $node[\"Formata Telefone\"].json[\"nome\"].split(\" \")[0] }}, aqui é da equipe das Dras. ILA Flávia e Nicole aqui! \n\nAcabamos de receber seu formulário para sua reunião de análise. *Vamos te ligar em breve* para agendar o horário e entender mais sobre sua clínica (bate-papo de 5 minutos).\n\nRecomendo que fique de olho no seu celular (tire do modo silencioso). \n\nCaso esteja em atendimento, pode me falar o melhor horário para essa conversa rápida antes da reunião. Até já!"
            }
          ]
        },
        "options": {}
      },
      "id": "7326effb-548d-4392-be44-1d8e5d250622",
      "name": "MSG Q",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3080,
        1280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hook.us1.make.com/zp4je6j4ppyvnogp9a5qqbolh7ipjv9q",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Data",
              "value": "={{ $('Formata Data').item.json.formattedDate }}"
            },
            {
              "name": "Nome",
              "value": "={{ $('Formata Telefone').item.json.nome }}"
            },
            {
              "name": "Email",
              "value": "={{ $('Formata Telefone').item.json.email }}"
            },
            {
              "name": "Telefone",
              "value": "={{ $('Formata Telefone').item.json.telefone }}"
            },
            {
              "name": "Qualificação",
              "value": "=muito qualificado"
            },
            {
              "name": "Clínica",
              "value": "={{ $('Formata Telefone').item.json.clinica }}"
            },
            {
              "name": "Função",
              "value": "={{ $('Formata Telefone').item.json.função }}"
            },
            {
              "name": "Especialidade",
              "value": "={{ $('Formata Telefone').item.json.especialidade }}"
            },
            {
              "name": "Dificuldade",
              "value": "={{ $('Formata Telefone').item.json.dificuldade }}"
            },
            {
              "name": "Investe",
              "value": "={{ $('Formata Telefone').item.json.investe }}"
            },
            {
              "name": "Faturamento",
              "value": "={{ $('Formata Telefone').item.json.faturamento }}"
            },
            {
              "name": "Transformação",
              "value": "={{ $('Formata Telefone').item.json.transformacao }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $('Formata Telefone').item.json.utm_source }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $('Formata Telefone').item.json.utm_campaign }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $('Formata Telefone').item.json.utm_medium }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $('Formata Telefone').item.json.utm_content }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $('Formata Telefone').item.json.utm_term }}"
            },
            {
              "name": "chave",
              "value": "={{ $('Formata Telefone').item.json.telefone.slice(-7) }}"
            },
            {
              "name": "investimento",
              "value": "={{ $('Formata Telefone').item.json.investimento }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a776e4e2-3738-4c83-94c6-3ef4d05778c5",
      "name": "CRM DQ3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3080,
        1540
      ],
      "disabled": true
    },
    {
      "parameters": {
        "email": "={{ $('Formata Telefone').item.json.email }}",
        "phone": "={{ $('Formata Telefone').item.json.telefone }}",
        "additionalFields": {
          "customFields": {
            "values": [
              {
                "fieldId": "vvwTyVdzhvBpi4hdAacV",
                "fieldValue": "={{ $('Formata Telefone').item.json.clinica }}"
              },
              {
                "fieldId": "qAl1O4NqPY1opswawykC",
                "fieldValue": "={{ $('Formata Telefone').item.json.função }}"
              },
              {
                "fieldId": "lwIFb8oa4cnG5A9l8v1D",
                "fieldValue": "={{ $('Formata Telefone').item.json.especialidade }}"
              },
              {
                "fieldId": "KcJc54Cw8WbgisQLqCag",
                "fieldValue": "={{ $('Formata Telefone').item.json.dificuldade }}"
              },
              {
                "fieldId": "QzRRCM6ALiJ1gI8tUSTt",
                "fieldValue": "={{ $('Formata Telefone').item.json.investe }}"
              },
              {
                "fieldId": "aHZKSxqnOqpJcr7mtVwI",
                "fieldValue": "={{ $('Formata Telefone').item.json.faturamento }}"
              },
              {
                "fieldId": "F8H0SBnCJkreH7ObBDsd",
                "fieldValue": "={{ $('Formata Telefone').item.json.transformacao }}"
              }
            ]
          },
          "name": "={{ $('Formata Telefone').item.json.nome }}",
          "source": "Análise Comercial"
        }
      },
      "id": "803c1295-3ddf-4ab6-9f3c-df46db63a1de",
      "name": "HighLevel",
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 1,
      "position": [
        4460,
        -160
      ],
      "credentials": {
        "highLevelApi": {
          "id": "QziUkmhVtoqRhyVa",
          "name": "CRM LIbertas FSS"
        }
      }
    },
    {
      "parameters": {
        "resource": "opportunity",
        "pipelineId": "ivPYKLqSwx7aLZGuYzW4",
        "stageId": "82f97217-65cc-43e6-9196-54ab31354092",
        "contactIdentifier": "={{ $json.id }}",
        "title": "={{ $('Formata Telefone').item.json.nome }}",
        "additionalFields": {
          "assignedTo": "EXgGNLGquTmLFF7YAi0V",
          "tags": "analise-comercial"
        }
      },
      "id": "faaf2b80-fb9d-4ccd-8ddb-ed76afd73627",
      "name": "HighLevel1",
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 1,
      "position": [
        4640,
        -160
      ],
      "credentials": {
        "highLevelApi": {
          "id": "QziUkmhVtoqRhyVa",
          "name": "CRM LIbertas FSS"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $('Formata Telefone').item.json.email }}",
        "phone": "={{ $('Formata Telefone').item.json.telefone }}",
        "additionalFields": {
          "customFields": {
            "values": [
              {
                "fieldId": "vvwTyVdzhvBpi4hdAacV",
                "fieldValue": "={{ $('Formata Telefone').item.json.clinica }}"
              },
              {
                "fieldId": "qAl1O4NqPY1opswawykC",
                "fieldValue": "={{ $('Formata Telefone').item.json.função }}"
              },
              {
                "fieldId": "lwIFb8oa4cnG5A9l8v1D",
                "fieldValue": "={{ $('Formata Telefone').item.json.especialidade }}"
              },
              {
                "fieldId": "KcJc54Cw8WbgisQLqCag",
                "fieldValue": "={{ $('Formata Telefone').item.json.dificuldade }}"
              },
              {
                "fieldId": "QzRRCM6ALiJ1gI8tUSTt",
                "fieldValue": "={{ $('Formata Telefone').item.json.investe }}"
              },
              {
                "fieldId": "aHZKSxqnOqpJcr7mtVwI",
                "fieldValue": "={{ $('Formata Telefone').item.json.faturamento }}"
              },
              {
                "fieldId": "F8H0SBnCJkreH7ObBDsd",
                "fieldValue": "={{ $('Formata Telefone').item.json.transformacao }}"
              }
            ]
          },
          "name": "={{ $('Formata Telefone').item.json.nome }}",
          "source": "Análise Comercial"
        }
      },
      "id": "c7aaafb6-3931-4294-be51-2294d2edb95d",
      "name": "HighLevel2",
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 1,
      "position": [
        4460,
        20
      ],
      "credentials": {
        "highLevelApi": {
          "id": "QziUkmhVtoqRhyVa",
          "name": "CRM LIbertas FSS"
        }
      }
    },
    {
      "parameters": {
        "resource": "opportunity",
        "pipelineId": "ivPYKLqSwx7aLZGuYzW4",
        "stageId": "82f97217-65cc-43e6-9196-54ab31354092",
        "contactIdentifier": "={{ $json.id }}",
        "title": "={{ $('Formata Telefone').item.json.nome }}",
        "additionalFields": {
          "assignedTo": "EXgGNLGquTmLFF7YAi0V",
          "tags": "analise-comercial"
        }
      },
      "id": "3b26a6ae-35c6-4c0f-ba12-942f19fc8e37",
      "name": "HighLevel3",
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 1,
      "position": [
        4640,
        20
      ],
      "credentials": {
        "highLevelApi": {
          "id": "QziUkmhVtoqRhyVa",
          "name": "CRM LIbertas FSS"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $('Formata Telefone').item.json.email }}",
        "phone": "={{ $('Formata Telefone').item.json.telefone }}",
        "additionalFields": {
          "customFields": {
            "values": [
              {
                "fieldId": "vvwTyVdzhvBpi4hdAacV",
                "fieldValue": "={{ $('Formata Telefone').item.json.clinica }}"
              },
              {
                "fieldId": "qAl1O4NqPY1opswawykC",
                "fieldValue": "={{ $('Formata Telefone').item.json.função }}"
              },
              {
                "fieldId": "lwIFb8oa4cnG5A9l8v1D",
                "fieldValue": "={{ $('Formata Telefone').item.json.especialidade }}"
              },
              {
                "fieldId": "KcJc54Cw8WbgisQLqCag",
                "fieldValue": "={{ $('Formata Telefone').item.json.dificuldade }}"
              },
              {
                "fieldId": "QzRRCM6ALiJ1gI8tUSTt",
                "fieldValue": "={{ $('Formata Telefone').item.json.investe }}"
              },
              {
                "fieldId": "aHZKSxqnOqpJcr7mtVwI",
                "fieldValue": "={{ $('Formata Telefone').item.json.faturamento }}"
              },
              {
                "fieldId": "F8H0SBnCJkreH7ObBDsd",
                "fieldValue": "={{ $('Formata Telefone').item.json.transformacao }}"
              }
            ]
          },
          "name": "={{ $('Formata Telefone').item.json.nome }}",
          "source": "Análise Comercial"
        }
      },
      "id": "41ffbc5b-5007-4c4d-89ac-81baf1159399",
      "name": "HighLevel4",
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 1,
      "position": [
        4460,
        200
      ],
      "credentials": {
        "highLevelApi": {
          "id": "QziUkmhVtoqRhyVa",
          "name": "CRM LIbertas FSS"
        }
      }
    },
    {
      "parameters": {
        "resource": "opportunity",
        "pipelineId": "ivPYKLqSwx7aLZGuYzW4",
        "stageId": "82f97217-65cc-43e6-9196-54ab31354092",
        "contactIdentifier": "={{ $json.id }}",
        "title": "={{ $('Formata Telefone').item.json.nome }}",
        "additionalFields": {
          "tags": "analise-comercial"
        }
      },
      "id": "2de09eae-b5ef-4723-b376-4c150a9c80a5",
      "name": "HighLevel5",
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 1,
      "position": [
        4640,
        200
      ],
      "credentials": {
        "highLevelApi": {
          "id": "QziUkmhVtoqRhyVa",
          "name": "CRM LIbertas FSS"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $('Formata Telefone').item.json.email }}",
        "phone": "={{ $('Formata Telefone').item.json.telefone }}",
        "additionalFields": {
          "customFields": {
            "values": [
              {
                "fieldId": "vvwTyVdzhvBpi4hdAacV",
                "fieldValue": "={{ $('Formata Telefone').item.json.clinica }}"
              },
              {
                "fieldId": "qAl1O4NqPY1opswawykC",
                "fieldValue": "={{ $('Formata Telefone').item.json.função }}"
              },
              {
                "fieldId": "lwIFb8oa4cnG5A9l8v1D",
                "fieldValue": "={{ $('Formata Telefone').item.json.especialidade }}"
              },
              {
                "fieldId": "KcJc54Cw8WbgisQLqCag",
                "fieldValue": "={{ $('Formata Telefone').item.json.dificuldade }}"
              },
              {
                "fieldId": "QzRRCM6ALiJ1gI8tUSTt",
                "fieldValue": "={{ $('Formata Telefone').item.json.investe }}"
              },
              {
                "fieldId": "aHZKSxqnOqpJcr7mtVwI",
                "fieldValue": "={{ $('Formata Telefone').item.json.faturamento }}"
              },
              {
                "fieldId": "F8H0SBnCJkreH7ObBDsd",
                "fieldValue": "={{ $('Formata Telefone').item.json.transformacao }}"
              }
            ]
          },
          "name": "={{ $('Formata Telefone').item.json.nome }}",
          "source": "Análise Comercial"
        }
      },
      "id": "e3508fc8-5e01-486e-b22e-72cede1c5d87",
      "name": "HighLevel6",
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 1,
      "position": [
        4460,
        380
      ],
      "credentials": {
        "highLevelApi": {
          "id": "QziUkmhVtoqRhyVa",
          "name": "CRM LIbertas FSS"
        }
      }
    },
    {
      "parameters": {
        "resource": "opportunity",
        "pipelineId": "ivPYKLqSwx7aLZGuYzW4",
        "stageId": "82f97217-65cc-43e6-9196-54ab31354092",
        "contactIdentifier": "={{ $json.id }}",
        "title": "={{ $('Formata Telefone').item.json.nome }}",
        "additionalFields": {
          "tags": "analise-comercial"
        }
      },
      "id": "ecc7673b-c2dc-4390-9081-44d689749c25",
      "name": "HighLevel7",
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 1,
      "position": [
        4640,
        380
      ],
      "credentials": {
        "highLevelApi": {
          "id": "QziUkmhVtoqRhyVa",
          "name": "CRM LIbertas FSS"
        }
      }
    },
    {
      "parameters": {
        "team": "30971486",
        "space": "90070031834",
        "folder": "90130377914",
        "list": "901304701916",
        "name": "={{ $('Formata Telefone').item.json.nome + \"[TRÁFEGO]\" }}",
        "additionalFields": {
          "assignees": [
            82001013
          ],
          "customFieldsJson": "=[{\"id\":\"deff6c81-9dc6-4b15-a249-937c677056fb\",\"value\":\"{{ $('Formata Telefone').item.json.especialidade }}\"}, {\"id\":\"a964eea7-44f0-476d-8246-e691e8166680\", \"value\":\"{{ $('Formata Telefone').item.json.faturamento }}\"}, {\"id\":\"48979394-c189-425a-a8ab-aad64178242b\", \"value\":\"{{ $('Formata Telefone').item.json.investe }}\"}, {\"id\":\"85e5466a-afb4-4e65-bd1f-58af78c9479d\", \"value\":\"{{ $('Formata Telefone').item.json.dificuldade }}\"}, {\"id\":\"f8d8e702-9e3c-4605-a15f-501f81a3b0e2\", \"value\":\"{{ $('Formata Telefone').item.json.função }}\"}, {\"id\":\"ca63198d-4367-4195-a85b-8a81b810106a\", \"value\":\"{{ $('Formata Telefone').item.json.clinica }}\"}, {\"id\":\"6cf1dba1-1c24-471e-bd7a-9eed2c8e2d2c\", \"value\":\"b0c7b0ef-a7d2-40db-a72b-b0acdeb469f2\"}, {\"id\":\"aac36645-04a7-4fbe-b2c7-15f62e5bcc49\", \"value\":\"{{ $node[\"Formata Telefone\"].json[\"telefone\"] }}\" }, {\"id\":\"13f4e607-7a31-428d-9775-fab416cb95d9\", \"value\":\"SE-ads\" }]",
          "dueDate": "={{ $json.currentDate }}"
        }
      },
      "id": "327fd47b-63b0-4035-962b-fc9c5dc97bdf",
      "name": "ClickUp1",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2920,
        380
      ],
      "credentials": {
        "clickUpApi": {
          "id": "fy7YLKgPN9XVKscl",
          "name": "Space Libertas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4b9e06e9-44b8-4f2e-a07d-1acb95a0791e",
              "leftValue": "={{ $('Formata Telefone').item.json.utm_source }}",
              "rightValue": "=adsfb",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0b2c4eee-9ec2-4eb7-962b-5ac0fbfd62fe",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2660,
        560
      ]
    },
    {
      "parameters": {
        "team": "30971486",
        "space": "90070031834",
        "folder": "90130377914",
        "list": "901304701916",
        "name": "={{ $('Formata Telefone').item.json.nome + \"[ORGÂNICO]\" }}",
        "additionalFields": {
          "assignees": [
            82001013
          ],
          "customFieldsJson": "=[{\"id\":\"deff6c81-9dc6-4b15-a249-937c677056fb\",\"value\":\"{{ $('Formata Telefone').item.json.especialidade }}\"}, {\"id\":\"a964eea7-44f0-476d-8246-e691e8166680\", \"value\":\"{{ $('Formata Telefone').item.json.faturamento }}\"}, {\"id\":\"48979394-c189-425a-a8ab-aad64178242b\", \"value\":\"{{ $('Formata Telefone').item.json.investe }}\"}, {\"id\":\"85e5466a-afb4-4e65-bd1f-58af78c9479d\", \"value\":\"{{ $('Formata Telefone').item.json.dificuldade }}\"}, {\"id\":\"f8d8e702-9e3c-4605-a15f-501f81a3b0e2\", \"value\":\"{{ $('Formata Telefone').item.json.função }}\"}, {\"id\":\"ca63198d-4367-4195-a85b-8a81b810106a\", \"value\":\"{{ $('Formata Telefone').item.json.clinica }}\"}, {\"id\":\"6cf1dba1-1c24-471e-bd7a-9eed2c8e2d2c\", \"value\":\"7223face-bb1e-4643-8eea-a451325b92cd\" }, {\"id\":\"aac36645-04a7-4fbe-b2c7-15f62e5bcc49\", \"value\":\"{{ $node[\"Formata Telefone\"].json[\"telefone\"] }}\"}, {\"id\":\"13f4e607-7a31-428d-9775-fab416cb95d9\", \"value\":\"SE-org\" }]",
          "dueDate": "={{ $json.currentDate }}"
        }
      },
      "id": "35225311-143c-4e2d-a369-a0ad8ddaf909",
      "name": "ClickUp",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2920,
        620
      ],
      "credentials": {
        "clickUpApi": {
          "id": "fy7YLKgPN9XVKscl",
          "name": "Space Libertas"
        }
      }
    },
    {
      "parameters": {
        "team": "30971486",
        "space": "90070031834",
        "folder": "90130377914",
        "list": "901304701916",
        "name": "={{ $('Formata Telefone').item.json.nome + \"[TRÁFEGO]\" }}",
        "additionalFields": {
          "assignees": [
            82001013
          ],
          "customFieldsJson": "=[{\"id\":\"deff6c81-9dc6-4b15-a249-937c677056fb\",\"value\":\"{{ $('Formata Telefone').item.json.especialidade }}\"}, {\"id\":\"a964eea7-44f0-476d-8246-e691e8166680\", \"value\":\"{{ $('Formata Telefone').item.json.faturamento }}\"}, {\"id\":\"48979394-c189-425a-a8ab-aad64178242b\", \"value\":\"{{ $('Formata Telefone').item.json.investe }}\"}, {\"id\":\"85e5466a-afb4-4e65-bd1f-58af78c9479d\", \"value\":\"{{ $('Formata Telefone').item.json.dificuldade }}\"}, {\"id\":\"f8d8e702-9e3c-4605-a15f-501f81a3b0e2\", \"value\":\"{{ $('Formata Telefone').item.json.função }}\"}, {\"id\":\"ca63198d-4367-4195-a85b-8a81b810106a\", \"value\":\"{{ $('Formata Telefone').item.json.clinica }}\"}, {\"id\":\"6cf1dba1-1c24-471e-bd7a-9eed2c8e2d2c\", \"value\":\"b0c7b0ef-a7d2-40db-a72b-b0acdeb469f2\" }, {\"id\":\"aac36645-04a7-4fbe-b2c7-15f62e5bcc49\", \"value\":\"{{ $node[\"Formata Telefone\"].json[\"telefone\"] }}\"}, {\"id\":\"13f4e607-7a31-428d-9775-fab416cb95d9\", \"value\":\"SE-ads\" }]",
          "dueDate": "={{ $json.currentDate }}"
        }
      },
      "id": "b35196c7-1093-4327-8852-17b3ea068082",
      "name": "ClickUp2",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        3180,
        700
      ],
      "credentials": {
        "clickUpApi": {
          "id": "fy7YLKgPN9XVKscl",
          "name": "Space Libertas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4b9e06e9-44b8-4f2e-a07d-1acb95a0791e",
              "leftValue": "={{ $('Formata Telefone').item.json.utm_source }}",
              "rightValue": "=adsfb",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3349a369-58da-4f8c-8706-29f948e34aaa",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2880,
        840
      ]
    },
    {
      "parameters": {
        "team": "30971486",
        "space": "90070031834",
        "folder": "90130377914",
        "list": "901304701916",
        "name": "={{ $('Formata Telefone').item.json.nome + \"[ORGÂNICO]\" }}",
        "additionalFields": {
          "assignees": [
            82001013
          ],
          "customFieldsJson": "=[{\"id\":\"deff6c81-9dc6-4b15-a249-937c677056fb\",\"value\":\"{{ $('Formata Telefone').item.json.especialidade }}\"}, {\"id\":\"a964eea7-44f0-476d-8246-e691e8166680\", \"value\":\"{{ $('Formata Telefone').item.json.faturamento }}\"}, {\"id\":\"48979394-c189-425a-a8ab-aad64178242b\", \"value\":\"{{ $('Formata Telefone').item.json.investe }}\"}, {\"id\":\"85e5466a-afb4-4e65-bd1f-58af78c9479d\", \"value\":\"{{ $('Formata Telefone').item.json.dificuldade }}\"}, {\"id\":\"f8d8e702-9e3c-4605-a15f-501f81a3b0e2\", \"value\":\"{{ $('Formata Telefone').item.json.função }}\"}, {\"id\":\"ca63198d-4367-4195-a85b-8a81b810106a\", \"value\":\"{{ $('Formata Telefone').item.json.clinica }}\"}, {\"id\":\"6cf1dba1-1c24-471e-bd7a-9eed2c8e2d2c\", \"value\":\"7223face-bb1e-4643-8eea-a451325b92cd\" }, {\"id\":\"aac36645-04a7-4fbe-b2c7-15f62e5bcc49\", \"value\":\"{{ $node[\"Formata Telefone\"].json[\"telefone\"] }}\"}, {\"id\":\"13f4e607-7a31-428d-9775-fab416cb95d9\", \"value\":\"SE-org\"}]",
          "dueDate": "={{ $json.currentDate }}"
        }
      },
      "id": "e1435991-5ea8-4b2c-a326-d9e59744fe37",
      "name": "ClickUp3",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        3180,
        860
      ],
      "credentials": {
        "clickUpApi": {
          "id": "fy7YLKgPN9XVKscl",
          "name": "Space Libertas"
        }
      }
    },
    {
      "parameters": {
        "team": "30971486",
        "space": "90070031834",
        "folder": "90130377914",
        "list": "901304701916",
        "name": "={{ $('Formata Telefone').item.json.nome + \"[TRÁFEGO]\" }}",
        "additionalFields": {
          "assignees": [
            82001013
          ],
          "customFieldsJson": "=[{\"id\":\"deff6c81-9dc6-4b15-a249-937c677056fb\",\"value\":\"{{ $('Formata Telefone').item.json.especialidade }}\"}, {\"id\":\"a964eea7-44f0-476d-8246-e691e8166680\", \"value\":\"{{ $('Formata Telefone').item.json.faturamento }}\"}, {\"id\":\"48979394-c189-425a-a8ab-aad64178242b\", \"value\":\"{{ $('Formata Telefone').item.json.investe }}\"}, {\"id\":\"85e5466a-afb4-4e65-bd1f-58af78c9479d\", \"value\":\"{{ $('Formata Telefone').item.json.dificuldade }}\"}, {\"id\":\"f8d8e702-9e3c-4605-a15f-501f81a3b0e2\", \"value\":\"{{ $('Formata Telefone').item.json.função }}\"}, {\"id\":\"ca63198d-4367-4195-a85b-8a81b810106a\", \"value\":\"{{ $('Formata Telefone').item.json.clinica }}\"}, {\"id\":\"6cf1dba1-1c24-471e-bd7a-9eed2c8e2d2c\", \"value\":\"b0c7b0ef-a7d2-40db-a72b-b0acdeb469f2\" }, {\"id\":\"aac36645-04a7-4fbe-b2c7-15f62e5bcc49\", \"value\":\"{{ $node[\"Formata Telefone\"].json[\"telefone\"] }}\"}, {\"id\":\"13f4e607-7a31-428d-9775-fab416cb95d9\", \"value\":\"SE-ads\"}]",
          "dueDate": "={{ $json.currentDate }}"
        }
      },
      "id": "d13e7d61-8281-4d52-96b1-47d74de8fde1",
      "name": "ClickUp4",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        3540,
        900
      ],
      "credentials": {
        "clickUpApi": {
          "id": "fy7YLKgPN9XVKscl",
          "name": "Space Libertas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4b9e06e9-44b8-4f2e-a07d-1acb95a0791e",
              "leftValue": "={{ $('Formata Telefone').item.json.utm_source }}",
              "rightValue": "=adsfb",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fbcb1df7-dc27-423d-9e4f-45e8efb33bf1",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3280,
        1040
      ]
    },
    {
      "parameters": {
        "team": "30971486",
        "space": "90070031834",
        "folder": "90130377914",
        "list": "901304701916",
        "name": "={{ $('Formata Telefone').item.json.nome + \"[ORGÂNICO]\" }}",
        "additionalFields": {
          "assignees": [
            82001013
          ],
          "customFieldsJson": "=[{\"id\":\"deff6c81-9dc6-4b15-a249-937c677056fb\",\"value\":\"{{ $('Formata Telefone').item.json.especialidade }}\"}, {\"id\":\"a964eea7-44f0-476d-8246-e691e8166680\", \"value\":\"{{ $('Formata Telefone').item.json.faturamento }}\"}, {\"id\":\"48979394-c189-425a-a8ab-aad64178242b\", \"value\":\"{{ $('Formata Telefone').item.json.investe }}\"}, {\"id\":\"85e5466a-afb4-4e65-bd1f-58af78c9479d\", \"value\":\"{{ $('Formata Telefone').item.json.dificuldade }}\"}, {\"id\":\"f8d8e702-9e3c-4605-a15f-501f81a3b0e2\", \"value\":\"{{ $('Formata Telefone').item.json.função }}\"}, {\"id\":\"ca63198d-4367-4195-a85b-8a81b810106a\", \"value\":\"{{ $('Formata Telefone').item.json.clinica }}\"}, {\"id\":\"6cf1dba1-1c24-471e-bd7a-9eed2c8e2d2c\", \"value\":\"7223face-bb1e-4643-8eea-a451325b92cd\" }, {\"id\":\"aac36645-04a7-4fbe-b2c7-15f62e5bcc49\", \"value\":\"{{ $node[\"Formata Telefone\"].json[\"telefone\"] }}\" }, {\"id\":\"13f4e607-7a31-428d-9775-fab416cb95d9\", \"value\":\"SE-org\" }]",
          "dueDate": "={{ $json.currentDate }}"
        }
      },
      "id": "2db675ba-3301-4104-a1b2-fbede5bacc6d",
      "name": "ClickUp5",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        3540,
        1100
      ],
      "credentials": {
        "clickUpApi": {
          "id": "fy7YLKgPN9XVKscl",
          "name": "Space Libertas"
        }
      }
    },
    {
      "parameters": {
        "team": "30971486",
        "space": "90070031834",
        "folder": "90130377914",
        "list": "901304701916",
        "name": "={{ $('Formata Telefone').item.json.nome + \"[TRÁFEGO]\" }}",
        "additionalFields": {
          "assignees": [
            82001013
          ],
          "customFieldsJson": "=[{\"id\":\"deff6c81-9dc6-4b15-a249-937c677056fb\",\"value\":\"{{ $('Formata Telefone').item.json.especialidade }}\"}, {\"id\":\"a964eea7-44f0-476d-8246-e691e8166680\", \"value\":\"{{ $('Formata Telefone').item.json.faturamento }}\"}, {\"id\":\"48979394-c189-425a-a8ab-aad64178242b\", \"value\":\"{{ $('Formata Telefone').item.json.investe }}\"}, {\"id\":\"85e5466a-afb4-4e65-bd1f-58af78c9479d\", \"value\":\"{{ $('Formata Telefone').item.json.dificuldade }}\"}, {\"id\":\"f8d8e702-9e3c-4605-a15f-501f81a3b0e2\", \"value\":\"{{ $('Formata Telefone').item.json.função }}\"}, {\"id\":\"ca63198d-4367-4195-a85b-8a81b810106a\", \"value\":\"{{ $('Formata Telefone').item.json.clinica }}\"}, {\"id\":\"6cf1dba1-1c24-471e-bd7a-9eed2c8e2d2c\", \"value\":\"b0c7b0ef-a7d2-40db-a72b-b0acdeb469f2\" }, {\"id\":\"aac36645-04a7-4fbe-b2c7-15f62e5bcc49\", \"value\":\"{{ $node[\"Formata Telefone\"].json[\"telefone\"] }}\"}, {\"id\":\"13f4e607-7a31-428d-9775-fab416cb95d9\", \"value\":\"SE-ads\" }]",
          "dueDate": "={{ $json.currentDate }}"
        }
      },
      "id": "43170800-4ef6-4cab-b20c-596cfedfa748",
      "name": "ClickUp6",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        3540,
        1360
      ],
      "credentials": {
        "clickUpApi": {
          "id": "fy7YLKgPN9XVKscl",
          "name": "Space Libertas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4b9e06e9-44b8-4f2e-a07d-1acb95a0791e",
              "leftValue": "={{ $('Formata Telefone').item.json.utm_source }}",
              "rightValue": "=adsfb",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3cd13b4-3559-466e-af16-5cde05d9f174",
      "name": "If3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3280,
        1540
      ]
    },
    {
      "parameters": {
        "team": "30971486",
        "space": "90070031834",
        "folder": "90130377914",
        "list": "901304701916",
        "name": "={{ $('Formata Telefone').item.json.nome + \"[ORGÂNICO]\" }}",
        "additionalFields": {
          "assignees": [
            82001013
          ],
          "customFieldsJson": "=[{\"id\":\"deff6c81-9dc6-4b15-a249-937c677056fb\",\"value\":\"{{ $('Formata Telefone').item.json.especialidade }}\"}, {\"id\":\"a964eea7-44f0-476d-8246-e691e8166680\", \"value\":\"{{ $('Formata Telefone').item.json.faturamento }}\"}, {\"id\":\"48979394-c189-425a-a8ab-aad64178242b\", \"value\":\"{{ $('Formata Telefone').item.json.investe }}\"}, {\"id\":\"85e5466a-afb4-4e65-bd1f-58af78c9479d\", \"value\":\"{{ $('Formata Telefone').item.json.dificuldade }}\"}, {\"id\":\"f8d8e702-9e3c-4605-a15f-501f81a3b0e2\", \"value\":\"{{ $('Formata Telefone').item.json.função }}\"}, {\"id\":\"ca63198d-4367-4195-a85b-8a81b810106a\", \"value\":\"{{ $('Formata Telefone').item.json.clinica }}\"}, {\"id\":\"6cf1dba1-1c24-471e-bd7a-9eed2c8e2d2c\", \"value\":\"7223face-bb1e-4643-8eea-a451325b92cd\" }, {\"id\":\"aac36645-04a7-4fbe-b2c7-15f62e5bcc49\", \"value\":\"{{ $node[\"Formata Telefone\"].json[\"telefone\"] }}\"}, {\"id\":\"13f4e607-7a31-428d-9775-fab416cb95d9\", \"value\":\"SE-org\" }]",
          "dueDate": "={{ $json.currentDate }}"
        }
      },
      "id": "77d288e6-d234-445d-85ee-3a2d02ca3a02",
      "name": "ClickUp7",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        3540,
        1600
      ],
      "credentials": {
        "clickUpApi": {
          "id": "fy7YLKgPN9XVKscl",
          "name": "Space Libertas"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C1825917D649026AAA446A65441921E/token/92B58C5DAD3489D5AD780116/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fc42ae886be5842c29595e379b6c74fbaS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363303787410525-group"
            },
            {
              "name": "message",
              "value": "=*+1 lead da Sessão Estratégica*\n\n*Origem:* {{ $node[\"Formata Telefone\"].json[\"utm_source\"] }}\n\n*Nome:* {{ $('Formata Telefone').item.json.nome }}\n*Email:* {{ $('Formata Telefone').item.json.email }}\n*Telefone:* {{ $('Formata Telefone').item.json.telefone }}\n\n*Clínica:* {{ $('Formata Telefone').item.json.clinica }}\n*Função:* {{ $node[\"Formata Telefone\"].json[\"função\"] }}\n*Investe em tráfego:* {{ $node[\"Formata Telefone\"].json[\"investe\"] }}\n*Faturamento:* {{ $node[\"Formata Telefone\"].json[\"faturamento\"] }}\n*Especialidade:* {{ $node[\"Formata Telefone\"].json[\"especialidade\"] }}\n*Dificuldade:* {{ $node[\"Formata Telefone\"].json[\"dificuldade\"] }}\n\n*link CRM:* {{ $node[\"ClickUp1\"].json[\"url\"] }} "
            }
          ]
        },
        "options": {}
      },
      "id": "d9631cf4-0e87-44aa-8851-ffc532b19259",
      "name": "MSG GRUPO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3160,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C1825917D649026AAA446A65441921E/token/92B58C5DAD3489D5AD780116/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fc42ae886be5842c29595e379b6c74fbaS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363303787410525-group"
            },
            {
              "name": "message",
              "value": "=*+1 lead da Sessão Estratégica*\n\n*Origem:* {{ $node[\"Formata Telefone\"].json[\"utm_source\"] }}\n\n*Nome:* {{ $('Formata Telefone').item.json.nome }}\n*Email:* {{ $('Formata Telefone').item.json.email }}\n*Telefone:* {{ $('Formata Telefone').item.json.telefone }}\n\n*Clínica:* {{ $('Formata Telefone').item.json.clinica }}\n*Função:* {{ $node[\"Formata Telefone\"].json[\"função\"] }}\n*Investe em tráfego:* {{ $node[\"Formata Telefone\"].json[\"investe\"] }}\n*Faturamento:* {{ $node[\"Formata Telefone\"].json[\"faturamento\"] }}\n*Especialidade:* {{ $node[\"Formata Telefone\"].json[\"especialidade\"] }}\n*Dificuldade:* {{ $node[\"Formata Telefone\"].json[\"dificuldade\"] }}\n\n*link CRM:* {{ $node[\"ClickUp\"].json[\"url\"] }} "
            }
          ]
        },
        "options": {}
      },
      "id": "7f4583d7-dc77-4751-b350-44939e8450cf",
      "name": "MSG GRUPO1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3320,
        540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C1825917D649026AAA446A65441921E/token/92B58C5DAD3489D5AD780116/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fc42ae886be5842c29595e379b6c74fbaS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363303787410525-group"
            },
            {
              "name": "message",
              "value": "=*+1 lead da Sessão Estratégica*\n\n*Origem:* {{ $node[\"Formata Telefone\"].json[\"utm_source\"] }}\n\n*Nome:* {{ $('Formata Telefone').item.json.nome }}\n*Email:* {{ $('Formata Telefone').item.json.email }}\n*Telefone:* {{ $('Formata Telefone').item.json.telefone }}\n\n*Clínica:* {{ $('Formata Telefone').item.json.clinica }}\n*Função:* {{ $node[\"Formata Telefone\"].json[\"função\"] }}\n*Investe em tráfego:* {{ $node[\"Formata Telefone\"].json[\"investe\"] }}\n*Faturamento:* {{ $node[\"Formata Telefone\"].json[\"faturamento\"] }}\n*Especialidade:* {{ $node[\"Formata Telefone\"].json[\"especialidade\"] }}\n*Dificuldade:* {{ $node[\"Formata Telefone\"].json[\"dificuldade\"] }}\n\n*link CRM:* {{ $node[\"ClickUp2\"].json[\"url\"] }} "
            }
          ]
        },
        "options": {}
      },
      "id": "0751fd27-215c-4186-9c49-8b78e1d7d59c",
      "name": "MSG GRUPO2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3580,
        580
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C1825917D649026AAA446A65441921E/token/92B58C5DAD3489D5AD780116/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fc42ae886be5842c29595e379b6c74fbaS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363303787410525-group"
            },
            {
              "name": "message",
              "value": "=*+1 lead da Sessão Estratégica*\n\n*Origem:* {{ $node[\"Formata Telefone\"].json[\"utm_source\"] }}\n\n*Nome:* {{ $('Formata Telefone').item.json.nome }}\n*Email:* {{ $('Formata Telefone').item.json.email }}\n*Telefone:* {{ $('Formata Telefone').item.json.telefone }}\n\n*Clínica:* {{ $('Formata Telefone').item.json.clinica }}\n*Função:* {{ $node[\"Formata Telefone\"].json[\"função\"] }}\n*Investe em tráfego:* {{ $node[\"Formata Telefone\"].json[\"investe\"] }}\n*Faturamento:* {{ $node[\"Formata Telefone\"].json[\"faturamento\"] }}\n*Especialidade:* {{ $node[\"Formata Telefone\"].json[\"especialidade\"] }}\n*Dificuldade:* {{ $node[\"Formata Telefone\"].json[\"dificuldade\"] }}\n\n*link CRM:* {{ $node[\"ClickUp3\"].json[\"url\"] }} "
            }
          ]
        },
        "options": {}
      },
      "id": "bda6c0b6-360f-4a3e-874a-f5b04abfb871",
      "name": "MSG GRUPO3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3760,
        720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C1825917D649026AAA446A65441921E/token/92B58C5DAD3489D5AD780116/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fc42ae886be5842c29595e379b6c74fbaS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363303787410525-group"
            },
            {
              "name": "message",
              "value": "=*+1 lead da Sessão Estratégica*\n\n*Origem:* {{ $node[\"Formata Telefone\"].json[\"utm_source\"] }}\n\n*Nome:* {{ $('Formata Telefone').item.json.nome }}\n*Email:* {{ $('Formata Telefone').item.json.email }}\n*Telefone:* {{ $('Formata Telefone').item.json.telefone }}\n\n*Clínica:* {{ $('Formata Telefone').item.json.clinica }}\n*Função:* {{ $node[\"Formata Telefone\"].json[\"função\"] }}\n*Investe em tráfego:* {{ $node[\"Formata Telefone\"].json[\"investe\"] }}\n*Faturamento:* {{ $node[\"Formata Telefone\"].json[\"faturamento\"] }}\n*Especialidade:* {{ $node[\"Formata Telefone\"].json[\"especialidade\"] }}\n*Dificuldade:* {{ $node[\"Formata Telefone\"].json[\"dificuldade\"] }}\n\n*link CRM:* {{ $node[\"ClickUp4\"].json[\"url\"] }} "
            }
          ]
        },
        "options": {}
      },
      "id": "5d40b69c-7f83-4afd-bb5f-eec28f600046",
      "name": "MSG GRUPO4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3800,
        900
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C1825917D649026AAA446A65441921E/token/92B58C5DAD3489D5AD780116/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fc42ae886be5842c29595e379b6c74fbaS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363303787410525-group"
            },
            {
              "name": "message",
              "value": "=*+1 lead da Sessão Estratégica*\n\n*Origem:* {{ $node[\"Formata Telefone\"].json[\"utm_source\"] }}\n\n*Nome:* {{ $('Formata Telefone').item.json.nome }}\n*Email:* {{ $('Formata Telefone').item.json.email }}\n*Telefone:* {{ $('Formata Telefone').item.json.telefone }}\n\n*Clínica:* {{ $('Formata Telefone').item.json.clinica }}\n*Função:* {{ $node[\"Formata Telefone\"].json[\"função\"] }}\n*Investe em tráfego:* {{ $node[\"Formata Telefone\"].json[\"investe\"] }}\n*Faturamento:* {{ $node[\"Formata Telefone\"].json[\"faturamento\"] }}\n*Especialidade:* {{ $node[\"Formata Telefone\"].json[\"especialidade\"] }}\n*Dificuldade:* {{ $node[\"Formata Telefone\"].json[\"dificuldade\"] }}\n\n*link CRM:* {{ $node[\"ClickUp5\"].json[\"url\"] }} "
            }
          ]
        },
        "options": {}
      },
      "id": "e515fcc5-0490-42e3-8546-aa713162bc42",
      "name": "MSG GRUPO5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3800,
        1100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C1825917D649026AAA446A65441921E/token/92B58C5DAD3489D5AD780116/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fc42ae886be5842c29595e379b6c74fbaS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363303787410525-group"
            },
            {
              "name": "message",
              "value": "=*+1 lead da Sessão Estratégica*\n\n*Origem:* {{ $node[\"Formata Telefone\"].json[\"utm_source\"] }}\n\n*Nome:* {{ $('Formata Telefone').item.json.nome }}\n*Email:* {{ $('Formata Telefone').item.json.email }}\n*Telefone:* {{ $('Formata Telefone').item.json.telefone }}\n\n*Clínica:* {{ $('Formata Telefone').item.json.clinica }}\n*Função:* {{ $node[\"Formata Telefone\"].json[\"função\"] }}\n*Investe em tráfego:* {{ $node[\"Formata Telefone\"].json[\"investe\"] }}\n*Faturamento:* {{ $node[\"Formata Telefone\"].json[\"faturamento\"] }}\n*Especialidade:* {{ $node[\"Formata Telefone\"].json[\"especialidade\"] }}\n*Dificuldade:* {{ $node[\"Formata Telefone\"].json[\"dificuldade\"] }}\n\n*link CRM:* {{ $node[\"ClickUp6\"].json[\"url\"] }} "
            }
          ]
        },
        "options": {}
      },
      "id": "f7e7d88c-9089-48f0-8386-ce202ec66e1f",
      "name": "MSG GRUPO6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3800,
        1360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C1825917D649026AAA446A65441921E/token/92B58C5DAD3489D5AD780116/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fc42ae886be5842c29595e379b6c74fbaS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363303787410525-group"
            },
            {
              "name": "message",
              "value": "=*+1 lead da Sessão Estratégica*\n\n*Origem:* {{ $node[\"Formata Telefone\"].json[\"utm_source\"] }}\n\n*Nome:* {{ $('Formata Telefone').item.json.nome }}\n*Email:* {{ $('Formata Telefone').item.json.email }}\n*Telefone:* {{ $('Formata Telefone').item.json.telefone }}\n\n*Clínica:* {{ $('Formata Telefone').item.json.clinica }}\n*Função:* {{ $node[\"Formata Telefone\"].json[\"função\"] }}\n*Investe em tráfego:* {{ $node[\"Formata Telefone\"].json[\"investe\"] }}\n*Faturamento:* {{ $node[\"Formata Telefone\"].json[\"faturamento\"] }}\n*Especialidade:* {{ $node[\"Formata Telefone\"].json[\"especialidade\"] }}\n*Dificuldade:* {{ $node[\"Formata Telefone\"].json[\"dificuldade\"] }}\n\n*link CRM:* {{ $node[\"ClickUp7\"].json[\"url\"] }} "
            }
          ]
        },
        "options": {}
      },
      "id": "60e2af46-efbd-4658-bc91-6bae683d888f",
      "name": "MSG GRUPO7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3800,
        1600
      ]
    },
    {
      "parameters": {
        "familyName": "={{ $('Formata Telefone').item.json.nome }}",
        "givenName": "={{ $('Formata Telefone').item.json.nome.split(\" \")[0] }}",
        "additionalFields": {
          "phoneUi": {
            "phoneValues": [
              {
                "type": "main",
                "value": "={{ $('Formata Telefone').item.json.telefone }}"
              }
            ]
          }
        }
      },
      "id": "961449a3-429a-4208-b369-a3885fda00a6",
      "name": "Google Contacts",
      "type": "n8n-nodes-base.googleContacts",
      "typeVersion": 1,
      "position": [
        580,
        640
      ],
      "credentials": {
        "googleContactsOAuth2Api": {
          "id": "uBEaJtuv9ZQuYKHk",
          "name": "Victoria"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.marcosfoks.com.br",
            "user-agent": "Mozilla/5.0 (Linux; Android 13; SM-A035M Build/TP1A.220624.014; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/126.0.6478.134 Mobile Safari/537.36 Instagram 340.0.0.22.109 Android (33/13; 300dpi; 720x1465; samsung; SM-A035M; a03; ums9230_25c10; pt_BR; 622859821)",
            "content-length": "1761",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7",
            "cdn-loop": "cloudflare",
            "cf-connecting-ip": "2804:5b8:61c8:f600:209c:adde:755f:5b14",
            "cf-ipcountry": "BR",
            "cf-ray": "8a95d7e28a788b1b-SJP",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "multipart/form-data; boundary=----WebKitFormBoundaryGac4AexCpXvWGuDr",
            "origin": "https://dentistapower.com.br",
            "priority": "u=1, i",
            "referer": "https://dentistapower.com.br/",
            "sec-ch-ua": "\"Not/A)Brand\";v=\"8\", \"Chromium\";v=\"126\", \"Android WebView\";v=\"126\"",
            "sec-ch-ua-mobile": "?1",
            "sec-ch-ua-platform": "\"Android\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "172.70.236.132",
            "x-forwarded-host": "n8n.marcosfoks.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "bc917484dc53",
            "x-real-ip": "172.70.236.132"
          },
          "params": {},
          "query": {},
          "body": {
            "nome": "Heitor gabriel da silva rabeti",
            "email": "heitorrabetti@gmail.com",
            "telefone": "5517996366734",
            "clinica": "Hnr odontologia",
            "função": "Dono/Sócio",
            "dificuldade": "Lucro e custos fixos",
            "especialidade": "Implante e prótese",
            "investe": "Sim, entre R$ 2.000 e R$ 5.000",
            "faturamento": "Entre R$ 100 mil e R$ 250 mil",
            "etapa": "2",
            "utm_campaign": "se",
            "utm_source": "adsfb",
            "utm_medium": "[SE] [CADASTROS] [CONVERSÕES] [ABO] [F] - Público frio",
            "utm_term": "SE02_protocolo",
            "utm_content": "04 - Advantage"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-08-01T14:42:48.000Z",
  "versionId": "51d110cf-3752-46bb-9182-dcc4d70eb454"
}