workflows/[ILA & NICOLE] Sala Black - Ficha de Onboarding.json
{
  "active": true,
  "connections": {
    "Trata Webhook": {
      "main": [
        [
          {
            "node": "Data Atual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Trata Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Formata Telefone",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formata Telefone Responsavel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formata Telefone mentoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Telefone": {
      "main": [
        [
          {
            "node": "Existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Adiciona",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualiza",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existe": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Atual": {
      "main": [
        [
          {
            "node": "Formata Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Data": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1º Laço?": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Adiciona papo de dono",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualiza papo de dono",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Telefone Responsavel": {
      "main": [
        [
          {
            "node": "1º Laço?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "Adiciona mentoria",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualiza mentoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Telefone mentoria": {
      "main": [
        [
          {
            "node": "1º Laço mentoria?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1º Laço mentoria?": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-02-29T19:31:31.334Z",
  "id": "F3xgSYJUEYUjFzaP",
  "meta": null,
  "name": "[ILA & NICOLE] Sala Black - Ficha de Onboarding",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cd5f3e5b-3b5c-4779-8c98-5aec0c291da8",
        "options": {}
      },
      "id": "247f3714-7db2-4d87-8007-7d705dff592d",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        540,
        380
      ],
      "webhookId": "cd5f3e5b-3b5c-4779-8c98-5aec0c291da8"
    },
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]\n"
      },
      "id": "fd78d01a-3d29-4449-b88a-fb8d4c3e34e7",
      "name": "Trata Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        720,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "function formataTelefone(number) {\n    number = number.toString().replace(/[^\\d]/g, \"\")\n    let ddi = '55'\n    let ddd = number.substring(0, 2)\n\n    if (number.length == 13) {\n        let ddi = number.substring(0, 2)\n        let ddd = number.substring(2, 4)\n        return ddi + ddd + (ddd <= 28 ? number.substring(4, 13) : number.substring(5, 13))\n\n    } else if (number.length == 11) {\n        return ddi + ddd + (ddd <= 28 ? number.substring(2, 11) : number.substring(3, 11))\n\n    } else if (number.length == 10) {\n        return ddi + ddd + (ddd <= 28 ? '9' : '') + number.substring(2, 11)\n\n    } else if (number.length == 12) {\n        return number.substring(0, 2) == '55' ? number : (number.substring(0, 1) == '0' ? formataTelefone(number.substring(1, 12)) : number)\n\n    } else {\n        return number\n    }\n}\n\n$input.all()[0].json['Telefone'] = formataTelefone($node['Trata Webhook'].json['Telefone'])\n\nreturn $input.all();"
      },
      "id": "0c7e4123-4e0c-427a-b479-33b834512f12",
      "name": "Formata Telefone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1540,
        120
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $('Trata Webhook').item.json.etapa }}",
        "rules": {
          "rules": [
            {
              "value2": "=1"
            },
            {
              "value2": "2",
              "output": 1
            }
          ]
        }
      },
      "id": "d154654b-b8d2-4eb9-9abe-a031f5f1ede6",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1320,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.row_number }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "33b943b1-38ce-4c05-9d0f-852d6f14b3ad",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2000,
        120
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI",
          "mode": "list",
          "cachedResultName": "Controle de Automações | Sala Black",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1334154859,
          "mode": "list",
          "cachedResultName": "Ficha de Onboarding",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit#gid=1334154859"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "E-mail",
              "lookupValue": "={{ $('Trata Webhook').item.json['E-mail'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1e24db86-ad66-4452-8a46-3bb26d9d7c5b",
      "name": "Existe",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1780,
        120
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI",
          "mode": "list",
          "cachedResultName": "Controle de Automações | Sala Black",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1334154859,
          "mode": "list",
          "cachedResultName": "Ficha de Onboarding",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit#gid=1334154859"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data": "={{ $('Formata Data').item.json.formattedDate }}",
            "E-mail": "={{ $('Trata Webhook').item.json['E-mail'] }}",
            "Telefone": "={{ $('Trata Webhook').item.json.Telefone }}",
            "Email da plataforma": "={{ $('Trata Webhook').item.json['Email-Acesso'] }}",
            "Emails de acesso": "={{ $('Trata Webhook').item.json['Email-Acesso'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email da plataforma",
              "displayName": "Email da plataforma",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Emails de acesso",
              "displayName": "Emails de acesso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Grupo papo de dono",
              "displayName": "Grupo papo de dono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Grupo Mentoria",
              "displayName": "Grupo Mentoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "ae93fba9-8527-4cc4-8060-6688a4879710",
      "name": "Adiciona",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2240,
        60
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1b9ab2dd-3944-48f0-ae15-b66d26d41f4a",
      "name": "Data Atual",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        900,
        380
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy",
        "options": {}
      },
      "id": "5a5cf004-ba8d-45b4-bb58-483f8a0098b4",
      "name": "Formata Data",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1100,
        380
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI",
          "mode": "list",
          "cachedResultName": "Controle de Automações | Sala Black",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1334154859,
          "mode": "list",
          "cachedResultName": "Ficha de Onboarding",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit#gid=1334154859"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "E-mail": "={{ $('Trata Webhook').item.json['E-mail'] }}",
            "Emails de acesso": "={{ $('Existe').item.json['Emails de acesso'] + \", \" + $('Trata Webhook').item.json['Email-Extra'] }}"
          },
          "matchingColumns": [
            "E-mail"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email da plataforma",
              "displayName": "Email da plataforma",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Emails de acesso",
              "displayName": "Emails de acesso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Grupo papo de dono",
              "displayName": "Grupo papo de dono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Grupo Mentoria",
              "displayName": "Grupo Mentoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "6a56e9fd-e7f6-4a49-94eb-2fc127a6d8f7",
      "name": "Atualiza",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2240,
        260
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI",
          "mode": "list",
          "cachedResultName": "Controle de Automações | Sala Black",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1334154859,
          "mode": "list",
          "cachedResultName": "Ficha de Onboarding",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit#gid=1334154859"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "E-mail",
              "lookupValue": "={{ $('Trata Webhook').item.json['E-mail'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7982611f-a98f-4372-84c3-fcd493aad985",
      "name": "1º Laço?",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1760,
        540
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json['Grupo papo de dono'] }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "637c3c66-d5ef-4cb6-889d-a9f136165363",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1960,
        540
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI",
          "mode": "list",
          "cachedResultName": "Controle de Automações | Sala Black",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1334154859,
          "mode": "list",
          "cachedResultName": "Ficha de Onboarding",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit#gid=1334154859"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "E-mail": "={{ $('Trata Webhook').item.json['E-mail'] }}",
            "Emails de acesso": "=",
            "Grupo papo de dono": "={{ $('Trata Webhook').item.json['Nome-Responsável'] + \" - \" +  $('Trata Webhook').item.json['Número-Responsável']}} "
          },
          "matchingColumns": [
            "E-mail"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email da plataforma",
              "displayName": "Email da plataforma",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Emails de acesso",
              "displayName": "Emails de acesso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Grupo papo de dono",
              "displayName": "Grupo papo de dono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Grupo Mentoria",
              "displayName": "Grupo Mentoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "f23efe8f-d515-46cf-a94b-38db47d7958f",
      "name": "Adiciona papo de dono",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2240,
        460
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI",
          "mode": "list",
          "cachedResultName": "Controle de Automações | Sala Black",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1334154859,
          "mode": "list",
          "cachedResultName": "Ficha de Onboarding",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit#gid=1334154859"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "E-mail": "={{ $('Trata Webhook').item.json['E-mail'] }}",
            "Emails de acesso": "=",
            "Grupo papo de dono": "={{ $json['Grupo papo de dono'] + \" | \" + $('Trata Webhook').item.json['Nome-Responsável'] + \" - \" +  $('Trata Webhook').item.json['Número-Responsável']}}"
          },
          "matchingColumns": [
            "E-mail"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email da plataforma",
              "displayName": "Email da plataforma",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Emails de acesso",
              "displayName": "Emails de acesso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Grupo papo de dono",
              "displayName": "Grupo papo de dono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Grupo Mentoria",
              "displayName": "Grupo Mentoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "b61bb78b-1880-427f-ae5b-b225ac1a5b28",
      "name": "Atualiza papo de dono",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2240,
        660
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function formataTelefone(number) {\n    number = number.toString().replace(/[^\\d]/g, \"\")\n    let ddi = '55'\n    let ddd = number.substring(0, 2)\n\n    if (number.length == 13) {\n        let ddi = number.substring(0, 2)\n        let ddd = number.substring(2, 4)\n        return ddi + ddd + (ddd <= 28 ? number.substring(4, 13) : number.substring(5, 13))\n\n    } else if (number.length == 11) {\n        return ddi + ddd + (ddd <= 28 ? number.substring(2, 11) : number.substring(3, 11))\n\n    } else if (number.length == 10) {\n        return ddi + ddd + (ddd <= 28 ? '9' : '') + number.substring(2, 11)\n\n    } else if (number.length == 12) {\n        return number.substring(0, 2) == '55' ? number : (number.substring(0, 1) == '0' ? formataTelefone(number.substring(1, 12)) : number)\n\n    } else {\n        return number\n    }\n}\n\n$('Trata Webhook').all()[0].json['Número-Responsável'] = formataTelefone($('Trata Webhook').all()[0].json['Número-Responsável'])\n\nreturn $('Trata Webhook').all();"
      },
      "id": "a82b668c-d2b1-47b8-9d8a-fe3f7f92e3dd",
      "name": "Formata Telefone Responsavel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1540,
        540
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json['Grupo papo de dono'] }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "9527e7bc-ac64-48e7-bd4e-905fdd486dba",
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1960,
        1000
      ]
    },
    {
      "parameters": {
        "jsCode": "function formataTelefone(number) {\n    number = number.toString().replace(/[^\\d]/g, \"\")\n    let ddi = '55'\n    let ddd = number.substring(0, 2)\n\n    if (number.length == 13) {\n        let ddi = number.substring(0, 2)\n        let ddd = number.substring(2, 4)\n        return ddi + ddd + (ddd <= 28 ? number.substring(4, 13) : number.substring(5, 13))\n\n    } else if (number.length == 11) {\n        return ddi + ddd + (ddd <= 28 ? number.substring(2, 11) : number.substring(3, 11))\n\n    } else if (number.length == 10) {\n        return ddi + ddd + (ddd <= 28 ? '9' : '') + number.substring(2, 11)\n\n    } else if (number.length == 12) {\n        return number.substring(0, 2) == '55' ? number : (number.substring(0, 1) == '0' ? formataTelefone(number.substring(1, 12)) : number)\n\n    } else {\n        return number\n    }\n}\n\n$('Trata Webhook').all()[0].json['Número-Responsável'] = formataTelefone($('Trata Webhook').all()[0].json['Número-Responsável'])\n\nreturn $('Trata Webhook').all();"
      },
      "id": "532d7748-1965-460f-8067-b11ef3f332d1",
      "name": "Formata Telefone mentoria",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1540,
        1000
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI",
          "mode": "list",
          "cachedResultName": "Controle de Automações | Sala Black",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1334154859,
          "mode": "list",
          "cachedResultName": "Ficha de Onboarding",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit#gid=1334154859"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "E-mail",
              "lookupValue": "={{ $('Trata Webhook').item.json['E-mail'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "31a7d974-4367-4081-9eee-ae7792c0f5f3",
      "name": "1º Laço mentoria?",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1760,
        1000
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI",
          "mode": "list",
          "cachedResultName": "Controle de Automações | Sala Black",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1334154859,
          "mode": "list",
          "cachedResultName": "Ficha de Onboarding",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit#gid=1334154859"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "E-mail": "={{ $('Trata Webhook').item.json['E-mail'] }}",
            "Emails de acesso": "=",
            "Grupo papo de dono": "={{ $('Trata Webhook').item.json['Nome-Responsável'] + \" - \" +  $('Trata Webhook').item.json['Número-Responsável']}} "
          },
          "matchingColumns": [
            "E-mail"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email da plataforma",
              "displayName": "Email da plataforma",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Emails de acesso",
              "displayName": "Emails de acesso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Grupo papo de dono",
              "displayName": "Grupo papo de dono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Grupo Mentoria",
              "displayName": "Grupo Mentoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "bb51592d-6443-4265-9db1-91c64064332b",
      "name": "Adiciona mentoria",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2240,
        920
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI",
          "mode": "list",
          "cachedResultName": "Controle de Automações | Sala Black",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1334154859,
          "mode": "list",
          "cachedResultName": "Ficha de Onboarding",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit#gid=1334154859"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "E-mail": "={{ $('Trata Webhook').item.json['E-mail'] }}",
            "Emails de acesso": "=",
            "Grupo papo de dono": "={{ $json['Grupo papo de dono'] + \" | \" + $('Trata Webhook').item.json['Nome-Responsável'] + \" - \" +  $('Trata Webhook').item.json['Número-Responsável']}}"
          },
          "matchingColumns": [
            "E-mail"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email da plataforma",
              "displayName": "Email da plataforma",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Emails de acesso",
              "displayName": "Emails de acesso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Grupo papo de dono",
              "displayName": "Grupo papo de dono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Grupo Mentoria",
              "displayName": "Grupo Mentoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "10a5ce15-1a59-49c4-8a18-d16353d45cf5",
      "name": "Atualiza mentoria",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2240,
        1120
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.marcosfoks.com.br",
            "user-agent": "got (https://github.com/sindresorhus/got)",
            "content-length": "397",
            "accept-encoding": "gzip",
            "baggage": "sentry-environment=vercel-production,sentry-release=275ba1b1c40f4e79d42de7915e02fbe5ed1955b5-viewer,sentry-public_key=94aaae78880c4b659d57b76b5aa2e3f5,sentry-trace_id=e34b2d4a418246f2bc13055e96bad29e",
            "cdn-loop": "cloudflare",
            "cf-connecting-ip": "18.130.223.204",
            "cf-ipcountry": "GB",
            "cf-ray": "85d359bf1a2d23c6-LHR",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "sentry-trace": "e34b2d4a418246f2bc13055e96bad29e-bebd8ec00c20dcbd-0",
            "x-forwarded-for": "172.71.242.194",
            "x-forwarded-host": "n8n.marcosfoks.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "af9052d35998",
            "x-real-ip": "172.71.242.194",
            "x-vercel-id": "gru1::jksdr-1709235327672-5a8517f3cd4d"
          },
          "params": {},
          "query": {},
          "body": {
            "message": "This is a sample result, it has been generated ⬇️",
            "submittedAt": "2024-02-29T19:35:27.818Z",
            "E-mail": "test@email.com",
            "Telefone": "+33665566773",
            "Email-Acesso": "test@email.com",
            "Email-Extra": "test@email.com",
            "Loop E-mails": "Sim",
            "Nome-Responsável": "Tran",
            "Número-Responsável": "81992602244",
            "nome-mentoria": "content",
            "numero-mentoria": "content",
            "count": "content",
            "etapa": "2"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-02-29T20:09:38.000Z",
  "versionId": "2d1842c8-012d-43c1-a632-efb7b9740cef"
}