workflows/[JESS] Monitora Respostas.json
{
  "active": true,
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "Filter2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter2": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-04-24T18:49:26.509Z",
  "id": "0pNC4CLfIhKV1a1D",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[JESS] Monitora Respostas",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "314c998f-b757-4aa6-b41a-6e6787e21ad8",
        "options": {}
      },
      "id": "6db08263-380f-486e-befe-4fe612d81bb7",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        420,
        360
      ],
      "webhookId": "314c998f-b757-4aa6-b41a-6e6787e21ad8"
    },
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]\n"
      },
      "id": "78aa082e-768b-4cd3-826c-4b97732df42b",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json['respondeu recuperação?'] }}",
              "operation": "notEqual",
              "value2": "sim"
            },
            {
              "value1": "={{ $json.email }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "c3c0c3fb-c622-4155-aa7c-21e26d5a5751",
      "name": "Filter1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        1360,
        360
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "chave",
              "value": "={{ $json.phone.slice(-7) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ed9a0f6c-95cb-4f2c-a9aa-197577604459",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1000,
        360
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4",
          "mode": "list",
          "cachedResultName": "[JESS] [L1] - Planilha Central",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2125210274,
          "mode": "list",
          "cachedResultName": "Initiate Checkout - BrithStart",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit#gid=2125210274"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "chave",
              "lookupValue": "={{ $json.chave }}"
            }
          ]
        },
        "options": {}
      },
      "id": "65091954-2e6e-4c97-8cab-d17b15f32244",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1180,
        360
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0067f4f0-31af-4afd-8993-f99173ae5489",
              "leftValue": "={{ $json.isGroup }}",
              "rightValue": "=",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b8711505-bacf-4da3-a784-bf78baa054b2",
      "name": "Filter2",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        800,
        360
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4",
          "mode": "list",
          "cachedResultName": "[JESS] [L1] - Planilha Central",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2125210274,
          "mode": "list",
          "cachedResultName": "Initiate Checkout - BrithStart",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit#gid=2125210274"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "respondeu recuperação?": "sim"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chave",
              "displayName": "chave",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "página",
              "displayName": "página",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "respondeu recuperação?",
              "displayName": "respondeu recuperação?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "última recuperação enviada",
              "displayName": "última recuperação enviada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "comprou?",
              "displayName": "comprou?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "fa7858d2-7c4a-4e8c-ad2b-a3eb193edbf2",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        1580,
        360
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "dbb3bf9c-341c-4b1c-8d90-bc6ec28ec70c",
              "leftValue": "={{ $('Google Sheets1').item.json['última recuperação enviada'] }}",
              "rightValue": "=c1",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4a22388a-90b2-4ad0-ab1f-1066fd5599a5",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1800,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C92A5E4516CC0A421E9D604DAF2BCF1/token/DAEE58152CBC84AAAF621399/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fa17da691aa134d98a36ad45928e14669S"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Google Sheets1').item.json.telefone }}"
            },
            {
              "name": "message",
              "value": "={{ $('Google Sheets1').item.json.nome.split(\" \")[0] }}, tudo bom? \n\nTe enviei uma mensagem porque vi que você está buscando sair do zero no inglês com o BritStart.\n\nDeixa eu te perguntar, qual é sua maior dificuldade no inglês?"
            }
          ]
        },
        "options": {}
      },
      "id": "5aaa8b76-aee1-4f29-9382-6f99f529bc6d",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2200,
        340
      ]
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "id": "ed768ef3-0ce2-466d-b2a9-86ac4c10914b",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2020,
        340
      ],
      "webhookId": "06695603-e12a-4f9c-825d-7695348c34ec"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.marcosfoks.com.br",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 13_2_1) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/16.4 Safari/605.1.15",
            "content-length": "770",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare",
            "cf-connecting-ip": "159.112.183.50",
            "cf-ipcountry": "BR",
            "cf-ray": "879b2274faef6279-GRU",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "origin": "https://api.z-api.io",
            "server": "Z-API",
            "x-forwarded-for": "172.69.11.242",
            "x-forwarded-host": "n8n.marcosfoks.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "bc917484dc53",
            "x-real-ip": "172.69.11.242",
            "z-api-token": "DAEE58152CBC84AAAF621399"
          },
          "params": {},
          "query": {},
          "body": {
            "isStatusReply": false,
            "chatLid": "252651501547525@lid",
            "connectedPhone": "551151942789",
            "waitingMessage": false,
            "isEdit": false,
            "isGroup": false,
            "isNewsletter": false,
            "instanceId": "3C92A5E4516CC0A421E9D604DAF2BCF1",
            "messageId": "8CB754D9507CC6D12F",
            "phone": "558193515055",
            "fromMe": false,
            "momment": 1714014569603,
            "status": "RECEIVED",
            "chatName": "Matheus Cristhyan",
            "senderPhoto": null,
            "senderName": "Matheus Cristhyan",
            "photo": "https://pps.whatsapp.net/v/t61.24694-24/352424593_1042680903807710_3049187873784823907_n.jpg?ccb=11-4&oh=01_Q5AaICY9hrnOHoO7kXN0dgo1pTOA6jU2mZBU8lKfU_eTOBe8&oe=6636DD45&_nc_sid=e6ed6c&_nc_cat=102",
            "broadcast": false,
            "participantLid": null,
            "messageExpirationSeconds": 0,
            "forwarded": false,
            "type": "ReceivedCallback",
            "fromApi": false,
            "text": {
              "message": "teste"
            }
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-04-25T03:56:01.000Z",
  "versionId": "07efe6bd-85da-4d59-9eed-2388c224dbab"
}