workflows/[JESS] [L1] Controle de Vendas.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Data Atual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evento": {
      "main": [
        [
          {
            "node": "Order Bump?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Atual": {
      "main": [
        [
          {
            "node": "Formata Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Data": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Order Bump?": {
      "main": [
        [
          {
            "node": "TRUE- Add Planilha",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FALSE - Add Planilha": {
      "main": [
        [
          {
            "node": "Busca UTM's",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TRUE- Add Planilha": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca UTM's 2": {
      "main": [
        [
          {
            "node": "Filtra se Existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca UTM's": {
      "main": [
        [
          {
            "node": "Filtra se Existe1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtra se Existe": {
      "main": [
        [
          {
            "node": "Atualiza Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtra se Existe1": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Dados | Vendas": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Busca UTM's 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "FALSE - Add Planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Atualiza Dados | Vendas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Atualiza Dados | Recuperação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-30T03:05:49.794Z",
  "id": "wRgRVXGHo2zEqrM2",
  "meta": null,
  "name": "[JESS] [L1] Controle de Vendas",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e9f7c6f9-878b-4ea4-9918-5d7a361be186",
        "options": {}
      },
      "id": "b239be01-ab21-4397-bc92-6225e96c6d4e",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -560,
        380
      ],
      "webhookId": "e9f7c6f9-878b-4ea4-9918-5d7a361be186"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $('Code1').item.json.event }}",
        "rules": {
          "rules": [
            {
              "value2": "PURCHASE_APPROVED"
            },
            {
              "value2": "PURCHASE_BILLET_PRINTED",
              "output": 1
            },
            {
              "value2": "PURCHASE_OUT_OF_SHOPPING_CART",
              "output": 2
            }
          ]
        }
      },
      "id": "23970042-7f73-480f-8807-613bae1eecec",
      "name": "Evento",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        500,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]\n"
      },
      "id": "923b3155-5fa3-4091-987c-fb090d4469eb",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -340,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $('Code1').item.json.data.purchase.order_bump.is_order_bump }}",
              "value2": true
            }
          ]
        }
      },
      "id": "4c06b3f4-5e41-4800-b764-24ac46e431f7",
      "name": "Order Bump?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        860,
        20
      ]
    },
    {
      "parameters": {
        "content": "## Compra Aprovada",
        "height": 88,
        "width": 150
      },
      "id": "6e80d849-1594-435b-a357-fe8e219fa671",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        120
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6678b02c-26af-449e-bdc8-3c80cdea9bb4",
      "name": "Data Atual",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -140,
        380
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy",
        "options": {}
      },
      "id": "09aa062c-5dd2-44af-b525-78b6691dc213",
      "name": "Formata Data",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        60,
        380
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4",
          "mode": "list",
          "cachedResultName": "[JESS] [L1] - Planilha Central",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 91218315,
          "mode": "list",
          "cachedResultName": "Vendas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit#gid=91218315"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data ": "={{ $('Formata Data').item.json.formattedDate }}",
            "Nome": "={{ $('Code1').item.json.data.buyer.name }}",
            "Email": "={{ $('Code1').item.json.data.buyer.email }}",
            "Telefone": "={{ $('Code1').item.json.data.buyer.address.country == Brasil ? 55+$('Code1').item.json.data.buyer.checkout_phone : $('Code1').item.json.data.buyer.checkout_phone }}",
            "Produto": "={{ $('Code1').item.json.data.product.name }}",
            "Oferta": "={{ $('Code1').item.json.data.purchase.original_offer_price.value }}",
            "Order Bumb?": "==SEERRO(PROCV(C{{  $json[\"row_number\"] + 1}};'Vendas - Order Bump'!C:E;3;0);\"\")"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data ",
              "displayName": "Data ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Produto",
              "displayName": "Produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Oferta",
              "displayName": "Oferta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order Bumb?",
              "displayName": "Order Bumb?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "página",
              "displayName": "página",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "link whatsapp",
              "displayName": "link whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "5e035a35-6759-451c-b408-acf15eb1ef2b",
      "name": "FALSE - Add Planilha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1800,
        120
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4",
          "mode": "list",
          "cachedResultName": "[JESS] [L1] - Planilha Central",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1404754991,
          "mode": "list",
          "cachedResultName": "Initiate Checkout - Britshize",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit#gid=1404754991"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $('Code1').item.json.data.buyer.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "182212b7-b01b-47af-ba42-ac2e40d41da2",
      "name": "Busca UTM's",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2020,
        120
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4",
          "mode": "list",
          "cachedResultName": "[JESS] [L1] - Planilha Central",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 812384582,
          "mode": "list",
          "cachedResultName": "Vendas - Order Bump",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit#gid=812384582"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data ": "={{ $('Formata Data').item.json.formattedDate }}",
            "Nome": "={{ $('Code1').item.json.data.buyer.name }}",
            "Email": "={{ $('Code1').item.json.data.buyer.email }}",
            "Telefone": "={{ $('Code1').item.json.data.buyer.address.country == Brasil ? 55 + $('Code1').item.json.data.buyer.checkout_phone : $('Code1').item.json.data.buyer.checkout_phone }}",
            "Produto": "={{ $('Code1').item.json.data.product.name }}",
            "Oferta": "={{ $('Code1').item.json.data.purchase.original_offer_price.value }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data ",
              "displayName": "Data ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Produto",
              "displayName": "Produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Oferta",
              "displayName": "Oferta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "página",
              "displayName": "página",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "link whatsapp",
              "displayName": "link whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "89b98240-1e6a-4c41-92f6-b679a1eb6d53",
      "name": "TRUE- Add Planilha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1120,
        -160
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4",
          "mode": "list",
          "cachedResultName": "[JESS] [L1] - Planilha Central",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1404754991,
          "mode": "list",
          "cachedResultName": "Initiate Checkout - Britshize",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit#gid=1404754991"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $('Code1').item.json.data.buyer.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "becba968-a185-4e52-8132-d908660e94bd",
      "name": "Busca UTM's 2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1580,
        -160
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.last()"
      },
      "id": "47022a2e-aac7-403a-ba59-15c0c5c5a532",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        120
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4",
          "mode": "list",
          "cachedResultName": "[JESS] [L1] - Planilha Central",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 91218315,
          "mode": "list",
          "cachedResultName": "Vendas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit#gid=91218315"
        },
        "options": {
          "returnAllMatches": "returnAllMatches"
        }
      },
      "id": "0c60a50b-b5e0-475f-831e-acc1772da859",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1120,
        120
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.row_number }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "48ea37cb-75b2-44ca-b287-a12ae00100a1",
      "name": "Filtra se Existe",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        1800,
        -160
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4",
          "mode": "list",
          "cachedResultName": "[JESS] [L1] - Planilha Central",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 812384582,
          "mode": "list",
          "cachedResultName": "Vendas - Order Bump",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit#gid=812384582"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.Email }}",
            "utm_source": "={{ $json.utm_source }}",
            "utm_campaign": "={{ $json.utm_campaign }}",
            "utm_medium": "={{ $json.utm_medium }}",
            "utm_term": "={{ $json.utm_term }}",
            "utm_content": "={{ $json.utm_content }}",
            "página": "={{ $json[\"página\"] }}",
            "link whatsapp": "={{ $json[\"link whatsapp\"] }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Data ",
              "displayName": "Data ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Produto",
              "displayName": "Produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Oferta",
              "displayName": "Oferta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "página",
              "displayName": "página",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "link whatsapp",
              "displayName": "link whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "1f2810d1-6d33-4393-b4a4-8242696d63be",
      "name": "Atualiza Dados",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2020,
        -160
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.row_number }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "647a71ba-b7ad-4c80-a689-a2e45b43ff39",
      "name": "Filtra se Existe1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        2240,
        120
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4",
          "mode": "list",
          "cachedResultName": "[JESS] [L1] - Planilha Central",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 91218315,
          "mode": "list",
          "cachedResultName": "Vendas - Britshize",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit#gid=91218315"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.Email }}",
            "utm_source": "={{ $json.utm_source }}",
            "utm_campaign": "={{ $json.utm_campaign }}",
            "utm_medium": "={{ $json.utm_medium }}",
            "utm_term": "={{ $json.utm_term }}",
            "utm_content": "={{ $json.utm_content }}",
            "página": "={{ $json[\"página\"] }}",
            "link whatsapp": "={{ $json[\"link whatsapp\"] }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Data ",
              "displayName": "Data ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Produto",
              "displayName": "Produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Oferta",
              "displayName": "Oferta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "página",
              "displayName": "página",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "link whatsapp",
              "displayName": "link whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "467b1f87-5a37-4525-bbc5-7b0784cf453c",
      "name": "Atualiza Dados | Vendas",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2640,
        120
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4",
          "mode": "list",
          "cachedResultName": "[JESS] [L1] - Planilha Central",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1404754991,
          "mode": "list",
          "cachedResultName": "Initiate Checkout - Britshize",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit#gid=1404754991"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.Email }}",
            "comprou?": "=sim"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Data ",
              "displayName": "Data ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "página",
              "displayName": "página",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "link whatsapp",
              "displayName": "link whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "comprou?",
              "displayName": "comprou?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "5ada8338-fbe3-4490-8ab9-1605acacc263",
      "name": "Atualiza Dados | Recuperação",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        3080,
        120
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "9298580c-7518-4871-9441-322df6552c9d",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1340,
        -160
      ],
      "webhookId": "9dd72e2a-e68c-4859-a821-1202ece4b242"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "1c266256-60e9-478a-91d5-dbbd9fbae5ae",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1600,
        120
      ],
      "webhookId": "078d7135-20c7-4049-a9c4-c7c3593a7e81"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "3860eaaa-ee4f-456b-8c55-26da94b3543d",
      "name": "Wait2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2440,
        120
      ],
      "webhookId": "58536eb5-9e48-42f0-ac85-b5e6e656cb7b"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "e80fa68f-7b28-47b6-98c4-304da6077d49",
      "name": "Wait3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2860,
        120
      ],
      "webhookId": "2deb22d5-2238-4f6e-b5c0-93efdbe2cd81"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "8aad8b1c-c37c-4678-8a6d-e690828e8ea7",
      "name": "Wait4",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        280,
        380
      ],
      "webhookId": "ee47ad00-a650-424b-bdd3-5f7ec7e9a2d4"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.marcosfoks.com.br",
            "user-agent": "Jodd HTTP",
            "content-length": "1257",
            "accept-encoding": "gzip",
            "cdn-loop": "cloudflare",
            "cf-connecting-ip": "3.236.213.82",
            "cf-ipcountry": "US",
            "cf-ray": "84e2e600b9e9823c-IAD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "x-forwarded-for": "172.70.174.68",
            "x-forwarded-host": "n8n.marcosfoks.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "af9052d35998",
            "x-hotmart-hottok": "sK7oPf5asJ48ysoU0O0s0Gk7oRFQCT43202e8b-db0b-4375-a04d-ea4c14a17d5f",
            "x-real-ip": "172.70.174.68"
          },
          "params": {},
          "query": {},
          "body": {
            "data": {
              "product": {
                "has_co_production": true,
                "name": "Britishize",
                "id": 3609986,
                "ucode": "2a4d2a58-0eac-421d-91e4-3341983c67fc"
              },
              "commissions": [
                {
                  "currency_value": "BRL",
                  "source": "MARKETPLACE",
                  "value": 248.2
                },
                {
                  "currency_value": "BRL",
                  "source": "PRODUCER",
                  "value": 1460.43
                }
              ],
              "purchase": {
                "original_offer_price": {
                  "currency_value": "BRL",
                  "value": 2497
                },
                "subscription_anticipation_purchase": false,
                "checkout_country": {
                  "iso": "BR",
                  "name": "Brasil"
                },
                "order_bump": {
                  "is_order_bump": false
                },
                "approved_date": 1706713998000,
                "offer": {
                  "code": "8w8cy0nm"
                },
                "order_date": 1706713996000,
                "price": {
                  "currency_value": "BRL",
                  "value": 2497
                },
                "payment": {
                  "installments_number": 12,
                  "type": "CREDIT_CARD"
                },
                "full_price": {
                  "currency_value": "BRL",
                  "value": 2990.52
                },
                "invoice_by": "HOTMART",
                "transaction": "HP0666185393",
                "status": "APPROVED"
              },
              "affiliates": [
                {
                  "affiliate_code": "",
                  "name": ""
                }
              ],
              "producer": {
                "name": "JESSICA RIBEIRO PARISH 38581727824"
              },
              "buyer": {
                "address": {
                  "zipcode": "30140-111",
                  "country": "Brasil",
                  "address": "Rua Ministro Orozimbo Nonato",
                  "city": "Nova Lima"
                },
                "document": "27795349668",
                "name": "Suzana Lúcia Andrés Caram ",
                "checkout_phone": "31998262223",
                "email": "suzanandres@icloud.com"
              }
            },
            "id": "920911c1-bec0-4d0e-bcd2-1c48f9c26e99",
            "creation_date": 1706714003029,
            "event": "PURCHASE_APPROVED",
            "version": "2.0.0"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Calendly Trigger": {
      "webhookURI": "https://api.calendly.com/webhook_subscriptions/4c72e65a-dbe1-4631-a9ec-9cce6fa49627"
    }
  },
  "tags": [
    {
      "createdAt": "2024-01-07T16:35:41.227Z",
      "updatedAt": "2024-01-07T16:35:41.227Z",
      "id": "lnBfoQAPlkm8ew3T",
      "name": "Jess"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-03-26T18:48:06.000Z",
  "versionId": "2c647b8c-3a49-4dd6-b314-8dd7b97eebd5"
}