workflows/[JESS] L1 - Resolver pika de automação.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Entrou": {
      "main": [
        [
          {
            "node": "Adiciona Participantes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saiu": {
      "main": [
        [
          {
            "node": "Adiciona Participantes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adicionar 1 na Contagem": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subtrair 1 na Contagem": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read + ID": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read - ID": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Adicionar 1 na Contagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Atualiza Captação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Read + ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Captação": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona Participantes": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Subtrair 1 na Contagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Atualiza Captação1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Captação1": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "Read - ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona Participantes1": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "Wait7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read + ID1": {
      "main": [
        [
          {
            "node": "Wait8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adicionar 1 na Contagem1": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait7": {
      "main": [
        [
          {
            "node": "Read + ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait8": {
      "main": [
        [
          {
            "node": "Adicionar 1 na Contagem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-21T00:42:48.822Z",
  "id": "W8GHRF5bsNJntgIA",
  "meta": null,
  "name": "[JESS] L1 - Resolver pika de automação",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression"
            }
          ]
        }
      },
      "id": "9b1bfb6d-81ba-4729-b0e9-9585377eea9d",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1000,
        280
      ]
    },
    {
      "parameters": {
        "url": "https://api.z-api.io/instances/3C92A60A521FA0F0D44CD604DAF2BCF1/token/1E6E6072CD8B04C734F62016/group-metadata/120363219706934514-group",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fa17da691aa134d98a36ad45928e14669S"
            }
          ]
        },
        "options": {}
      },
      "id": "82479508-e285-45fa-bd06-ea66844c5499",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -700,
        260
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Data Entrada",
              "value": "={{ $json[\"data\"] }}"
            },
            {
              "name": "Telefone",
              "value": "="
            },
            {
              "name": "Group_ID",
              "value": "=120363219706934514-group"
            },
            {
              "name": "Grupo",
              "value": "=The Britenglish #08"
            },
            {
              "name": "No Grupo?",
              "value": "Entrou"
            }
          ]
        },
        "options": {}
      },
      "id": "b294d5a4-3170-4903-8d1d-db0f79979187",
      "name": "Entrou",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1420,
        160
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Data Saida",
              "value": "={{ $json[\"data\"] }}"
            },
            {
              "name": "Telefone",
              "value": "={{ $node[\"Trata webhook\"].json[\"notificationParameters\"][\"0\"] }}"
            },
            {
              "name": "Group_ID",
              "value": "={{ $node[\"Trata webhook\"].json[\"phone\"] }}"
            },
            {
              "name": "Grupo",
              "value": "={{ $node[\"Trata webhook\"].json[\"chatName\"] }}"
            },
            {
              "name": "No Grupo?",
              "value": "Saiu"
            }
          ]
        },
        "options": {}
      },
      "id": "e91c0c95-a7c2-4d13-8182-b2f0cf22d78a",
      "name": "Saiu",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1420,
        360
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit#gid=1771462503",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 61832675,
          "mode": "list",
          "cachedResultName": "Comunidades",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit#gid=61832675"
        },
        "columnToMatchOn": "Phone",
        "valueToMatchOn": "={{ $('Trata webhook').item.json.phone }}",
        "fieldsUi": {
          "values": [
            {
              "column": "Participantes",
              "fieldValue": "={{ parseInt($node[\"Read + ID\"].json[\"Participantes\"] == '' ? 0 : $node[\"Read + ID\"].json[\"Participantes\"]) + 1 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c5fbc65e-1847-4ed3-a468-2eb9b8e7ecc9",
      "name": "Adicionar 1 na Contagem",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        2520,
        160
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit#gid=61832675",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 61832675,
          "mode": "list",
          "cachedResultName": "Comunidades",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Fi8TTkG5EJU7klpCs507VgaS1Ub3AZAaAJ7q8PWBmkw/edit#gid=61832675"
        },
        "columnToMatchOn": "Phone",
        "valueToMatchOn": "={{ $node[\"Trata webhook\"].json[\"phone\"] }}",
        "fieldsUi": {
          "values": [
            {
              "column": "Participantes",
              "fieldValue": "={{ parseInt($node[\"Read - ID\"].json[\"Participantes\"] == '' ? 0 : $node[\"Read - ID\"].json[\"Participantes\"]) - 1 }}"
            },
            {
              "column": "Saidas",
              "fieldValue": "={{ parseInt($node[\"Read - ID\"].json[\"Saidas\"] == '' ? 0 : $node[\"Read - ID\"].json[\"Saidas\"]) + 1 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "11162a16-4cdd-4951-8fec-2f2e36fc70ae",
      "name": "Subtrair 1 na Contagem",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        2520,
        360
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 61832675,
          "mode": "list",
          "cachedResultName": "Comunidades",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit#gid=61832675"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Phone",
              "lookupValue": "={{ $('Trata webhook').item.json.phone }}"
            }
          ]
        },
        "options": {}
      },
      "id": "249d9588-8814-4b2c-a8bd-7aa98136a1a9",
      "name": "Read + ID",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        2080,
        160
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 61832675,
          "mode": "list",
          "cachedResultName": "Comunidades",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit#gid=61832675"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Phone",
              "lookupValue": "={{ $node[\"Trata webhook\"].json[\"phone\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "93e1fcc6-2b29-4eb7-b2e3-5e58f60841d4",
      "name": "Read - ID",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        2080,
        360
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "134d61b7-a229-48d0-895d-f9c901e5e865",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2300,
        160
      ],
      "webhookId": "257d593f-989c-42d6-8136-79a1952b8d92"
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "03ec74a3-de4c-4733-b2e3-1994e196720d",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2720,
        160
      ],
      "webhookId": "92561da4-2498-450a-9866-0a0d1a8f1674"
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "03c30a04-ffbe-4d70-837b-9b6c58128d47",
      "name": "Wait2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1860,
        160
      ],
      "webhookId": "9aa7df7f-e87b-4abb-bf96-9c09213b991f"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit#gid=1771462503",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "[AUTO] Inscritos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Telefone": "={{ $('Entrou').item.json.Telefone }}",
            "Entrou no Grupo?": "Sim"
          },
          "matchingColumns": [
            "Telefone"
          ],
          "schema": [
            {
              "id": "Data de Inscrição",
              "displayName": "Data de Inscrição",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chave(busca)",
              "displayName": "Chave(busca)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Página de Captura",
              "displayName": "Página de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Entrou no Grupo?",
              "displayName": "Entrou no Grupo?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "09074c14-1e0c-4366-b377-b8f17087c78f",
      "name": "Atualiza Captação",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2920,
        160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1771462503,
          "mode": "list",
          "cachedResultName": "Participantes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit#gid=1771462503"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "Data": "={{ $json[\"Data Entrada\"] }}",
            "Telefone": "={{ $json.Telefone }}",
            "Group_ID": "={{ $json.Group_ID }}",
            "Grupo": "={{ $json.Grupo }}",
            "No Grupo?": "={{ $json[\"No Grupo?\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Group_ID",
              "displayName": "Group_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Grupo",
              "displayName": "Grupo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "No Grupo?",
              "displayName": "No Grupo?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "e47ca195-e12e-4767-903a-9b1e22e45e9e",
      "name": "Adiciona Participantes",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1640,
        160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "d3a22fae-d63c-47ec-9818-fea46c3e700e",
      "name": "Wait3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2300,
        360
      ],
      "webhookId": "1a29f425-6e7d-429b-8cf5-7865383fe2ca"
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "cec41223-b127-43c1-b61e-10d58255b04e",
      "name": "Wait4",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2720,
        360
      ],
      "webhookId": "88c833b5-7e45-430c-9a9e-ac7ff4e32c7c"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit#gid=61832675",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "[AUTO] Inscritos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Telefone": "={{ $node[\"Trata webhook\"].json[\"notificationParameters\"][\"0\"] }}",
            "Entrou no Grupo?": "Saiu"
          },
          "matchingColumns": [
            "Telefone"
          ],
          "schema": [
            {
              "id": "Data de Inscrição",
              "displayName": "Data de Inscrição",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chave(busca)",
              "displayName": "Chave(busca)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Página de Captura",
              "displayName": "Página de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Entrou no Grupo?",
              "displayName": "Entrou no Grupo?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "d91006c8-d76f-4d0f-a248-f655cae3a474",
      "name": "Atualiza Captação1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2920,
        360
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "9df192a9-e513-4286-9213-19ad412ec54d",
      "name": "Wait5",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1860,
        360
      ],
      "webhookId": "999bdcf7-d586-40b5-99d6-e0a8c4ed5f1c"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1771462503,
          "mode": "list",
          "cachedResultName": "Participantes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit#gid=1771462503"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "Telefone"
          ],
          "schema": [
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data Entrada",
              "displayName": "Data Entrada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Group_ID",
              "displayName": "Group_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Grupo",
              "displayName": "Grupo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "No Grupo?",
              "displayName": "No Grupo?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data Saida",
              "displayName": "Data Saida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "072355fa-cd3f-4977-8163-8a91666a0e09",
      "name": "Adiciona Participantes1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1640,
        360
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sendpulse.com/addressbooks/501823/emails/variable ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            },
            {
              "name": "token_type",
              "value": "Bearer"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"email\":\"{{ $('Google Sheets').item.json.Email }}\",\n   \"variables\":[\n      {\n         \"name\":\"grupo\",\n         \"value\":\"sim\"\n      }\n   ]\n} ",
        "options": {}
      },
      "id": "2bce24ad-88f2-4e4f-87a4-62c023280441",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3520,
        160
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4",
          "mode": "list",
          "cachedResultName": "[JESS] [L1] - Planilha Central",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "[AUTO] Inscritos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Telefone",
              "lookupValue": "={{ $json.Telefone }}"
            }
          ]
        },
        "options": {}
      },
      "id": "537c5601-5c67-4637-a514-1097fe2e11b2",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        3120,
        160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4",
          "mode": "list",
          "cachedResultName": "[JESS] [L1] - Planilha Central",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "[AUTO] Inscritos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Telefone",
              "lookupValue": "={{ $json.Telefone }}"
            }
          ]
        },
        "options": {}
      },
      "id": "870005ab-75fb-4de9-b238-d2089106cdfa",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        3120,
        360
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sendpulse.com/oauth/access_token",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={    \"grant_type\":\"client_credentials\",    \"client_id\":\"3ff5527b0f45a4d1c46ccace02f53347\",    \"client_secret\":\"1ca1c037309edf7fd9d12d1d8e343da5\" }",
        "options": {}
      },
      "id": "a34b7a6e-af9e-44d1-8e36-e31a51356a13",
      "name": "HTTP Request4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3320,
        160
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "participants",
        "options": {}
      },
      "id": "91a890af-ff77-464a-8ef0-69bb5fa36ab7",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -520,
        260
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "82b28a0e-f0d1-4fd9-bcc7-706c82a8d750",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        -80,
        260
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4",
          "mode": "list",
          "cachedResultName": "[JESS] [L1] - Planilha Central",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "[AUTO] Inscritos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Telefone",
              "lookupValue": "={{ $json.phone }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8704923a-0ad8-4f90-8701-b77a4a707a52",
      "name": "Google Sheets2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        140,
        220
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function formataTelefone(number) {\n    let ddi = '55';\n\n    // Verifica se o número é indefinido ou nulo\n    if (number === undefined || number === null) {\n        return ''; // Ou qualquer valor padrão desejado\n    }\n\n    number = number.toString().replace(/[^\\d]/g, \"\");\n\n    let ddd = number.substring(0, 2);\n\n    if (number.length == 13) {\n        ddi = number.substring(0, 2);\n        ddd = number.substring(2, 4);\n        return ddi + ddd + (ddd <= 28 ? number.substring(4, 13) : number.substring(5, 13));\n\n    } else if (number.length == 11) {\n        return ddi + ddd + (ddd <= 28 ? number.substring(2, 11) : number.substring(3, 11));\n\n    } else if (number.length == 10) {\n        return ddi + ddd + (ddd <= 28 ? '9' : '') + number.substring(2, 11);\n\n    } else if (number.length == 12) {\n        return number.substring(0, 2) === '55' ? number : (number.substring(0, 1) === '0' ? formataTelefone(number.substring(1, 12)) : number);\n\n    } else {\n        return number;\n    }\n}\n\n// Verifica se 'Digite seu telefone' está definido antes de chamar a função\nconst telefone = $input.all()[0].json['phone'];\n\n$input.all()[0].json['phone'] = formataTelefone(telefone);\n\nreturn $input.all();\n"
      },
      "id": "13b1549d-0b1e-4770-877d-cf005436b91b",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        580
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.row_number }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "058da571-f1e7-41ce-a66b-a5a5fe639152",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        360,
        220
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.row_number }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "ffceb8c3-40cd-4913-9d95-69b7846848dc",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        560,
        220
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4",
          "mode": "list",
          "cachedResultName": "[JESS] [L1] - Planilha Central",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "[AUTO] Inscritos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Telefone": "={{ $json.Telefone }}",
            "Entrou no Grupo?": "Sim"
          },
          "matchingColumns": [
            "Telefone"
          ],
          "schema": [
            {
              "id": "Data de Inscrição",
              "displayName": "Data de Inscrição",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chave(busca)",
              "displayName": "Chave(busca)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Página de Captura",
              "displayName": "Página de Captura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Entrou no Grupo?",
              "displayName": "Entrou no Grupo?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Idade",
              "displayName": "Idade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Renda mensal",
              "displayName": "Renda mensal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Primeira Pergunta",
              "displayName": "Primeira Pergunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nível de inglês",
              "displayName": "Nível de inglês",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Desejo",
              "displayName": "Desejo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Desafio",
              "displayName": "Desafio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ponto Fraco",
              "displayName": "Ponto Fraco",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Motivação",
              "displayName": "Motivação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sugestão pra Aula",
              "displayName": "Sugestão pra Aula",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Onde conheceu",
              "displayName": "Onde conheceu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quanto tempo conhece",
              "displayName": "Quanto tempo conhece",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chip",
              "displayName": "Chip",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fonte (adsfb)",
              "displayName": "Fonte (adsfb)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fonte (instagram)",
              "displayName": "Fonte (instagram)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fonte (tiktok)",
              "displayName": "Fonte (tiktok)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "c5fe8e83-d74a-476d-acbe-e86d65315c4b",
      "name": "Google Sheets3",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        780,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit#gid=1771462503",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 61832675,
          "mode": "list",
          "cachedResultName": "Comunidades",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit#gid=61832675"
        },
        "columnToMatchOn": "Phone",
        "valueToMatchOn": "=120363219706934514-group",
        "fieldsUi": {
          "values": [
            {
              "column": "Participantes",
              "fieldValue": "={{ parseInt($node[\"Read + ID1\"].json[\"Participantes\"] == '' ? 0 : $node[\"Read + ID1\"].json[\"Participantes\"]) + 1 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "942239f3-4afa-4f26-b530-7968c744d036",
      "name": "Adicionar 1 na Contagem1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        1180,
        180
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 61832675,
          "mode": "list",
          "cachedResultName": "Comunidades",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit#gid=61832675"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Phone",
              "lookupValue": "=120363219706934514-group"
            }
          ]
        },
        "options": {}
      },
      "id": "64a8cf4d-b4a6-4db7-80ed-da214c509858",
      "name": "Read + ID1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        1000,
        20
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "amount": 4,
        "unit": "seconds"
      },
      "id": "976077b0-ebdd-4624-9bb2-0030931cacfc",
      "name": "Wait6",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        680,
        80
      ],
      "webhookId": "22b5c97a-f802-4eb0-a2cf-9042e0191f2f"
    },
    {
      "parameters": {
        "amount": 4,
        "unit": "seconds"
      },
      "id": "39c06453-ff91-4c98-927d-82cad2608b03",
      "name": "Wait7",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        860,
        -160
      ],
      "webhookId": "0738d542-3728-4bb3-8d00-215cfa945752"
    },
    {
      "parameters": {
        "amount": 4,
        "unit": "seconds"
      },
      "id": "56da5e37-149c-48d0-9075-6f320051cd7e",
      "name": "Wait8",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1180,
        20
      ],
      "webhookId": "d30543fc-8ad9-4596-a72d-8e764322a91a"
    },
    {
      "parameters": {
        "operation": "summarize",
        "fieldsToSummarize": {
          "values": [
            {
              "field": "whatsapp"
            }
          ]
        },
        "fieldsToSplitBy": "participants",
        "options": {}
      },
      "id": "0a843c16-0483-45a9-9275-205048b05806",
      "name": "Item Lists1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -320,
        520
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-21T01:51:48.000Z",
  "versionId": "4eb36ef2-65eb-43c5-8e1b-94c587ae2dbb"
}