workflows/[REDESIGN] Controle Geral de Vendas.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Pega Data UTC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PIX? BVL": {
      "main": [
        [
          {
            "node": "BOT PIX BVL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PIX? BI": {
      "main": [
        [
          {
            "node": "BOT PIX BI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pega Data UTC": {
      "main": [
        [
          {
            "node": "Formata Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Data": {
      "main": [
        [
          {
            "node": "Evento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PIX? BC": {
      "main": [
        [
          {
            "node": "BOT PIX BC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Order Bumps": {
      "main": [
        [
          {
            "node": "Adiciona PED",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Adiciona KPVL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Adiciona KLL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona BVL": {
      "main": [
        [
          {
            "node": "Comprou bvl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona BC": {
      "main": [
        [
          {
            "node": "Comprou bc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona BI": {
      "main": [
        [
          {
            "node": "Comprou bi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona BC1": {
      "main": [
        [
          {
            "node": "Comprou bciv",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona BCIV + ES": {
      "main": [
        [
          {
            "node": "Comprou bciv1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PIX? BCIV": {
      "main": [
        [
          {
            "node": "BOT PIX BCIV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PIX? BES": {
      "main": [
        [
          {
            "node": "BOT PIX BES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compra Aprovada": {
      "main": [
        [
          {
            "node": "Adiciona BVL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Adiciona BI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Adiciona BC",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Adiciona BC1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Adiciona BCIV + ES",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Order Bumps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardando Pagamento": {
      "main": [
        [
          {
            "node": "PIX? BVL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PIX? BI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PIX? BC",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PIX? BCIV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PIX? BES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardando Pagamento1": {
      "main": [
        [],
        [
          {
            "node": "BOT ABANDONO BI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BOT ABANDONO BC",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BOT ABANDONO BCIV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BOT ABANDONO BES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evento1": {
      "main": [
        [
          {
            "node": "Compra Aprovada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aguardando Pagamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aguardando Pagamento1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Compra Reclamada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Compra Cancelada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compra Reclamada": {
      "main": [
        [
          {
            "node": "Reembolso BVL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reembolso BI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reembolso BC",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reembolso BCIV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reembolso BES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compra Cancelada": {
      "main": [
        [],
        [],
        [],
        [
          {
            "node": "Cancelada CIV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cancelada BES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-17T19:25:21.664Z",
  "id": "TiJYgvwBSlGodsBe",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[REDESIGN] Controle Geral de Vendas",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bac67550-4004-4df9-973c-8abb083cc3e7",
        "options": {}
      },
      "id": "96861720-95b5-4c0b-8e3f-dcea14ce02b2",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1160,
        860
      ],
      "webhookId": "bac67550-4004-4df9-973c-8abb083cc3e7"
    },
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]\n"
      },
      "id": "660023a6-a09b-42f8-93ee-eac6b7511522",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -980,
        860
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $('Code').item.json.event }}",
        "rules": {
          "rules": [
            {
              "value2": "PURCHASE_APPROVED"
            },
            {
              "value2": "PURCHASE_BILLET_PRINTED",
              "output": 1
            },
            {
              "value2": "PURCHASE_OUT_OF_SHOPPING_CART",
              "output": 2
            },
            {
              "value2": "PURCHASE_PROTEST",
              "output": 3
            }
          ]
        }
      },
      "id": "d376d5c6-f19c-4a4a-9718-d8b17893bc40",
      "name": "Evento",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -920,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Code').item.json.data.purchase.payment.type }}",
              "value2": "PIX"
            }
          ]
        }
      },
      "id": "a855483c-12b6-420f-b6a6-9ee432507428",
      "name": "PIX? BVL",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Code').item.json.data.purchase.payment.type }}",
              "value2": "PIX"
            }
          ]
        }
      },
      "id": "608521cf-4ae2-4955-b203-24884fb6ea4d",
      "name": "PIX? BI",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        620
      ]
    },
    {
      "parameters": {
        "options": {
          "timezone": "America/Sao_Paulo"
        }
      },
      "id": "6982c804-839a-4b0c-b5f3-c9b409d015d2",
      "name": "Pega Data UTC",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -820,
        860
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy",
        "options": {
          "timezone": true
        }
      },
      "id": "2b842174-6ff1-436f-9b87-308336cd48d4",
      "name": "Formata Data",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -640,
        860
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1mxeRVlf466wdAalWcqW-LWctru6dCcPE6wfcdTiub0w",
          "mode": "list",
          "cachedResultName": "[Redesign.360] - Planilha Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mxeRVlf466wdAalWcqW-LWctru6dCcPE6wfcdTiub0w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2121283905,
          "mode": "list",
          "cachedResultName": "Automações - Vendas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mxeRVlf466wdAalWcqW-LWctru6dCcPE6wfcdTiub0w/edit#gid=2121283905"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data Produto Principal": "={{ $('Formata Data').item.json.formattedDate }}",
            "ID coluna": "={{ $('Code').item.json.data.buyer.email + $('Code').item.json.data.product.name }}",
            "Nome": "={{ $('Code').item.json.data.buyer.name }}",
            "Email": "={{ $('Code').item.json.data.buyer.email }}",
            "Telefone": "={{ 55+$('Code').item.json.data.buyer.checkout_phone }}",
            "Produto": "={{ $('Code').item.json.data.product.name }}",
            "Valor do produto": "={{ $('Code').item.json.data.purchase.original_offer_price.value }}",
            "1º upsell": "Pacote Extra de Documentos em Visual Law",
            "Comprou upsell?": "=SEERRO(SE(PROCV(\"{{ $('Code').item.json.data.buyer.email + \"Pacote Extra de Documentos em Visual Law\"}}\";B:F;5; FALSO)<>\"\";\"Sim\";\"Não\");\"Não\")",
            "Comprou 2º upsell?": "==SEERRO(SE(PROCV(\"{{ $('Code').item.json.data.buyer.email + \"Kit Penal Visual Law\"}}\";B:F;5; FALSO)<>\"\";\"Sim\";\"Não\");\"Não\")",
            "Comprou 1º upsell ?": "==SEERRO(SE(PROCV(\"{{ $('Code').item.json.data.buyer.email + \"Pacote Extra de Documentos em Visual Law\"}}\";B:F;5; FALSO)<>\"\";\"Sim\";\"Não\");\"Não\")",
            "Origem de compra 1º upsell": "==SEERRO(PROCV(\"{{ $('Code').item.json.data.buyer.email + \"Pacote Extra de Documentos em Visual Law\"}}\";B:H;7;0);\"\")",
            "Origem de compra 2º upsell?": "==SEERRO(PROCV(\"{{ $('Code').item.json.data.buyer.email + \"Kit Penal Visual Law\"}}\";B:H;7;0);\"\")",
            "2º upsell": "Kit Penal Visual Law"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data Produto Principal",
              "displayName": "Data Produto Principal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID coluna",
              "displayName": "ID coluna",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Produto",
              "displayName": "Produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Valor do produto",
              "displayName": "Valor do produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Origem de compra",
              "displayName": "Origem de compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "1º upsell",
              "displayName": "1º upsell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Upsell oferecido?",
              "displayName": "Upsell oferecido?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comprou 1º upsell ?",
              "displayName": "Comprou 1º upsell ?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Origem de compra 1º upsell",
              "displayName": "Origem de compra 1º upsell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data 1º upsell",
              "displayName": "Data 1º upsell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "2º upsell",
              "displayName": "2º upsell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "2º Upsell oferecido?",
              "displayName": "2º Upsell oferecido?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Comprou 2º upsell?",
              "displayName": "Comprou 2º upsell?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Origem de compra 2º upsell?",
              "displayName": "Origem de compra 2º upsell?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data 2º upsell",
              "displayName": "Data 2º upsell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "4f934ac8-201c-4bfb-b416-a2a496ed37af",
      "name": "Adiciona BVL",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1020,
        -1020
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1mxeRVlf466wdAalWcqW-LWctru6dCcPE6wfcdTiub0w",
          "mode": "list",
          "cachedResultName": "[Redesign.360] - Planilha Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mxeRVlf466wdAalWcqW-LWctru6dCcPE6wfcdTiub0w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2121283905,
          "mode": "list",
          "cachedResultName": "Automações - Vendas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mxeRVlf466wdAalWcqW-LWctru6dCcPE6wfcdTiub0w/edit#gid=2121283905"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data Produto Principal": "={{ $('Formata Data').item.json.formattedDate }}",
            "ID coluna": "={{ $('Code').item.json.data.buyer.email + $('Code').item.json.data.product.name }}",
            "Nome": "={{ $('Code').item.json.data.buyer.name }}",
            "Email": "={{ $('Code').item.json.data.buyer.email }}",
            "Telefone": "={{ 55+$('Code').item.json.data.buyer.checkout_phone }}",
            "Produto": "={{ $('Code').item.json.data.product.name }}",
            "Valor do produto": "={{ $('Code').item.json.data.purchase.original_offer_price.value }}",
            "1º upsell": "Kit Lançamento de Loteamento - Documentos de Alto Padrão",
            "Comprou upsell?": "=SEERRO(SE(PROCV(\"{{ $('Code').item.json.data.buyer.email + \"Kit Lançamento de Loteamento - Documentos de Alto Padrão\"}}\";B:F;5; FALSO)<>\"\";\"Sim\";\"Não\");\"Não\")",
            "Comprou 1º upsell ?": "==SEERRO(SE(PROCV(\"{{ $('Code').item.json.data.buyer.email + \"Kit Lançamento de Loteamento - Documentos de Alto Padrão\"}}\";B:F;5; FALSO)<>\"\";\"Sim\";\"Não\");\"Não\")",
            "Origem de compra 1º upsell": "==SEERRO(PROCV(\"{{ $('Code').item.json.data.buyer.email + \"Kit Lançamento de Loteamento - Documentos de Alto Padrão\"}}\";B:H;7;0);\"\")"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data Produto Principal",
              "displayName": "Data Produto Principal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID coluna",
              "displayName": "ID coluna",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Produto",
              "displayName": "Produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Valor do produto",
              "displayName": "Valor do produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Origem de compra",
              "displayName": "Origem de compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "1º upsell",
              "displayName": "1º upsell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Upsell oferecido?",
              "displayName": "Upsell oferecido?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comprou 1º upsell ?",
              "displayName": "Comprou 1º upsell ?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Origem de compra 1º upsell",
              "displayName": "Origem de compra 1º upsell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data 1º upsell",
              "displayName": "Data 1º upsell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "2º upsell",
              "displayName": "2º upsell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "2º Upsell oferecido?",
              "displayName": "2º Upsell oferecido?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Comprou 2º upsell?",
              "displayName": "Comprou 2º upsell?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Origem de compra 2º upsell?",
              "displayName": "Origem de compra 2º upsell?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data 2º upsell",
              "displayName": "Data 2º upsell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "a2bb44d5-f15e-44f7-afc2-1ece2fe4786d",
      "name": "Adiciona BI",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1020,
        -840
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1mxeRVlf466wdAalWcqW-LWctru6dCcPE6wfcdTiub0w",
          "mode": "list",
          "cachedResultName": "[Redesign.360] - Planilha Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mxeRVlf466wdAalWcqW-LWctru6dCcPE6wfcdTiub0w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2121283905,
          "mode": "list",
          "cachedResultName": "Automações - Vendas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mxeRVlf466wdAalWcqW-LWctru6dCcPE6wfcdTiub0w/edit#gid=2121283905"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data Produto Principal": "={{ $('Formata Data').item.json.formattedDate }}",
            "ID coluna": "={{ $('Code').item.json.data.buyer.email + $('Code').item.json.data.product.name }}",
            "Nome": "={{ $('Code').item.json.data.buyer.name }}",
            "Email": "={{ $('Code').item.json.data.buyer.email }}",
            "Telefone": "={{ 55+$('Code').item.json.data.buyer.checkout_phone }}",
            "Produto": "={{ $('Code').item.json.data.product.name }}",
            "Valor do produto": "={{ $('Code').item.json.data.purchase.original_offer_price.value }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data Produto Principal",
              "displayName": "Data Produto Principal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID coluna",
              "displayName": "ID coluna",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Produto",
              "displayName": "Produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Valor do produto",
              "displayName": "Valor do produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Origem de compra",
              "displayName": "Origem de compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "1º upsell",
              "displayName": "1º upsell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Upsell oferecido?",
              "displayName": "Upsell oferecido?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comprou 1º upsell ?",
              "displayName": "Comprou 1º upsell ?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Origem de compra 1º upsell",
              "displayName": "Origem de compra 1º upsell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data 1º upsell",
              "displayName": "Data 1º upsell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "2º upsell",
              "displayName": "2º upsell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "2º Upsell oferecido?",
              "displayName": "2º Upsell oferecido?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Comprou 2º upsell?",
              "displayName": "Comprou 2º upsell?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Origem de compra 2º upsell?",
              "displayName": "Origem de compra 2º upsell?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data 2º upsell",
              "displayName": "Data 2º upsell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "3472a2b8-d2d4-4c8d-ae3f-6b9be5ec6dbf",
      "name": "Adiciona BC",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1020,
        -640
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Code').item.json.data.purchase.payment.type }}",
              "value2": "PIX"
            }
          ]
        }
      },
      "id": "9ffded55-a604-4c2e-a5f2-e578efa5c0d5",
      "name": "PIX? BC",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        840
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhooks-automation/catch/84163/o1fLZLv8ciJA/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Nome",
              "value": "={{ $('Code').item.json.data.buyer.name }}"
            },
            {
              "name": "Telefone",
              "value": "={{ 55 + $('Code').item.json.data.buyer.checkout_phone }}"
            },
            {
              "name": "Pagamento",
              "value": "={{ $('Code').item.json.data.purchase.payment.pix_qrcode }}"
            },
            {
              "name": "Email",
              "value": "={{ $('Code').item.json.data.buyer.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "45ac8940-a0f1-43ec-a8ed-1b3baca4c1e4",
      "name": "BOT PIX BVL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhooks-automation/catch/84163/ALRkOPFL3tDm/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Nome",
              "value": "={{ $('Code').item.json.data.buyer.name }}"
            },
            {
              "name": "Telefone",
              "value": "={{ 55+ $('Code').item.json.data.buyer.checkout_phone }}"
            },
            {
              "name": "Pagamento",
              "value": "={{ $('Code').item.json.data.purchase.payment.pix_qrcode }}"
            },
            {
              "name": "Email",
              "value": "={{ $('Code').item.json.data.buyer.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "33c8f7a8-fb58-41fd-bb9e-bd3a4728e3d8",
      "name": "BOT PIX BI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhooks-automation/catch/84163/Qsa3FA4DDWX9/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Nome",
              "value": "={{ $('Code').item.json.data.buyer.name }}"
            },
            {
              "name": "Telefone",
              "value": "={{ 55+$('Code').item.json.data.buyer.checkout_phone }}"
            },
            {
              "name": "Pagamento",
              "value": "={{ $('Code').item.json.data.purchase.payment.pix_qrcode }}"
            },
            {
              "name": "Email",
              "value": "={{ $('Code').item.json.data.buyer.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e2ab1f51-3747-4c36-8561-9252be1ebc53",
      "name": "BOT PIX BC",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        820
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhooks-automation/catch/84163/o1fLZLv8ciJA/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Nome",
              "value": "={{ $('Code').item.json.data.buyer.name }}"
            },
            {
              "name": "Telefone",
              "value": "={{ $('Code').item.json.data.buyer.phone }}"
            },
            {
              "name": "Email",
              "value": "={{ $('Code').item.json.data.buyer.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "86993f93-47de-4ca9-b1fb-3e1eace30200",
      "name": "BOT ABANDONO BVL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        940,
        1640
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhooks-automation/catch/84163/Q1KPp9Oijieu/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Nome",
              "value": "={{ $('Code').item.json.data.buyer.name }}"
            },
            {
              "name": "Telefone",
              "value": "={{ $('Code').item.json.data.buyer.phone }}"
            },
            {
              "name": "Email",
              "value": "={{ $('Code').item.json.data.buyer.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c0df431f-aa52-4fee-a8d4-e7ecdf33bed5",
      "name": "BOT ABANDONO BI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        940,
        1820
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhooks-automation/catch/84163/CuwtT8qFD9wj/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Nome",
              "value": "={{ $('Code').item.json.data.buyer.name }}"
            },
            {
              "name": "Telefone",
              "value": "={{ $('Code').item.json.data.buyer.phone }}"
            },
            {
              "name": "Email",
              "value": "={{ $('Code').item.json.data.buyer.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3f3019ab-6819-43bb-80c5-c80fc8a34610",
      "name": "BOT ABANDONO BC",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        940,
        2020
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $('Code').item.json.data.product.name }}",
        "rules": {
          "rules": [
            {
              "value2": "Pacote Extra de Documentos em Visual Law"
            },
            {
              "value2": "Kit Penal Visual Law",
              "output": 1
            },
            {
              "value2": "Kit Lançamento de Loteamento - Documentos de Alto Padrão",
              "output": 2
            }
          ]
        }
      },
      "id": "c47ec215-d588-40e9-8701-a09a6698104d",
      "name": "Order Bumps",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        880,
        -180
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1mxeRVlf466wdAalWcqW-LWctru6dCcPE6wfcdTiub0w",
          "mode": "list",
          "cachedResultName": "[Redesign.360] - Planilha Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mxeRVlf466wdAalWcqW-LWctru6dCcPE6wfcdTiub0w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2121283905,
          "mode": "list",
          "cachedResultName": "Automações - Vendas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mxeRVlf466wdAalWcqW-LWctru6dCcPE6wfcdTiub0w/edit#gid=2121283905"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data Produto Principal": "={{ $('Formata Data').item.json.formattedDate }}",
            "ID coluna": "={{ $('Code').item.json.data.buyer.email + $('Code').item.json.data.product.name }}",
            "Nome": "={{ $('Code').item.json.data.buyer.name }}",
            "Email": "={{ $('Code').item.json.data.buyer.email }}",
            "Telefone": "={{ 55+$('Code').item.json.data.buyer.checkout_phone }}",
            "Produto": "={{ $('Code').item.json.data.product.name }}",
            "Valor do produto": "={{ $('Code').item.json.data.purchase.original_offer_price.value }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data Produto Principal",
              "displayName": "Data Produto Principal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID coluna",
              "displayName": "ID coluna",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Produto",
              "displayName": "Produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Valor do produto",
              "displayName": "Valor do produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Origem de compra",
              "displayName": "Origem de compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "1º upsell",
              "displayName": "1º upsell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Upsell oferecido?",
              "displayName": "Upsell oferecido?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comprou 1º upsell ?",
              "displayName": "Comprou 1º upsell ?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Origem de compra 1º upsell",
              "displayName": "Origem de compra 1º upsell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data 1º upsell",
              "displayName": "Data 1º upsell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "2º upsell",
              "displayName": "2º upsell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "2º Upsell oferecido?",
              "displayName": "2º Upsell oferecido?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Comprou 2º upsell?",
              "displayName": "Comprou 2º upsell?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Origem de compra 2º upsell?",
              "displayName": "Origem de compra 2º upsell?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data 2º upsell",
              "displayName": "Data 2º upsell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "fcb70b5b-642d-4df8-8848-0c400ed6583f",
      "name": "Adiciona PED",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1260,
        -420
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1mxeRVlf466wdAalWcqW-LWctru6dCcPE6wfcdTiub0w",
          "mode": "list",
          "cachedResultName": "[Redesign.360] - Planilha Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mxeRVlf466wdAalWcqW-LWctru6dCcPE6wfcdTiub0w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2121283905,
          "mode": "list",
          "cachedResultName": "Automações - Vendas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mxeRVlf466wdAalWcqW-LWctru6dCcPE6wfcdTiub0w/edit#gid=2121283905"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data Produto Principal": "={{ $('Formata Data').item.json.formattedDate }}",
            "ID coluna": "={{ $('Code').item.json.data.buyer.email + $('Code').item.json.data.product.name }}",
            "Nome": "={{ $('Code').item.json.data.buyer.name }}",
            "Email": "={{ $('Code').item.json.data.buyer.email }}",
            "Telefone": "={{ 55+$('Code').item.json.data.buyer.checkout_phone }}",
            "Produto": "={{ $('Code').item.json.data.product.name }}",
            "Valor do produto": "={{ $('Code').item.json.data.purchase.original_offer_price.value }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data Produto Principal",
              "displayName": "Data Produto Principal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID coluna",
              "displayName": "ID coluna",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Produto",
              "displayName": "Produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Valor do produto",
              "displayName": "Valor do produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Origem de compra",
              "displayName": "Origem de compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "1º upsell",
              "displayName": "1º upsell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Upsell oferecido?",
              "displayName": "Upsell oferecido?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comprou 1º upsell ?",
              "displayName": "Comprou 1º upsell ?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Origem de compra 1º upsell",
              "displayName": "Origem de compra 1º upsell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data 1º upsell",
              "displayName": "Data 1º upsell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "2º upsell",
              "displayName": "2º upsell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "2º Upsell oferecido?",
              "displayName": "2º Upsell oferecido?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Comprou 2º upsell?",
              "displayName": "Comprou 2º upsell?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Origem de compra 2º upsell?",
              "displayName": "Origem de compra 2º upsell?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data 2º upsell",
              "displayName": "Data 2º upsell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "e9204bfe-d05c-46cf-a11e-9e449c778f89",
      "name": "Adiciona KPVL",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1260,
        -240
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1mxeRVlf466wdAalWcqW-LWctru6dCcPE6wfcdTiub0w",
          "mode": "list",
          "cachedResultName": "[Redesign.360] - Planilha Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mxeRVlf466wdAalWcqW-LWctru6dCcPE6wfcdTiub0w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2121283905,
          "mode": "list",
          "cachedResultName": "Automações - Vendas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mxeRVlf466wdAalWcqW-LWctru6dCcPE6wfcdTiub0w/edit#gid=2121283905"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data Produto Principal": "={{ $('Formata Data').item.json.formattedDate }}",
            "ID coluna": "={{ $('Code').item.json.data.buyer.email + $('Code').item.json.data.product.name }}",
            "Nome": "={{ $('Code').item.json.data.buyer.name }}",
            "Email": "={{ $('Code').item.json.data.buyer.email }}",
            "Telefone": "={{ 55+$('Code').item.json.data.buyer.checkout_phone }}",
            "Produto": "={{ $('Code').item.json.data.product.name }}",
            "Valor do produto": "={{ $('Code').item.json.data.purchase.original_offer_price.value }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data Produto Principal",
              "displayName": "Data Produto Principal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID coluna",
              "displayName": "ID coluna",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Produto",
              "displayName": "Produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Valor do produto",
              "displayName": "Valor do produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Origem de compra",
              "displayName": "Origem de compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "1º upsell",
              "displayName": "1º upsell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Upsell oferecido?",
              "displayName": "Upsell oferecido?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comprou 1º upsell ?",
              "displayName": "Comprou 1º upsell ?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Origem de compra 1º upsell",
              "displayName": "Origem de compra 1º upsell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data 1º upsell",
              "displayName": "Data 1º upsell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "2º upsell",
              "displayName": "2º upsell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "2º Upsell oferecido?",
              "displayName": "2º Upsell oferecido?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Comprou 2º upsell?",
              "displayName": "Comprou 2º upsell?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Origem de compra 2º upsell?",
              "displayName": "Origem de compra 2º upsell?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data 2º upsell",
              "displayName": "Data 2º upsell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "39fcd55d-5b99-4a2e-ac59-a95d926befa8",
      "name": "Adiciona KLL",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1260,
        -60
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhooks-automation/catch/84163/OgoNBzJpf5aa/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $('Code').item.json.data.buyer.name.split(\" \")[0] }}"
            },
            {
              "name": "email",
              "value": "={{ $('Code').item.json.data.buyer.email }}"
            },
            {
              "name": "telefone",
              "value": "={{ 55 + $('Code').item.json.data.buyer.checkout_phone }}"
            }
          ]
        },
        "options": {}
      },
      "id": "03243a9c-7c22-4dce-a037-7b4c7923c458",
      "name": "Comprou bvl",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1280,
        -1020
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhooks-automation/catch/84163/gPnRPBPbkwxL/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $('Code').item.json.data.buyer.name.split(\" \")[0] }}"
            },
            {
              "name": "email",
              "value": "={{ $('Code').item.json.data.buyer.email }}"
            },
            {
              "name": "telefone",
              "value": "={{ 55 + $('Code').item.json.data.buyer.checkout_phone }}"
            }
          ]
        },
        "options": {}
      },
      "id": "16b9e04c-79c0-4297-afde-9d1dc1c59c1f",
      "name": "Comprou bc",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1280,
        -640
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhooks-automation/catch/84163/l06ksjJhDlSE/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $('Code').item.json.data.buyer.name.split(\" \")[0] }}"
            },
            {
              "name": "email",
              "value": "={{ $('Code').item.json.data.buyer.email }}"
            },
            {
              "name": "telefone",
              "value": "={{ 55 + $('Code').item.json.data.buyer.checkout_phone }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fef61cbf-08b2-4941-aff6-19b7ba193102",
      "name": "Comprou bi",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1280,
        -840
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1mxeRVlf466wdAalWcqW-LWctru6dCcPE6wfcdTiub0w",
          "mode": "list",
          "cachedResultName": "[Redesign.360] - Planilha Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mxeRVlf466wdAalWcqW-LWctru6dCcPE6wfcdTiub0w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2121283905,
          "mode": "list",
          "cachedResultName": "Automações - Vendas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mxeRVlf466wdAalWcqW-LWctru6dCcPE6wfcdTiub0w/edit#gid=2121283905"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data Produto Principal": "={{ $('Formata Data').item.json.formattedDate }}",
            "ID coluna": "={{ $('Code').item.json.data.buyer.email + $('Code').item.json.data.product.name }}",
            "Nome": "={{ $('Code').item.json.data.buyer.name }}",
            "Email": "={{ $('Code').item.json.data.buyer.email }}",
            "Telefone": "={{ 55+$('Code').item.json.data.buyer.checkout_phone }}",
            "Produto": "={{ $('Code').item.json.data.product.name }}",
            "Valor do produto": "={{ $('Code').item.json.data.purchase.original_offer_price.value }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data Produto Principal",
              "displayName": "Data Produto Principal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID coluna",
              "displayName": "ID coluna",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Produto",
              "displayName": "Produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Valor do produto",
              "displayName": "Valor do produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Origem de compra",
              "displayName": "Origem de compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "1º upsell",
              "displayName": "1º upsell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Upsell oferecido?",
              "displayName": "Upsell oferecido?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comprou 1º upsell ?",
              "displayName": "Comprou 1º upsell ?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Origem de compra 1º upsell",
              "displayName": "Origem de compra 1º upsell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data 1º upsell",
              "displayName": "Data 1º upsell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "2º upsell",
              "displayName": "2º upsell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "2º Upsell oferecido?",
              "displayName": "2º Upsell oferecido?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Comprou 2º upsell?",
              "displayName": "Comprou 2º upsell?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Origem de compra 2º upsell?",
              "displayName": "Origem de compra 2º upsell?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data 2º upsell",
              "displayName": "Data 2º upsell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "f253677b-ed22-4243-b956-4c3758d97e22",
      "name": "Adiciona BC1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1020,
        -1200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhooks-automation/catch/84163/GsZEDwcSKUY8/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $('Code').item.json.data.buyer.name.split(\" \")[0] }}"
            },
            {
              "name": "email",
              "value": "={{ $('Code').item.json.data.buyer.email }}"
            },
            {
              "name": "telefone",
              "value": "={{ 55 + $('Code').item.json.data.buyer.checkout_phone }}"
            }
          ]
        },
        "options": {}
      },
      "id": "69c2ad09-6944-450c-a760-d55291aabddf",
      "name": "Comprou bciv",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1280,
        -1200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhooks-automation/catch/84163/ly8MZlQdQOZF/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $('Code').item.json.data.buyer.name.split(\" \")[0] }}"
            },
            {
              "name": "email",
              "value": "={{ $('Code').item.json.data.buyer.email }}"
            },
            {
              "name": "telefone",
              "value": "={{ 55 + $('Code').item.json.data.buyer.checkout_phone }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d821aebd-e39d-47c9-a2a8-eb48a4928cd1",
      "name": "Comprou bciv1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1280,
        -1360
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1mxeRVlf466wdAalWcqW-LWctru6dCcPE6wfcdTiub0w",
          "mode": "list",
          "cachedResultName": "[Redesign.360] - Planilha Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mxeRVlf466wdAalWcqW-LWctru6dCcPE6wfcdTiub0w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2121283905,
          "mode": "list",
          "cachedResultName": "Automações - Vendas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mxeRVlf466wdAalWcqW-LWctru6dCcPE6wfcdTiub0w/edit#gid=2121283905"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data Produto Principal": "={{ $('Formata Data').item.json.formattedDate }}",
            "ID coluna": "={{ $('Code').item.json.data.buyer.email + $('Code').item.json.data.product.name }}",
            "Nome": "={{ $('Code').item.json.data.buyer.name }}",
            "Email": "={{ $('Code').item.json.data.buyer.email }}",
            "Telefone": "={{ 55+$('Code').item.json.data.buyer.checkout_phone }}",
            "Produto": "={{ $('Code').item.json.data.product.name }}",
            "Valor do produto": "={{ $('Code').item.json.data.purchase.original_offer_price.value }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data Produto Principal",
              "displayName": "Data Produto Principal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID coluna",
              "displayName": "ID coluna",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Produto",
              "displayName": "Produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Valor do produto",
              "displayName": "Valor do produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Origem de compra",
              "displayName": "Origem de compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "1º upsell",
              "displayName": "1º upsell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Upsell oferecido?",
              "displayName": "Upsell oferecido?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comprou 1º upsell ?",
              "displayName": "Comprou 1º upsell ?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Origem de compra 1º upsell",
              "displayName": "Origem de compra 1º upsell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data 1º upsell",
              "displayName": "Data 1º upsell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "2º upsell",
              "displayName": "2º upsell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "2º Upsell oferecido?",
              "displayName": "2º Upsell oferecido?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Comprou 2º upsell?",
              "displayName": "Comprou 2º upsell?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Origem de compra 2º upsell?",
              "displayName": "Origem de compra 2º upsell?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data 2º upsell",
              "displayName": "Data 2º upsell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "0aeea761-668a-4a43-a055-a4324ec3beca",
      "name": "Adiciona BCIV + ES",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1020,
        -1360
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Code').item.json.data.purchase.payment.type }}",
              "value2": "PIX"
            }
          ]
        }
      },
      "id": "7eab1e9b-1185-4605-8edf-d2425df8a907",
      "name": "PIX? BCIV",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        1080
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Code').item.json.data.purchase.payment.type }}",
              "value2": "PIX"
            }
          ]
        }
      },
      "id": "9d32fe9d-12e4-4d1f-bd8e-301fa53730a4",
      "name": "PIX? BES",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        1300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhooks-automation/catch/84163/tbCUCcxuua2D/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Nome",
              "value": "={{ $('Code').item.json.data.buyer.name }}"
            },
            {
              "name": "Telefone",
              "value": "={{ 55+$('Code').item.json.data.buyer.checkout_phone }}"
            },
            {
              "name": "Pagamento",
              "value": "={{ $('Code').item.json.data.purchase.payment.pix_qrcode }}"
            },
            {
              "name": "Email",
              "value": "={{ $('Code').item.json.data.buyer.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "195d5042-f98a-4ca4-8e46-a76e2d30d03d",
      "name": "BOT PIX BCIV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        1060
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhooks-automation/catch/84163/YPDGOK4Btc8b/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Nome",
              "value": "={{ $('Code').item.json.data.buyer.name }}"
            },
            {
              "name": "Telefone",
              "value": "={{ 55+$('Code').item.json.data.buyer.checkout_phone }}"
            },
            {
              "name": "Pagamento",
              "value": "={{ $('Code').item.json.data.purchase.payment.pix_qrcode }}"
            },
            {
              "name": "Email",
              "value": "={{ $('Code').item.json.data.buyer.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1f47a801-f327-43a2-8dd8-f8de74440951",
      "name": "BOT PIX BES",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        1280
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Code').item.json.data.product.name }}",
                    "rightValue": "Box Visual Law 360",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BVL"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "a2a6aaac-e211-4940-b254-561cc55d9073",
                    "leftValue": "={{ $('Code').item.json.data.product.name }}",
                    "rightValue": "=Box Imobiliário 360",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BI"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "9797cf0d-4703-49c3-bd65-baa0b5554fa0",
                    "leftValue": "={{ $('Code').item.json.data.product.name }}",
                    "rightValue": "=Box Contábil 360",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BCONT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "5beeef4b-ea05-4ee3-9e22-2655b6931091",
                    "leftValue": "={{ $('Code').item.json.data.product.name }}",
                    "rightValue": "Box Civil 360",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BCIV"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "69e1b6d7-09f1-4712-9aee-18981d0ec6b2",
                    "leftValue": "={{ $('Code').item.json.data.product.name }}",
                    "rightValue": "=Box Civil Avançado - Civil + Essencial",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BC+ES"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "e9f119d7-ce7b-4b02-a7fe-67eeb07c6538",
      "name": "Compra Aprovada",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        360,
        -260
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Code').item.json.data.product.name }}",
                    "rightValue": "Box Visual Law 360",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BVL"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "a2a6aaac-e211-4940-b254-561cc55d9073",
                    "leftValue": "={{ $('Code').item.json.data.product.name }}",
                    "rightValue": "=Box Imobiliário 360",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BI"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "9797cf0d-4703-49c3-bd65-baa0b5554fa0",
                    "leftValue": "={{ $('Code').item.json.data.product.name }}",
                    "rightValue": "=Box Contábil 360",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BCONT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "5beeef4b-ea05-4ee3-9e22-2655b6931091",
                    "leftValue": "={{ $('Code').item.json.data.product.name }}",
                    "rightValue": "Box Civil 360",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BCIV"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "69e1b6d7-09f1-4712-9aee-18981d0ec6b2",
                    "leftValue": "={{ $('Code').item.json.data.product.name }}",
                    "rightValue": "=Box Civil Avançado - Civil + Essencial",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BC+ES"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "7ed2b636-c123-4a86-806c-501bb200e717",
      "name": "Aguardando Pagamento",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        280,
        780
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhooks-automation/catch/84163/T5w2oCoSpJK9/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Nome",
              "value": "={{ $('Code').item.json.data.buyer.name }}"
            },
            {
              "name": "Telefone",
              "value": "={{ $('Code').item.json.data.buyer.phone }}"
            },
            {
              "name": "Email",
              "value": "={{ $('Code').item.json.data.buyer.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fedc8702-704b-426f-be04-6b6878a53e80",
      "name": "BOT ABANDONO BCIV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        940,
        2240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhooks-automation/catch/84163/ySxF0qE9IVqA/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Nome",
              "value": "={{ $('Code').item.json.data.buyer.name }}"
            },
            {
              "name": "Telefone",
              "value": "={{ $('Code').item.json.data.buyer.phone }}"
            },
            {
              "name": "Email",
              "value": "={{ $('Code').item.json.data.buyer.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "81c31b1a-b809-4f4f-be5f-0c4a9a5f717f",
      "name": "BOT ABANDONO BES",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        940,
        2440
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Code').item.json.data.product.name }}",
                    "rightValue": "Box Visual Law 360",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BVL"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "a2a6aaac-e211-4940-b254-561cc55d9073",
                    "leftValue": "={{ $('Code').item.json.data.product.name }}",
                    "rightValue": "=Box Imobiliário 360",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BI"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "9797cf0d-4703-49c3-bd65-baa0b5554fa0",
                    "leftValue": "={{ $('Code').item.json.data.product.name }}",
                    "rightValue": "=Box Contábil 360",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BCONT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "5beeef4b-ea05-4ee3-9e22-2655b6931091",
                    "leftValue": "={{ $('Code').item.json.data.product.name }}",
                    "rightValue": "Box Civil 360",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BCIV"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "69e1b6d7-09f1-4712-9aee-18981d0ec6b2",
                    "leftValue": "={{ $('Code').item.json.data.product.name }}",
                    "rightValue": "=Box Civil Avançado - Civil + Essencial",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BC+ES"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "57068362-5e6a-4ae5-9e7b-5f422f106057",
      "name": "Aguardando Pagamento1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        380,
        1880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhooks-automation/catch/84163/PfcS6KzGpYTH/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Nome",
              "value": "={{ $('Code').item.json.data.buyer.name }}"
            },
            {
              "name": "Telefone",
              "value": "={{ 55+$('Code').item.json.data.buyer.checkout_phone }}"
            },
            {
              "name": "Email",
              "value": "={{ $('Code').item.json.data.buyer.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e1ee62ef-652c-4ebb-a47d-28597fda917f",
      "name": "Reembolso BVL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        920,
        2840
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhooks-automation/catch/84163/8AohM21zIrle/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Nome",
              "value": "={{ $('Code').item.json.data.buyer.name }}"
            },
            {
              "name": "Telefone",
              "value": "={{ 55+$('Code').item.json.data.buyer.checkout_phone }}"
            },
            {
              "name": "Email",
              "value": "={{ $('Code').item.json.data.buyer.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "eb85f1ff-a764-466f-aed0-65b375b03c5b",
      "name": "Reembolso BCIV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        920,
        3520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhooks-automation/catch/84163/dyiA5eb3lVLx/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Nome",
              "value": "={{ $('Code').item.json.data.buyer.name }}"
            },
            {
              "name": "Telefone",
              "value": "={{ 55+$('Code').item.json.data.buyer.checkout_phone }}"
            },
            {
              "name": "Email",
              "value": "={{ $('Code').item.json.data.buyer.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8c7ba751-b8e1-497e-8658-50b4988cf585",
      "name": "Reembolso BES",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        920,
        3740
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhooks-automation/catch/84163/0GZ4QW2rTYGW/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Nome",
              "value": "={{ $('Code').item.json.data.buyer.name }}"
            },
            {
              "name": "Telefone",
              "value": "={{ 55+$('Code').item.json.data.buyer.checkout_phone }}"
            },
            {
              "name": "Email",
              "value": "={{ $('Code').item.json.data.buyer.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c13a3225-e76f-48d9-b57b-2b4adf89b317",
      "name": "Reembolso BC",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        920,
        3280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhooks-automation/catch/84163/4mKrboJzBaL0/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Nome",
              "value": "={{ $('Code').item.json.data.buyer.name }}"
            },
            {
              "name": "Telefone",
              "value": "={{ 55+$('Code').item.json.data.buyer.checkout_phone }}"
            },
            {
              "name": "Email",
              "value": "={{ $('Code').item.json.data.buyer.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2b88e025-93c8-4327-9887-196a70176c09",
      "name": "Reembolso BI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        920,
        3060
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Code').item.json.event }}",
                    "rightValue": "PURCHASE_APPROVED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "APROVADA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "a2a6aaac-e211-4940-b254-561cc55d9073",
                    "leftValue": "={{ $('Code').item.json.event }}",
                    "rightValue": "PURCHASE_BILLET_PRINTED",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PIX GERADO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "9797cf0d-4703-49c3-bd65-baa0b5554fa0",
                    "leftValue": "={{ $('Code').item.json.event }}",
                    "rightValue": "PURCHASE_OUT_OF_SHOPPING_CART",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ABANDONO DE CARRINHO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "5beeef4b-ea05-4ee3-9e22-2655b6931091",
                    "leftValue": "={{ $('Code').item.json.event }}",
                    "rightValue": "PURCHASE_PROTEST",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "RECLAMADA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "708ca17d-ddc7-4ea7-9898-f267107a3cbe",
                    "leftValue": "={{ $('Code').item.json.event }}",
                    "rightValue": "=PURCHASE_CANCELED",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CANCELADA"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "8cfd2a1e-bd56-49d5-8ba2-15175ef38f9e",
      "name": "Evento1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -440,
        860
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Code').item.json.data.product.name }}",
                    "rightValue": "Box Visual Law 360",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BVL"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "a2a6aaac-e211-4940-b254-561cc55d9073",
                    "leftValue": "={{ $('Code').item.json.data.product.name }}",
                    "rightValue": "=Box Imobiliário 360",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BI"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "9797cf0d-4703-49c3-bd65-baa0b5554fa0",
                    "leftValue": "={{ $('Code').item.json.data.product.name }}",
                    "rightValue": "=Box Contábil 360",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BCONT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "5beeef4b-ea05-4ee3-9e22-2655b6931091",
                    "leftValue": "={{ $('Code').item.json.data.product.name }}",
                    "rightValue": "Box Civil 360",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BCIV"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "69e1b6d7-09f1-4712-9aee-18981d0ec6b2",
                    "leftValue": "={{ $('Code').item.json.data.product.name }}",
                    "rightValue": "=Box Civil Avançado - Civil + Essencial",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BC+ES"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "96a767a0-baf0-4e02-b693-81ab91170b70",
      "name": "Compra Reclamada",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        340,
        3040
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Code').item.json.data.product.name }}",
                    "rightValue": "Box Visual Law 360",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BVL"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "a2a6aaac-e211-4940-b254-561cc55d9073",
                    "leftValue": "={{ $('Code').item.json.data.product.name }}",
                    "rightValue": "=Box Imobiliário 360",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BI"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "9797cf0d-4703-49c3-bd65-baa0b5554fa0",
                    "leftValue": "={{ $('Code').item.json.data.product.name }}",
                    "rightValue": "=Box Contábil 360",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BCONT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "5beeef4b-ea05-4ee3-9e22-2655b6931091",
                    "leftValue": "={{ $('Code').item.json.data.product.name }}",
                    "rightValue": "Box Civil 360",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BCIV"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "69e1b6d7-09f1-4712-9aee-18981d0ec6b2",
                    "leftValue": "={{ $('Code').item.json.data.product.name }}",
                    "rightValue": "=Box Civil Avançado - Civil + Essencial",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BC+ES"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "e79bced2-2ebd-4d89-b073-7729f2508a83",
      "name": "Compra Cancelada",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        420,
        4740
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhooks-automation/catch/84163/eYOd4I38cNuK/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Nome",
              "value": "={{ $('Code').item.json.data.buyer.name }}"
            },
            {
              "name": "Telefone",
              "value": "={{ 55+$('Code').item.json.data.buyer.checkout_phone }}"
            },
            {
              "name": "Email",
              "value": "={{ $('Code').item.json.data.buyer.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "188174f3-c8f7-4607-b095-b702a5749611",
      "name": "Cancelada BES",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        820,
        5220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.botconversa.com.br/api/v1/webhooks-automation/catch/84163/RdtdGAheoX5j/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Nome",
              "value": "={{ $('Code').item.json.data.buyer.name }}"
            },
            {
              "name": "Telefone",
              "value": "={{ 55+$('Code').item.json.data.buyer.checkout_phone }}"
            },
            {
              "name": "Email",
              "value": "={{ $('Code').item.json.data.buyer.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d85c5f73-1f56-4a0e-9569-fd7bc2749240",
      "name": "Cancelada CIV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        820,
        5000
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.marcosfoks.com.br",
            "user-agent": "Jodd HTTP",
            "content-length": "1443",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare",
            "cf-connecting-ip": "3.89.60.133",
            "cf-ipcountry": "US",
            "cf-ray": "86ec6c083b0281a5-IAD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "x-forwarded-for": "172.70.134.222",
            "x-forwarded-host": "n8n.marcosfoks.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "bc917484dc53",
            "x-hotmart-hottok": "rX99Tq4apaLftnsX3uaaYN6W5dbWeF13096923",
            "x-real-ip": "172.70.134.222"
          },
          "params": {},
          "query": {},
          "body": {
            "data": {
              "product": {
                "has_co_production": true,
                "name": "Box Civil 360",
                "id": 3942537,
                "ucode": "4e01134a-9c14-4a65-90f6-8ddb8005226a"
              },
              "commissions": [
                {
                  "currency_value": "BRL",
                  "source": "MARKETPLACE",
                  "value": 9.15
                },
                {
                  "currency_value": "BRL",
                  "source": "PRODUCER",
                  "value": 81.7
                }
              ],
              "purchase": {
                "offer": {
                  "code": "p49pzlpz"
                },
                "order_date": 1712182561000,
                "original_offer_price": {
                  "currency_value": "BRL",
                  "value": 97
                },
                "subscription_anticipation_purchase": false,
                "price": {
                  "currency_value": "BRL",
                  "value": 97
                },
                "checkout_country": {
                  "iso": "BR",
                  "name": "Brasil"
                },
                "order_bump": {
                  "is_order_bump": false
                },
                "payment": {
                  "refusal_reason": "Existe algum tipo de restrição no cartão. Tente realizar a compra novamente com outro cartão ou meio de pagamento.",
                  "installments_number": 6,
                  "type": "CREDIT_CARD"
                },
                "full_price": {
                  "currency_value": "BRL",
                  "value": 107.04
                },
                "invoice_by": "HOTMART",
                "transaction": "HP0627954127",
                "status": "CANCELED"
              },
              "affiliates": [
                {
                  "affiliate_code": "",
                  "name": ""
                }
              ],
              "producer": {
                "name": "Redesign 360 Negócios Digitais LTDA"
              },
              "buyer": {
                "address": {
                  "zipcode": "76813336",
                  "country": "Brasil",
                  "number": "8882",
                  "address": "RUA ROSALINA GOMES",
                  "city": "Porto Velho",
                  "state": "RO",
                  "neighborhood": "SAO FRANCISCO",
                  "complement": "CASA",
                  "country_iso": "BR"
                },
                "document": "72750111234",
                "name": "RONI LIMA LACERDA",
                "checkout_phone": "69992061994",
                "email": "roni.lacerda.pvh@gmail.com"
              }
            },
            "id": "e03c1bf0-0e4e-49fa-8a49-e1ef263c8a84",
            "creation_date": 1712182574223,
            "event": "PURCHASE_APPROVED",
            "version": "2.0.0"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-02-01T00:27:06.886Z",
      "updatedAt": "2024-02-01T00:27:06.886Z",
      "id": "JXrJtVjZn4Law0Er",
      "name": "redesign"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-04-09T02:08:28.000Z",
  "versionId": "12c2aa9b-0b74-4c93-a9c1-345e81358318"
}