workflows/[REUNIÃO SECRETA] Respondeu Recuperação.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "ActiveCampaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign": {
      "main": [
        [
          {
            "node": "Altera campo personalizado no active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Filter2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Altera campo personalizado no active": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter2": {
      "main": [
        [
          {
            "node": "ClickUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-10-12T03:30:55.464Z",
  "id": "nVruREwDneeZ1OYj",
  "meta": null,
  "name": "[REUNIÃO SECRETA] Respondeu Recuperação",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e501f7ee-f975-432d-aaa6-adbaa1be9112",
        "options": {}
      },
      "id": "548c61fe-565a-40f1-afff-e870d50feb3b",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        1040,
        200
      ],
      "webhookId": "e501f7ee-f975-432d-aaa6-adbaa1be9112"
    },
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]\n"
      },
      "id": "5d2ac498-7f9f-4e39-8fe9-c18fc3d2fe7d",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isGroup }}",
              "value2": "={{ false }}"
            }
          ]
        }
      },
      "id": "678127d4-2afd-4c50-8bfb-d3b50de951f2",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        1460,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json['Respondeu?'] }}",
              "operation": "notEqual",
              "value2": "sim"
            },
            {
              "value1": "={{ $json.Email }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "1ae4b693-86b8-44b0-b429-abc8819b5a9e",
      "name": "Filter1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        2060,
        200
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "chave",
              "value": "={{ $json.phone.slice(-7) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bc452224-91d5-4c5f-867a-6ef0e32ac5dd",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1660,
        200
      ]
    },
    {
      "parameters": {
        "email": "={{ $json.Email }}",
        "updateIfExists": true,
        "additionalFields": {}
      },
      "id": "159ee8d3-c64b-4a7b-95b4-5c96d72401e3",
      "name": "ActiveCampaign",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2240,
        200
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "jY4mO4rkMqLOPVXo",
          "name": "Ila & Nicole"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "130dJLqIJVkcFvqzEpK2M_bMpaGvhZMOLhDsWGuSJxy0",
          "mode": "list",
          "cachedResultName": "[ILA] [CICLO 3] Planilha Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/130dJLqIJVkcFvqzEpK2M_bMpaGvhZMOLhDsWGuSJxy0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 303710066,
          "mode": "list",
          "cachedResultName": "Recuperação - Ingressos [AS8]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/130dJLqIJVkcFvqzEpK2M_bMpaGvhZMOLhDsWGuSJxy0/edit#gid=303710066"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Chave(busca)",
              "lookupValue": "={{ $json.chave }}"
            }
          ]
        },
        "options": {}
      },
      "id": "58132121-60cf-42f7-b138-c35ebf1e9b55",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1880,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "130dJLqIJVkcFvqzEpK2M_bMpaGvhZMOLhDsWGuSJxy0",
          "mode": "list",
          "cachedResultName": "[ILA] [CICLO 3] Planilha Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/130dJLqIJVkcFvqzEpK2M_bMpaGvhZMOLhDsWGuSJxy0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 303710066,
          "mode": "list",
          "cachedResultName": "Recuperação - Ingressos [AS8]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/130dJLqIJVkcFvqzEpK2M_bMpaGvhZMOLhDsWGuSJxy0/edit#gid=303710066"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Respondeu?": "sim",
            "Email": "={{ $json.contacts[0].email }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Data de Recuperação",
              "displayName": "Data de Recuperação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chave(busca)",
              "displayName": "Chave(busca)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "temperatura",
              "displayName": "temperatura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Página",
              "displayName": "Página",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "checkout direto",
              "displayName": "checkout direto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Funil",
              "displayName": "Funil",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Última recuperação enviada",
              "displayName": "Última recuperação enviada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Respondeu?",
              "displayName": "Respondeu?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comprou?",
              "displayName": "Comprou?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Clickup",
              "displayName": "ID Clickup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "447fba18-e691-478d-a9fa-d833c8571509",
      "name": "Google Sheets2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2640,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hook.us1.make.com/wh1nz35wsbuvuanyeh4vxydgd1bc75sv",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $('Google Sheets1').item.json.Email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "214203d2-234b-488d-b90c-6307283cb6c0",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3080,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": " https://activeilaenicole.api-us1.com/api/3/fieldValues",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "Api-Token",
              "value": "7faa5f8fade7ade83a9851dfb75cb120c0c57114c3a8eb7a8f1f1d3620c93e0d05542921"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"fieldValue\": {\n        \"contact\": {{ $json.id }},\n        \"field\": 188,\n        \"value\": \"sim\"\n    },\n    \"useDefaults\": false\n}",
        "options": {}
      },
      "id": "06f27629-e5a5-44c5-b0bf-5555c1acbdfe",
      "name": "Altera campo personalizado no active",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2440,
        200
      ]
    },
    {
      "parameters": {
        "operation": "setCustomField",
        "task": "={{ $('Google Sheets1').item.json['ID Clickup'] }}",
        "field": "e0752dc0-514e-4b1c-b942-e1386a5e6a5c",
        "value": "30effc4f-6693-4437-a727-bb7724d1ced8"
      },
      "id": "b750659c-4690-42de-a60b-a6677ca747b2",
      "name": "ClickUp",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        3020,
        200
      ],
      "credentials": {
        "clickUpApi": {
          "id": "fy7YLKgPN9XVKscl",
          "name": "Space Libertas"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "id": "5bcac957-dba0-43a7-a217-7be9254072ad",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3240,
        200
      ],
      "webhookId": "1805f2f1-2ad3-482a-b7bf-10222bfd7808"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Webhook').item.json.body.text.message }}",
              "operation": "contains",
              "value2": "=Oi"
            },
            {
              "value1": "={{ $('Webhook').item.json.body.text.message }}",
              "operation": "contains",
              "value2": "Olá"
            },
            {
              "value1": "={{ $('Webhook').item.json.body.text.message }}",
              "operation": "contains",
              "value2": "Ola"
            },
            {
              "value1": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "25e5509d-c723-4dc9-9c56-68fca4d60f6e",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3460,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C1825917D649026AAA446A65441921E/token/92B58C5DAD3489D5AD780116/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Google Sheets1').item.json.Telefone }}"
            },
            {
              "name": "message",
              "value": "=Tudo bem, {{ $('Google Sheets1').item.json.Nome }}? É que vi que você assistiu o vídeo sobre o *Caixa Rápido*."
            }
          ]
        },
        "options": {}
      },
      "id": "429467bc-4b1f-404c-ac21-c1fd5baaea14",
      "name": "HTTP Request3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3740,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C1825917D649026AAA446A65441921E/token/92B58C5DAD3489D5AD780116/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Google Sheets1').item.json.Telefone }}"
            },
            {
              "name": "message",
              "value": "=Deixa eu te perguntar, você já investe em anúncios para a sua clínica?"
            }
          ]
        },
        "options": {}
      },
      "id": "b4dece8e-462d-4eb7-abe8-8779e19f945b",
      "name": "HTTP Request4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3980,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Google Sheets1').item.json['Última recuperação enviada'] }}",
              "value2": "Padrão do funil"
            }
          ]
        }
      },
      "id": "0627eb99-4714-40f9-b12b-52c8dffa99da",
      "name": "Filter2",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        2820,
        200
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-10-12T03:16:03.155Z",
      "updatedAt": "2023-10-12T03:16:03.155Z",
      "id": "RsdI5HyLiEx96UXQ",
      "name": "RS"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-02-21T16:31:26.000Z",
  "versionId": "120a591d-ebdc-4f7a-9593-adef72e79b7a"
}