workflows/[REUNIÃO SECRETA] Cruzamento de dados - Pesquisa.json
{
  "active": true,
  "connections": {
    "Date & Time": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign1": {
      "main": [
        [
          {
            "node": "TAG RS9 RESPONDEU PESQUISA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TAG RS9 RESPONDEU PESQUISA": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-02-14T02:20:43.179Z",
  "id": "cyDw0IOrNclMGzLF",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[REUNIÃO SECRETA] Cruzamento de dados - Pesquisa",
  "nodes": [
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.created_at }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy",
        "options": {
          "timezone": true
        }
      },
      "id": "15f6cb50-d2fd-4013-aff1-3f4950ecaa74",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        620,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]\n"
      },
      "id": "0d64aff4-35f1-4004-82ca-a422c02abd0c",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -180,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "function formataTelefone(number) {\n    number = number.toString().replace(/[^\\d]/g, \"\")\n    let ddi = '55'\n    let ddd = number.substring(0, 2)\n\n    if (number.length == 13) {\n        let ddi = number.substring(0, 2)\n        let ddd = number.substring(2, 4)\n        return ddi + ddd + (ddd <= 28 ? number.substring(4, 13) : number.substring(5, 13))\n\n    } else if (number.length == 11) {\n        return ddi + ddd + (ddd <= 28 ? number.substring(2, 11) : number.substring(3, 11))\n\n    } else if (number.length == 10) {\n        return ddi + ddd + (ddd <= 28 ? '9' : '') + number.substring(2, 11)\n\n    } else if (number.length == 12) {\n        return number.substring(0, 2) == '55' ? number : (number.substring(0, 1) == '0' ? formataTelefone(number.substring(1, 12)) : number)\n\n    } else {\n        return number\n    }\n}\n\n$input.all()[0].json['Qual é o seu número de telefone?'] = formataTelefone($node['Code1'].json['Qual é o seu número de telefone?'])\n\nreturn $input.all();"
      },
      "id": "42679ba8-c9ae-4e24-bc63-28fc09c902bf",
      "name": "Code3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        20,
        460
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "chave(busca)",
              "type": "numberValue",
              "numberValue": "={{ $json['Qual é o seu número de telefone?'].slice(-7) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "01956478-878c-465d-8499-14d1a2c16ae6",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.1,
      "position": [
        420,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hook.us1.make.com/m75us3ohae4iv9v980drlpwa8ntljfum",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Nome",
              "value": "={{ $('Webhook').item.json.body['Qual é o seu nome?'] }}"
            },
            {
              "name": "Email",
              "value": "={{ $('Webhook').item.json.body['E-mail de compra: '] }}"
            },
            {
              "name": "Telefone",
              "value": "={{ $('Code3').item.json['Qual é o seu número de telefone?'] }}"
            },
            {
              "name": "Chave(busca)",
              "value": "={{ $('Code3').item.json['Qual é o seu número de telefone?'].slice(-7) }}"
            },
            {
              "name": "Idade",
              "value": "={{ $('Webhook').item.json.body['Qual é a sua idade?'] }}"
            },
            {
              "name": "O que espera da reunião",
              "value": "={{ $('Webhook').item.json.body['O que você espera aprender na Reunião Secreta?'] }}"
            },
            {
              "name": "Investe em anúncios",
              "value": "={{ $('Webhook').item.json.body['Você já investe em anúncios online para sua clínica odontológica?'] }}"
            },
            {
              "name": "Tempo de atuação",
              "value": "={{ $('Webhook').item.json.body['Há quanto tempo você é dentista?'] }}"
            },
            {
              "name": "Procedimento mais vendido",
              "value": "={{ $('Webhook').item.json.body['Qual o tipo de procedimento que mais vende na sua clínica?'] }}"
            },
            {
              "name": "Vendas por mês",
              "value": "={{ $('Webhook').item.json.body['Normalmente, quantas vendas você faz por mês?'] }}"
            },
            {
              "name": "Bate metas",
              "value": "={{ $('Webhook').item.json.body['Você costuma bater sua meta do mês?'] }}"
            },
            {
              "name": "Dificuldade",
              "value": "={{ $('Webhook').item.json.body['Quais suas maiores dificuldades em captar pacientes qualificados pra sua clínica?'] }}"
            },
            {
              "name": "Faturamento",
              "value": "={{ $('Webhook').item.json.body[\"Quanto você fatura por mês com sua clínica?\"] }}"
            },
            {
              "name": "Satisfeito com o faturamento",
              "value": "={{ $('Webhook').item.json.body[\"Você está satisfeita(o) com o seu faturamento atual?\"] }}"
            },
            {
              "name": "Quanto tempo conhece Ila & Nicole",
              "value": "={{ $('Webhook').item.json.body[\"Há quanto tempo você conhece a Ila e a Nicole?\"] }}"
            },
            {
              "name": "Por onde conheceu Ila & Nicole",
              "value": "={{ $('Webhook').item.json.body[\"Última pergunta, mas muito importante: Por onde conheceu a Ila e a Nicole?\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1c3b948c-9640-4a0d-9b0e-e6bfd9f05c67",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1460,
        460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json['Recuperação de Pesquisa'] }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "d37c787b-03c0-4e1d-9f46-5ed500a4539f",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1880,
        460
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "130dJLqIJVkcFvqzEpK2M_bMpaGvhZMOLhDsWGuSJxy0",
          "mode": "list",
          "cachedResultName": "[ILA] [CICLO 3] Planilha Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/130dJLqIJVkcFvqzEpK2M_bMpaGvhZMOLhDsWGuSJxy0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 636071144,
          "mode": "list",
          "cachedResultName": "[AUTO] Inscritos [AS9]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/130dJLqIJVkcFvqzEpK2M_bMpaGvhZMOLhDsWGuSJxy0/edit#gid=636071144"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Idade": "={{ $('Edit Fields').item.json['Qual é a sua idade?'] }}",
            "O que espera da reunião": "={{ $('Edit Fields').item.json['O que você espera aprender na Reunião Secreta?'] }}",
            "Investe em anúncios": "={{ $('Edit Fields').item.json['Você já investe em anúncios online para sua clínica odontológica?'] }}",
            "Tempo de atuação": "={{ $('Edit Fields').item.json['Há quanto tempo você é dentista?'] }}",
            "Procedimento que mais vende na clínica": "={{ $('Edit Fields').item.json['Qual o tipo de procedimento que mais vende na sua clínica?'] }}",
            "Vendas por mês": "={{ $('Edit Fields').item.json['Normalmente, quantas vendas você faz por mês?'] }}",
            "Costuma bater as metas do mês": "={{ $('Edit Fields').item.json['Você costuma bater sua meta do mês?'] }}",
            "Maior dificuldade para captar clientes": "={{ $('Edit Fields').item.json['Quais suas maiores dificuldades em captar pacientes qualificados pra sua clínica?'] }}",
            "Faturamento ": "={{ $('Edit Fields').item.json['Quanto você fatura por mês com sua clínica?'] }}",
            "Satisfeito com o faturamento atual": "={{ $('Edit Fields').item.json['Você está satisfeita(o) com o seu faturamento atual?'] }}",
            "Quanto tempo conhece Ila & Nicole": "={{ $('Edit Fields').item.json['Há quanto tempo você conhece a Ila e a Nicole?'] }}",
            "Por onde conheceu Ila & Nicole": "={{ $('Edit Fields').item.json['Última pergunta, mas muito importante: Por onde conheceu a Ila e a Nicole?'] }}",
            "Email": "={{ $('Code').item.json['E-mail de compra: '] }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chave (busca)",
              "displayName": "Chave (busca)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "temperatura",
              "displayName": "temperatura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Página",
              "displayName": "Página",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Checkout direto",
              "displayName": "Checkout direto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Idade",
              "displayName": "Idade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "O que espera da reunião",
              "displayName": "O que espera da reunião",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Investe em anúncios",
              "displayName": "Investe em anúncios",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tempo de atuação",
              "displayName": "Tempo de atuação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Procedimento que mais vende na clínica",
              "displayName": "Procedimento que mais vende na clínica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vendas por mês",
              "displayName": "Vendas por mês",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Costuma bater as metas do mês",
              "displayName": "Costuma bater as metas do mês",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Maior dificuldade para captar clientes",
              "displayName": "Maior dificuldade para captar clientes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Faturamento ",
              "displayName": "Faturamento ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Satisfeito com o faturamento atual",
              "displayName": "Satisfeito com o faturamento atual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quanto tempo conhece Ila & Nicole",
              "displayName": "Quanto tempo conhece Ila & Nicole",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Por onde conheceu Ila & Nicole",
              "displayName": "Por onde conheceu Ila & Nicole",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome Ingresso",
              "displayName": "Nome Ingresso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ingresso",
              "displayName": "Ingresso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ingresso Vip",
              "displayName": "Ingresso Vip",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ticket",
              "displayName": "Ticket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chave(audio)",
              "displayName": "Chave(audio)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link audio",
              "displayName": "Link audio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Clickup",
              "displayName": "ID Clickup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link Clickup",
              "displayName": "Link Clickup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Respondeu Aplicação",
              "displayName": "Respondeu Aplicação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recuperação de Pesquisa",
              "displayName": "Recuperação de Pesquisa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Respondeu Pesquisa",
              "displayName": "Respondeu Pesquisa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url_ingresso",
              "displayName": "url_ingresso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "respondeu aviso data",
              "displayName": "respondeu aviso data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Recebeu mensagem",
              "displayName": "Recebeu mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "fc6c612d-0b20-4890-b7b1-27d0bbf886ab",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        840,
        460
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "130dJLqIJVkcFvqzEpK2M_bMpaGvhZMOLhDsWGuSJxy0",
          "mode": "list",
          "cachedResultName": "[ILA] [CICLO 3] Planilha Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/130dJLqIJVkcFvqzEpK2M_bMpaGvhZMOLhDsWGuSJxy0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 636071144,
          "mode": "list",
          "cachedResultName": "[AUTO] Inscritos [AS9]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/130dJLqIJVkcFvqzEpK2M_bMpaGvhZMOLhDsWGuSJxy0/edit#gid=636071144"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $('Code3').item.json['E-mail de compra: '] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e28aad46-e82e-4137-9c5e-966bf106f63e",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1680,
        460
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "130dJLqIJVkcFvqzEpK2M_bMpaGvhZMOLhDsWGuSJxy0",
          "mode": "list",
          "cachedResultName": "[ILA] [CICLO 3] Planilha Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/130dJLqIJVkcFvqzEpK2M_bMpaGvhZMOLhDsWGuSJxy0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 636071144,
          "mode": "list",
          "cachedResultName": "[AUTO] Inscritos [AS9]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/130dJLqIJVkcFvqzEpK2M_bMpaGvhZMOLhDsWGuSJxy0/edit#gid=636071144"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Chave(busca)": "={{ $('Edit Fields').item.json['chave(busca)'] }}",
            "Respondeu Pesquisa": "sim",
            "Chave (busca)": "={{ $('Code3').item.json['Qual é o seu número de telefone?'].slice(-7) }}"
          },
          "matchingColumns": [
            "Chave (busca)"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chave (busca)",
              "displayName": "Chave (busca)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "temperatura",
              "displayName": "temperatura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Página",
              "displayName": "Página",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Checkout direto",
              "displayName": "Checkout direto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Idade",
              "displayName": "Idade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "O que espera da reunião",
              "displayName": "O que espera da reunião",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Investe em anúncios",
              "displayName": "Investe em anúncios",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tempo de atuação",
              "displayName": "Tempo de atuação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Procedimento que mais vende na clínica",
              "displayName": "Procedimento que mais vende na clínica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vendas por mês",
              "displayName": "Vendas por mês",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Costuma bater as metas do mês",
              "displayName": "Costuma bater as metas do mês",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Maior dificuldade para captar clientes",
              "displayName": "Maior dificuldade para captar clientes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Faturamento ",
              "displayName": "Faturamento ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Satisfeito com o faturamento atual",
              "displayName": "Satisfeito com o faturamento atual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quanto tempo conhece Ila & Nicole",
              "displayName": "Quanto tempo conhece Ila & Nicole",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Por onde conheceu Ila & Nicole",
              "displayName": "Por onde conheceu Ila & Nicole",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome Ingresso",
              "displayName": "Nome Ingresso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ingresso",
              "displayName": "Ingresso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ingresso Vip",
              "displayName": "Ingresso Vip",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ticket",
              "displayName": "Ticket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chave(audio)",
              "displayName": "Chave(audio)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link audio",
              "displayName": "Link audio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Clickup",
              "displayName": "ID Clickup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link Clickup",
              "displayName": "Link Clickup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Respondeu Aplicação",
              "displayName": "Respondeu Aplicação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recuperação de Pesquisa",
              "displayName": "Recuperação de Pesquisa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Respondeu Pesquisa",
              "displayName": "Respondeu Pesquisa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url_ingresso",
              "displayName": "url_ingresso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "respondeu aviso data",
              "displayName": "respondeu aviso data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Recebeu mensagem",
              "displayName": "Recebeu mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "88892654-f43b-4d08-8600-33bc0cb0755f",
      "name": "Google Sheets4",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1920,
        40
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "130dJLqIJVkcFvqzEpK2M_bMpaGvhZMOLhDsWGuSJxy0",
          "mode": "list",
          "cachedResultName": "[ILA] [CICLO 3] Planilha Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/130dJLqIJVkcFvqzEpK2M_bMpaGvhZMOLhDsWGuSJxy0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 636071144,
          "mode": "list",
          "cachedResultName": "[AUTO] Inscritos [AS9]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/130dJLqIJVkcFvqzEpK2M_bMpaGvhZMOLhDsWGuSJxy0/edit#gid=636071144"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Chave(busca)": "={{ $('Edit Fields').item.json['chave(busca)'] }}",
            "Respondeu Pesquisa": "sim(recuperação)",
            "Chave (busca)": "={{ $('Code3').item.json['Qual é o seu número de telefone?'].slice(-7) }}"
          },
          "matchingColumns": [
            "Chave (busca)"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chave (busca)",
              "displayName": "Chave (busca)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "temperatura",
              "displayName": "temperatura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Página",
              "displayName": "Página",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Checkout direto",
              "displayName": "Checkout direto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Idade",
              "displayName": "Idade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "O que espera da reunião",
              "displayName": "O que espera da reunião",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Investe em anúncios",
              "displayName": "Investe em anúncios",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tempo de atuação",
              "displayName": "Tempo de atuação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Procedimento que mais vende na clínica",
              "displayName": "Procedimento que mais vende na clínica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vendas por mês",
              "displayName": "Vendas por mês",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Costuma bater as metas do mês",
              "displayName": "Costuma bater as metas do mês",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Maior dificuldade para captar clientes",
              "displayName": "Maior dificuldade para captar clientes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Faturamento ",
              "displayName": "Faturamento ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Satisfeito com o faturamento atual",
              "displayName": "Satisfeito com o faturamento atual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quanto tempo conhece Ila & Nicole",
              "displayName": "Quanto tempo conhece Ila & Nicole",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Por onde conheceu Ila & Nicole",
              "displayName": "Por onde conheceu Ila & Nicole",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome Ingresso",
              "displayName": "Nome Ingresso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ingresso",
              "displayName": "Ingresso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ingresso Vip",
              "displayName": "Ingresso Vip",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ticket",
              "displayName": "Ticket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chave(audio)",
              "displayName": "Chave(audio)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link audio",
              "displayName": "Link audio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Clickup",
              "displayName": "ID Clickup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link Clickup",
              "displayName": "Link Clickup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Respondeu Aplicação",
              "displayName": "Respondeu Aplicação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recuperação de Pesquisa",
              "displayName": "Recuperação de Pesquisa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Respondeu Pesquisa",
              "displayName": "Respondeu Pesquisa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url_ingresso",
              "displayName": "url_ingresso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "respondeu aviso data",
              "displayName": "respondeu aviso data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Recebeu mensagem",
              "displayName": "Recebeu mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "de660079-c819-444a-b185-5cd651120308",
      "name": "Google Sheets5",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1740,
        40
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var email = $input.all()[0].json['E-mail de compra: '].trim();\n\n$input.all()[0].json['E-mail de compra: '] = email;\n\nreturn $input.all();"
      },
      "id": "1ae27aa7-cfb7-4c69-a5c4-c72c7607d19d",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        460
      ]
    },
    {
      "parameters": {
        "email": "={{ $('Code3').item.json['E-mail de compra: '] }}",
        "updateIfExists": true,
        "additionalFields": {}
      },
      "id": "9c2218df-e304-4fed-b773-b363681ba182",
      "name": "ActiveCampaign1",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        1040,
        460
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "jY4mO4rkMqLOPVXo",
          "name": "Ila & Nicole"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8906f1e8-e90a-44b2-8caf-2f6f5d4065ca",
        "options": {}
      },
      "id": "98416ae3-7784-4f30-9ff8-312fba32d54b",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -360,
        460
      ],
      "webhookId": "8906f1e8-e90a-44b2-8caf-2f6f5d4065ca"
    },
    {
      "parameters": {
        "method": "POST",
        "url": " https://activeilaenicole.api-us1.com/api/3/contactTags",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "Api-Token",
              "value": "7faa5f8fade7ade83a9851dfb75cb120c0c57114c3a8eb7a8f1f1d3620c93e0d05542921"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\t\"contactTag\": {\n\t\t\"contact\": \"{{ $json.id }}\",\n\t\t\"tag\": \"241\"\n\t}\n}",
        "options": {}
      },
      "id": "a39f0b78-5843-40fa-8fee-27f07fe44ff7",
      "name": "TAG RS9 RESPONDEU PESQUISA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1240,
        460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Google Sheets1').item.json.row_number }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "296b1fd5-b131-4adb-9646-82e6a05316f1",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2100,
        560
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "130dJLqIJVkcFvqzEpK2M_bMpaGvhZMOLhDsWGuSJxy0",
          "mode": "list",
          "cachedResultName": "[ILA] [CICLO 3] Planilha Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/130dJLqIJVkcFvqzEpK2M_bMpaGvhZMOLhDsWGuSJxy0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 636071144,
          "mode": "list",
          "cachedResultName": "[AUTO] Inscritos [AS9]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/130dJLqIJVkcFvqzEpK2M_bMpaGvhZMOLhDsWGuSJxy0/edit#gid=636071144"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Respondeu Pesquisa": "sim"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chave (busca)",
              "displayName": "Chave (busca)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "temperatura",
              "displayName": "temperatura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Página",
              "displayName": "Página",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Checkout direto",
              "displayName": "Checkout direto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Idade",
              "displayName": "Idade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "O que espera da reunião",
              "displayName": "O que espera da reunião",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Investe em anúncios",
              "displayName": "Investe em anúncios",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tempo de atuação",
              "displayName": "Tempo de atuação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Procedimento que mais vende na clínica",
              "displayName": "Procedimento que mais vende na clínica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vendas por mês",
              "displayName": "Vendas por mês",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Costuma bater as metas do mês",
              "displayName": "Costuma bater as metas do mês",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Maior dificuldade para captar clientes",
              "displayName": "Maior dificuldade para captar clientes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Faturamento ",
              "displayName": "Faturamento ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Satisfeito com o faturamento atual",
              "displayName": "Satisfeito com o faturamento atual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quanto tempo conhece Ila & Nicole",
              "displayName": "Quanto tempo conhece Ila & Nicole",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Por onde conheceu Ila & Nicole",
              "displayName": "Por onde conheceu Ila & Nicole",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome Ingresso",
              "displayName": "Nome Ingresso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ingresso",
              "displayName": "Ingresso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ingresso Vip",
              "displayName": "Ingresso Vip",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ticket",
              "displayName": "Ticket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chave(audio)",
              "displayName": "Chave(audio)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link audio",
              "displayName": "Link audio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Clickup",
              "displayName": "ID Clickup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link Clickup",
              "displayName": "Link Clickup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Respondeu Aplicação",
              "displayName": "Respondeu Aplicação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recuperação de Pesquisa",
              "displayName": "Recuperação de Pesquisa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Respondeu Pesquisa",
              "displayName": "Respondeu Pesquisa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chave (ingresso)",
              "displayName": "chave (ingresso)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "9ebcc123-291f-45a7-a870-94aaa8d02aaf",
      "name": "Google Sheets2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        2100,
        260
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C1825917D649026AAA446A65441921E/token/92B58C5DAD3489D5AD780116/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=5581993515055"
            },
            {
              "name": "message",
              "value": "=[ERRO - CRUZAMENTO DE DADOS]\n\nRespondeu pesquisa mas o e-mail não foi encontrado:\n\nE-mail:{{ $('Code3').item.json['E-mail de compra: '] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "62b1e7e8-ce39-4c3e-975a-fbf9897813cf",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2400,
        700
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "130dJLqIJVkcFvqzEpK2M_bMpaGvhZMOLhDsWGuSJxy0",
          "mode": "list",
          "cachedResultName": "[ILA] [CICLO 3] Planilha Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/130dJLqIJVkcFvqzEpK2M_bMpaGvhZMOLhDsWGuSJxy0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 636071144,
          "mode": "list",
          "cachedResultName": "[AUTO] Inscritos [AS9]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/130dJLqIJVkcFvqzEpK2M_bMpaGvhZMOLhDsWGuSJxy0/edit#gid=636071144"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Google Sheets1').item.json.row_number }}",
            "Respondeu Pesquisa": "sim(recuperação)"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chave (busca)",
              "displayName": "Chave (busca)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "temperatura",
              "displayName": "temperatura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Página",
              "displayName": "Página",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Checkout direto",
              "displayName": "Checkout direto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Idade",
              "displayName": "Idade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "O que espera da reunião",
              "displayName": "O que espera da reunião",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Investe em anúncios",
              "displayName": "Investe em anúncios",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tempo de atuação",
              "displayName": "Tempo de atuação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Procedimento que mais vende na clínica",
              "displayName": "Procedimento que mais vende na clínica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vendas por mês",
              "displayName": "Vendas por mês",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Costuma bater as metas do mês",
              "displayName": "Costuma bater as metas do mês",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Maior dificuldade para captar clientes",
              "displayName": "Maior dificuldade para captar clientes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Faturamento ",
              "displayName": "Faturamento ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Satisfeito com o faturamento atual",
              "displayName": "Satisfeito com o faturamento atual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quanto tempo conhece Ila & Nicole",
              "displayName": "Quanto tempo conhece Ila & Nicole",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Por onde conheceu Ila & Nicole",
              "displayName": "Por onde conheceu Ila & Nicole",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome Ingresso",
              "displayName": "Nome Ingresso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ingresso",
              "displayName": "Ingresso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ingresso Vip",
              "displayName": "Ingresso Vip",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ticket",
              "displayName": "Ticket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chave(audio)",
              "displayName": "Chave(audio)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link audio",
              "displayName": "Link audio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Clickup",
              "displayName": "ID Clickup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link Clickup",
              "displayName": "Link Clickup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Respondeu Aplicação",
              "displayName": "Respondeu Aplicação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recuperação de Pesquisa",
              "displayName": "Recuperação de Pesquisa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Respondeu Pesquisa",
              "displayName": "Respondeu Pesquisa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chave (ingresso)",
              "displayName": "chave (ingresso)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "c0f069e5-dd9e-425e-803a-727ed16e88b9",
      "name": "Google Sheets3",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        2400,
        420
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.marcosfoks.com.br",
            "user-agent": "Mozilla/5.0 (compatible; Google-Apps-Script; beanserver; +https://script.google.com; id: UAEmdDd8UpxhouS_0W3PbPyPVl2rCdjSZrIE)",
            "content-length": "1003",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare",
            "cf-connecting-ip": "107.178.224.198",
            "cf-ipcountry": "US",
            "cf-ray": "870216e9693ab036-ATL",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "x-forwarded-for": "172.71.22.112",
            "x-forwarded-host": "n8n.marcosfoks.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "bc917484dc53",
            "x-real-ip": "172.71.22.112"
          },
          "params": {},
          "query": {},
          "body": {
            "Qual é o seu nome?": "Luciana ",
            "E-mail de compra: ": "izagibertoni@gmail.com",
            "Qual é o seu número de telefone?": "31992788130",
            "Qual é a sua idade?": "35-44",
            "O que você espera aprender na Reunião Secreta?": "Captar pacientes ",
            "Você já investe em anúncios online para sua clínica odontológica?": "Sim, menos de 3 mil reais",
            "Há quanto tempo você é dentista?": "Entre 10 a 20 anos",
            "Qual o nome e região da sua clínica?": "Castilho Odontologia. Rio Piracicaba MG",
            "Qual o tipo de procedimento que mais vende na sua clínica?": "Implantes ",
            "Você costuma bater sua meta do mês?": "Não ",
            "Quais suas maiores dificuldades em captar pacientes qualificados pra sua clínica?": "Marketing fraco ",
            "Quanto você fatura por mês com sua clínica?": "Entre R$ 40.000 a 100.000",
            "Você está satisfeita(o) com o seu faturamento atual?": "Não",
            "Há quanto tempo você conhece a Ila e a Nicole?": "Mais de 6 meses",
            "Última pergunta, mas muito importante: Por onde conheceu a Ila e a Nicole?": "Instagram"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "HNdKTazc8iQXKV7C"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-10-12T03:16:03.155Z",
      "updatedAt": "2023-10-12T03:16:03.155Z",
      "id": "RsdI5HyLiEx96UXQ",
      "name": "RS"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-04-06T15:16:45.000Z",
  "versionId": "a2030d9f-4435-462f-baa2-43af577cedb8"
}