workflows/[REUNIÃO SECRETA] Funis de Recuperação.json
{
  "active": true,
  "connections": {
    "Code1": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Google Sheets6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter3": {
      "main": [
        [
          {
            "node": "Google Sheets7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter4": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Filter3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Filter4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets6": {
      "main": [
        [
          {
            "node": "ActiveCampaign2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets7": {
      "main": [
        [
          {
            "node": "ActiveCampaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign2": {
      "main": [
        [
          {
            "node": "RS12 - Recuperação: sim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign": {
      "main": [
        [
          {
            "node": "Altera campo personalizado no active1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Altera campo personalizado no active1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Altera campo personalizado no active2": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF4": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF5": {
      "main": [
        [
          {
            "node": "Google Sheets4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets4": {
      "main": [
        [
          {
            "node": "Filter2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF6": {
      "main": [
        [
          {
            "node": "IF4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Google Sheets5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter2": {
      "main": [
        [
          {
            "node": "Google Sheets9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "IF6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign1": {
      "main": [
        [
          {
            "node": "Altera campo personalizado no active2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "ActiveCampaign1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RS12 - Recuperação: sim": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-10-12T03:23:00.950Z",
  "id": "6Jgu1ufk60zUu0Nc",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[REUNIÃO SECRETA] Funis de Recuperação",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]\n"
      },
      "id": "9c86ec14-6950-4fde-bc37-6698ba01345c",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -280,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "function formataTelefone(number) {\n    number = number.toString().replace(/[^\\d]/g, \"\")\n    let ddi = '55'\n    let ddd = number.substring(0, 2)\n\n    if (number.length == 13) {\n        let ddi = number.substring(0, 2)\n        let ddd = number.substring(2, 4)\n        return ddi + ddd + (ddd <= 28 ? number.substring(4, 13) : number.substring(5, 13))\n\n    } else if (number.length == 11) {\n        return ddi + ddd + (ddd <= 28 ? number.substring(2, 11) : number.substring(3, 11))\n\n    } else if (number.length == 10) {\n        return ddi + ddd + (ddd <= 28 ? '9' : '') + number.substring(2, 11)\n\n    } else if (number.length == 12) {\n        return number.substring(0, 2) == '55' ? number : (number.substring(0, 1) == '0' ? formataTelefone(number.substring(1, 12)) : number)\n\n    } else {\n        return number\n    }\n}\n\n$input.all()[0].json['contact[phone]'] = formataTelefone($node['Code1'].json['contact[phone]'])\n\nreturn $input.all();"
      },
      "id": "100c99f9-f475-4984-9f77-87cc6a48014a",
      "name": "Code3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        0,
        800
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Nome }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "b48aee45-17b2-4240-a8d8-48f4fb89a562",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        1920,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Nome }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "0aa88cee-0c50-4d9d-b624-1ca18dfa5ab1",
      "name": "Filter3",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        1920,
        780
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Nome }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "b97acbf8-1372-4527-99ae-c6b7204fe8bc",
      "name": "Filter4",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        1920,
        980
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3000c71c-2829-4387-8d4c-cc42e39eb0ae",
        "options": {}
      },
      "id": "add3bc6c-c08f-450f-a3a6-8361b55f9ca8",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -560,
        800
      ],
      "webhookId": "3000c71c-2829-4387-8d4c-cc42e39eb0ae"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Code3').item.json['contact[tags]'] }}",
              "operation": "contains",
              "value2": "RS13 - Recuperação | Pix Emitido"
            },
            {
              "value1": "={{ $('Code3').item.json['contact[tags]'] }}",
              "operation": "notContains",
              "value2": "RS13 - Recuperação | InitiateCheckout"
            },
            {
              "value1": "={{ $('Code3').item.json['contact[tags]'] }}",
              "operation": "notContains",
              "value2": "RS13 - Recuperação | Compra Cancelada"
            }
          ]
        }
      },
      "id": "074d65a8-9356-478c-afad-66021727610a",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1180,
        780
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json['contact[tags]'] }}",
              "operation": "contains",
              "value2": "RS13 - Recuperação | Compra Cancelada"
            },
            {
              "value1": "={{ $json['contact[tags]'] }}",
              "operation": "notContains",
              "value2": "RS13 - Recuperação | InitiateCheckout"
            },
            {
              "value1": "={{ $json['contact[tags]'] }}",
              "operation": "notContains",
              "value2": "RS13 - Recuperação | Pix Emitido"
            }
          ]
        }
      },
      "id": "1fb0cb3c-97f9-473c-a038-c82c55f2eb7f",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1300,
        1080
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json['contact[tags]'] }}",
              "operation": "contains",
              "value2": "RS13 - Recuperação | InitiateCheckout"
            },
            {
              "value1": "={{ $json['contact[tags]'] }}",
              "operation": "notContains",
              "value2": "RS13 - Recuperação | Pix Emitido"
            },
            {
              "value1": "={{ $json['contact[tags]'] }}",
              "operation": "notContains",
              "value2": "RS13 - Recuperação | Compra Cancelada"
            }
          ]
        }
      },
      "id": "ec414904-c972-4391-9fe8-795bace263cc",
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1360,
        1400
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "10lDoH3sZGz-yEdNQQJFwtc1XOwyFH5iRGJawjfgjRDc",
          "mode": "list",
          "cachedResultName": "[ILA] [CICLO 5] Planilha Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10lDoH3sZGz-yEdNQQJFwtc1XOwyFH5iRGJawjfgjRDc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 303634111,
          "mode": "list",
          "cachedResultName": "Recuperação - Ingressos [AS13]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10lDoH3sZGz-yEdNQQJFwtc1XOwyFH5iRGJawjfgjRDc/edit#gid=303634111"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $('Code3').item.json['contact[email]'] }}"
            },
            {
              "lookupColumn": "Funil",
              "lookupValue": "="
            }
          ]
        },
        "options": {}
      },
      "id": "d9d8c9e2-029a-4f49-9da5-dcbe2d71df33",
      "name": "Google Sheets3",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1720,
        600
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "10lDoH3sZGz-yEdNQQJFwtc1XOwyFH5iRGJawjfgjRDc",
          "mode": "list",
          "cachedResultName": "[ILA] [CICLO 5] Planilha Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10lDoH3sZGz-yEdNQQJFwtc1XOwyFH5iRGJawjfgjRDc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 303634111,
          "mode": "list",
          "cachedResultName": "Recuperação - Ingressos [AS13]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10lDoH3sZGz-yEdNQQJFwtc1XOwyFH5iRGJawjfgjRDc/edit#gid=303634111"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $('Code3').item.json['contact[email]'] }}"
            },
            {
              "lookupColumn": "Funil",
              "lookupValue": "="
            }
          ]
        },
        "options": {}
      },
      "id": "a3f15040-0fbc-4564-b217-ede05409e2c9",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1720,
        780
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "10lDoH3sZGz-yEdNQQJFwtc1XOwyFH5iRGJawjfgjRDc",
          "mode": "list",
          "cachedResultName": "[ILA] [CICLO 5] Planilha Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10lDoH3sZGz-yEdNQQJFwtc1XOwyFH5iRGJawjfgjRDc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 303634111,
          "mode": "list",
          "cachedResultName": "Recuperação - Ingressos [AS13]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10lDoH3sZGz-yEdNQQJFwtc1XOwyFH5iRGJawjfgjRDc/edit#gid=303634111"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $('Code3').item.json['contact[email]'] }}"
            },
            {
              "lookupColumn": "Funil",
              "lookupValue": "="
            }
          ]
        },
        "options": {}
      },
      "id": "bb88f6a8-7228-4c7c-bb9e-57d046ca4aa4",
      "name": "Google Sheets2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1720,
        980
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "10lDoH3sZGz-yEdNQQJFwtc1XOwyFH5iRGJawjfgjRDc",
          "mode": "list",
          "cachedResultName": "[ILA] [CICLO 5] Planilha Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10lDoH3sZGz-yEdNQQJFwtc1XOwyFH5iRGJawjfgjRDc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 303634111,
          "mode": "list",
          "cachedResultName": "Recuperação - Ingressos [AS13]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10lDoH3sZGz-yEdNQQJFwtc1XOwyFH5iRGJawjfgjRDc/edit#gid=303634111"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data de Recuperação": "={{ $('Code3').item.json['contact[fields][rs13_pix_emitido_date]'] }}",
            "Chave(busca)": "={{ $('Code3').item.json[\"contact[phone]\"].slice(-7) }}",
            "Nome": "={{ $('Code3').item.json['contact[first_name]'] }}",
            "Email": "={{ $('Code3').item.json['contact[email]'] }}",
            "Telefone": "={{ $('Code3').item.json['contact[phone]'] }}",
            "utm_source": "={{ $('Code3').item.json['contact[fields][utmsourcers13]'] }}",
            "utm_campaign": "={{ $('Code3').item.json['contact[fields][utmcampaignrs13]'] }}",
            "utm_medium": "={{ $('Code3').item.json['contact[fields][utmmediumrs13]'] }}",
            "utm_term": "={{ $('Code3').item.json['contact[fields][utmtermrs13]'] }}",
            "utm_content": "={{ $('Code3').item.json['contact[fields][utmcontentrs13]'] }}",
            "temperatura": "={{ $('Code3').item.json['contact[fields][rs13_temperatura]'] }}",
            "Página": "={{ $('Code3').item.json['contact[fields][rs13_pgina_capt]'] }}",
            "checkout direto": "={{ $('Code3').item.json['contact[fields][rs13_checkout_direto]'] }}",
            "Funil": "PE",
            "Última recuperação enviada": "Padrão do funil"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data de Recuperação",
              "displayName": "Data de Recuperação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chave(busca)",
              "displayName": "Chave(busca)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "temperatura",
              "displayName": "temperatura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Página",
              "displayName": "Página",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "checkout direto",
              "displayName": "checkout direto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Funil",
              "displayName": "Funil",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Última recuperação enviada",
              "displayName": "Última recuperação enviada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Respondeu?",
              "displayName": "Respondeu?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comprou?",
              "displayName": "Comprou?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Clickup",
              "displayName": "ID Clickup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link CRM",
              "displayName": "Link CRM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "afc9b9fc-dce5-4752-8fe2-5c25982e0d7d",
      "name": "Google Sheets6",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2140,
        600
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "10lDoH3sZGz-yEdNQQJFwtc1XOwyFH5iRGJawjfgjRDc",
          "mode": "list",
          "cachedResultName": "[ILA] [CICLO 5] Planilha Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10lDoH3sZGz-yEdNQQJFwtc1XOwyFH5iRGJawjfgjRDc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 303634111,
          "mode": "list",
          "cachedResultName": "Recuperação - Ingressos [AS13]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10lDoH3sZGz-yEdNQQJFwtc1XOwyFH5iRGJawjfgjRDc/edit#gid=303634111"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data de Recuperação": "={{ $('Code3').item.json['contact[fields][rs13_compra_cancelada_date]'] }}",
            "Chave(busca)": "={{ $('Code3').item.json[\"contact[phone]\"].slice(-7) }}",
            "Nome": "={{ $('Code3').item.json['contact[first_name]'] }}",
            "Email": "={{ $('Code3').item.json['contact[email]'] }}",
            "Telefone": "={{ $('Code3').item.json['contact[phone]'] }}",
            "utm_source": "={{ $('Code3').item.json['contact[fields][utmsourcers13]'] }}",
            "utm_campaign": "={{ $('Code3').item.json['contact[fields][utmcampaignrs13]'] }}",
            "utm_medium": "={{ $('Code3').item.json['contact[fields][utmmediumrs13]'] }}",
            "utm_term": "={{ $('Code3').item.json['contact[fields][utmtermrs13]'] }}",
            "utm_content": "={{ $('Code3').item.json['contact[fields][utmcontentrs13]'] }}",
            "temperatura": "={{ $('Code3').item.json['contact[fields][rs13_temperatura]'] }}",
            "Página": "={{ $('Code3').item.json['contact[fields][rs13_pgina_capt]'] }}",
            "checkout direto": "={{ $('Code3').item.json['contact[fields][rs13_checkout_direto]'] }}",
            "Funil": "CC",
            "Última recuperação enviada": "Padrão do funil"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data de Recuperação",
              "displayName": "Data de Recuperação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chave(busca)",
              "displayName": "Chave(busca)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "temperatura",
              "displayName": "temperatura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Página",
              "displayName": "Página",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "checkout direto",
              "displayName": "checkout direto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Funil",
              "displayName": "Funil",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Última recuperação enviada",
              "displayName": "Última recuperação enviada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Respondeu?",
              "displayName": "Respondeu?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comprou?",
              "displayName": "Comprou?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Clickup",
              "displayName": "ID Clickup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link CRM",
              "displayName": "Link CRM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "d93fa725-c4b0-4f05-80ad-e57999656917",
      "name": "Google Sheets7",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2140,
        780
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $json.Email }}",
        "updateIfExists": true,
        "additionalFields": {}
      },
      "id": "dfa9d10d-23a7-44ae-98d6-994779ebf6d9",
      "name": "ActiveCampaign2",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2360,
        600
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "jY4mO4rkMqLOPVXo",
          "name": "Ila & Nicole"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $json.Email }}",
        "updateIfExists": true,
        "additionalFields": {}
      },
      "id": "13d699c6-aa33-4482-b49e-a70a50ef3832",
      "name": "ActiveCampaign",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2360,
        780
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "jY4mO4rkMqLOPVXo",
          "name": "Ila & Nicole"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $('Code3').item.json['contact[email]'] }}",
        "updateIfExists": true,
        "additionalFields": {}
      },
      "id": "1ff1048f-84b0-4db9-9d92-1921d7f515e1",
      "name": "ActiveCampaign1",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2360,
        980
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "jY4mO4rkMqLOPVXo",
          "name": "Ila & Nicole"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hook.us1.make.com/rcpcoucbpa8jqzvqols662vm1p9yrxrn",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $('Code3').item.json['contact[first_name]'] }}"
            },
            {
              "name": "email",
              "value": "={{ $('Code3').item.json['contact[email]'] }}"
            },
            {
              "name": "whatsapp",
              "value": "={{ $('Code3').item.json['contact[phone]'] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $('Code3').item.json['contact[fields][utmsourcers13]'] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $('Code3').item.json['contact[fields][utmcampaignrs13]'] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $('Code3').item.json['contact[fields][utmmediumrs13]'] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $('Code3').item.json['contact[fields][utmcontentrs13]'] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $('Code3').item.json['contact[fields][utmtermrs13]'] }}"
            },
            {
              "name": "funil",
              "value": "PE"
            }
          ]
        },
        "options": {}
      },
      "id": "1c20802d-f279-48db-b034-6564ae3a32bb",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2800,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hook.us1.make.com/rcpcoucbpa8jqzvqols662vm1p9yrxrn",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $('Code3').item.json['contact[first_name]'] }}"
            },
            {
              "name": "email",
              "value": "={{ $('Code3').item.json['contact[email]'] }}"
            },
            {
              "name": "whatsapp",
              "value": "={{ $('Code3').item.json['contact[phone]'] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $('Code3').item.json['contact[fields][utmsourcers13]'] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $('Code3').item.json['contact[fields][utmcampaignrs13]'] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $('Code3').item.json['contact[fields][utmmediumrs13]'] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $('Code3').item.json['contact[fields][utmcontentrs13]'] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $('Code3').item.json['contact[fields][utmtermrs13]'] }}"
            },
            {
              "name": "funil",
              "value": "CC"
            }
          ]
        },
        "options": {}
      },
      "id": "0971c2af-7ba3-4f3f-8c1e-f5cdef00cfc0",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2800,
        780
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": " https://activeilaenicole.api-us1.com/api/3/fieldValues",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "Api-Token",
              "value": "7faa5f8fade7ade83a9851dfb75cb120c0c57114c3a8eb7a8f1f1d3620c93e0d05542921"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"fieldValue\": {\n        \"contact\": {{ $json.id }},\n        \"field\": 283,\n        \"value\": \"sim\"\n    },\n    \"useDefaults\": false\n}",
        "options": {}
      },
      "id": "40ecc141-ad7d-46ea-a98f-00db885b2049",
      "name": "Altera campo personalizado no active1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2580,
        780
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": " https://activeilaenicole.api-us1.com/api/3/fieldValues",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "Api-Token",
              "value": "7faa5f8fade7ade83a9851dfb75cb120c0c57114c3a8eb7a8f1f1d3620c93e0d05542921"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"fieldValue\": {\n        \"contact\": {{ $json.id }},\n        \"field\": 283,\n        \"value\": \"sim\"\n    },\n    \"useDefaults\": false\n}",
        "options": {}
      },
      "id": "863271c8-f41d-4245-b222-a5c49536ffd4",
      "name": "Altera campo personalizado no active2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2580,
        980
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Code3').item.json['contact[tags]'] }}",
              "operation": "contains",
              "value2": "RS13 Recuperação - C2"
            },
            {
              "value1": "={{ $('Code3').item.json['contact[tags]'] }}",
              "operation": "notContains",
              "value2": "RS13 Recuperação - C3"
            }
          ]
        }
      },
      "id": "5f25aeef-21ba-4cdb-a74a-86f111278c58",
      "name": "IF4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1120,
        340
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "10lDoH3sZGz-yEdNQQJFwtc1XOwyFH5iRGJawjfgjRDc",
          "mode": "list",
          "cachedResultName": "[ILA] [CICLO 5] Planilha Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10lDoH3sZGz-yEdNQQJFwtc1XOwyFH5iRGJawjfgjRDc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 303634111,
          "mode": "list",
          "cachedResultName": "Recuperação - Ingressos [AS13]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10lDoH3sZGz-yEdNQQJFwtc1XOwyFH5iRGJawjfgjRDc/edit#gid=303634111"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $('Code3').item.json['contact[email]'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "89dabc3b-ade5-4199-88d7-c57903279d7b",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1500,
        240
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Code3').item.json['contact[tags]'] }}",
              "operation": "contains",
              "value2": "RS13 Recuperação - C3"
            }
          ]
        }
      },
      "id": "ec243ca8-a533-4777-b99a-fa30f6e7c340",
      "name": "IF5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1120,
        60
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "10lDoH3sZGz-yEdNQQJFwtc1XOwyFH5iRGJawjfgjRDc",
          "mode": "list",
          "cachedResultName": "[ILA] [CICLO 5] Planilha Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10lDoH3sZGz-yEdNQQJFwtc1XOwyFH5iRGJawjfgjRDc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 303634111,
          "mode": "list",
          "cachedResultName": "Recuperação - Ingressos [AS13]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10lDoH3sZGz-yEdNQQJFwtc1XOwyFH5iRGJawjfgjRDc/edit#gid=303634111"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $('Code3').item.json['contact[email]'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a782ed21-5abf-45d6-979b-7f51b505b5a0",
      "name": "Google Sheets4",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1500,
        -140
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Nome }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "a8670356-9f0f-437d-ad7d-e6967d3dac77",
      "name": "Filter1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        1760,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Nome }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "94eda122-5e75-4823-a792-db821c706136",
      "name": "Filter2",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        1760,
        -140
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json['contact[fields][rs13_recebeu_recuperao]'] }}",
              "value2": "sim"
            }
          ]
        }
      },
      "id": "552a1595-f35d-4a9f-acbc-cdbddd53c0f9",
      "name": "IF6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        820,
        740
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "10lDoH3sZGz-yEdNQQJFwtc1XOwyFH5iRGJawjfgjRDc",
          "mode": "list",
          "cachedResultName": "[ILA] [CICLO 5] Planilha Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10lDoH3sZGz-yEdNQQJFwtc1XOwyFH5iRGJawjfgjRDc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 303634111,
          "mode": "list",
          "cachedResultName": "Recuperação - Ingressos [AS13]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10lDoH3sZGz-yEdNQQJFwtc1XOwyFH5iRGJawjfgjRDc/edit#gid=303634111"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.Email }}",
            "Última recuperação enviada": "C2"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Data de Recuperação",
              "displayName": "Data de Recuperação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chave(busca)",
              "displayName": "Chave(busca)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "temperatura",
              "displayName": "temperatura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Página",
              "displayName": "Página",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "checkout direto",
              "displayName": "checkout direto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Funil",
              "displayName": "Funil",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Última recuperação enviada",
              "displayName": "Última recuperação enviada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Respondeu?",
              "displayName": "Respondeu?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comprou?",
              "displayName": "Comprou?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Clickup",
              "displayName": "ID Clickup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "bd2ffd5e-8969-429e-8f72-8eda1fc68552",
      "name": "Google Sheets5",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2000,
        240
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "10lDoH3sZGz-yEdNQQJFwtc1XOwyFH5iRGJawjfgjRDc",
          "mode": "list",
          "cachedResultName": "[ILA] [CICLO 5] Planilha Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10lDoH3sZGz-yEdNQQJFwtc1XOwyFH5iRGJawjfgjRDc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 303634111,
          "mode": "list",
          "cachedResultName": "Recuperação - Ingressos [AS13]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10lDoH3sZGz-yEdNQQJFwtc1XOwyFH5iRGJawjfgjRDc/edit#gid=303634111"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.Email }}",
            "Última recuperação enviada": "C3"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Data de Recuperação",
              "displayName": "Data de Recuperação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chave(busca)",
              "displayName": "Chave(busca)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "temperatura",
              "displayName": "temperatura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Página",
              "displayName": "Página",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "checkout direto",
              "displayName": "checkout direto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Funil",
              "displayName": "Funil",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Última recuperação enviada",
              "displayName": "Última recuperação enviada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Respondeu?",
              "displayName": "Respondeu?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comprou?",
              "displayName": "Comprou?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Clickup",
              "displayName": "ID Clickup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "1a6cdc31-626a-4b71-8f18-afaf0c0c99ad",
      "name": "Google Sheets9",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2000,
        -140
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hook.us1.make.com/rcpcoucbpa8jqzvqols662vm1p9yrxrn",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $('Code3').item.json['contact[first_name]'] }}"
            },
            {
              "name": "email",
              "value": "={{ $('Code3').item.json['contact[email]'] }}"
            },
            {
              "name": "whatsapp",
              "value": "={{ $('Code3').item.json['contact[phone]'] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $('Code3').item.json['contact[fields][utmsourcers13]'] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $('Code3').item.json['contact[fields][utmcampaignrs13]'] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $('Code3').item.json['contact[fields][utmmediumrs13]'] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $('Code3').item.json['contact[fields][utmcontentrs13]'] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $('Code3').item.json['contact[fields][utmtermrs13]'] }}"
            },
            {
              "name": "funil",
              "value": "IC"
            }
          ]
        },
        "options": {}
      },
      "id": "c9888bb6-8072-4c28-9d22-601a4a008249",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2800,
        980
      ]
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random()* 26) + 15 }}",
        "unit": "seconds"
      },
      "id": "f0f04db0-e515-42fe-8f38-12694395f874",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        400,
        780
      ],
      "webhookId": "15f09560-fcd3-4580-b9c7-336fa003e613"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hook.us1.make.com/ejd6spy07fe83be7os9wc5emixr6h10k",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $('Code3').item.json['contact[first_name]'] }}"
            },
            {
              "name": "email",
              "value": "={{ $('Code3').item.json['contact[email]'] }}"
            },
            {
              "name": "whatsapp",
              "value": "={{ $('Code3').item.json['contact[phone]'] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $('Code3').item.json['contact[fields][utmsourcers13]'] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $('Code3').item.json['contact[fields][utmcampaignrs13]'] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $('Code3').item.json['contact[fields][utmmediumrs13]'] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $('Code3').item.json['contact[fields][utmcontentrs13]'] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $('Code3').item.json['contact[fields][utmtermrs13]'] }}"
            },
            {
              "name": "funil",
              "value": "IC"
            },
            {
              "name": "Última recuperação enviada",
              "value": "=Padrão do funil"
            },
            {
              "name": "Data recuperação",
              "value": "={{ $('Code3').item.json['contact[fields][rs13_initiatecheckout_date]'] }}"
            },
            {
              "name": "temperatura",
              "value": "={{ $('Code3').item.json['contact[fields][rs13_temperatura]'] }}"
            },
            {
              "name": "pagina",
              "value": "={{ $('Code3').item.json['contact[fields][rs13_pgina_capt]'] }}"
            },
            {
              "name": "chave",
              "value": "={{ $('Code3').item.json['contact[phone]'].slice(-7) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1a28548f-de5d-4e23-975d-1ec86a351489",
      "name": "HTTP Request5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2140,
        980
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": " https://activeilaenicole.api-us1.com/api/3/fieldValues",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "Api-Token",
              "value": "7faa5f8fade7ade83a9851dfb75cb120c0c57114c3a8eb7a8f1f1d3620c93e0d05542921"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"fieldValue\": {\n        \"contact\": {{ $json.id }},\n        \"field\": 283,\n        \"value\": \"sim\"\n    },\n    \"useDefaults\": false\n}",
        "options": {}
      },
      "id": "00567bbf-f9a9-490c-9fb1-88e581f8f7d2",
      "name": "RS12 - Recuperação: sim",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2580,
        600
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.marcosfoks.com.br",
            "user-agent": "GuzzleHttp/6.5.5 curl/8.3.0 PHP/7.4.33",
            "content-length": "773",
            "accept-encoding": "gzip",
            "cdn-loop": "cloudflare",
            "cf-connecting-ip": "3.220.243.205",
            "cf-ipcountry": "US",
            "cf-ray": "85a7936f58169c36-IAD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/x-www-form-urlencoded",
            "x-forwarded-for": "172.70.174.253",
            "x-forwarded-host": "n8n.marcosfoks.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "af9052d35998",
            "x-real-ip": "172.70.174.253"
          },
          "params": {},
          "query": {},
          "body": {
            "contact[id]": "3180",
            "contact[email]": "santosfs.liliane@gmail.com",
            "contact[first_name]": "Liliane",
            "contact[last_name]": "Ferreira da Silva Santos",
            "contact[phone]": "62993577552",
            "contact[orgname]": "",
            "contact[customer_acct_name]": "",
            "contact[tags]": "RS8 - Recuperação | InitiateCheckout, RS8 Recuperação - C1, [RS8] Pré-Checkout",
            "contact[ip4]": "127.0.0.1",
            "contact[fields][utmsourcers8]": "direto",
            "contact[fields][utmcampaignrs8]": "",
            "contact[fields][utmmediumrs8]": "",
            "contact[fields][utmcontentrs8]": "",
            "contact[fields][utmtermrs8]": "",
            "contact[fields][rs8_pgina_capt]": "caixa-rapido/",
            "contact[fields][rs8_initiatecheckout_date]": "2024-02-24",
            "contact[fields][rs8_temperatura]": "quente",
            "seriesid": "49"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "HNdKTazc8iQXKV7C"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-10-12T03:16:03.155Z",
      "updatedAt": "2023-10-12T03:16:03.155Z",
      "id": "RsdI5HyLiEx96UXQ",
      "name": "RS"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-07-30T02:45:24.000Z",
  "versionId": "b6ceee8f-4f99-432e-9bbd-c346ad5559ea"
}