workflows/[REUNIÃO SECRETA] Envio de Ingressos.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "PDFKit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDFKit1": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDFKit": {
      "main": [
        [
          {
            "node": "GitHub1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "PDFKit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-04-23T01:06:36.013Z",
  "id": "laldcfHnWAqMzPog",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[REUNIÃO SECRETA] Envio de Ingressos",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression"
            }
          ]
        }
      },
      "id": "5c209b03-a032-494e-bb71-522f9418a6cc",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        820,
        380
      ]
    },
    {
      "parameters": {
        "url": "https://export-download.canva.com/_dKP0/DAFpYM_dKP0/268/0/0001-6500245885799243647.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJHKNGJLC2J7OGJ6Q%2F20240422%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240422T104652Z&X-Amz-Expires=57909&X-Amz-Signature=8e84b2f8cb0066360908c284db2420f57e868a1d5cb8b1da3a3631ab595ca2c5&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%2A%3DUTF-8%27%27Ingresso%2520-%2520Modelo%2520Standard.png&response-expires=Tue%2C%2023%20Apr%202024%2002%3A52%3A01%20GMT",
        "options": {}
      },
      "id": "e1608a82-409c-453c-99ce-34e9fe3f0645",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1080,
        280
      ]
    },
    {
      "parameters": {
        "pdfName": "verso"
      },
      "id": "c03d4ca6-7d6c-4594-9ade-b164243bbf55",
      "name": "PDFKit",
      "type": "n8n-nodes-pdfkit.pdfKit",
      "typeVersion": 1,
      "position": [
        1340,
        460
      ]
    },
    {
      "parameters": {
        "url": "https://export-download.canva.com/_dKP0/DAFpYM_dKP0/268/0/0002-754778661862399946.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJHKNGJLC2J7OGJ6Q%2F20240422%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240422T084210Z&X-Amz-Expires=67132&X-Amz-Signature=5d3d2d133410ea1e888f4a6424181c053932227478f42034621f0de228aed3d2&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%2A%3DUTF-8%27%27Ingresso%2520-%2520Modelo%2520Standard.png&response-expires=Tue%2C%2023%20Apr%202024%2003%3A21%3A02%20GMT",
        "options": {}
      },
      "id": "8b36941e-e314-4549-8fe0-ca423a443c3c",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1080,
        460
      ]
    },
    {
      "parameters": {
        "pdfName": "frente"
      },
      "id": "3c9ba32a-67f6-4371-b007-853594bf664d",
      "name": "PDFKit1",
      "type": "n8n-nodes-pdfkit.pdfKit",
      "typeVersion": 1,
      "position": [
        1340,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hook.us1.make.com/b7kgopha7moehqvh72cqlhotx1rvyffi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "data1",
              "value": "={{ $('Merge').item.binary.data.data }}"
            },
            {
              "name": "data2",
              "value": "={{$('Merge').item.binary.data.data}}"
            }
          ]
        },
        "options": {}
      },
      "id": "08b80848-214c-4a24-8c3a-81cfeb70189a",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2020,
        800
      ]
    },
    {
      "parameters": {},
      "id": "490cb44b-92f2-4e0a-95df-5dad9af7f8ab",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1880,
        380
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "libertas-cris",
          "mode": "list",
          "cachedResultName": "libertas-cris",
          "cachedResultUrl": "https://github.com/libertas-cris"
        },
        "repository": {
          "__rl": true,
          "value": "teste",
          "mode": "list",
          "cachedResultName": "teste",
          "cachedResultUrl": "https://github.com/libertas-cris/teste"
        },
        "filePath": "={{$now.toMillis() +\"_ingresso_frente_cris\"}}",
        "binaryData": true,
        "commitMessage": "={{$now.toMillis() +\"_ingresso_frente_cris\"}}"
      },
      "id": "32ef7dc8-2974-43d9-a98c-7b2ef0cfadaf",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1600,
        280
      ],
      "credentials": {
        "githubApi": {
          "id": "bzG1MN0DjIGk3oU2",
          "name": "Libertas"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "libertas-cris",
          "mode": "list",
          "cachedResultName": "libertas-cris",
          "cachedResultUrl": "https://github.com/libertas-cris"
        },
        "repository": {
          "__rl": true,
          "value": "teste",
          "mode": "list",
          "cachedResultName": "teste",
          "cachedResultUrl": "https://github.com/libertas-cris/teste"
        },
        "filePath": "={{$now.toMillis() +\"_ingresso_verso_cris\"}}",
        "binaryData": true,
        "commitMessage": "={{$now.toMillis() +\"_ingresso_verso_cris\"}}"
      },
      "id": "8f908da1-9d4b-4434-94bc-f4db2b50203f",
      "name": "GitHub1",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1600,
        460
      ],
      "credentials": {
        "githubApi": {
          "id": "bzG1MN0DjIGk3oU2",
          "name": "Libertas"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pdf.co/v1/pdf/merge2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "matheus.cristhyan.libertas@gmail.com_k339chk06h5p7pMVZ0vGn7ncWOFoEDiPF0V0Te3I0mbE30fy1yYSksaB2EcJ6ft1"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.download_url[0] }},{{ $json.download_url[1] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "99e4a3c0-6359-4c39-b975-55ee748b57c4",
      "name": "HTTP Request3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2320,
        380
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content.download_url"
            }
          ]
        },
        "options": {}
      },
      "id": "e87a0d33-8a21-4fc2-afa2-5f87071796f1",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2100,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C1825917D649026AAA446A65441921E/token/92B58C5DAD3489D5AD780116/send-document/pdf",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=5581993515055"
            },
            {
              "name": "document",
              "value": "={{ $json.url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ca8888d0-9166-4a1a-89f7-7453b162950e",
      "name": "HTTP Request4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2540,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ilovepdf.com/v1/auth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "public_key",
              "value": "project_public_2fa38383a5a6708d8f5aa232c00be424_QfWo617c22cf9786dfbfe1d55957099179359"
            }
          ]
        },
        "options": {}
      },
      "id": "42ed4a2f-e2b7-4f1e-836b-3196188b76fc",
      "name": "HTTP Request5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1000,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ilovepdf.com/v1/merge",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJhcGkuaWxvdmVwZGYuY29tIiwiYXVkIjoiIiwiaWF0IjoxNzEzODQwNDg4LCJuYmYiOjE3MTM4NDA0ODgsImV4cCI6MTcxMzg0NDA4OCwianRpIjoicHJvamVjdF9wdWJsaWNfMmZhMzgzODNhNWE2NzA4ZDhmNWFhMjMyYzAwYmU0MjRfUWZXbzYxN2MyMmNmOTc4NmRmYmZlMWQ1NTk1NzA5OTE3OTM1OSJ9.MBe_Qg8vEKvCu_C9TRBUSUS_zKfqIqPKt0k9ZeSmv84"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"files\": [\n    \"https://raw.githubusercontent.com/libertas-cris/teste/main/ingresso-frente-cris2.pdf\",\n    \"https://raw.githubusercontent.com/libertas-cris/teste/main/ingresso-verso-cris2.pdf\"\n  ],\n  \"custom_merge_settings\": {\n    \"merge_order\": \"asc\",\n    \"header\": {\n      \"text\": \"Documento Mergulhado\",\n      \"font_size\": 12,\n      \"font_color\": \"#000000\"\n    }\n  }\n}",
        "options": {}
      },
      "id": "deba25f3-1539-4c7a-a8b3-84efae8d1759",
      "name": "HTTP Request6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1020,
        720
      ]
    }
  ],
  "pinData": {
    "GitHub": [
      {
        "json": {
          "content": {
            "name": "ingresso-frente-cris2.pdf",
            "path": "ingresso-frente-cris2.pdf",
            "sha": "59a6a7554d5928e98a9fb27ddbdcb6b5603fa120",
            "size": 158907,
            "url": "https://api.github.com/repos/libertas-cris/teste/contents/ingresso-frente-cris2.pdf?ref=main",
            "html_url": "https://github.com/libertas-cris/teste/blob/main/ingresso-frente-cris2.pdf",
            "git_url": "https://api.github.com/repos/libertas-cris/teste/git/blobs/59a6a7554d5928e98a9fb27ddbdcb6b5603fa120",
            "download_url": "https://raw.githubusercontent.com/libertas-cris/teste/main/ingresso-frente-cris2.pdf",
            "type": "file",
            "_links": {
              "self": "https://api.github.com/repos/libertas-cris/teste/contents/ingresso-frente-cris2.pdf?ref=main",
              "git": "https://api.github.com/repos/libertas-cris/teste/git/blobs/59a6a7554d5928e98a9fb27ddbdcb6b5603fa120",
              "html": "https://github.com/libertas-cris/teste/blob/main/ingresso-frente-cris2.pdf"
            }
          },
          "commit": {
            "sha": "ac866207d73ece819eabc034ee505a7179157cad",
            "node_id": "C_kwDOLQtg19oAKGFjODY2MjA3ZDczZWNlODE5ZWFiYzAzNGVlNTA1YTcxNzkxNTdjYWQ",
            "url": "https://api.github.com/repos/libertas-cris/teste/git/commits/ac866207d73ece819eabc034ee505a7179157cad",
            "html_url": "https://github.com/libertas-cris/teste/commit/ac866207d73ece819eabc034ee505a7179157cad",
            "author": {
              "name": "libertas-cris",
              "email": "155282836+libertas-cris@users.noreply.github.com",
              "date": "2024-04-23T02:18:26Z"
            },
            "committer": {
              "name": "libertas-cris",
              "email": "155282836+libertas-cris@users.noreply.github.com",
              "date": "2024-04-23T02:18:26Z"
            },
            "tree": {
              "sha": "e8bd4f4a1f66193230aca3e48e890b27b7a7f6a6",
              "url": "https://api.github.com/repos/libertas-cris/teste/git/trees/e8bd4f4a1f66193230aca3e48e890b27b7a7f6a6"
            },
            "message": "ingresso_frente_cris",
            "parents": [
              {
                "sha": "ed00647ad1fc6cb2a119bb736eae4779826d4f78",
                "url": "https://api.github.com/repos/libertas-cris/teste/git/commits/ed00647ad1fc6cb2a119bb736eae4779826d4f78",
                "html_url": "https://github.com/libertas-cris/teste/commit/ed00647ad1fc6cb2a119bb736eae4779826d4f78"
              }
            ],
            "verification": {
              "verified": false,
              "reason": "unsigned",
              "signature": null,
              "payload": null
            }
          }
        }
      }
    ],
    "GitHub1": [
      {
        "json": {
          "content": {
            "name": "ingresso-verso-cris2.pdf",
            "path": "ingresso-verso-cris2.pdf",
            "sha": "8ae0aa098ee4b6ada8cd40bc0555d7b5c7cffec1",
            "size": 189905,
            "url": "https://api.github.com/repos/libertas-cris/teste/contents/ingresso-verso-cris2.pdf?ref=main",
            "html_url": "https://github.com/libertas-cris/teste/blob/main/ingresso-verso-cris2.pdf",
            "git_url": "https://api.github.com/repos/libertas-cris/teste/git/blobs/8ae0aa098ee4b6ada8cd40bc0555d7b5c7cffec1",
            "download_url": "https://raw.githubusercontent.com/libertas-cris/teste/main/ingresso-verso-cris2.pdf",
            "type": "file",
            "_links": {
              "self": "https://api.github.com/repos/libertas-cris/teste/contents/ingresso-verso-cris2.pdf?ref=main",
              "git": "https://api.github.com/repos/libertas-cris/teste/git/blobs/8ae0aa098ee4b6ada8cd40bc0555d7b5c7cffec1",
              "html": "https://github.com/libertas-cris/teste/blob/main/ingresso-verso-cris2.pdf"
            }
          },
          "commit": {
            "sha": "2f96a26bdeb827aee91c05a39de4bec681d24f18",
            "node_id": "C_kwDOLQtg19oAKDJmOTZhMjZiZGViODI3YWVlOTFjMDVhMzlkZTRiZWM2ODFkMjRmMTg",
            "url": "https://api.github.com/repos/libertas-cris/teste/git/commits/2f96a26bdeb827aee91c05a39de4bec681d24f18",
            "html_url": "https://github.com/libertas-cris/teste/commit/2f96a26bdeb827aee91c05a39de4bec681d24f18",
            "author": {
              "name": "libertas-cris",
              "email": "155282836+libertas-cris@users.noreply.github.com",
              "date": "2024-04-23T02:18:27Z"
            },
            "committer": {
              "name": "libertas-cris",
              "email": "155282836+libertas-cris@users.noreply.github.com",
              "date": "2024-04-23T02:18:27Z"
            },
            "tree": {
              "sha": "371f091f3443c42bbac917d705cdc574d9b2018b",
              "url": "https://api.github.com/repos/libertas-cris/teste/git/trees/371f091f3443c42bbac917d705cdc574d9b2018b"
            },
            "message": "ingresso_verso_cris",
            "parents": [
              {
                "sha": "ac866207d73ece819eabc034ee505a7179157cad",
                "url": "https://api.github.com/repos/libertas-cris/teste/git/commits/ac866207d73ece819eabc034ee505a7179157cad",
                "html_url": "https://github.com/libertas-cris/teste/commit/ac866207d73ece819eabc034ee505a7179157cad"
              }
            ],
            "verification": {
              "verified": false,
              "reason": "unsigned",
              "signature": null,
              "payload": null
            }
          }
        }
      }
    ],
    "HTTP Request3": [
      {
        "json": {
          "url": "https://pdf-temp-files.s3.us-west-2.amazonaws.com/ARN6GDJ7ZZCRAYQT7C1WUAM3R5QJGC9V/ingresso-verso-cris2.pdf?X-Amz-Expires=3600&X-Amz-Security-Token=FwoGZXIvYXdzEDMaDHN%2Fxj8CNcJtITU5xCKCAS7grNf9dpJ%2F7WsWxcad1jHJG6QdPEGA1yWkS8IqbkVKsPoBsQj4a6iqRT42NT7gZ0wFTdenIiMVdsk3Cq%2FG4%2FgW1SYSf0%2Bu7C%2Bk2dFj5mmOvUO%2BatFTSEmCV5OZZXGNyD%2F5AZY%2BrMBGXpY8Z%2FAACA4QiHUhQPtdL9jE2sD7%2Ft0SWp0onpmcsQYyKG6HAcZ2srcJ7E0Y2KmwwMYRRqFst04X6YA1TVZS3D61E24M80Ylvz4%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIA4NRRSZPHDFBX47BA/20240423/us-west-2/s3/aws4_request&X-Amz-Date=20240423T023143Z&X-Amz-SignedHeaders=host&X-Amz-Signature=f228e6ebbe1bdd3dd4ea40d75b31ac4df9313745f3ab6ad4bd2afca9cbc3850e",
          "outputLinkValidTill": "2024-04-23T03:31:43.1119539+00:00",
          "pageCount": 2,
          "error": false,
          "status": 200,
          "name": "ingresso-verso-cris2.pdf",
          "credits": 70,
          "remainingCredits": 9776,
          "duration": 514
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-04-23T02:50:37.000Z",
  "versionId": "9647b727-281d-46a9-9ba8-c99a90d5936b"
}