workflows/[REUNIÃO SECRETA] Respondeu Recuperação.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "ActiveCampaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign": {
      "main": [
        [
          {
            "node": "Altera campo personalizado no active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Filter2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Altera campo personalizado no active": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter2": {
      "main": [
        [
          {
            "node": "ClickUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "mais de 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "de 3 a 10": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "menos de 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "menos de 3": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "IF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF3": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code7": {
      "main": [
        [
          {
            "node": "ClickUp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca consultor": {
      "main": [
        [
          {
            "node": "valida task id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "valida task id": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code8": {
      "main": [
        [
          {
            "node": "IF5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF5": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp1": {
      "main": [
        [
          {
            "node": "IF4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF4": {
      "main": [
        [
          {
            "node": "busca consultor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "respondeu pesquisa?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "respondeu pesquisa?": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mais de 10": {
      "main": [
        [
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "de 3 a 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-10-12T03:30:55.464Z",
  "id": "nVruREwDneeZ1OYj",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[REUNIÃO SECRETA] Respondeu Recuperação",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e501f7ee-f975-432d-aaa6-adbaa1be9112",
        "options": {}
      },
      "id": "548c61fe-565a-40f1-afff-e870d50feb3b",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        1040,
        200
      ],
      "webhookId": "e501f7ee-f975-432d-aaa6-adbaa1be9112"
    },
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]\n"
      },
      "id": "5d2ac498-7f9f-4e39-8fe9-c18fc3d2fe7d",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isGroup }}",
              "value2": "={{ false }}"
            }
          ]
        }
      },
      "id": "678127d4-2afd-4c50-8bfb-d3b50de951f2",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        1460,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json['Respondeu?'] }}",
              "operation": "notEqual",
              "value2": "sim"
            },
            {
              "value1": "={{ $json.Email }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "1ae4b693-86b8-44b0-b429-abc8819b5a9e",
      "name": "Filter1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        2060,
        200
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "chave",
              "value": "={{ $json.phone.slice(-7) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bc452224-91d5-4c5f-867a-6ef0e32ac5dd",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1660,
        200
      ]
    },
    {
      "parameters": {
        "email": "={{ $json.Email }}",
        "updateIfExists": true,
        "additionalFields": {}
      },
      "id": "159ee8d3-c64b-4a7b-95b4-5c96d72401e3",
      "name": "ActiveCampaign",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2240,
        200
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "jY4mO4rkMqLOPVXo",
          "name": "Ila & Nicole"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1INPXHLk2_yG-TSmi2mxGrTyqQjSGyf9jyWlVZN8XTHc",
          "mode": "list",
          "cachedResultName": "[ILA] [CICLO 4] Planilha Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1INPXHLk2_yG-TSmi2mxGrTyqQjSGyf9jyWlVZN8XTHc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 390670493,
          "mode": "list",
          "cachedResultName": "Recuperação - Ingressos [AS10]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1INPXHLk2_yG-TSmi2mxGrTyqQjSGyf9jyWlVZN8XTHc/edit#gid=390670493"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Chave(busca)",
              "lookupValue": "={{ $json.chave }}"
            }
          ]
        },
        "options": {}
      },
      "id": "58132121-60cf-42f7-b138-c35ebf1e9b55",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1880,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1INPXHLk2_yG-TSmi2mxGrTyqQjSGyf9jyWlVZN8XTHc",
          "mode": "list",
          "cachedResultName": "[ILA] [CICLO 4] Planilha Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1INPXHLk2_yG-TSmi2mxGrTyqQjSGyf9jyWlVZN8XTHc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 390670493,
          "mode": "list",
          "cachedResultName": "Recuperação - Ingressos [AS10]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1INPXHLk2_yG-TSmi2mxGrTyqQjSGyf9jyWlVZN8XTHc/edit#gid=390670493"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Respondeu?": "sim",
            "Email": "={{ $json.contacts[0].email }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Data de Recuperação",
              "displayName": "Data de Recuperação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chave(busca)",
              "displayName": "Chave(busca)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "temperatura",
              "displayName": "temperatura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Página",
              "displayName": "Página",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "checkout direto",
              "displayName": "checkout direto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Funil",
              "displayName": "Funil",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Última recuperação enviada",
              "displayName": "Última recuperação enviada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Respondeu?",
              "displayName": "Respondeu?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comprou?",
              "displayName": "Comprou?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Clickup",
              "displayName": "ID Clickup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "447fba18-e691-478d-a9fa-d833c8571509",
      "name": "Google Sheets2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2640,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": " https://activeilaenicole.api-us1.com/api/3/fieldValues",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "Api-Token",
              "value": "7faa5f8fade7ade83a9851dfb75cb120c0c57114c3a8eb7a8f1f1d3620c93e0d05542921"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"fieldValue\": {\n        \"contact\": {{ $json.id }},\n        \"field\": 212,\n        \"value\": \"sim\"\n    },\n    \"useDefaults\": false\n}",
        "options": {}
      },
      "id": "06f27629-e5a5-44c5-b0bf-5555c1acbdfe",
      "name": "Altera campo personalizado no active",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2440,
        200
      ]
    },
    {
      "parameters": {
        "operation": "setCustomField",
        "task": "={{ $('Google Sheets1').item.json['ID Clickup'] }}",
        "field": "e0752dc0-514e-4b1c-b942-e1386a5e6a5c",
        "value": "30effc4f-6693-4437-a727-bb7724d1ced8"
      },
      "id": "b750659c-4690-42de-a60b-a6677ca747b2",
      "name": "ClickUp",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        3020,
        200
      ],
      "credentials": {
        "clickUpApi": {
          "id": "fy7YLKgPN9XVKscl",
          "name": "Space Libertas"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "id": "5bcac957-dba0-43a7-a217-7be9254072ad",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3240,
        200
      ],
      "webhookId": "1805f2f1-2ad3-482a-b7bf-10222bfd7808"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Webhook').item.json.body.text.message }}",
              "operation": "contains",
              "value2": "=Oi"
            },
            {
              "value1": "={{ $('Webhook').item.json.body.text.message }}",
              "operation": "contains",
              "value2": "Olá"
            },
            {
              "value1": "={{ $('Webhook').item.json.body.text.message }}",
              "operation": "contains",
              "value2": "Ola"
            },
            {
              "value1": "={{ $('Webhook').item.json.body.text.message }}"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "25e5509d-c723-4dc9-9c56-68fca4d60f6e",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3460,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C1825917D649026AAA446A65441921E/token/92B58C5DAD3489D5AD780116/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Google Sheets1').item.json.Telefone }}"
            },
            {
              "name": "message",
              "value": "=Tudo bem, {{ $('Google Sheets1').item.json.Nome }}? É que vi que você assistiu o vídeo sobre o *Caixa Rápido*."
            }
          ]
        },
        "options": {}
      },
      "id": "429467bc-4b1f-404c-ac21-c1fd5baaea14",
      "name": "HTTP Request3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3740,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C1825917D649026AAA446A65441921E/token/92B58C5DAD3489D5AD780116/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Google Sheets1').item.json.Telefone }}"
            },
            {
              "name": "message",
              "value": "=Deixa eu te perguntar, você já investe em anúncios para a sua clínica?"
            }
          ]
        },
        "options": {}
      },
      "id": "b4dece8e-462d-4eb7-abe8-8779e19f945b",
      "name": "HTTP Request4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3980,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Google Sheets1').item.json['Última recuperação enviada'] }}",
              "value2": "Padrão do funil"
            }
          ]
        }
      },
      "id": "0627eb99-4714-40f9-b12b-52c8dffa99da",
      "name": "Filter2",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        2820,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.text.message }}",
              "value2": "#venda"
            }
          ]
        }
      },
      "id": "30ed7075-23fd-48c7-8d49-7b82f9d77c79",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1480,
        1940
      ]
    },
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]\n"
      },
      "id": "5e27abe2-be03-4938-a398-f79b6f0f1c25",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        1800
      ]
    },
    {
      "parameters": {
        "jsCode": "function identificarRegiao(numeroTelefone) {\n    // Extrai os primeiros dois dígitos (DDD) do número de telefone\n    var ddd = numeroTelefone.substring(2, 4);\n\n    // Mapeia os DDDs para as regiões correspondentes\n    var regioes = {\n        '92': 'Norte', '93': 'Norte', '94': 'Norte', '95': 'Norte', '96': 'Norte', '97': 'Norte', '98': 'Norte', '99': 'Norte',\n        '81': 'Nordeste', '82': 'Nordeste', '83': 'Nordeste', '84': 'Nordeste', '85': 'Nordeste', '86': 'Nordeste', '87': 'Nordeste', '88': 'Nordeste', '89': 'Nordeste', '71': 'Nordeste', '73': 'Nordeste', '74': 'Nordeste', '75': 'Nordeste', '77': 'Nordeste', '79': 'Nordeste',\n        '61': 'Centro-Oeste', '62': 'Centro-Oeste', '63': 'Centro-Oeste', '64': 'Centro-Oeste', '65': 'Centro-Oeste', '66': 'Centro-Oeste', '67': 'Centro-Oeste', '68': 'Centro-Oeste', '69': 'Centro-Oeste',\n        '11': 'Sudeste', '12': 'Sudeste', '13': 'Sudeste', '14': 'Sudeste', '15': 'Sudeste', '16': 'Sudeste', '17': 'Sudeste', '18': 'Sudeste', '19': 'Sudeste', '21': 'Sudeste', '22': 'Sudeste', '24': 'Sudeste', '27': 'Sudeste', '28': 'Sudeste', '31': 'Sudeste', '32': 'Sudeste', '33': 'Sudeste', '34': 'Sudeste', '35': 'Sudeste', '37': 'Sudeste', '38': 'Sudeste',\n        '41': 'Sul', '42': 'Sul', '43': 'Sul', '44': 'Sul', '45': 'Sul', '46': 'Sul', '47': 'Sul', '48': 'Sul', '49': 'Sul', '51': 'Sul', '53': 'Sul', '54': 'Sul', '55': 'Sul'\n    };\n\n    // Verifica se o DDD está mapeado para uma região\n    if (regioes[ddd]) {\n        return regioes[ddd];\n    } else {\n        return 'Região não encontrada';\n    }\n}\n\n// Exemplo de uso\nvar numeroTelefone = $input.all()[0].json['phone'];\nvar regiao = identificarRegiao(numeroTelefone);\n\nreturn {regiao};\n"
      },
      "id": "7fcb771c-a417-4762-8f78-93252315c3eb",
      "name": "Code2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        1920
      ]
    },
    {
      "parameters": {
        "jsCode": "function calcularInvestimento(valor, regiao) {\n    // Mapeia as regiões para os multiplicadores correspondentes\n    var multiplicadoresAte3Mil = {\n        'Norte': 70,\n        'Nordeste': 63,\n        'Centro oeste': 48,\n        'Sudeste': 33,\n        'Sul': 29\n    };\n\n    var multiplicadores10Mil = {\n        'Norte': 49,\n        'Nordeste': 44.1,\n        'Centro oeste': 33.6,\n        'Sudeste': 33,\n        'Sul': 29\n    };\n\n    // Função auxiliar para extrair o número do valor\n    function extrairNumero(valorStr) {\n        var numero = valorStr.match(/\\d+/);\n        return numero ? parseInt(numero[0]) : 0;\n    }\n        var numero = extrairNumero(valor);\n  var multi3mil = multiplicadoresAte3Mil[regiao];\n  var multi10mil = multiplicadores10Mil[regiao];\n  \n        if (valor.includes(\"Sim, menos de 3 mil reais\")){\n            return [multi3mil * 1500, multi3mil * 3000];\n          \n        } else if (valor.includes(\"Sim, de 3 até 10 mil reais\")) {\n            return [multi3mil * 3000, multi10mil * 10000];\n          \n        } else if (valor.includes(\"Sim, mais de 10 mil reais\")) {\n            return multi10mil * 10000;\n          \n        } else if (valor.includes(\"Não, mas quero\")) {\n            return \"Planeje seu investimento com um valor específico.\";\n        } else if (valor.includes(\"Não e nem planejo\")) {\n            return \"Não há investimento a ser feito.\";\n        } else {\n            return \"Entrada inválida.\";\n        }\n    } \n\n\n// Exemplo de uso\nvar valor = $input.all()[0].json['Investe em anúncios'];\nvar regiao = $('Code2').all()[0].json['regiao'];\nvar investimento = calcularInvestimento(valor, regiao);\n\nreturn {valor,\n       regiao,\n       investimento};\n"
      },
      "id": "a5531bcb-0120-48ad-b2e1-bdb6cd20c57f",
      "name": "Code3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2380,
        1900
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C1825917D649026AAA446A65441921E/token/92B58C5DAD3489D5AD780116/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Code1').item.json.phone }}"
            },
            {
              "name": "message",
              "value": "=Tudo bem? não consegui encontrar as suas respostas da pesquisa na base de dados. \n\nEntão para que eu consiga te mostrar quanto você deveria estar faturando, me responde aqui quanto você investe em tráfego por mês?\n\n*lembrando que a resposta do time pode demorar devido ao volume de mensagens.*"
            }
          ]
        },
        "options": {}
      },
      "id": "a9780e09-e444-4ebd-81d3-f99585361ffa",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2380,
        2140
      ]
    },
    {
      "parameters": {
        "jsCode": "function calcularValores(investimento) {\n    var valor1 = investimento[0];\n    var valor2 = investimento[1];\n    return { valor1, valor2 };\n}\n\nvar investimento = $input.all()[0].json['investimento']\nvar { valor1, valor2 } = calcularValores(investimento);\n\nreturn {valor1: investimento[0]/1000,\n       valor2: investimento[1]/1000}\n"
      },
      "id": "9561c2db-33b8-4c04-932b-e8837888e940",
      "name": "Code4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3020,
        2080
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C1825917D649026AAA446A65441921E/token/92B58C5DAD3489D5AD780116/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Code1').item.json.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $('Google Sheets').item.json.Nome }}, na nossa pesquisa, quando perguntamos se você investe em tráfego, a sua resposta foi *\"{{ $node[\"Google Sheets\"].json[\"Investe em anúncios\"] }}\".*\n\nConsiderando esses valores, e por você estar na região *{{ $node[\"Code2\"].json[\"regiao\"] }}* do país, *se você estiver investindo R$1500 em tráfego*, você deveria estar faturando por volta de *R${{ $json.valor1 }}mil.* \n\n*Se você estiver investindo R$3000 em tráfego*, você deveria estar faturando por volta de *R${{ $json.valor2 }}mil.*\n\nSe for outro valor e você queira saber exatamente quanto deveria estar faturando, responda essa mensagem com o valor e espere a resposta do nosso suporte , que levará algum tempo devido ao volume de mensagens."
            }
          ]
        },
        "options": {}
      },
      "id": "073fa62b-9a79-4ded-8b3b-c94de71a3162",
      "name": "HTTP Request6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3480,
        2320
      ]
    },
    {
      "parameters": {
        "jsCode": "function calcularValores(investimento) {\n    var valor1 = investimento[0];\n    var valor2 = investimento[1];\n    return { valor1, valor2 };\n}\n\nvar investimento = $input.all()[0].json['investimento']\nvar { valor1, valor2 } = calcularValores(investimento);\n\nreturn {valor1: investimento[0]/1000,\n       valor2: investimento[1]/1000}\n"
      },
      "id": "3c62ef1a-d991-40b5-8cdf-ec8dbca35796",
      "name": "Code5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3240,
        2320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.valor }}",
              "value2": "Sim, de 3 até 10 mil reais"
            }
          ]
        }
      },
      "id": "b8fd47e6-ef0c-44f3-8052-f3ba59e8fb0f",
      "name": "de 3 a 10",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2780,
        2100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.valor }}",
              "value2": "Sim, menos de 3 mil reais"
            }
          ]
        }
      },
      "id": "e6555375-3ba6-4883-b391-ae0e27c0fc52",
      "name": "menos de 3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3000,
        2340
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C1825917D649026AAA446A65441921E/token/92B58C5DAD3489D5AD780116/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Code1').item.json.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $('Google Sheets').item.json.Nome }}, na nossa pesquisa, quando perguntamos se você investe em tráfego, a sua resposta foi *\"{{ $node[\"Google Sheets\"].json[\"Investe em anúncios\"] }}\".*\n\nConsiderando esses valores, e por você estar na região *{{ $node[\"Code2\"].json[\"regiao\"] }}* do país, *se você estiver investindo R$3000 em tráfego*, você deveria estar faturando por volta de *R${{ $json.valor1 }}mil.* \n\n*Se você estiver investindo R$10000 em tráfego*, você deveria estar faturando por volta de *R${{ $json.valor2 }}mil.*\n\nSe for outro valor e você queira saber exatamente quanto deveria estar faturando, responda essa mensagem com o valor e espere a resposta do nosso suporte, que levará algum tempo devido ao volume de mensagens."
            }
          ]
        },
        "options": {}
      },
      "id": "1ebfc718-74e1-403b-afe5-fddbd9cdf56f",
      "name": "HTTP Request7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3240,
        2080
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.text.message }}",
              "value2": "#Venda"
            }
          ]
        }
      },
      "id": "210d6243-17d4-4069-94c8-6318f8d51477",
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1600,
        2160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.text.message }}",
              "operation": "startsWith",
              "value2": "#"
            }
          ]
        }
      },
      "id": "bd1f5f0b-2d70-4c3c-98fd-bdc0c5e7c4ba",
      "name": "IF3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1500,
        740
      ]
    },
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]\n"
      },
      "id": "c77bb650-ec0f-4f00-bca8-30894b5f6696",
      "name": "Code6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "function removeFirstCharacter(str) {\n    if (typeof str === 'string' && str.length > 0) {\n        return str.slice(1);\n    } else {\n        return str; // Retorna a string original se ela for indefinida ou vazia\n    }\n}\n\nlet minhaString = $input.all()[0].json['taskid'];\n$input.all()[0].json['taskid'] = removeFirstCharacter(minhaString);\n\nreturn $input.all()\n"
      },
      "id": "39755600-a546-4b93-88ff-9d4e3aee3cd4",
      "name": "Code7",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1900,
        720
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "taskid",
              "stringValue": "={{ $json.text.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "554c78d6-c850-42f8-9361-8046902c9854",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.1,
      "position": [
        1720,
        720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hook.us1.make.com/h365mhsbojn1mgee99ejt9m9rgi6zocc",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $('Code7').item.json.taskid }}"
            },
            {
              "name": "responsável",
              "value": "={{ $('busca consultor').item.json.nome }}"
            },
            {
              "name": "whatsapp",
              "value": "={{ $('busca consultor').item.json.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "id": "43bedb8c-8d3d-418b-a7d4-1977549d4975",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2920,
        700
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI",
          "mode": "list",
          "cachedResultName": "Controle de Automações | Sala Black",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 100483849,
          "mode": "list",
          "cachedResultName": "Consultores",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit#gid=100483849"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "chave",
              "lookupValue": "={{ $('Code6').item.json.phone.slice(-7) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3f0cae2a-47fb-40c8-81f3-dda79002fb5b",
      "name": "busca consultor",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2520,
        700
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI",
          "mode": "list",
          "cachedResultName": "Controle de Automações | Sala Black",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 716960350,
          "mode": "list",
          "cachedResultName": "Controle de Onboarding [NÃO MEXER]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19xLUFSsIYzlJrGXYNawcle09byaK0Xy7Q29xPO-kFVI/edit#gid=716960350"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "id_task",
              "lookupValue": "={{ $('Code7').item.json.taskid }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5bbf6e53-7ea8-48e3-9697-b84bc8354466",
      "name": "valida task id",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2720,
        700
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.text.message }}",
              "value2": "MILLION"
            },
            {
              "value1": "={{ $json.text.message }}",
              "value2": "million"
            },
            {
              "value1": "={{ $json.text.message }}",
              "value2": "Million"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "c57ea434-289a-47aa-968b-c179e0752be1",
      "name": "IF5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1600,
        1240
      ]
    },
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]\n"
      },
      "id": "554660ce-db16-4be0-8275-38397b3442c4",
      "name": "Code8",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        1240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C1825917D649026AAA446A65441921E/token/92B58C5DAD3489D5AD780116/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "message",
              "value": "=Para garantir o seu lugar na pré-venda, clique no link abaixo: https://dentistapower.com.br/implante-million-b/\n\nSe tiver alguma dúvida, é só mandar aqui que nossa equipe vai te ajudar."
            }
          ]
        },
        "options": {}
      },
      "id": "f7fcce3c-479d-4fe9-88a4-755a60f41b7c",
      "name": "HTTP Request5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1900,
        1220
      ]
    },
    {
      "parameters": {
        "content": "Monitora mensagens pra identificar ID do clickup pra acionar o onboarding",
        "height": 109.83739813084114
      },
      "id": "79782979-825d-4fcf-ab62-51a047359b08",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1720,
        560
      ]
    },
    {
      "parameters": {
        "content": "Monitora mensagens pra identificar MILLION e enviar link de inscrição no evento presencial\n"
      },
      "id": "90c4dbf9-74a2-4b59-a440-164b17a09825",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1480,
        1020
      ]
    },
    {
      "parameters": {
        "content": "Monitora mensagens pra identificar #venda e iniciar fluxo de pesquisa\n\n"
      },
      "id": "f8c5585f-de9f-4c29-be6b-81a25d58a6a7",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1780,
        1680
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "id": "={{ $json.taskid }}"
      },
      "id": "abec441a-d49e-4de9-9532-ab9c7b454b63",
      "name": "ClickUp1",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2100,
        720
      ],
      "credentials": {
        "clickUpApi": {
          "id": "fy7YLKgPN9XVKscl",
          "name": "Space Libertas"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "f52825c2-151d-43a7-b29c-1b31a9015df0",
      "name": "IF4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2300,
        700
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "130dJLqIJVkcFvqzEpK2M_bMpaGvhZMOLhDsWGuSJxy0",
          "mode": "list",
          "cachedResultName": "[ILA] [CICLO 3] Planilha Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/130dJLqIJVkcFvqzEpK2M_bMpaGvhZMOLhDsWGuSJxy0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 636071144,
          "mode": "list",
          "cachedResultName": "[AUTO] Inscritos [AS9]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/130dJLqIJVkcFvqzEpK2M_bMpaGvhZMOLhDsWGuSJxy0/edit#gid=636071144"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Chave (busca)",
              "lookupValue": "={{ $('Code1').item.json.phone.slice(-7) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ee087f2c-1f49-4eb8-a1d7-61bae0f82c20",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1960,
        1920
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json['Investe em anúncios'] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "7cfc9c94-ed02-4426-8d12-af5cf209af35",
      "name": "respondeu pesquisa?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2160,
        1920
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.valor }}",
              "value2": "Sim, mais de 10 mil reais"
            }
          ]
        }
      },
      "id": "ca993678-106a-4341-bebd-dd3d45034e71",
      "name": "mais de 10",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2620,
        1900
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C1825917D649026AAA446A65441921E/token/92B58C5DAD3489D5AD780116/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Code1').item.json.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $('Google Sheets').item.json.Nome }}, na nossa pesquisa, quando perguntamos se você investe em tráfego, a sua resposta foi *\"{{ $node[\"Google Sheets\"].json[\"Investe em anúncios\"] }}\".*\n\n*Se você estiver investindo exatamente R$10000 em tráfego,* e por você estar na região *{{ $node[\"Code2\"].json[\"regiao\"] }}* do país, você deveria estar faturando *{{ $json[\"investimento\"]/1000 }}mil.*\n\nSe for outro valor e você queira saber exatamente quanto deveria estar faturando, responda essa mensagem com o valor e espere a resposta do nosso suporte, que levará algum tempo devido ao volume de mensagens."
            }
          ]
        },
        "options": {}
      },
      "id": "a8a77699-672d-48d8-a003-da2209e42e44",
      "name": "HTTP Request8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2880,
        1880
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.marcosfoks.com.br",
            "user-agent": "Mozilla/5.0 (iPad; CPU OS 16_3_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/16.4 Mobile/15E148 Safari/604.1",
            "content-length": "740",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare",
            "cf-connecting-ip": "129.159.52.119",
            "cf-ipcountry": "BR",
            "cf-ray": "86da97008b711aef-GRU",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "origin": "https://api.z-api.io",
            "server": "Z-API",
            "x-forwarded-for": "172.71.234.86",
            "x-forwarded-host": "n8n.marcosfoks.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "bc917484dc53",
            "x-real-ip": "172.71.234.86",
            "z-api-token": "92B58C5DAD3489D5AD780116"
          },
          "params": {},
          "query": {},
          "body": {
            "isStatusReply": false,
            "chatLid": "254549860294741@lid",
            "connectedPhone": "556294723102",
            "waitingMessage": false,
            "isEdit": false,
            "isGroup": false,
            "isNewsletter": false,
            "instanceId": "3C1825917D649026AAA446A65441921E",
            "messageId": "3AEBD8C4E6E0A27AF1C0",
            "phone": "5581993515055",
            "fromMe": false,
            "momment": 1711995591525,
            "status": "RECEIVED",
            "chatName": "Filipe Batista",
            "senderPhoto": null,
            "senderName": "Filipe Batista",
            "photo": "https://pps.whatsapp.net/v/t61.24694-24/415283183_336840912484217_7251747342185974786_n.jpg?ccb=11-4&oh=01_ASAxtXY77dld-pg1cRPjcdxtJycIrzVptqGHtOTyfWUl2w&oe=661824B8&_nc_sid=e6ed6c&_nc_cat=110",
            "broadcast": false,
            "participantLid": null,
            "forwarded": false,
            "type": "ReceivedCallback",
            "fromApi": false,
            "text": {
              "message": "#venda"
            }
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-10-12T03:16:03.155Z",
      "updatedAt": "2023-10-12T03:16:03.155Z",
      "id": "RsdI5HyLiEx96UXQ",
      "name": "RS"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-04-16T02:30:20.000Z",
  "versionId": "2f51754d-6a0d-4872-a843-48a14f2282e4"
}