workflows/[REUNIÃO SECRETA] Envio de Ingressos.json
{
  "active": true,
  "connections": {
    "PDFKit1": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDFKit": {
      "main": [
        [
          {
            "node": "GitHub1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Trata Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trata Webhook": {
      "main": [
        [
          {
            "node": "Regex",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "PDFKit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image": {
      "main": [
        [
          {
            "node": "PDFKit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "PDFKit3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDFKit2": {
      "main": [
        [
          {
            "node": "GitHub3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "Edit Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDFKit3": {
      "main": [
        [
          {
            "node": "GitHub2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image1": {
      "main": [
        [
          {
            "node": "PDFKit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Regex": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-04-23T01:06:36.013Z",
  "id": "laldcfHnWAqMzPog",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[REUNIÃO SECRETA] Envio de Ingressos",
  "nodes": [
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/libertas-cris/ingressos-modelo/main/Ingresso%20-%20Modelo%20Standa-im-frente.png",
        "options": {}
      },
      "id": "e1608a82-409c-453c-99ce-34e9fe3f0645",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        920,
        -60
      ]
    },
    {
      "parameters": {
        "pdfName": "verso"
      },
      "id": "c03d4ca6-7d6c-4594-9ade-b164243bbf55",
      "name": "PDFKit",
      "type": "n8n-nodes-pdfkit.pdfKit",
      "typeVersion": 1,
      "position": [
        1360,
        140
      ]
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/libertas-cris/ingressos-modelo/main/Ingresso%20-%20Modelo%20Standard%20im2%20verso.png",
        "options": {}
      },
      "id": "8b36941e-e314-4549-8fe0-ca423a443c3c",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        920,
        140
      ]
    },
    {
      "parameters": {
        "pdfName": "frente"
      },
      "id": "3c9ba32a-67f6-4371-b007-853594bf664d",
      "name": "PDFKit1",
      "type": "n8n-nodes-pdfkit.pdfKit",
      "typeVersion": 1,
      "position": [
        1360,
        -60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hook.us1.make.com/b7kgopha7moehqvh72cqlhotx1rvyffi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome1",
              "value": "={{ $json.name[0] }}"
            },
            {
              "name": "url1",
              "value": "={{ $json.download_url[0] }}"
            },
            {
              "name": "nome2",
              "value": "={{ $json.name[1] }}"
            },
            {
              "name": "url2",
              "value": "={{ $json.download_url[1] }}"
            },
            {
              "name": "email",
              "value": "={{ $('Trata Webhook').item.json.email }}"
            },
            {
              "name": "telefone",
              "value": "={{ $('Trata Webhook').item.json.telefone }}"
            },
            {
              "name": "nome",
              "value": "={{ $('Regex').item.json.nome }}"
            }
          ]
        },
        "options": {}
      },
      "id": "08b80848-214c-4a24-8c3a-81cfeb70189a",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2380,
        40
      ]
    },
    {
      "parameters": {},
      "id": "490cb44b-92f2-4e0a-95df-5dad9af7f8ab",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1900,
        40
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "libertas-cris",
          "mode": "list",
          "cachedResultName": "libertas-cris",
          "cachedResultUrl": "https://github.com/libertas-cris"
        },
        "repository": {
          "__rl": true,
          "value": "teste",
          "mode": "list",
          "cachedResultName": "teste",
          "cachedResultUrl": "https://github.com/libertas-cris/teste"
        },
        "filePath": "={{$now.toMillis() +\"_ingresso_frente_standard_\" + $('Regex').item.json.nome +\".pdf\"}}",
        "binaryData": true,
        "commitMessage": "={{$now.toMillis() +\"_ingresso_frente_standard_\" + $('Regex').item.json.nome +\".pdf\"}}"
      },
      "id": "32ef7dc8-2974-43d9-a98c-7b2ef0cfadaf",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1620,
        -60
      ],
      "credentials": {
        "githubApi": {
          "id": "bzG1MN0DjIGk3oU2",
          "name": "Libertas"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "libertas-cris",
          "mode": "list",
          "cachedResultName": "libertas-cris",
          "cachedResultUrl": "https://github.com/libertas-cris"
        },
        "repository": {
          "__rl": true,
          "value": "teste",
          "mode": "list",
          "cachedResultName": "teste",
          "cachedResultUrl": "https://github.com/libertas-cris/teste"
        },
        "filePath": "={{$now.toMillis() +\"_ingresso_verso_standard_\" + $('Regex').item.json.nome + \".pdf\"}}",
        "binaryData": true,
        "commitMessage": "={{$now.toMillis() +\"_ingresso_verso_standard_\" + $('Regex').item.json.nome + \".pdf\"}}"
      },
      "id": "8f908da1-9d4b-4434-94bc-f4db2b50203f",
      "name": "GitHub1",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1620,
        140
      ],
      "credentials": {
        "githubApi": {
          "id": "bzG1MN0DjIGk3oU2",
          "name": "Libertas"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content.download_url"
            },
            {
              "fieldToAggregate": "content.name"
            }
          ]
        },
        "options": {}
      },
      "id": "e87a0d33-8a21-4fc2-afa2-5f87071796f1",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2120,
        40
      ]
    },
    {
      "parameters": {
        "operation": "multiStep",
        "operations": {
          "operations": [
            {
              "operation": "text",
              "text": "={{ $('Trata Webhook').item.json.nome }}",
              "fontSize": 50,
              "fontColor": "#473C38",
              "positionX": 850,
              "positionY": 150,
              "font": "/usr/share/fonts/truetype/msttcorefonts/Arial_Bold.ttf"
            }
          ]
        },
        "options": {}
      },
      "id": "453aeac4-c659-4f72-8cb7-c0ebb35433e8",
      "name": "Edit Image",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        1160,
        140
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1333dd33-17f0-479d-ab4a-39889ba94bfb",
        "options": {}
      },
      "id": "ff0740c9-dddc-4055-9b3f-1a7ae7388b49",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -280,
        380
      ],
      "webhookId": "1333dd33-17f0-479d-ab4a-39889ba94bfb"
    },
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]\n"
      },
      "id": "ace75301-a4e9-4986-a9a4-a1487058889e",
      "name": "Trata Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -60,
        380
      ]
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/libertas-cris/ingressos-modelo/main/Ingresso%20-%20Modelo%20VIP%20-%20im%20-%20frente.png",
        "options": {}
      },
      "id": "6327a1af-d1b0-4828-ba1a-985df0b703ff",
      "name": "HTTP Request5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        920,
        520
      ]
    },
    {
      "parameters": {
        "pdfName": "verso"
      },
      "id": "e245e0bc-ecdb-41cd-9eb1-4071a29ba471",
      "name": "PDFKit2",
      "type": "n8n-nodes-pdfkit.pdfKit",
      "typeVersion": 1,
      "position": [
        1360,
        720
      ]
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/libertas-cris/ingressos-modelo/main/Ingresso%20-%20Modelo%20VIP%20im2%20verso.png",
        "options": {}
      },
      "id": "51eef675-e87d-4ae2-be91-7bfe0eb28a76",
      "name": "HTTP Request6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        920,
        720
      ]
    },
    {
      "parameters": {
        "pdfName": "frente"
      },
      "id": "72a89566-eafd-44e0-a059-cd8a1a0beef7",
      "name": "PDFKit3",
      "type": "n8n-nodes-pdfkit.pdfKit",
      "typeVersion": 1,
      "position": [
        1360,
        520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hook.us1.make.com/b7kgopha7moehqvh72cqlhotx1rvyffi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome1",
              "value": "={{ $json.name[0] }}"
            },
            {
              "name": "url1",
              "value": "={{ $json.download_url[0] }}"
            },
            {
              "name": "nome2",
              "value": "={{ $json.name[1] }}"
            },
            {
              "name": "url2",
              "value": "={{ $json.download_url[1] }}"
            },
            {
              "name": "email",
              "value": "={{ $('Trata Webhook').item.json.email }}"
            },
            {
              "name": "telefone",
              "value": "={{ $('Trata Webhook').item.json.telefone }}"
            },
            {
              "name": "nome",
              "value": "={{ $('Regex').item.json.nome }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9cf10024-9e67-4009-aa11-fb2a3318e357",
      "name": "HTTP Request7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2380,
        620
      ]
    },
    {
      "parameters": {},
      "id": "242bf14f-aab6-412a-a00e-742e9d5c0782",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1900,
        620
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "libertas-cris",
          "mode": "list",
          "cachedResultName": "libertas-cris",
          "cachedResultUrl": "https://github.com/libertas-cris"
        },
        "repository": {
          "__rl": true,
          "value": "teste",
          "mode": "list",
          "cachedResultName": "teste",
          "cachedResultUrl": "https://github.com/libertas-cris/teste"
        },
        "filePath": "={{$now.toMillis() +\"_ingresso_frente_vip_\" + $('Regex').item.json.nome + \".pdf\"}}",
        "binaryData": true,
        "commitMessage": "={{$now.toMillis() +\"_ingresso_frente_vip_\" + $('Regex').item.json.nome + \".pdf\"}}"
      },
      "id": "7a433406-ddf9-441e-82e9-184cb55751e1",
      "name": "GitHub2",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1620,
        520
      ],
      "credentials": {
        "githubApi": {
          "id": "bzG1MN0DjIGk3oU2",
          "name": "Libertas"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "libertas-cris",
          "mode": "list",
          "cachedResultName": "libertas-cris",
          "cachedResultUrl": "https://github.com/libertas-cris"
        },
        "repository": {
          "__rl": true,
          "value": "teste",
          "mode": "list",
          "cachedResultName": "teste",
          "cachedResultUrl": "https://github.com/libertas-cris/teste"
        },
        "filePath": "={{$now.toMillis() +\"_ingresso_verso_vip_\" + $('Regex').item.json.nome + \".pdf\"}}",
        "binaryData": true,
        "commitMessage": "={{$now.toMillis() +\"_ingresso_verso_vip_\" + $('Regex').item.json.nome + \".pdf\"}}"
      },
      "id": "d2533da9-a0e5-45aa-aa00-c257e6f0c9fb",
      "name": "GitHub3",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1620,
        720
      ],
      "credentials": {
        "githubApi": {
          "id": "bzG1MN0DjIGk3oU2",
          "name": "Libertas"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content.download_url"
            },
            {
              "fieldToAggregate": "content.name"
            }
          ]
        },
        "options": {}
      },
      "id": "fdb1b077-d9f1-4536-9aec-a162ab5fdf87",
      "name": "Aggregate1",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2120,
        620
      ]
    },
    {
      "parameters": {
        "operation": "multiStep",
        "operations": {
          "operations": [
            {
              "operation": "text",
              "text": "={{ $('Trata Webhook').item.json.nome }}",
              "fontSize": 50,
              "fontColor": "#FFFFFF",
              "positionX": 850,
              "positionY": 150,
              "font": "/usr/share/fonts/truetype/msttcorefonts/Arial_Bold.ttf"
            }
          ]
        },
        "options": {}
      },
      "id": "f57ad668-fb4d-4a6a-8aff-8f0226d7a3a1",
      "name": "Edit Image1",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        1160,
        720
      ]
    },
    {
      "parameters": {
        "jsCode": "function removerAcentos(texto) {\n    return texto.normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\");\n}\n\n// Exemplo de uso:\n$input.all()[0].json[\"nome\"] = removerAcentos($input.all()[0].json[\"nome\"])\n\n\nreturn $input.all();\n"
      },
      "id": "e808ab4d-a0d7-4c15-b7ee-dcd3384efbc3",
      "name": "Regex",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        380
      ]
    },
    {
      "parameters": {
        "url": "=https://api.z-api.io/instances/3C1825917D649026AAA446A65441921E/token/92B58C5DAD3489D5AD780116/phone-exists/{{ $json.telefone }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fc42ae886be5842c29595e379b6c74fbaS"
            }
          ]
        },
        "options": {}
      },
      "id": "56729e8e-f55c-45b2-b842-af1aa3c91ed1",
      "name": "HTTP Request3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        260,
        580
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2b0e6e0d-aa62-4b27-b4ff-c6e50d22f08f",
              "leftValue": "={{ $json.exists }}",
              "rightValue": "=",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "90d8d11c-e071-4b18-a7e0-9d9a6ca49f9e",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        580
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1INPXHLk2_yG-TSmi2mxGrTyqQjSGyf9jyWlVZN8XTHc",
          "mode": "list",
          "cachedResultName": "[ILA] [CICLO 4] Planilha Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1INPXHLk2_yG-TSmi2mxGrTyqQjSGyf9jyWlVZN8XTHc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 194716368,
          "mode": "list",
          "cachedResultName": "[AUTO] Inscritos [AS12]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1INPXHLk2_yG-TSmi2mxGrTyqQjSGyf9jyWlVZN8XTHc/edit#gid=194716368"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Google Sheets').item.json.row_number }}",
            "Ingresso": "wpp inválido"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chave (busca)",
              "displayName": "Chave (busca)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "temperatura",
              "displayName": "temperatura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Página",
              "displayName": "Página",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Checkout direto",
              "displayName": "Checkout direto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Idade",
              "displayName": "Idade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "O que espera da reunião",
              "displayName": "O que espera da reunião",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Investe em anúncios",
              "displayName": "Investe em anúncios",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tempo de atuação",
              "displayName": "Tempo de atuação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Procedimento que mais vende na clínica",
              "displayName": "Procedimento que mais vende na clínica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vendas por mês",
              "displayName": "Vendas por mês",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Costuma bater as metas do mês",
              "displayName": "Costuma bater as metas do mês",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Maior dificuldade para captar clientes",
              "displayName": "Maior dificuldade para captar clientes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Faturamento ",
              "displayName": "Faturamento ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Satisfeito com o faturamento atual",
              "displayName": "Satisfeito com o faturamento atual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quanto tempo conhece Ila & Nicole",
              "displayName": "Quanto tempo conhece Ila & Nicole",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Por onde conheceu Ila & Nicole",
              "displayName": "Por onde conheceu Ila & Nicole",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome Ingresso",
              "displayName": "Nome Ingresso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ingresso",
              "displayName": "Ingresso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ingresso Vip",
              "displayName": "Ingresso Vip",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ticket",
              "displayName": "Ticket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chave(audio)",
              "displayName": "Chave(audio)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link audio",
              "displayName": "Link audio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Clickup",
              "displayName": "ID Clickup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link Clickup",
              "displayName": "Link Clickup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Respondeu Aplicação",
              "displayName": "Respondeu Aplicação",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recuperação de Pesquisa",
              "displayName": "Recuperação de Pesquisa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Respondeu Pesquisa",
              "displayName": "Respondeu Pesquisa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chave (ingresso)",
              "displayName": "chave (ingresso)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Blacklist",
              "displayName": "Blacklist",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Presença",
              "displayName": "Presença",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pitch",
              "displayName": "Pitch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reunião secreta passada",
              "displayName": "reunião secreta passada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "0e08b94c-f73e-42b6-abce-cd589091656c",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        460,
        860
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1INPXHLk2_yG-TSmi2mxGrTyqQjSGyf9jyWlVZN8XTHc",
          "mode": "list",
          "cachedResultName": "[ILA] [CICLO 4] Planilha Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1INPXHLk2_yG-TSmi2mxGrTyqQjSGyf9jyWlVZN8XTHc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 194716368,
          "mode": "list",
          "cachedResultName": "[AUTO] Inscritos [AS12]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1INPXHLk2_yG-TSmi2mxGrTyqQjSGyf9jyWlVZN8XTHc/edit#gid=194716368"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $('Regex').item.json.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "320deb99-8512-4793-bed3-d3f8fa272d68",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        240,
        860
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Regex').item.json.ingresso }}",
                    "rightValue": "normal",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Normal"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "685fee48-58f8-4d34-8beb-9fe5fff86650",
                    "leftValue": "={{ $('Regex').item.json.ingresso }}",
                    "rightValue": "=vip",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "vip"
            }
          ]
        },
        "options": {}
      },
      "id": "e60c7cfb-6258-445d-8fe4-71e87ad9b562",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        640,
        380
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.marcosfoks.com.br",
            "user-agent": "axios/1.6.7",
            "content-length": "107",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare",
            "cf-connecting-ip": "194.163.167.202",
            "cf-ipcountry": "DE",
            "cf-ray": "8799b393d9f73a72-FRA",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "x-forwarded-for": "162.158.95.187",
            "x-forwarded-host": "n8n.marcosfoks.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "bc917484dc53",
            "x-real-ip": "162.158.95.187"
          },
          "params": {},
          "query": {},
          "body": {
            "nome": "Daniele Cálida",
            "email": "cris@gmail.com",
            "telefone": "55819955",
            "ingresso": "normal"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-06-21T04:47:17.000Z",
  "versionId": "73ed1af3-9f98-4178-bdf4-4d4b62b68cf5"
}