workflows/[REUNIÃO SECRETA] Aplicação Sala Black.json
{
  "active": true,
  "connections": {
    "Trata Webhook": {
      "main": [
        [
          {
            "node": "Formata Telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data": {
      "main": [
        [
          {
            "node": "Formata Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Data": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Lead Etapa 2": {
      "main": [
        [
          {
            "node": "Existe? Etapa 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Lead Final": {
      "main": [
        [
          {
            "node": "Existe? Etapa 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existe? Etapa 2": {
      "main": [
        [
          {
            "node": "Atualiza Etapa 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existe? Etapa 3": {
      "main": [
        [
          {
            "node": "Atualiza Etapa Final DQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Etapa Final DQ": {
      "main": [
        [
          {
            "node": "Add lead DQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Trata Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Busca Lead Etapa 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Busca Lead Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add lead DQ": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Etapa 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Telefone": {
      "main": [
        [
          {
            "node": "Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-02-20T19:07:07.148Z",
  "id": "B1r72m9MovvPkJRl",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[REUNIÃO SECRETA] Aplicação Sala Black",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "917dd584-dfec-463e-847a-7de8eda58b5d",
        "options": {}
      },
      "id": "7801f145-ab9e-4537-a759-9c1c570a0741",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        740
      ],
      "webhookId": "917dd584-dfec-463e-847a-7de8eda58b5d"
    },
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]\n"
      },
      "id": "e3cd96eb-d671-45c4-b448-86a9f72153d2",
      "name": "Trata Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        200,
        740
      ]
    },
    {
      "parameters": {
        "jsCode": "function formataTelefone(number) {\n    number = number.toString().replace(/[^\\d]/g, \"\")\n    let ddi = '55'\n    let ddd = number.substring(0, 2)\n\n    if (number.length == 13) {\n        let ddi = number.substring(0, 2)\n        let ddd = number.substring(2, 4)\n        return ddi + ddd + (ddd <= 28 ? number.substring(4, 13) : number.substring(5, 13))\n\n    } else if (number.length == 11) {\n        return ddi + ddd + (ddd <= 28 ? number.substring(2, 11) : number.substring(3, 11))\n\n    } else if (number.length == 10) {\n        return ddi + ddd + (ddd <= 28 ? '9' : '') + number.substring(2, 11)\n\n    } else if (number.length == 12) {\n        return number.substring(0, 2) == '55' ? number : (number.substring(0, 1) == '0' ? formataTelefone(number.substring(1, 12)) : number)\n\n    } else {\n        return number\n    }\n}\n\n$input.all()[0].json['telefone'] = formataTelefone($node['Trata Webhook'].json['telefone'])\n\nreturn $input.all();"
      },
      "id": "c328ec51-7c2f-4cbe-8d0f-bdf4ad6db40f",
      "name": "Formata Telefone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        380,
        720
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $('Formata Telefone').item.json.etapa }}",
        "rules": {
          "rules": [
            {
              "value2": "=1"
            },
            {
              "value2": "=2",
              "output": 1
            },
            {
              "value2": "=3",
              "output": 2
            }
          ]
        }
      },
      "id": "540e4250-e91c-4804-b6dd-e2f0e9c5ab40",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        920,
        740
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "fe59dfb7-00e4-4217-bc2d-6fb9045a35b5",
      "name": "Data",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        560,
        740
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy",
        "options": {}
      },
      "id": "f0bd3357-a8e9-4f69-8be8-9e89058a7776",
      "name": "Formata Data",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        740,
        740
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1INPXHLk2_yG-TSmi2mxGrTyqQjSGyf9jyWlVZN8XTHc",
          "mode": "list",
          "cachedResultName": "[ILA] [CICLO 4] Planilha Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1INPXHLk2_yG-TSmi2mxGrTyqQjSGyf9jyWlVZN8XTHc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 24266723,
          "mode": "list",
          "cachedResultName": "[AUTO] Aplicação Sala Black [AS12]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1INPXHLk2_yG-TSmi2mxGrTyqQjSGyf9jyWlVZN8XTHc/edit#gid=24266723"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data": "={{ $('Formata Data').item.json.formattedDate }}",
            "Endereço de e-mail": "={{ $('Formata Telefone').item.json.email }}",
            "Qual o seu nome?": "={{ $('Formata Telefone').item.json.nome }}",
            "Qual seu whatsapp?": "={{ $('Formata Telefone').item.json.telefone }}",
            "chave": "={{ $('Formata Telefone').item.json.telefone.slice(-7) }}",
            "Qual o nome da sua clínica?": "={{ $('Formata Telefone').item.json.clinica }}",
            "E em qual cidade e região ela fica localizada?": "={{ $('Formata Telefone').item.json.região }}",
            "Etapa_form": "1",
            "Status": "incompleto"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Endereço de e-mail",
              "displayName": "Endereço de e-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qual o seu nome?",
              "displayName": "Qual o seu nome?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qual seu whatsapp?",
              "displayName": "Qual seu whatsapp?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Etapa_form",
              "displayName": "Etapa_form",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Qual o nome da sua clínica?",
              "displayName": "Qual o nome da sua clínica?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E em qual cidade e região ela fica localizada?",
              "displayName": "E em qual cidade e região ela fica localizada?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qual o faturamento mensal médio da sua clínica nos últimos meses?",
              "displayName": "Qual o faturamento mensal médio da sua clínica nos últimos meses?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sua clínica investe em tráfego pago para aquisição de pacientes? Se sim, quanto?",
              "displayName": "Sua clínica investe em tráfego pago para aquisição de pacientes? Se sim, quanto?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quais procedimentos vocês mais realizam na sua clínica?",
              "displayName": "Quais procedimentos vocês mais realizam na sua clínica?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E qual o ticket médio desses procedimentos?",
              "displayName": "E qual o ticket médio desses procedimentos?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qual a sua principal dificuldade hoje para aumentar o faturamento da sua clínica?",
              "displayName": "Qual a sua principal dificuldade hoje para aumentar o faturamento da sua clínica?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "O modelo de mentoria que foi apresentado na aula faz sentido pra você?",
              "displayName": "O modelo de mentoria que foi apresentado na aula faz sentido pra você?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Por que você acredita que participar da Sala Black é a oportunidade ideal para você e para o crescimento do seu negócio?",
              "displayName": "Por que você acredita que participar da Sala Black é a oportunidade ideal para você e para o crescimento do seu negócio?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Por que devemos escolher você?",
              "displayName": "Por que devemos escolher você?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Capacidade de investimento",
              "displayName": "Capacidade de investimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Caso você seja aceito na Sala Black, o que precisa acontecer com você ou sua clínica, ao final dos 6 meses, para você dizer que valeu participar do programa e ser acompanhado pelas Dras. Ila e  Nicole?",
              "displayName": "Caso você seja aceito na Sala Black, o que precisa acontecer com você ou sua clínica, ao final dos 6 meses, para você dizer que valeu participar do programa e ser acompanhado pelas Dras. Ila e  Nicole?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chave",
              "displayName": "chave",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id clickup",
              "displayName": "id clickup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "link crm",
              "displayName": "link crm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "2f4dd444-d7dc-4aef-9919-e422cf2bc2c8",
      "name": "Etapa 1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1960,
        520
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1INPXHLk2_yG-TSmi2mxGrTyqQjSGyf9jyWlVZN8XTHc",
          "mode": "list",
          "cachedResultName": "[ILA] [CICLO 4] Planilha Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1INPXHLk2_yG-TSmi2mxGrTyqQjSGyf9jyWlVZN8XTHc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 24266723,
          "mode": "list",
          "cachedResultName": "[AUTO] Aplicação Sala Black [AS12]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1INPXHLk2_yG-TSmi2mxGrTyqQjSGyf9jyWlVZN8XTHc/edit#gid=24266723"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "chave": "={{ $json.chave }}",
            "Qual o faturamento mensal médio da sua clínica nos últimos meses?": "={{ $('Formata Telefone').item.json.faturamento }}",
            "Sua clínica investe em tráfego pago para aquisição de pacientes? Se sim, quanto?": "={{ $('Formata Telefone').item.json.investe }}",
            "Quais procedimentos vocês mais realizam na sua clínica?": "={{ $('Formata Telefone').item.json.especialidade }}",
            "E qual o ticket médio desses procedimentos?": "={{ $('Formata Telefone').item.json.ticket }}",
            "Qual a sua principal dificuldade hoje para aumentar o faturamento da sua clínica?": "={{ $('Formata Telefone').item.json.dificuldade }}",
            "Etapa_form": "2"
          },
          "matchingColumns": [
            "chave"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Endereço de e-mail",
              "displayName": "Endereço de e-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qual o seu nome?",
              "displayName": "Qual o seu nome?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qual seu whatsapp?",
              "displayName": "Qual seu whatsapp?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Etapa_form",
              "displayName": "Etapa_form",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Qual o nome da sua clínica?",
              "displayName": "Qual o nome da sua clínica?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E em qual cidade e região ela fica localizada?",
              "displayName": "E em qual cidade e região ela fica localizada?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qual o faturamento mensal médio da sua clínica nos últimos meses?",
              "displayName": "Qual o faturamento mensal médio da sua clínica nos últimos meses?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sua clínica investe em tráfego pago para aquisição de pacientes? Se sim, quanto?",
              "displayName": "Sua clínica investe em tráfego pago para aquisição de pacientes? Se sim, quanto?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quais procedimentos vocês mais realizam na sua clínica?",
              "displayName": "Quais procedimentos vocês mais realizam na sua clínica?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E qual o ticket médio desses procedimentos?",
              "displayName": "E qual o ticket médio desses procedimentos?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qual a sua principal dificuldade hoje para aumentar o faturamento da sua clínica?",
              "displayName": "Qual a sua principal dificuldade hoje para aumentar o faturamento da sua clínica?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "O modelo de mentoria que foi apresentado na aula faz sentido pra você?",
              "displayName": "O modelo de mentoria que foi apresentado na aula faz sentido pra você?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Por que você acredita que participar da Sala Black é a oportunidade ideal para você e para o crescimento do seu negócio?",
              "displayName": "Por que você acredita que participar da Sala Black é a oportunidade ideal para você e para o crescimento do seu negócio?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Por que devemos escolher você?",
              "displayName": "Por que devemos escolher você?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Capacidade de investimento",
              "displayName": "Capacidade de investimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Caso você seja aceito na Sala Black, o que precisa acontecer com você ou sua clínica, ao final dos 6 meses, para você dizer que valeu participar do programa e ser acompanhado pelas Dras. Ila e  Nicole?",
              "displayName": "Caso você seja aceito na Sala Black, o que precisa acontecer com você ou sua clínica, ao final dos 6 meses, para você dizer que valeu participar do programa e ser acompanhado pelas Dras. Ila e  Nicole?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chave",
              "displayName": "chave",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id clickup",
              "displayName": "id clickup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "link crm",
              "displayName": "link crm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "2113bcdf-ee76-400d-9f37-3aa5bd574209",
      "name": "Atualiza Etapa 2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1960,
        700
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1INPXHLk2_yG-TSmi2mxGrTyqQjSGyf9jyWlVZN8XTHc",
          "mode": "list",
          "cachedResultName": "[ILA] [CICLO 4] Planilha Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1INPXHLk2_yG-TSmi2mxGrTyqQjSGyf9jyWlVZN8XTHc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 24266723,
          "mode": "list",
          "cachedResultName": "[AUTO] Aplicação Sala Black [AS12]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1INPXHLk2_yG-TSmi2mxGrTyqQjSGyf9jyWlVZN8XTHc/edit#gid=24266723"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "chave",
              "lookupValue": "={{ $('Formata Telefone').item.json.telefone.slice(-7) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "74f7afc3-eb50-47de-80a2-e8e1b9c9a401",
      "name": "Busca Lead Etapa 2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1400,
        720
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1INPXHLk2_yG-TSmi2mxGrTyqQjSGyf9jyWlVZN8XTHc",
          "mode": "list",
          "cachedResultName": "[ILA] [CICLO 4] Planilha Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1INPXHLk2_yG-TSmi2mxGrTyqQjSGyf9jyWlVZN8XTHc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 24266723,
          "mode": "list",
          "cachedResultName": "[AUTO] Aplicação Sala Black [AS12]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1INPXHLk2_yG-TSmi2mxGrTyqQjSGyf9jyWlVZN8XTHc/edit#gid=24266723"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "chave",
              "lookupValue": "={{ $('Formata Telefone').item.json.telefone.slice(-7) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "059d1725-7b8a-4f5d-aa62-ba8d7430f23a",
      "name": "Busca Lead Final",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1400,
        960
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.row_number }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "89f25b62-1073-46a3-98ff-2ae9b99c091b",
      "name": "Existe? Etapa 2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1680,
        720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.row_number }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "ea171f46-c58e-4656-b9be-6c9e3a0ec77f",
      "name": "Existe? Etapa 3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1680,
        960
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1INPXHLk2_yG-TSmi2mxGrTyqQjSGyf9jyWlVZN8XTHc",
          "mode": "list",
          "cachedResultName": "[ILA] [CICLO 4] Planilha Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1INPXHLk2_yG-TSmi2mxGrTyqQjSGyf9jyWlVZN8XTHc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 24266723,
          "mode": "list",
          "cachedResultName": "[AUTO] Aplicação Sala Black [AS12]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1INPXHLk2_yG-TSmi2mxGrTyqQjSGyf9jyWlVZN8XTHc/edit#gid=24266723"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "chave": "={{ $json.chave }}",
            "Caso você seja aceito na Sala Black, o que precisa acontecer com você ou sua clínica, ao final dos 6 meses, para você dizer que valeu participar do programa e ser acompanhado pelas Dras. Ila e  Nicole?": "={{ $('Formata Telefone').item.json.transformacao }}",
            "parameters.columns.value[\"O Investimento para participação da Sala Black durante 6 meses é de 6x de R$1.990,00 reais ou à vista (com uma parcela grátis).\nComo você tem capacidade de investir esse valor em você e no seu negócio?\"]": "=",
            "parameters.columns.value[\"Como falamos na aula, na Sala Black temos uma missão: Fazer sua clínica faturar alto todos os meses e se tornar referência na sua região. \n\nVocê terá 6 meses de acesso a encontro semanal AO VIVO no zoom com as mentoras e 3 reuniões de acompanhamento INDIVIDUAL.\n\nVocê também recebe treinamentos para suas CRC’S, trilha de avaliação, trilha de gestão e trilha de marketing.\n\nAlém de um grupo secreto no WhatsApp com outros mentorados, onde terá um ambiente diário para te ajudar nos desafios que surgem na rotina de uma clínica odontológica em crescimento e o grupo Papo de Dono. \n\nEsse formato de mentoria faz sentido para você?\"]": "={{ $('Formata Telefone').item.json.faturamento }}",
            "O modelo de mentoria que foi apresentado na aula faz sentido pra você?": "={{ $('Formata Telefone').item.json.modelo }}",
            "Por que você acredita que participar da Sala Black é a oportunidade ideal para você e para o crescimento do seu negócio?": "={{ $('Formata Telefone').item.json.oportunidade }}",
            "parameters.columns.value[\"A Sala Black é um grupo seleto e bem restrito para um acompanhamento próximo e individual das clínicas.\nPor que devemos escolher você entre os interessados?\"]": "=",
            "Por que devemos escolher você?": "={{ $('Formata Telefone').item.json.motivo }}",
            "Capacidade de investimento": "={{ $('Formata Telefone').item.json.investimento }}",
            "Etapa_form": "3",
            "Status": "completo"
          },
          "matchingColumns": [
            "chave"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Endereço de e-mail",
              "displayName": "Endereço de e-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qual o seu nome?",
              "displayName": "Qual o seu nome?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qual seu whatsapp?",
              "displayName": "Qual seu whatsapp?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Etapa_form",
              "displayName": "Etapa_form",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qual o nome da sua clínica?",
              "displayName": "Qual o nome da sua clínica?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E em qual cidade e região ela fica localizada?",
              "displayName": "E em qual cidade e região ela fica localizada?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qual o faturamento mensal médio da sua clínica nos últimos meses?",
              "displayName": "Qual o faturamento mensal médio da sua clínica nos últimos meses?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sua clínica investe em tráfego pago para aquisição de pacientes? Se sim, quanto?",
              "displayName": "Sua clínica investe em tráfego pago para aquisição de pacientes? Se sim, quanto?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quais procedimentos vocês mais realizam na sua clínica?",
              "displayName": "Quais procedimentos vocês mais realizam na sua clínica?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E qual o ticket médio desses procedimentos?",
              "displayName": "E qual o ticket médio desses procedimentos?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qual a sua principal dificuldade hoje para aumentar o faturamento da sua clínica?",
              "displayName": "Qual a sua principal dificuldade hoje para aumentar o faturamento da sua clínica?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "O modelo de mentoria que foi apresentado na aula faz sentido pra você?",
              "displayName": "O modelo de mentoria que foi apresentado na aula faz sentido pra você?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Por que você acredita que participar da Sala Black é a oportunidade ideal para você e para o crescimento do seu negócio?",
              "displayName": "Por que você acredita que participar da Sala Black é a oportunidade ideal para você e para o crescimento do seu negócio?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Por que devemos escolher você?",
              "displayName": "Por que devemos escolher você?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Capacidade de investimento",
              "displayName": "Capacidade de investimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Caso você seja aceito na Sala Black, o que precisa acontecer com você ou sua clínica, ao final dos 6 meses, para você dizer que valeu participar do programa e ser acompanhado pelas Dras. Ila e  Nicole?",
              "displayName": "Caso você seja aceito na Sala Black, o que precisa acontecer com você ou sua clínica, ao final dos 6 meses, para você dizer que valeu participar do programa e ser acompanhado pelas Dras. Ila e  Nicole?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chave",
              "displayName": "chave",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id clickup",
              "displayName": "id clickup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "link crm",
              "displayName": "link crm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "b54302c7-865c-4ee9-96af-981183c24714",
      "name": "Atualiza Etapa Final DQ",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1960,
        940
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1INPXHLk2_yG-TSmi2mxGrTyqQjSGyf9jyWlVZN8XTHc",
          "mode": "list",
          "cachedResultName": "[ILA] [CICLO 4] Planilha Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1INPXHLk2_yG-TSmi2mxGrTyqQjSGyf9jyWlVZN8XTHc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1209311287,
          "mode": "list",
          "cachedResultName": "[LEADS]Aplicação Sala Black [AS12]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1INPXHLk2_yG-TSmi2mxGrTyqQjSGyf9jyWlVZN8XTHc/edit#gid=1209311287"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data": "={{ $('Formata Data').item.json.formattedDate }}",
            "Qual o seu nome?": "={{ $('Formata Telefone').item.json.nome }}",
            "Endereço de e-mail": "={{ $('Formata Telefone').item.json.email }}",
            "Qual seu whatsapp?": "={{ $('Formata Telefone').item.json.telefone }}",
            "Qual o nome da sua clínica?": "={{ $('Formata Telefone').item.json.clinica }}",
            "E em qual cidade e região ela fica localizada?": "={{ $('Formata Telefone').item.json[\"região\"] }}",
            "Etapa_form": "3",
            "Status": "completo",
            "Qual o faturamento mensal médio da sua clínica nos últimos meses?": "={{ $('Formata Telefone').item.json.faturamento }}",
            "Sua clínica investe em tráfego pago para aquisição de pacientes? Se sim, quanto?": "={{ $('Formata Telefone').item.json.investe }}",
            "Quais procedimentos vocês mais realizam na sua clínica?": "={{ $('Formata Telefone').item.json.especialidade }}",
            "E qual o ticket médio desses procedimentos?": "={{ $('Formata Telefone').item.json.ticket }}",
            "Qual a sua principal dificuldade hoje para aumentar o faturamento da sua clínica?": "={{ $('Formata Telefone').item.json.dificuldade }}",
            "O modelo de mentoria que foi apresentado na aula faz sentido pra você?": "={{ $('Formata Telefone').item.json.modelo }}",
            "Por que você acredita que participar da Sala Black é a oportunidade ideal para você e para o crescimento do seu negócio?": "={{ $('Formata Telefone').item.json.oportunidade }}",
            "Por que devemos escolher você?": "={{ $('Formata Telefone').item.json.motivo }}",
            "Capacidade de investimento": "={{ $('Formata Telefone').item.json.investimento }}",
            "Caso você seja aceito na Sala Black, o que precisa acontecer com você ou sua clínica, ao final dos 6 meses, para você dizer que valeu participar do programa e ser acompanhado pelas Dras. Ila e  Nicole?": "={{ $('Formata Telefone').item.json.transformacao }}",
            "chave": "={{ $('Formata Telefone').item.json.telefone.slice(-7) }}",
            "Agendou": "não"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Endereço de e-mail",
              "displayName": "Endereço de e-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qual o seu nome?",
              "displayName": "Qual o seu nome?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qual seu whatsapp?",
              "displayName": "Qual seu whatsapp?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Etapa_form",
              "displayName": "Etapa_form",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qual o nome da sua clínica?",
              "displayName": "Qual o nome da sua clínica?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E em qual cidade e região ela fica localizada?",
              "displayName": "E em qual cidade e região ela fica localizada?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qual o faturamento mensal médio da sua clínica nos últimos meses?",
              "displayName": "Qual o faturamento mensal médio da sua clínica nos últimos meses?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sua clínica investe em tráfego pago para aquisição de pacientes? Se sim, quanto?",
              "displayName": "Sua clínica investe em tráfego pago para aquisição de pacientes? Se sim, quanto?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quais procedimentos vocês mais realizam na sua clínica?",
              "displayName": "Quais procedimentos vocês mais realizam na sua clínica?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E qual o ticket médio desses procedimentos?",
              "displayName": "E qual o ticket médio desses procedimentos?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qual a sua principal dificuldade hoje para aumentar o faturamento da sua clínica?",
              "displayName": "Qual a sua principal dificuldade hoje para aumentar o faturamento da sua clínica?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "O modelo de mentoria que foi apresentado na aula faz sentido pra você?",
              "displayName": "O modelo de mentoria que foi apresentado na aula faz sentido pra você?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Por que você acredita que participar da Sala Black é a oportunidade ideal para você e para o crescimento do seu negócio?",
              "displayName": "Por que você acredita que participar da Sala Black é a oportunidade ideal para você e para o crescimento do seu negócio?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Por que devemos escolher você?",
              "displayName": "Por que devemos escolher você?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Capacidade de investimento",
              "displayName": "Capacidade de investimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Caso você seja aceito na Sala Black, o que precisa acontecer com você ou sua clínica, ao final dos 6 meses, para você dizer que valeu participar do programa e ser acompanhado pelas Dras. Ila e  Nicole?",
              "displayName": "Caso você seja aceito na Sala Black, o que precisa acontecer com você ou sua clínica, ao final dos 6 meses, para você dizer que valeu participar do programa e ser acompanhado pelas Dras. Ila e  Nicole?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chave",
              "displayName": "chave",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id clickup",
              "displayName": "id clickup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "link crm",
              "displayName": "link crm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Agendou",
              "displayName": "Agendou",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "56fec3fe-6639-41bb-958f-e10e28aee341",
      "name": "Add lead DQ",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2200,
        940
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random()* 6) + 5 }}",
        "unit": "seconds"
      },
      "id": "bdbe6c91-c6b9-4ded-8a3e-9b538ba74684",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1180,
        460
      ],
      "webhookId": "ca30eaa4-8306-411f-a0a5-8ea5729dde3b"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random()* 6) + 15 }}",
        "unit": "seconds"
      },
      "id": "6a3ad913-2226-4060-8274-68bb19cfd63b",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1180,
        720
      ],
      "webhookId": "919e0b3f-f943-4149-9090-e82279235078"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random()* 11) + 20 }}",
        "unit": "seconds"
      },
      "id": "9af04217-2df9-4dfe-b701-55cc920ba506",
      "name": "Wait2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1180,
        960
      ],
      "webhookId": "43505e00-fa40-42ce-a050-4678ae7407c4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hook.us1.make.com/fnikc8ggp9curwcm677o89hoyugp5p1p",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $('Formata Telefone').item.json.nome }}"
            },
            {
              "name": "email",
              "value": "={{ $('Formata Telefone').item.json.email }}"
            },
            {
              "name": "telefone",
              "value": "={{ $('Formata Telefone').item.json.telefone }}"
            },
            {
              "name": "clinica",
              "value": "={{ $('Formata Telefone').item.json.clinica }}"
            },
            {
              "name": "Regiao",
              "value": "={{ $('Formata Telefone').item.json[\"região\"] }}"
            },
            {
              "name": "dificuldade",
              "value": "={{ $('Formata Telefone').item.json.dificuldade }}"
            },
            {
              "name": "especialidade",
              "value": "={{ $('Formata Telefone').item.json.especialidade }}"
            },
            {
              "name": "investe",
              "value": "={{ $('Formata Telefone').item.json.investe }}"
            },
            {
              "name": "faturamento",
              "value": "={{ $('Formata Telefone').item.json.faturamento }}"
            },
            {
              "name": "oportunidade",
              "value": "={{ $('Formata Telefone').item.json.oportunidade }}"
            },
            {
              "name": "motivo",
              "value": "={{ $('Formata Telefone').item.json.motivo }}"
            },
            {
              "name": "investimento",
              "value": "={{ $('Formata Telefone').item.json.investimento }}"
            },
            {
              "name": "transformação",
              "value": "={{ $('Formata Telefone').item.json.transformacao }}"
            },
            {
              "name": "chave",
              "value": "={{ $('Formata Telefone').item.json.telefone.slice(-7) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a21bb48d-aff2-47f2-b876-a3e73a8956f9",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2420,
        940
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1INPXHLk2_yG-TSmi2mxGrTyqQjSGyf9jyWlVZN8XTHc",
          "mode": "list",
          "cachedResultName": "[ILA] [CICLO 4] Planilha Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1INPXHLk2_yG-TSmi2mxGrTyqQjSGyf9jyWlVZN8XTHc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 24266723,
          "mode": "list",
          "cachedResultName": "[AUTO] Aplicação Sala Black [AS12]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1INPXHLk2_yG-TSmi2mxGrTyqQjSGyf9jyWlVZN8XTHc/edit#gid=24266723"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "chave",
              "lookupValue": "={{ $('Formata Telefone').item.json.telefone.slice(-7) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "93a95e98-55ff-4bcd-8064-6ab48465fa93",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        1400,
        460
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "b32bfafe-c44b-4a52-a92c-2fd5838b184e",
              "leftValue": "={{ $json.row_number }}",
              "rightValue": "=",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "25be4dec-7d10-4f59-9741-ca7d60ca3cf7",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1620,
        460
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1INPXHLk2_yG-TSmi2mxGrTyqQjSGyf9jyWlVZN8XTHc",
          "mode": "list",
          "cachedResultName": "[ILA] [CICLO 4] Planilha Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1INPXHLk2_yG-TSmi2mxGrTyqQjSGyf9jyWlVZN8XTHc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 24266723,
          "mode": "list",
          "cachedResultName": "[AUTO] Aplicação Sala Black [AS12]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1INPXHLk2_yG-TSmi2mxGrTyqQjSGyf9jyWlVZN8XTHc/edit#gid=24266723"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Endereço de e-mail": "={{ $json['Endereço de e-mail'] }}",
            "Data": "={{ $json.Data }}",
            "Qual o seu nome?": "={{ $json['Qual o seu nome?'] }}",
            "Qual seu whatsapp?": "={{ $json['Qual seu whatsapp?'] }}",
            "Etapa_form": "1",
            "Status": "incompleto",
            "Qual o nome da sua clínica?": "={{ $json['Qual o nome da sua clínica?'] }}",
            "E em qual cidade e região ela fica localizada?": "={{ $json['E em qual cidade e região ela fica localizada?'] }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Endereço de e-mail",
              "displayName": "Endereço de e-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qual o seu nome?",
              "displayName": "Qual o seu nome?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qual seu whatsapp?",
              "displayName": "Qual seu whatsapp?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Etapa_form",
              "displayName": "Etapa_form",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qual o nome da sua clínica?",
              "displayName": "Qual o nome da sua clínica?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E em qual cidade e região ela fica localizada?",
              "displayName": "E em qual cidade e região ela fica localizada?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qual o faturamento mensal médio da sua clínica nos últimos meses?",
              "displayName": "Qual o faturamento mensal médio da sua clínica nos últimos meses?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sua clínica investe em tráfego pago para aquisição de pacientes? Se sim, quanto?",
              "displayName": "Sua clínica investe em tráfego pago para aquisição de pacientes? Se sim, quanto?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quais procedimentos vocês mais realizam na sua clínica?",
              "displayName": "Quais procedimentos vocês mais realizam na sua clínica?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E qual o ticket médio desses procedimentos?",
              "displayName": "E qual o ticket médio desses procedimentos?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qual a sua principal dificuldade hoje para aumentar o faturamento da sua clínica?",
              "displayName": "Qual a sua principal dificuldade hoje para aumentar o faturamento da sua clínica?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "O modelo de mentoria que foi apresentado na aula faz sentido pra você?",
              "displayName": "O modelo de mentoria que foi apresentado na aula faz sentido pra você?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Por que você acredita que participar da Sala Black é a oportunidade ideal para você e para o crescimento do seu negócio?",
              "displayName": "Por que você acredita que participar da Sala Black é a oportunidade ideal para você e para o crescimento do seu negócio?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Por que devemos escolher você?",
              "displayName": "Por que devemos escolher você?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Capacidade de investimento",
              "displayName": "Capacidade de investimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Caso você seja aceito na Sala Black, o que precisa acontecer com você ou sua clínica, ao final dos 6 meses, para você dizer que valeu participar do programa e ser acompanhado pelas Dras. Ila e  Nicole?",
              "displayName": "Caso você seja aceito na Sala Black, o que precisa acontecer com você ou sua clínica, ao final dos 6 meses, para você dizer que valeu participar do programa e ser acompanhado pelas Dras. Ila e  Nicole?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chave",
              "displayName": "chave",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id clickup",
              "displayName": "id clickup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "link crm",
              "displayName": "link crm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "5d0fbee8-b01f-42b9-bcf8-f4e2d0dc0b6a",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        1960,
        320
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.marcosfoks.com.br",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.5 Safari/605.1.15",
            "content-length": "2160",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "en-GB,en-US;q=0.9,en;q=0.8",
            "cdn-loop": "cloudflare",
            "cf-connecting-ip": "2804:14d:bad5:9647:5023:a47f:90c2:cb46",
            "cf-ipcountry": "BR",
            "cf-ray": "89db2fe05845a429-GRU",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "multipart/form-data; boundary=----WebKitFormBoundary9jix8VTYwNplb8OY",
            "origin": "https://dentistapower.com.br",
            "referer": "https://dentistapower.com.br/",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "172.69.11.15",
            "x-forwarded-host": "n8n.marcosfoks.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "bc917484dc53",
            "x-real-ip": "172.69.11.15"
          },
          "params": {},
          "query": {},
          "body": {
            "nome": "Gustavo",
            "email": "gu1994@gmail.com",
            "telefone": "(48) 99151-3854",
            "clinica": "Flores Clínica Odontológica",
            "região": "São José, SC",
            "dificuldade": "Escalar o uso das cadeiras ",
            "especialidade": "Implante, Clareamento e Endo ",
            "investe": "Entre R$ 2.000 e R$ 5.000",
            "faturamento": "Entre 51 e 100 mil reais / mês",
            "oportunidade": "Quero ver se é mesmo. ",
            "motivo": "Estou para ganhar dinheiro, eu ganhando dinheiro, o feedback e o depoimento são bons",
            "transformacao": "Estar constantemente sobre os 100k e mantendo a minha taxa de lucro ",
            "etapa": "3",
            "utm_campaign": "null",
            "utm_source": "null",
            "utm_medium": "null",
            "utm_term": "null",
            "utm_content": "null"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-07-04T02:23:17.000Z",
  "versionId": "c7e11ae1-ae13-4768-89b7-5ee85a0d187f"
}