workflows/[REUNIÃO SECRETA] Envio de Ingressos.json
{
  "active": false,
  "connections": {
    "PDFKit1": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDFKit": {
      "main": [
        [
          {
            "node": "GitHub1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Trata Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trata Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "PDFKit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image": {
      "main": [
        [
          {
            "node": "PDFKit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "PDFKit3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDFKit2": {
      "main": [
        [
          {
            "node": "GitHub3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "Edit Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDFKit3": {
      "main": [
        [
          {
            "node": "GitHub2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image1": {
      "main": [
        [
          {
            "node": "PDFKit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-04-23T01:06:36.013Z",
  "id": "laldcfHnWAqMzPog",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[REUNIÃO SECRETA] Envio de Ingressos",
  "nodes": [
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/libertas-cris/ingressos-modelo/main/Ingresso%20-%20Modelo%20Standard-Frente.png",
        "options": {}
      },
      "id": "e1608a82-409c-453c-99ce-34e9fe3f0645",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        920,
        -60
      ]
    },
    {
      "parameters": {
        "pdfName": "verso"
      },
      "id": "c03d4ca6-7d6c-4594-9ade-b164243bbf55",
      "name": "PDFKit",
      "type": "n8n-nodes-pdfkit.pdfKit",
      "typeVersion": 1,
      "position": [
        1360,
        140
      ]
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/libertas-cris/ingressos-modelo/main/Ingresso%20-%20Modelo%20Standard-Verso.png",
        "options": {}
      },
      "id": "8b36941e-e314-4549-8fe0-ca423a443c3c",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        920,
        140
      ]
    },
    {
      "parameters": {
        "pdfName": "frente"
      },
      "id": "3c9ba32a-67f6-4371-b007-853594bf664d",
      "name": "PDFKit1",
      "type": "n8n-nodes-pdfkit.pdfKit",
      "typeVersion": 1,
      "position": [
        1360,
        -60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hook.us1.make.com/b7kgopha7moehqvh72cqlhotx1rvyffi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome1",
              "value": "={{ $json.name[0] }}"
            },
            {
              "name": "url1",
              "value": "={{ $json.download_url[0] }}"
            },
            {
              "name": "nome2",
              "value": "={{ $json.name[1] }}"
            },
            {
              "name": "url2",
              "value": "={{ $json.download_url[1] }}"
            },
            {
              "name": "email",
              "value": "={{ $('Trata Webhook').item.json.email }}"
            },
            {
              "name": "telefone",
              "value": "={{ $('Trata Webhook').item.json.telefone }}"
            },
            {
              "name": "nome",
              "value": "={{ $('Trata Webhook').item.json.nome }}"
            }
          ]
        },
        "options": {}
      },
      "id": "08b80848-214c-4a24-8c3a-81cfeb70189a",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2380,
        40
      ]
    },
    {
      "parameters": {},
      "id": "490cb44b-92f2-4e0a-95df-5dad9af7f8ab",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1900,
        40
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "libertas-cris",
          "mode": "list",
          "cachedResultName": "libertas-cris",
          "cachedResultUrl": "https://github.com/libertas-cris"
        },
        "repository": {
          "__rl": true,
          "value": "teste",
          "mode": "list",
          "cachedResultName": "teste",
          "cachedResultUrl": "https://github.com/libertas-cris/teste"
        },
        "filePath": "={{$now.toMillis() +\"_ingresso_frente_cris.pdf\"}}",
        "binaryData": true,
        "commitMessage": "={{$now.toMillis() +\"_ingresso_frente_cris\"}}"
      },
      "id": "32ef7dc8-2974-43d9-a98c-7b2ef0cfadaf",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1620,
        -60
      ],
      "credentials": {
        "githubApi": {
          "id": "bzG1MN0DjIGk3oU2",
          "name": "Libertas"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "libertas-cris",
          "mode": "list",
          "cachedResultName": "libertas-cris",
          "cachedResultUrl": "https://github.com/libertas-cris"
        },
        "repository": {
          "__rl": true,
          "value": "teste",
          "mode": "list",
          "cachedResultName": "teste",
          "cachedResultUrl": "https://github.com/libertas-cris/teste"
        },
        "filePath": "={{$now.toMillis() +\"_ingresso_verso_cris.pdf\"}}",
        "binaryData": true,
        "commitMessage": "={{$now.toMillis() +\"_ingresso_verso_cris\"}}"
      },
      "id": "8f908da1-9d4b-4434-94bc-f4db2b50203f",
      "name": "GitHub1",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1620,
        140
      ],
      "credentials": {
        "githubApi": {
          "id": "bzG1MN0DjIGk3oU2",
          "name": "Libertas"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content.download_url"
            },
            {
              "fieldToAggregate": "content.name"
            }
          ]
        },
        "options": {}
      },
      "id": "e87a0d33-8a21-4fc2-afa2-5f87071796f1",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2120,
        40
      ]
    },
    {
      "parameters": {
        "operation": "multiStep",
        "operations": {
          "operations": [
            {
              "operation": "text",
              "text": "Matheus Cristhyan",
              "fontSize": 50,
              "fontColor": "#473C38",
              "positionX": 850,
              "positionY": 150,
              "font": "/usr/share/fonts/truetype/msttcorefonts/Arial_Bold.ttf"
            }
          ]
        },
        "options": {}
      },
      "id": "453aeac4-c659-4f72-8cb7-c0ebb35433e8",
      "name": "Edit Image",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        1160,
        140
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1333dd33-17f0-479d-ab4a-39889ba94bfb",
        "options": {}
      },
      "id": "ff0740c9-dddc-4055-9b3f-1a7ae7388b49",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        380
      ],
      "webhookId": "1333dd33-17f0-479d-ab4a-39889ba94bfb"
    },
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]\n"
      },
      "id": "ace75301-a4e9-4986-a9a4-a1487058889e",
      "name": "Trata Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        440,
        380
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ingresso }}",
                    "rightValue": "normal",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Normal"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "685fee48-58f8-4d34-8beb-9fe5fff86650",
                    "leftValue": "={{ $json.ingresso }}",
                    "rightValue": "=vip",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "vip"
            }
          ]
        },
        "options": {}
      },
      "id": "e60c7cfb-6258-445d-8fe4-71e87ad9b562",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        640,
        380
      ]
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/libertas-cris/ingressos-modelo/main/Ingresso%20-%20Modelo%20VIP-Frente.png",
        "options": {}
      },
      "id": "6327a1af-d1b0-4828-ba1a-985df0b703ff",
      "name": "HTTP Request5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        920,
        520
      ]
    },
    {
      "parameters": {
        "pdfName": "verso"
      },
      "id": "e245e0bc-ecdb-41cd-9eb1-4071a29ba471",
      "name": "PDFKit2",
      "type": "n8n-nodes-pdfkit.pdfKit",
      "typeVersion": 1,
      "position": [
        1360,
        720
      ]
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/libertas-cris/ingressos-modelo/main/Ingresso%20-%20Modelo%20VIP.png",
        "options": {}
      },
      "id": "51eef675-e87d-4ae2-be91-7bfe0eb28a76",
      "name": "HTTP Request6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        920,
        720
      ]
    },
    {
      "parameters": {
        "pdfName": "frente"
      },
      "id": "72a89566-eafd-44e0-a059-cd8a1a0beef7",
      "name": "PDFKit3",
      "type": "n8n-nodes-pdfkit.pdfKit",
      "typeVersion": 1,
      "position": [
        1360,
        520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hook.us1.make.com/b7kgopha7moehqvh72cqlhotx1rvyffi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome1",
              "value": "={{ $json.name[0] }}"
            },
            {
              "name": "url1",
              "value": "={{ $json.download_url[0] }}"
            },
            {
              "name": "nome2",
              "value": "={{ $json.name[1] }}"
            },
            {
              "name": "url2",
              "value": "={{ $json.download_url[1] }}"
            },
            {
              "name": "email",
              "value": "={{ $('Trata Webhook').item.json.email }}"
            },
            {
              "name": "telefone",
              "value": "={{ $('Trata Webhook').item.json.telefone }}"
            },
            {
              "name": "nome",
              "value": "={{ $('Trata Webhook').item.json.nome }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9cf10024-9e67-4009-aa11-fb2a3318e357",
      "name": "HTTP Request7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2380,
        620
      ]
    },
    {
      "parameters": {},
      "id": "242bf14f-aab6-412a-a00e-742e9d5c0782",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1900,
        620
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "libertas-cris",
          "mode": "list",
          "cachedResultName": "libertas-cris",
          "cachedResultUrl": "https://github.com/libertas-cris"
        },
        "repository": {
          "__rl": true,
          "value": "teste",
          "mode": "list",
          "cachedResultName": "teste",
          "cachedResultUrl": "https://github.com/libertas-cris/teste"
        },
        "filePath": "={{$now.toMillis() +\"_ingresso_frente_cris.pdf\"}}",
        "binaryData": true,
        "commitMessage": "={{$now.toMillis() +\"_ingresso_frente_cris\"}}"
      },
      "id": "7a433406-ddf9-441e-82e9-184cb55751e1",
      "name": "GitHub2",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1620,
        520
      ],
      "credentials": {
        "githubApi": {
          "id": "bzG1MN0DjIGk3oU2",
          "name": "Libertas"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "libertas-cris",
          "mode": "list",
          "cachedResultName": "libertas-cris",
          "cachedResultUrl": "https://github.com/libertas-cris"
        },
        "repository": {
          "__rl": true,
          "value": "teste",
          "mode": "list",
          "cachedResultName": "teste",
          "cachedResultUrl": "https://github.com/libertas-cris/teste"
        },
        "filePath": "={{$now.toMillis() +\"_ingresso_verso_cris.pdf\"}}",
        "binaryData": true,
        "commitMessage": "={{$now.toMillis() +\"_ingresso_verso_cris\"}}"
      },
      "id": "d2533da9-a0e5-45aa-aa00-c257e6f0c9fb",
      "name": "GitHub3",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1620,
        720
      ],
      "credentials": {
        "githubApi": {
          "id": "bzG1MN0DjIGk3oU2",
          "name": "Libertas"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content.download_url"
            },
            {
              "fieldToAggregate": "content.name"
            }
          ]
        },
        "options": {}
      },
      "id": "fdb1b077-d9f1-4536-9aec-a162ab5fdf87",
      "name": "Aggregate1",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2120,
        620
      ]
    },
    {
      "parameters": {
        "operation": "multiStep",
        "operations": {
          "operations": [
            {
              "operation": "text",
              "text": "Matheus Cristhyan",
              "fontSize": 50,
              "fontColor": "#FFFFFF",
              "positionX": 850,
              "positionY": 150,
              "font": "/usr/share/fonts/truetype/msttcorefonts/Arial_Bold.ttf"
            }
          ]
        },
        "options": {}
      },
      "id": "f57ad668-fb4d-4a6a-8aff-8f0226d7a3a1",
      "name": "Edit Image1",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        1160,
        720
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.marcosfoks.com.br",
            "user-agent": "axios/1.6.7",
            "content-length": "111",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare",
            "cf-connecting-ip": "194.163.167.202",
            "cf-ipcountry": "DE",
            "cf-ray": "878abdb75f38bbf1-FRA",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "x-forwarded-for": "172.70.247.6",
            "x-forwarded-host": "n8n.marcosfoks.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "bc917484dc53",
            "x-real-ip": "172.70.247.6"
          },
          "params": {},
          "query": {},
          "body": {
            "nome": "Matheus Cristhyan",
            "email": "matheus@@gmail.com",
            "telefone": "5581993515055",
            "ingresso": "vip"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-04-23T03:46:51.000Z",
  "versionId": "0e93d726-3ba4-43d9-88b9-043f24157c96"
}