workflows/[SALA BLACK] Monitoramento de Planilhas.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fim de semana?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets4": {
      "main": [
        [
          {
            "node": "Google Sheets5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets8": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        []
      ]
    },
    "Google Sheets7": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets9": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets6": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets5": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets10": {
      "main": [
        [
          {
            "node": "Google Sheets9",
            "type": "main",
            "index": 0
          },
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fim de semana?": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data atual": {
      "main": [
        [
          {
            "node": "Formata Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Data": {
      "main": [
        [
          {
            "node": "Lê planilha geral",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lê planilha geral": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Data atual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Google Sheets6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Google Sheets4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Google Sheets7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "Google Sheets8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "Google Sheets10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-12-21T00:01:40.786Z",
  "id": "HWwVRGBqoKT45grI",
  "meta": null,
  "name": "[SALA BLACK] Monitoramento de Planilhas",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression"
            }
          ]
        }
      },
      "id": "60ccb5c7-da35-40c9-9b93-0d1dc2631e89",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -460,
        340
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json['ID Planilha'] }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.Spreadsheet }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "3e8a6c28-6ccd-4e69-91dd-29fd799cd81d",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1260,
        360
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oySssnVS9U4DH0EY",
          "name": "Sala Black"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.row_number }}",
              "operation": "largerEqual",
              "value2": 43
            },
            {
              "value1": "={{ $json.row_number }}",
              "operation": "smallerEqual",
              "value2": 73
            }
          ]
        }
      },
      "id": "c457b7d9-3bd1-4c1f-93e5-a10d024427cf",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        1480,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Responsável }}",
              "value2": "={{ $('Formata Data').item.json.formattedDate }}"
            }
          ]
        }
      },
      "id": "0b993ce9-7eef-4830-b800-f01d64ac2c8a",
      "name": "Filter1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        1720,
        360
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "f3dfb04f-0c9f-4d4a-b9a9-0dddae76d69a",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1000,
        380
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1aGL27CzVZp7jUOsZnfWTdvSFEn6Oy7H-73h8ej4Djx8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID Planilha",
              "lookupValue": "={{ $('Split In Batches').item.json['ID Planilha'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b1ff17d7-3e57-4fb0-8b9b-73d7010e4aa1",
      "name": "Google Sheets3",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2300,
        380
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oySssnVS9U4DH0EY",
          "name": "Sala Black"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.col_3 }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "3988872f-f12d-4129-810b-46c2f9317900",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1940,
        360
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1aGL27CzVZp7jUOsZnfWTdvSFEn6Oy7H-73h8ej4Djx8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID Planilha",
              "lookupValue": "={{ $('Split In Batches').item.json['ID Planilha'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "364c89ea-bcb1-4e4e-8680-182cf5ef1295",
      "name": "Google Sheets4",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2260,
        -240
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oySssnVS9U4DH0EY",
          "name": "Sala Black"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1aGL27CzVZp7jUOsZnfWTdvSFEn6Oy7H-73h8ej4Djx8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID Planilha": "={{ $json['ID Planilha'] }}",
            "Off 1": "=",
            "Off 2": "=",
            "Off 3": "=",
            "Trigger days": "=0",
            "Dias sem preencher ": "=0"
          },
          "matchingColumns": [
            "ID Planilha"
          ],
          "schema": [
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chave",
              "displayName": "Chave",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Planilha",
              "displayName": "ID Planilha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Spreadsheet",
              "displayName": "Spreadsheet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trigger days",
              "displayName": "Trigger days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Dias sem preencher ",
              "displayName": "Dias sem preencher ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Enviar Mensagem",
              "displayName": "Enviar Mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "fa96f970-d0a4-4c9d-ba2b-3811b2e80d56",
      "name": "Google Sheets5",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2540,
        -240
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oySssnVS9U4DH0EY",
          "name": "Sala Black"
        }
      }
    },
    {
      "parameters": {
        "value1": "={{ $json['Trigger days'] }}",
        "rules": {
          "rules": [
            {
              "operation": "equal"
            },
            {
              "operation": "equal",
              "value2": 1,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 2,
              "output": 2
            },
            {
              "operation": "equal",
              "value2": 3,
              "output": 3
            }
          ]
        }
      },
      "id": "ebcffe97-176d-4d71-9e45-ec5057bf9ab0",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        2520,
        360
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1aGL27CzVZp7jUOsZnfWTdvSFEn6Oy7H-73h8ej4Djx8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID Planilha": "={{ $json['ID Planilha'] }}",
            "Trigger days": "=1",
            "Dias sem preencher ": "={{ $json['Dias sem preencher '] + 1 }}"
          },
          "matchingColumns": [
            "ID Planilha"
          ],
          "schema": [
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chave",
              "displayName": "Chave",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Planilha",
              "displayName": "ID Planilha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Spreadsheet",
              "displayName": "Spreadsheet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trigger days",
              "displayName": "Trigger days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Dias sem preencher ",
              "displayName": "Dias sem preencher ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "f4325933-152d-493f-a638-118b23f1e877",
      "name": "Google Sheets6",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2840,
        -60
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oySssnVS9U4DH0EY",
          "name": "Sala Black"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1aGL27CzVZp7jUOsZnfWTdvSFEn6Oy7H-73h8ej4Djx8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID Planilha": "={{ $json['ID Planilha'] }}",
            "Trigger days": "=2",
            "Dias sem preencher ": "={{ $json['Dias sem preencher '] + 1 }}"
          },
          "matchingColumns": [
            "ID Planilha"
          ],
          "schema": [
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chave",
              "displayName": "Chave",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Planilha",
              "displayName": "ID Planilha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Spreadsheet",
              "displayName": "Spreadsheet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trigger days",
              "displayName": "Trigger days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Dias sem preencher ",
              "displayName": "Dias sem preencher ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "7e114dfd-f9b7-46a7-9fb5-f644adc9547e",
      "name": "Google Sheets7",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2840,
        120
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oySssnVS9U4DH0EY",
          "name": "Sala Black"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1aGL27CzVZp7jUOsZnfWTdvSFEn6Oy7H-73h8ej4Djx8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID Planilha": "={{ $json['ID Planilha'] }}",
            "Trigger days": "=3",
            "Dias sem preencher ": "={{ $json['Dias sem preencher '] + 1 }}"
          },
          "matchingColumns": [
            "ID Planilha"
          ],
          "schema": [
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chave",
              "displayName": "Chave",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Planilha",
              "displayName": "ID Planilha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Spreadsheet",
              "displayName": "Spreadsheet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trigger days",
              "displayName": "Trigger days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Dias sem preencher ",
              "displayName": "Dias sem preencher ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "14a5a6b0-fb40-4ff7-8057-ccaaced4fa8d",
      "name": "Google Sheets8",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2840,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oySssnVS9U4DH0EY",
          "name": "Sala Black"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C1825917D649026AAA446A65441921E/token/92B58C5DAD3489D5AD780116/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=5581993515055"
            },
            {
              "name": "message",
              "value": "=Olá,  {{ $('Split In Batches').item.json.Nome }}! Tudo bem? Acabei de notar que você já não preenche a sua planilha de acompanhamento há alguns dias.\n\nÉ importantíssimo que você mantenha ela em dia para que a gente consiga te ajudar da melhor forma possível."
            }
          ]
        },
        "options": {}
      },
      "id": "c48bc639-70f4-4b1d-bf72-02daef077f0f",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3740,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C1825917D649026AAA446A65441921E/token/92B58C5DAD3489D5AD780116/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=5581993515055"
            },
            {
              "name": "message",
              "value": "=Bora lá preencher? Conto contigo"
            }
          ]
        },
        "options": {}
      },
      "id": "d009078b-792f-42ce-80c8-82f54000d082",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3980,
        380
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1aGL27CzVZp7jUOsZnfWTdvSFEn6Oy7H-73h8ej4Djx8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID Planilha": "={{ $('Split In Batches').item.json['ID Planilha'] }}",
            "Trigger days": "=0",
            "Dias sem preencher ": "=0"
          },
          "matchingColumns": [
            "ID Planilha"
          ],
          "schema": [
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chave",
              "displayName": "Chave",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Planilha",
              "displayName": "ID Planilha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Spreadsheet",
              "displayName": "Spreadsheet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trigger days",
              "displayName": "Trigger days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Dias sem preencher ",
              "displayName": "Dias sem preencher ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "9a79d79e-bca6-46ba-b5c4-fac7b2f84817",
      "name": "Google Sheets9",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        3420,
        480
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oySssnVS9U4DH0EY",
          "name": "Sala Black"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C1825917D649026AAA446A65441921E/token/92B58C5DAD3489D5AD780116/send-text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=5581993515055"
            },
            {
              "name": "message",
              "value": "=Automação das planilhas rodou"
            }
          ]
        },
        "options": {}
      },
      "id": "7293cd40-187d-4b5a-aea3-229c3a23bd9e",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1280,
        780
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1aGL27CzVZp7jUOsZnfWTdvSFEn6Oy7H-73h8ej4Djx8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID Planilha": "={{ $json['ID Planilha'] }}",
            "Trigger days": "=3",
            "Dias sem preencher ": "={{ $json['Dias sem preencher '] + 1 }}"
          },
          "matchingColumns": [
            "ID Planilha"
          ],
          "schema": [
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chave",
              "displayName": "Chave",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Planilha",
              "displayName": "ID Planilha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Spreadsheet",
              "displayName": "Spreadsheet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trigger days",
              "displayName": "Trigger days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Dias sem preencher ",
              "displayName": "Dias sem preencher ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "5f5403d9-eef3-4458-a8da-f9023cfb95b1",
      "name": "Google Sheets10",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2840,
        480
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oySssnVS9U4DH0EY",
          "name": "Sala Black"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function isWeekend() {\n  const today = new Date();\n  const dayOfWeek = today.getDay(); // 0 for Sunday, 1 for Monday, ..., 6 for Saturday\n\n  return dayOfWeek === 0 || dayOfWeek === 6; // 0 for Sunday, 6 for Saturday\n}\n\nif (isWeekend()) {\n  return {\n    fimDeSemana: \"verdadeiro\"}\n} else {\n  return {\n    fimDeSemana: \"falso\"}\n}\n\n\n"
      },
      "id": "468a7b6b-03a9-44c3-8786-3a8cf9cdab08",
      "name": "Fim de semana?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        340
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8184bb13-4255-4494-bb8c-6e5185cece09",
      "name": "Data atual",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        260,
        380
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "custom",
        "customFormat": "d/M/yyyy",
        "options": {}
      },
      "id": "5b0917ae-a54c-4acf-8e66-65581c5862a1",
      "name": "Formata Data",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        480,
        380
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1aGL27CzVZp7jUOsZnfWTdvSFEn6Oy7H-73h8ej4Djx8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "gid=0"
        },
        "options": {}
      },
      "id": "c4628201-f3c0-4446-87b4-b9926b0c6226",
      "name": "Lê planilha geral",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        700,
        380
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oySssnVS9U4DH0EY",
          "name": "Sala Black"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.fimDeSemana }}",
        "rules": {
          "rules": [
            {
              "value2": "falso"
            },
            {
              "value2": "verdadeiro",
              "output": 1
            }
          ]
        }
      },
      "id": "79cc2b96-cc89-4e4c-9204-c801282c68c9",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        40,
        380
      ]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "facdbf9a-0b0d-4abf-8cef-7d7610424b34",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1140,
        200
      ],
      "webhookId": "54a18a14-8a19-4739-8488-45741e4cfb96"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "ef496782-99a1-4ce8-9ead-58e700ea1a15",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2160,
        280
      ],
      "webhookId": "dc65bf0f-a247-4a59-9e28-7a2f2b3d848b"
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "a0c2107c-1098-4a2d-bd65-aa80e288b737",
      "name": "Wait2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2680,
        -60
      ],
      "webhookId": "26ee0d31-c36a-4f48-b587-491eda659f05"
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "44a090fa-b5a5-465b-8a41-f2e0a303e208",
      "name": "Wait3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2060,
        -240
      ],
      "webhookId": "34140e24-7a2e-49af-8243-31be17d1f0b1"
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "050372d8-fff8-4954-801d-26933d9abb16",
      "name": "Wait4",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2680,
        120
      ],
      "webhookId": "f6039b8e-1021-4b54-b5ad-2fd7ca0cee7c"
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "dd41506f-20a4-41d1-93a0-63ecc433e9d8",
      "name": "Wait5",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2680,
        300
      ],
      "webhookId": "8878b94c-8416-4dba-b1b2-641f5ff3e29c"
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "7f945b4e-b869-4672-9938-c7398777bcb6",
      "name": "Wait6",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2680,
        480
      ],
      "webhookId": "264e2ae7-25d1-4ab3-9128-b390eda6dd64"
    },
    {
      "parameters": {
        "operation": "summarize",
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "append",
              "field": "Nome"
            }
          ]
        },
        "options": {}
      },
      "id": "45ee2002-bd14-4f9a-983a-8cebcad93e9d",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        3120,
        760
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-03-06T12:56:06.000Z",
  "versionId": "5b6ee45c-a540-4dba-abab-d042d99981c5"
}