workflows/Implante Million - Compra Aprovada.json
{
  "active": true,
  "connections": {
    "Trata Webhook": {
      "main": [
        [
          {
            "node": "Formata Telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Telefone": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Trata Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Essencial",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Vip",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Black",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Essencial": {
      "main": [
        [
          {
            "node": "Busca checkout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca checkout": {
      "main": [
        [
          {
            "node": "Att compra esc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca checkout1": {
      "main": [
        [
          {
            "node": "Att compra vip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vip": {
      "main": [
        [
          {
            "node": "Busca checkout1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca checkout2": {
      "main": [
        [
          {
            "node": "Att compra black",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Black": {
      "main": [
        [
          {
            "node": "Busca checkout2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-03-22T13:40:06.154Z",
  "id": "aYJmuXFu3KiOuGid",
  "meta": null,
  "name": "Implante Million - Compra Aprovada",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]\n"
      },
      "id": "3c44eda3-b5ab-48af-b1ad-0d1e734afcad",
      "name": "Trata Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1000,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "function formataTelefone(number) {\n    number = number.toString().replace(/[^\\d]/g, \"\")\n    let ddi = '55'\n    let ddd = number.substring(0, 2)\n\n    if (number.length == 13) {\n        let ddi = number.substring(0, 2)\n        let ddd = number.substring(2, 4)\n        return ddi + ddd + (ddd <= 28 ? number.substring(4, 13) : number.substring(5, 13))\n\n    } else if (number.length == 11) {\n        return ddi + ddd + (ddd <= 28 ? number.substring(2, 11) : number.substring(3, 11))\n\n    } else if (number.length == 10) {\n        return ddi + ddd + (ddd <= 28 ? '9' : '') + number.substring(2, 11)\n\n    } else if (number.length == 12) {\n        return number.substring(0, 2) == '55' ? number : (number.substring(0, 1) == '0' ? formataTelefone(number.substring(1, 12)) : number)\n\n    } else {\n        return number\n    }\n}\n\n$input.all()[0].json['contact[phone]'] = formataTelefone($node['Trata Webhook'].json['contact[phone]'])\n\nreturn $input.all();"
      },
      "id": "69189641-b15a-4b8f-b14e-a3bf5c6854b5",
      "name": "Formata Telefone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1180,
        380
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "581e20af-8f83-4624-9060-7cc983231827",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1360,
        380
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy",
        "options": {}
      },
      "id": "813d5de5-98bf-466c-b2bd-604eab0ac516",
      "name": "Date & Time1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1520,
        380
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "840db012-ac6d-4853-bfeb-7786d784ef6a",
        "options": {}
      },
      "id": "37553865-c3a8-4b58-a3c9-e26bd00b4a66",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        820,
        380
      ],
      "webhookId": "840db012-ac6d-4853-bfeb-7786d784ef6a"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $('Formata Telefone').item.json['contact[fields][comprouingresso]'] }}",
        "rules": {
          "rules": [
            {
              "value2": "essencial"
            },
            {
              "value2": "vip",
              "output": 1
            },
            {
              "value2": "black",
              "output": 2
            }
          ]
        }
      },
      "id": "7112e320-7662-41f1-8792-f8c5c53cce14",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1680,
        380
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I",
          "mode": "list",
          "cachedResultName": "Dados - Ingressos Evento",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "[COMPRADORES] Essencial",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{ $('Date & Time1').item.json.formattedDate }}",
            "nome": "={{ $('Formata Telefone').item.json['contact[first_name]'] + \" \" + $('Formata Telefone').item.json['contact[last_name]'] }} ",
            "email": "={{ $('Formata Telefone').item.json['contact[email]'] }}",
            "telefone": "={{ $('Formata Telefone').item.json['contact[phone]'] }}",
            "chave": "={{ $('Formata Telefone').item.json['contact[phone]'].slice(-7) }}",
            "utm_source": "={{ $('Formata Telefone').item.json['contact[fields][utmsourceim]'] }}",
            "utm_campaign": "={{ $('Formata Telefone').item.json['contact[fields][utmcampaignim]'] }}",
            "utm_medium": "={{ $('Formata Telefone').item.json['contact[fields][utmmediumim]'] }}",
            "utm_content": "={{ $('Formata Telefone').item.json['contact[fields][utmcontentim]'] }}",
            "utm_term": "={{ $('Formata Telefone').item.json['contact[fields][utmtermim]'] }}",
            "página": "={{ $('Formata Telefone').item.json['contact[fields][paginaim]'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chave",
              "displayName": "chave",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "página",
              "displayName": "página",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "e2b9bb74-5874-46f6-97f0-fe2aac4ff341",
      "name": "Essencial",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1920,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I",
          "mode": "list",
          "cachedResultName": "Dados - Ingressos Evento",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1272785514,
          "mode": "list",
          "cachedResultName": "[COMPRADORES] VIP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I/edit#gid=1272785514"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{ $('Date & Time1').item.json.formattedDate }}",
            "nome": "={{ $('Formata Telefone').item.json['contact[first_name]'] + \" \" + $('Formata Telefone').item.json['contact[last_name]'] }} ",
            "email": "={{ $('Formata Telefone').item.json['contact[email]'] }}",
            "telefone": "={{ $('Formata Telefone').item.json['contact[phone]'] }}",
            "chave": "={{ $('Formata Telefone').item.json['contact[phone]'].slice(-7) }}",
            "utm_source": "={{ $('Formata Telefone').item.json['contact[fields][utmsourceim]'] }}",
            "utm_campaign": "={{ $('Formata Telefone').item.json['contact[fields][utmcampaignim]'] }}",
            "utm_medium": "={{ $('Formata Telefone').item.json['contact[fields][utmmediumim]'] }}",
            "utm_term": "={{ $('Formata Telefone').item.json['contact[fields][utmtermim]'] }}",
            "utm_content": "={{ $('Formata Telefone').item.json['contact[fields][utmcontentim]'] }}",
            "página": "={{ $('Formata Telefone').item.json['contact[fields][paginaim]'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chave",
              "displayName": "chave",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "página",
              "displayName": "página",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "f6e499a4-f5a7-47bc-873f-e2891b2a65be",
      "name": "Vip",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1920,
        380
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I",
          "mode": "list",
          "cachedResultName": "Dados - Ingressos Evento",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1510303050,
          "mode": "list",
          "cachedResultName": "[COMPRADORES] Black",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I/edit#gid=1510303050"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{ $('Date & Time1').item.json.formattedDate }}",
            "nome": "={{ $('Formata Telefone').item.json['contact[first_name]'] + \" \" + $('Formata Telefone').item.json['contact[last_name]'] }} ",
            "email": "={{ $('Formata Telefone').item.json['contact[email]'] }}",
            "telefone": "={{ $('Formata Telefone').item.json['contact[phone]'] }}",
            "chave": "={{ $('Formata Telefone').item.json['contact[phone]'].slice(-7) }}",
            "utm_source": "={{ $('Formata Telefone').item.json['contact[fields][utmsourceim]'] }}",
            "utm_campaign": "={{ $('Formata Telefone').item.json['contact[fields][utmcampaignim]'] }}",
            "utm_medium": "={{ $('Formata Telefone').item.json['contact[fields][utmmediumim]'] }}",
            "utm_term": "={{ $('Formata Telefone').item.json['contact[fields][utmtermim]'] }}",
            "utm_content": "={{ $('Formata Telefone').item.json['contact[fields][utmcontentim]'] }}",
            "página": "={{ $('Formata Telefone').item.json['contact[fields][paginaim]'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chave",
              "displayName": "chave",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "página",
              "displayName": "página",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "5424050f-644b-4bb2-a84d-13d5b7e9af40",
      "name": "Black",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1920,
        560
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I",
          "mode": "list",
          "cachedResultName": "Dados - Ingressos Evento",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 54888452,
          "mode": "list",
          "cachedResultName": "InitiateCheckout Essencial",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I/edit#gid=54888452"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email",
              "lookupValue": "={{ $('Formata Telefone').item.json['contact[email]'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d2246fd9-e0e3-4639-9e19-6fd155cdbe8b",
      "name": "Busca checkout",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2140,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I",
          "mode": "list",
          "cachedResultName": "Dados - Ingressos Evento",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 54888452,
          "mode": "list",
          "cachedResultName": "InitiateCheckout Essencial",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I/edit#gid=54888452"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "comprou?": "sim"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chave",
              "displayName": "chave",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "página",
              "displayName": "página",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "comprou?",
              "displayName": "comprou?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "e6895200-16d0-4b1b-8fb9-7c811a40bc70",
      "name": "Att compra esc",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2340,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I",
          "mode": "list",
          "cachedResultName": "Dados - Ingressos Evento",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1151253055,
          "mode": "list",
          "cachedResultName": "InitiateCheckout VIP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I/edit#gid=1151253055"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email",
              "lookupValue": "={{ $('Formata Telefone').item.json['contact[email]'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "48f6093b-57b8-4875-89d3-3f1646474200",
      "name": "Busca checkout1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2140,
        380
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I",
          "mode": "list",
          "cachedResultName": "Dados - Ingressos Evento",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1151253055,
          "mode": "list",
          "cachedResultName": "InitiateCheckout VIP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I/edit#gid=1151253055"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "comprou?": "sim"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chave",
              "displayName": "chave",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "página",
              "displayName": "página",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "comprou?",
              "displayName": "comprou?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "0733108f-3c53-4a01-8e70-8b03e01025ff",
      "name": "Att compra vip",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2340,
        380
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I",
          "mode": "list",
          "cachedResultName": "Dados - Ingressos Evento",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 110543554,
          "mode": "list",
          "cachedResultName": "InitiateCheckout Black",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I/edit#gid=110543554"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email",
              "lookupValue": "={{ $('Formata Telefone').item.json['contact[email]'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f500195f-817d-43b2-be66-545f931461a4",
      "name": "Busca checkout2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2140,
        560
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I",
          "mode": "list",
          "cachedResultName": "Dados - Ingressos Evento",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 110543554,
          "mode": "list",
          "cachedResultName": "InitiateCheckout Black",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I/edit#gid=110543554"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "comprou?": "sim"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chave",
              "displayName": "chave",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "página",
              "displayName": "página",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "comprou?",
              "displayName": "comprou?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "93c17d92-7e40-4e1c-989d-b4bd46fc81bd",
      "name": "Att compra black",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2340,
        560
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.marcosfoks.com.br",
            "user-agent": "GuzzleHttp/6.5.5 curl/8.3.0 PHP/8.1.23",
            "content-length": "997",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare",
            "cf-connecting-ip": "23.22.14.42",
            "cf-ipcountry": "US",
            "cf-ray": "8686b626bca6398b-IAD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/x-www-form-urlencoded",
            "x-forwarded-for": "172.70.39.14",
            "x-forwarded-host": "n8n.marcosfoks.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "af9052d35998",
            "x-real-ip": "172.70.39.14"
          },
          "params": {},
          "query": {},
          "body": {
            "contact[id]": "2992",
            "contact[email]": "matheuscristhyan.2@gmail.com",
            "contact[first_name]": "MATHEUS",
            "contact[last_name]": "CRISTHYAN SILVA RODRIGUES",
            "contact[phone]": "(81) 99351-5055",
            "contact[orgname]": "",
            "contact[customer_acct_name]": "",
            "contact[tags]": "IM - PréCheckout, Comprou Ingresso - Essencial",
            "contact[ip4]": "190.89.246.53",
            "contact[fields][pg_aplicao_etapas]": "Etapa 1",
            "contact[fields][utmsourceim]": "direto",
            "contact[fields][utmcampaignim]": "",
            "contact[fields][utmmediumim]": "",
            "contact[fields][utmtermim]": "",
            "contact[fields][utmcontentim]": "",
            "contact[fields][paginaim]": "implante-million-b/",
            "contact[fields][ingresso]": "vip",
            "contact[fields][url]": "pay.hotmart.com/Q91749526Y?off=bs3pkh78&name=MATHEUS CRISTHYAN SILVA RODRIGUES&email=matheuscristhyan.2@gmail.com&phonenumber=(81) 99351-5055",
            "contact[fields][purchasedate]": "2024-03-22",
            "contact[fields][comprouingresso]": "essencial",
            "seriesid": "66"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-03-22T14:33:12.000Z",
  "versionId": "4de9dfaa-2b42-43d1-9202-dbdcd9c0c007"
}