workflows/Implante Million - Compra Aprovada.json
{
  "active": true,
  "connections": {
    "Trata Webhook": {
      "main": [
        [
          {
            "node": "Formata Telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Telefone": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Trata Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "Onboarding",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Essencial": {
      "main": [
        [
          {
            "node": "Busca checkout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca checkout": {
      "main": [
        [
          {
            "node": "Att compra esc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca checkout1": {
      "main": [
        [
          {
            "node": "Att compra vip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vip": {
      "main": [
        [
          {
            "node": "Busca checkout1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca checkout2": {
      "main": [
        [
          {
            "node": "Att compra black",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Black": {
      "main": [
        [
          {
            "node": "Busca checkout2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Vip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Black",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Essencial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "C1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Att compra esc": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Att compra vip": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Att compra black": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "C1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "C1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-03-22T13:40:06.154Z",
  "id": "aYJmuXFu3KiOuGid",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Implante Million - Compra Aprovada",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]\n"
      },
      "id": "3c44eda3-b5ab-48af-b1ad-0d1e734afcad",
      "name": "Trata Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1000,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "function formataTelefone(number) {\n    number = number.toString().replace(/[^\\d]/g, \"\")\n    let ddi = '55'\n    let ddd = number.substring(0, 2)\n\n    if (number.length == 13) {\n        let ddi = number.substring(0, 2)\n        let ddd = number.substring(2, 4)\n        return ddi + ddd + (ddd <= 28 ? number.substring(4, 13) : number.substring(5, 13))\n\n    } else if (number.length == 11) {\n        return ddi + ddd + (ddd <= 28 ? number.substring(2, 11) : number.substring(3, 11))\n\n    } else if (number.length == 10) {\n        return ddi + ddd + (ddd <= 28 ? '9' : '') + number.substring(2, 11)\n\n    } else if (number.length == 12) {\n        return number.substring(0, 2) == '55' ? number : (number.substring(0, 1) == '0' ? formataTelefone(number.substring(1, 12)) : number)\n\n    } else {\n        return number\n    }\n}\n\n$input.all()[0].json['contact[phone]'] = formataTelefone($node['Trata Webhook'].json['contact[phone]'])\n\nreturn $input.all();"
      },
      "id": "69189641-b15a-4b8f-b14e-a3bf5c6854b5",
      "name": "Formata Telefone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1160,
        380
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "581e20af-8f83-4624-9060-7cc983231827",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1360,
        380
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy",
        "options": {}
      },
      "id": "813d5de5-98bf-466c-b2bd-604eab0ac516",
      "name": "Date & Time1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1580,
        380
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "840db012-ac6d-4853-bfeb-7786d784ef6a",
        "options": {}
      },
      "id": "37553865-c3a8-4b58-a3c9-e26bd00b4a66",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        820,
        380
      ],
      "webhookId": "840db012-ac6d-4853-bfeb-7786d784ef6a"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $('Formata Telefone').item.json['contact[fields][comprouingresso]'] }}",
        "rules": {
          "rules": [
            {
              "value2": "essencial"
            },
            {
              "value2": "vip",
              "output": 1
            },
            {
              "value2": "black",
              "output": 2
            }
          ]
        }
      },
      "id": "7112e320-7662-41f1-8792-f8c5c53cce14",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1780,
        380
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I",
          "mode": "list",
          "cachedResultName": "Dados - Ingressos Evento",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "[COMPRADORES] Essencial",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{ $('Date & Time1').item.json.formattedDate }}",
            "nome": "={{ $('Formata Telefone').item.json['contact[first_name]'] + \" \" + $('Formata Telefone').item.json['contact[last_name]'] }} ",
            "email": "={{ $('Formata Telefone').item.json['contact[email]'] }}",
            "telefone": "={{ $('Formata Telefone').item.json['contact[phone]'] }}",
            "chave": "={{ $('Formata Telefone').item.json['contact[phone]'].slice(-7) }}",
            "utm_source": "={{ $('Formata Telefone').item.json['contact[fields][utmsourceim]'] }}",
            "utm_campaign": "={{ $('Formata Telefone').item.json['contact[fields][utmcampaignim]'] }}",
            "utm_medium": "={{ $('Formata Telefone').item.json['contact[fields][utmmediumim]'] }}",
            "utm_content": "={{ $('Formata Telefone').item.json['contact[fields][utmcontentim]'] }}",
            "utm_term": "={{ $('Formata Telefone').item.json['contact[fields][utmtermim]'] }}",
            "página": "={{ $('Formata Telefone').item.json['contact[fields][paginaim]'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chave",
              "displayName": "chave",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "página",
              "displayName": "página",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "e2b9bb74-5874-46f6-97f0-fe2aac4ff341",
      "name": "Essencial",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2360,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I",
          "mode": "list",
          "cachedResultName": "Dados - Ingressos Evento",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1272785514,
          "mode": "list",
          "cachedResultName": "[COMPRADORES] VIP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I/edit#gid=1272785514"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{ $('Date & Time1').item.json.formattedDate }}",
            "nome": "={{ $('Formata Telefone').item.json['contact[first_name]'] + \" \" + $('Formata Telefone').item.json['contact[last_name]'] }} ",
            "email": "={{ $('Formata Telefone').item.json['contact[email]'] }}",
            "telefone": "={{ $('Formata Telefone').item.json['contact[phone]'] }}",
            "chave": "={{ $('Formata Telefone').item.json['contact[phone]'].slice(-7) }}",
            "utm_source": "={{ $('Formata Telefone').item.json['contact[fields][utmsourceim]'] }}",
            "utm_campaign": "={{ $('Formata Telefone').item.json['contact[fields][utmcampaignim]'] }}",
            "utm_medium": "={{ $('Formata Telefone').item.json['contact[fields][utmmediumim]'] }}",
            "utm_term": "={{ $('Formata Telefone').item.json['contact[fields][utmtermim]'] }}",
            "utm_content": "={{ $('Formata Telefone').item.json['contact[fields][utmcontentim]'] }}",
            "página": "={{ $('Formata Telefone').item.json['contact[fields][paginaim]'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chave",
              "displayName": "chave",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "página",
              "displayName": "página",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "f6e499a4-f5a7-47bc-873f-e2891b2a65be",
      "name": "Vip",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2360,
        380
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I",
          "mode": "list",
          "cachedResultName": "Dados - Ingressos Evento",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1510303050,
          "mode": "list",
          "cachedResultName": "[COMPRADORES] Black",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I/edit#gid=1510303050"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{ $('Date & Time1').item.json.formattedDate }}",
            "nome": "={{ $('Formata Telefone').item.json['contact[first_name]'] + \" \" + $('Formata Telefone').item.json['contact[last_name]'] }} ",
            "email": "={{ $('Formata Telefone').item.json['contact[email]'] }}",
            "telefone": "={{ $('Formata Telefone').item.json['contact[phone]'] }}",
            "chave": "={{ $('Formata Telefone').item.json['contact[phone]'].slice(-7) }}",
            "utm_source": "={{ $('Formata Telefone').item.json['contact[fields][utmsourceim]'] }}",
            "utm_campaign": "={{ $('Formata Telefone').item.json['contact[fields][utmcampaignim]'] }}",
            "utm_medium": "={{ $('Formata Telefone').item.json['contact[fields][utmmediumim]'] }}",
            "utm_term": "={{ $('Formata Telefone').item.json['contact[fields][utmtermim]'] }}",
            "utm_content": "={{ $('Formata Telefone').item.json['contact[fields][utmcontentim]'] }}",
            "página": "={{ $('Formata Telefone').item.json['contact[fields][paginaim]'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chave",
              "displayName": "chave",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "página",
              "displayName": "página",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "5424050f-644b-4bb2-a84d-13d5b7e9af40",
      "name": "Black",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2360,
        560
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I",
          "mode": "list",
          "cachedResultName": "Dados - Ingressos Evento",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 54888452,
          "mode": "list",
          "cachedResultName": "InitiateCheckout Essencial",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I/edit#gid=54888452"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email",
              "lookupValue": "={{ $('Formata Telefone').item.json['contact[email]'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d2246fd9-e0e3-4639-9e19-6fd155cdbe8b",
      "name": "Busca checkout",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2560,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I",
          "mode": "list",
          "cachedResultName": "Dados - Ingressos Evento",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 54888452,
          "mode": "list",
          "cachedResultName": "InitiateCheckout Essencial",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I/edit#gid=54888452"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "comprou?": "sim"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chave",
              "displayName": "chave",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "página",
              "displayName": "página",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "comprou?",
              "displayName": "comprou?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "e6895200-16d0-4b1b-8fb9-7c811a40bc70",
      "name": "Att compra esc",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2760,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I",
          "mode": "list",
          "cachedResultName": "Dados - Ingressos Evento",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1151253055,
          "mode": "list",
          "cachedResultName": "InitiateCheckout VIP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I/edit#gid=1151253055"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email",
              "lookupValue": "={{ $('Formata Telefone').item.json['contact[email]'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "48f6093b-57b8-4875-89d3-3f1646474200",
      "name": "Busca checkout1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2560,
        380
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I",
          "mode": "list",
          "cachedResultName": "Dados - Ingressos Evento",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1151253055,
          "mode": "list",
          "cachedResultName": "InitiateCheckout VIP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I/edit#gid=1151253055"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "comprou?": "sim"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chave",
              "displayName": "chave",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "página",
              "displayName": "página",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "comprou?",
              "displayName": "comprou?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "0733108f-3c53-4a01-8e70-8b03e01025ff",
      "name": "Att compra vip",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2760,
        380
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I",
          "mode": "list",
          "cachedResultName": "Dados - Ingressos Evento",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 110543554,
          "mode": "list",
          "cachedResultName": "InitiateCheckout Black",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I/edit#gid=110543554"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email",
              "lookupValue": "={{ $('Formata Telefone').item.json['contact[email]'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f500195f-817d-43b2-be66-545f931461a4",
      "name": "Busca checkout2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2560,
        560
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I",
          "mode": "list",
          "cachedResultName": "Dados - Ingressos Evento",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 110543554,
          "mode": "list",
          "cachedResultName": "InitiateCheckout Black",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PF3vYqcRD7TmCoc-6t8JACFULkuBAamcUNtPa4q236I/edit#gid=110543554"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "comprou?": "sim"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chave",
              "displayName": "chave",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "página",
              "displayName": "página",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "comprou?",
              "displayName": "comprou?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "93c17d92-7e40-4e1c-989d-b4bd46fc81bd",
      "name": "Att compra black",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2760,
        560
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1ePPvH0r91WzHrLIzGMcG5nF9wyIs-RcwRgdQ2B_B3UM/edit#gid=1225075075",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1225075075,
          "mode": "list",
          "cachedResultName": "Alunos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ePPvH0r91WzHrLIzGMcG5nF9wyIs-RcwRgdQ2B_B3UM/edit#gid=1225075075"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data": "={{ $('Date & Time1').item.json.formattedDate }}",
            "Nome": "={{ ($('Formata Telefone').item.json['contact[first_name]'] + \" \" + $('Formata Telefone').item.json['contact[last_name]'])}} ",
            "Email": "={{ $('Formata Telefone').item.json['contact[email]'] }}",
            "Telefone": "={{ $('Formata Telefone').item.json['contact[phone]'] }}",
            "Categoria Ingresso": "ESSENCIAL"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Clínica",
              "displayName": "Clínica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cidade",
              "displayName": "Cidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Valor",
              "displayName": "Valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Categoria Ingresso",
              "displayName": "Categoria Ingresso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mentorado?",
              "displayName": "Mentorado?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "66e7b1e9-32b1-49cf-bb05-3bd268901e3b",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        2140,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1ePPvH0r91WzHrLIzGMcG5nF9wyIs-RcwRgdQ2B_B3UM/edit#gid=1225075075",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1225075075,
          "mode": "list",
          "cachedResultName": "Alunos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ePPvH0r91WzHrLIzGMcG5nF9wyIs-RcwRgdQ2B_B3UM/edit#gid=1225075075"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data": "={{ $('Date & Time1').item.json.formattedDate }}",
            "Nome": "={{ $('Formata Telefone').item.json['contact[first_name]'] + \" \" + $('Formata Telefone').item.json['contact[last_name]'] }} ",
            "Email": "={{ $('Formata Telefone').item.json['contact[email]'] }}",
            "Telefone": "={{ $('Formata Telefone').item.json['contact[phone]'] }}",
            "Categoria Ingresso": "={{ $('Formata Telefone').item.json['contact[fields][comprouingresso]'] }}",
            "Valor": "997"
          },
          "matchingColumns": [
            "R$ 4.486,50"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clínica",
              "displayName": "Clínica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cidade",
              "displayName": "Cidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Valor",
              "displayName": "Valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Categoria Ingresso",
              "displayName": "Categoria Ingresso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Mentorado?",
              "displayName": "Mentorado?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "R$ 4.486,50",
              "displayName": "R$ 4.486,50",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "b33d247c-af59-4250-9d89-20c4290cf141",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        2140,
        380
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1ePPvH0r91WzHrLIzGMcG5nF9wyIs-RcwRgdQ2B_B3UM/edit#gid=1225075075",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1225075075,
          "mode": "list",
          "cachedResultName": "Alunos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ePPvH0r91WzHrLIzGMcG5nF9wyIs-RcwRgdQ2B_B3UM/edit#gid=1225075075"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data": "={{ $('Date & Time1').item.json.formattedDate }}",
            "Nome": "={{ ($('Formata Telefone').item.json['contact[first_name]'] + \" \" + $('Formata Telefone').item.json['contact[last_name]'])}} ",
            "Email": "={{ $('Formata Telefone').item.json['contact[email]'] }}",
            "Telefone": "={{ $('Formata Telefone').item.json['contact[phone]'] }}",
            "Categoria Ingresso": "BLACK"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Clínica",
              "displayName": "Clínica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cidade",
              "displayName": "Cidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Valor",
              "displayName": "Valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Categoria Ingresso",
              "displayName": "Categoria Ingresso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mentorado?",
              "displayName": "Mentorado?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "0d6f6529-5c92-4233-b330-3be011e16b80",
      "name": "Google Sheets2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        2140,
        560
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C1825917D649026AAA446A65441921E/token/92B58C5DAD3489D5AD780116/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fc42ae886be5842c29595e379b6c74fbaS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Formata Telefone').item.json['contact[phone]'] }}"
            },
            {
              "name": "message",
              "value": "=Ah, para não esquecer! Como você garantiu mais de 1 ingresso, preciso que você envie os seguintes dados de quem irá com você:\n\n➡ Nome Completo\n➡ E-mail\n➡ Whatsapp\n\nFico no aguardo dos dados, ok?"
            }
          ]
        },
        "options": {}
      },
      "id": "753b9ace-4a9a-4712-bfc9-a2142b7550e3",
      "name": "C1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1520,
        -200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hook.us1.make.com/xis2sjp089bz64oulzcx681c4rmy9dpo",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Data",
              "value": "={{ $('Date & Time1').item.json.formattedDate }}"
            },
            {
              "name": "Nome",
              "value": "={{ $('Formata Telefone').item.json['contact[first_name]'] }}"
            },
            {
              "name": "E-mail",
              "value": "={{ $('Formata Telefone').item.json['contact[email]'] }}"
            },
            {
              "name": "Telefone",
              "value": "={{ $('Formata Telefone').item.json['contact[phone]'] }}"
            },
            {
              "name": "Ingresso",
              "value": "Essencial"
            },
            {
              "name": "Evento",
              "value": "Compra"
            }
          ]
        },
        "options": {}
      },
      "id": "278698b4-7d35-4eac-a90e-d2a1bf05acd4",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3000,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hook.us1.make.com/xis2sjp089bz64oulzcx681c4rmy9dpo",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Data",
              "value": "={{ $('Date & Time1').item.json.formattedDate }}"
            },
            {
              "name": "Nome",
              "value": "={{ $('Formata Telefone').item.json['contact[first_name]'] }}"
            },
            {
              "name": "E-mail",
              "value": "={{ $('Formata Telefone').item.json['contact[email]'] }}"
            },
            {
              "name": "Telefone",
              "value": "={{ $('Formata Telefone').item.json['contact[phone]'] }}"
            },
            {
              "name": "Ingresso",
              "value": "Vip"
            },
            {
              "name": "Evento",
              "value": "Compra"
            }
          ]
        },
        "options": {}
      },
      "id": "6c24cc54-e17b-416c-ab20-b934eb219eb3",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3000,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hook.us1.make.com/xis2sjp089bz64oulzcx681c4rmy9dpo",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Data",
              "value": "={{ $('Date & Time1').item.json.formattedDate }}"
            },
            {
              "name": "Nome",
              "value": "={{ $('Formata Telefone').item.json['contact[first_name]'] }}"
            },
            {
              "name": "E-mail",
              "value": "={{ $('Formata Telefone').item.json['contact[email]'] }}"
            },
            {
              "name": "Telefone",
              "value": "={{ $('Formata Telefone').item.json['contact[phone]'] }}"
            },
            {
              "name": "Ingresso",
              "value": "Black"
            },
            {
              "name": "Evento",
              "value": "Compra"
            }
          ]
        },
        "options": {}
      },
      "id": "722e15de-d566-47ef-81a0-740f5ece9dbf",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3000,
        560
      ]
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "id": "f8fc17f9-9529-4767-b2a1-34393761095a",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1740,
        -200
      ],
      "webhookId": "e6d77069-5f97-4969-ae56-4ff459f76894"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ePPvH0r91WzHrLIzGMcG5nF9wyIs-RcwRgdQ2B_B3UM",
          "mode": "list",
          "cachedResultName": "[ILA/NICOLE] Imersão Implante Million",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ePPvH0r91WzHrLIzGMcG5nF9wyIs-RcwRgdQ2B_B3UM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1225075075,
          "mode": "list",
          "cachedResultName": "Alunos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ePPvH0r91WzHrLIzGMcG5nF9wyIs-RcwRgdQ2B_B3UM/edit#gid=1225075075"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data": "={{ $('Date & Time1').item.json.formattedDate }}",
            "Nome": "={{ $('Formata Telefone').item.json['contact[first_name]'] + \"convidado\" }}",
            "Email": "={{ $('Formata Telefone').item.json['contact[email]'] }}",
            "Telefone": "={{ $('Formata Telefone').item.json['contact[phone]'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Clínica",
              "displayName": "Clínica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cidade",
              "displayName": "Cidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Valor",
              "displayName": "Valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Categoria Ingresso",
              "displayName": "Categoria Ingresso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mentorado?",
              "displayName": "Mentorado?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LOTE",
              "displayName": "LOTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comprou onde",
              "displayName": "Comprou onde",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "R$ 19.493,00",
              "displayName": "R$ 19.493,00",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Clínicas",
              "displayName": "Clínicas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID_Clickup",
              "displayName": "ID_Clickup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link_CRM",
              "displayName": "Link_CRM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "e86070fa-8823-4643-a732-ff4539653696",
      "name": "Google Sheets3",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        1960,
        -200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C1825917D649026AAA446A65441921E/token/92B58C5DAD3489D5AD780116/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fc42ae886be5842c29595e379b6c74fbaS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Formata Telefone').item.json['contact[phone]'] }}"
            },
            {
              "name": "message",
              "value": "=Olá, {{ $('Formata Telefone').item.json['contact[first_name]'].toLowerCase() }}, tudo bem?\n\nSua compra foi confirmada e seu ingresso para a Imersão Implante Million está reservado🔥\n\n🔴 Para confirmar sua presença, precisamos que você faça o quanto antes o seu check-in do evento. São perguntas simples, mas de extrema importância!\n\nClique no link abaixo para preencher ⬇\n\n🔗 https://bit.ly/IM-checkin\n\n(leva menos de 5 minutos)\n\nQuando fizer, me avisa aqui ✋"
            }
          ]
        },
        "options": {}
      },
      "id": "db240e68-f6aa-4a70-9d20-efcc73641380",
      "name": "Onboarding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1800,
        1000
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Formata Telefone').item.json['contact[tags]'] }}",
                    "rightValue": "Essencial - Convidado",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Essencial"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "8e1148c1-193d-4ed0-893a-595fa1d18f0a",
                    "leftValue": "={{ $('Formata Telefone').item.json['contact[tags]'] }}",
                    "rightValue": "=\t\nVip - Convidado",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Vip"
            }
          ]
        },
        "options": {}
      },
      "id": "8677e467-ae84-40de-ac4d-0663bff5d19c",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1280,
        -40
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.marcosfoks.com.br",
            "user-agent": "GuzzleHttp/6.5.5 curl/8.3.0 PHP/8.1.23",
            "content-length": "941",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare",
            "cf-connecting-ip": "52.2.43.221",
            "cf-ipcountry": "US",
            "cf-ray": "86e45aa43bfd82a2-IAD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/x-www-form-urlencoded",
            "x-forwarded-for": "172.70.175.163",
            "x-forwarded-host": "n8n.marcosfoks.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "bc917484dc53",
            "x-real-ip": "172.70.175.163"
          },
          "params": {},
          "query": {},
          "body": {
            "contact[id]": "3685",
            "contact[email]": "lorylouise@yahoo.com.br",
            "contact[first_name]": "Lorena",
            "contact[last_name]": "Valadao",
            "contact[phone]": "5581993515055",
            "contact[orgname]": "",
            "contact[customer_acct_name]": "",
            "contact[tags]": "IM - PréCheckout, Comprou Ingresso - Vip",
            "contact[ip4]": "127.0.0.1",
            "contact[fields][utmsourceim]": "dentistapower.com.br",
            "contact[fields][utmcampaignim]": "",
            "contact[fields][utmmediumim]": "",
            "contact[fields][utmtermim]": "",
            "contact[fields][utmcontentim]": "",
            "contact[fields][paginaim]": "implante-million-b/",
            "contact[fields][ingresso]": "vip",
            "contact[fields][url]": "pay.hotmart.com/Q91749526Y?off=bs3pkh78&name=Lorena Valadao&email=lorylouise@yahoo.com.br&phonenumber=(21) 9695-97700",
            "contact[fields][checkoutdate]": "2024-04-02",
            "contact[fields][purchasedate]": "2024-04-02",
            "contact[fields][comprouingresso]": "vip",
            "seriesid": "66"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-05-24T11:39:50.000Z",
  "versionId": "8517d65f-080c-4778-a1c7-6d0456a1cd6c"
}