workflows/My workflow 9.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        []
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-02-23T17:27:54.585Z",
  "id": "0HSJN1OgdaSnvcV7",
  "meta": null,
  "name": "My workflow 9",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression"
            }
          ]
        }
      },
      "id": "bd6f4185-92a9-4be7-b67a-98a80cce4611",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        580,
        380
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "130dJLqIJVkcFvqzEpK2M_bMpaGvhZMOLhDsWGuSJxy0",
          "mode": "list",
          "cachedResultName": "[ILA] [CICLO 3] Planilha Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/130dJLqIJVkcFvqzEpK2M_bMpaGvhZMOLhDsWGuSJxy0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 130117977,
          "mode": "list",
          "cachedResultName": "Ingressos [RS8]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/130dJLqIJVkcFvqzEpK2M_bMpaGvhZMOLhDsWGuSJxy0/edit#gid=130117977"
        },
        "options": {}
      },
      "id": "acf954dd-633c-44cc-9e4a-6f1b6e69c41a",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        820,
        380
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "086427fb-8064-4e4a-81c0-7fe743efbc4c",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1260,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "function capitalizarString(str) {\n    str = str.trim();\n    let palavras = str.toLowerCase().split(' ');\n\n    // Capitalizar a primeira letra de cada palavra\n    for (let i = 0; i < palavras.length; i++) {\n        palavras[i] = palavras[i].charAt(0).toUpperCase() + palavras[i].slice(1);\n    }\n\n    // Juntar as palavras de volta em uma string\n    return palavras.join(' ');\n}\n\n// Exemplo de uso\nlet stringOriginal = $input.all()[0].json['nome'];\n$input.all()[0].json['nome'] = capitalizarString(stringOriginal);\n\nreturn $input.all();\n"
      },
      "id": "d25e0642-056d-44b5-9782-954a9e99722d",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1480,
        360
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "130dJLqIJVkcFvqzEpK2M_bMpaGvhZMOLhDsWGuSJxy0",
          "mode": "list",
          "cachedResultName": "[ILA] [CICLO 3] Planilha Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/130dJLqIJVkcFvqzEpK2M_bMpaGvhZMOLhDsWGuSJxy0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 130117977,
          "mode": "list",
          "cachedResultName": "Ingressos [RS8]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/130dJLqIJVkcFvqzEpK2M_bMpaGvhZMOLhDsWGuSJxy0/edit#gid=130117977"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Chave (busca)": "={{ $('Split In Batches').item.json['Chave (busca)'] }}",
            "Nome Ingresso": "={{ $json['Nome Ingresso'] }}",
            "nome": "={{ $('Code').item.json.nome }}",
            "url": "={{ $('Split In Batches').item.json.url }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "5a18c60d-0516-48ba-88c9-8b4d48910b1c",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1880,
        360
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.row_number }}",
              "operation": "larger",
              "value2": 56
            }
          ]
        }
      },
      "id": "d6c546f7-54c5-4fb7-bc2f-86c6f868fb14",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        1020,
        680
      ]
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "6621447b-6253-4628-bb3a-b0e6448bd765",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1700,
        360
      ],
      "webhookId": "130617d8-c77f-4479-be45-92d70137a705"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-02-23T18:05:16.000Z",
  "versionId": "42da4bbd-6253-4bbf-b27d-8ae6757383a0"
}