workflows/My workflow 5.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "final 2789",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "final 3986",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-23T19:21:47.545Z",
  "id": "4ijwj4HY6NbngoVd",
  "meta": null,
  "name": "My workflow 5",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression"
            }
          ]
        }
      },
      "id": "74353789-cb21-4a90-96f9-1991f4dd1ea9",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        820,
        380
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4",
          "mode": "list",
          "cachedResultName": "[JESS] [L1] - Planilha Central",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "[AUTO] Inscritos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hfR7OwDhXExnEOeX3atjWvtRWbvZOmwyfc5o8T_goD4/edit#gid=0"
        },
        "options": {}
      },
      "id": "978dcd1f-4d86-41f7-b7bc-d4bbdc2a73d0",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1020,
        380
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.row_number }}",
              "value2": 589
            }
          ],
          "string": [
            {
              "value1": "={{ $json['Entrou no Grupo?'] }}",
              "value2": "Não"
            },
            {
              "value1": "={{ $json.Telefone }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "b14e4b4a-7063-4362-b693-f4e364a9f119",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        1260,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.Chip }}",
              "operation": "equal",
              "value2": 3986
            }
          ]
        }
      },
      "id": "c6367016-cccb-4ff1-be2c-26eb24153e4d",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1480,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C92A60A521FA0F0D44CD604DAF2BCF1/token/1E6E6072CD8B04C734F62016/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fa17da691aa134d98a36ad45928e14669S"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.Telefone }}"
            },
            {
              "name": "message",
              "value": "=Hey, {{ $json[\"Nome\"].split(\" \")[0] }}. 🫶🏼\n\nO *The BritEnglish* vai mudar a forma como você estuda inglês. 🤓\n\nVou revelar estratégias para *aprimorar o seu inglês* e melhorar o seu *Speaking & Listening.*\n\nPara garantir que você receba todos os *materiais especiais e o link da aula*, é importante estar fazendo parte do Grupo do Evento. \n\nBasta me responder com *Entrar no Grupo* que vou te enviar o link para entrar no grupo."
            },
            {
              "name": "delayMessage",
              "value": "= {{ Math.floor(Math.random()* 13) + 8 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "db291c29-9df9-420b-a557-c36c6dcbe8fd",
      "name": "final 3986",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1940,
        140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3C92A5E4516CC0A421E9D604DAF2BCF1/token/DAEE58152CBC84AAAF621399/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fa17da691aa134d98a36ad45928e14669S"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.Telefone }}"
            },
            {
              "name": "message",
              "value": "=Hey, {{ $json[\"Nome\"].split(\" \")[0] }}. 🫶🏼\n\nO *The BritEnglish* vai mudar a forma como você estuda inglês. 🤓\n\nVou revelar estratégias para *aprimorar o seu inglês* e melhorar o seu *Speaking & Listening.*\n\nPara garantir que você receba todos os *materiais especiais e o link da aula*, é importante estar fazendo parte do Grupo do Evento. \n\nBasta me responder com *Entrar no Grupo* que vou te enviar o link para entrar no grupo."
            },
            {
              "name": "delayMessage",
              "value": "= {{ Math.floor(Math.random()* 13) + 8 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c0f8cc72-e5cc-40bc-8596-1afb045836df",
      "name": "final 2789",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1940,
        600
      ]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "b2f34440-c0b2-48fd-bc1d-4d0a19f4f2cf",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1680,
        140
      ],
      "webhookId": "e42c4bc9-8a38-47f6-b467-899c79204f38"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "416534f9-73f7-4fe7-8250-5313d73a1b0f",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1660,
        600
      ],
      "webhookId": "e96fabee-48d7-42e8-9c10-845cacc6e839"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-23T20:21:34.000Z",
  "versionId": "7d905d5e-cdd4-4bbb-968d-90c511583792"
}