workflows/Processo de Agendamento - Follow up [ETAPA 1].json
{
  "active": true,
  "connections": {
    "Trata Webhook": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Trata Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Dados finais",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dados finais1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Telefone": {
      "main": [
        [
          {
            "node": "whatsapp formatado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ingresso normal": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "whatsapp formatado": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "ingresso vip e nome": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados finais": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "ActiveCampaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "ingresso normal1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formata Telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ingresso normal1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "ActiveCampaign": {
      "main": [
        [
          {
            "node": "ADD TAG DE FOLLOW NO ACTIVE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign1": {
      "main": [
        [
          {
            "node": "ADD TAG DE FOLLOW NO ACTIVE1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-16T15:30:47.903Z",
  "id": "87hY0QUMMvGTABWA",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Processo de Agendamento - Follow up [ETAPA 1]",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7d93e3cf-050c-411a-af20-ea40861db603",
        "options": {}
      },
      "id": "fc92cf02-2a9f-4440-858f-de617ede16fe",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        320,
        380
      ],
      "webhookId": "7d93e3cf-050c-411a-af20-ea40861db603"
    },
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]\n"
      },
      "id": "3dcbafca-0979-406c-9760-01b00b0876f2",
      "name": "Trata Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        540,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "function formataTelefone(number) {\n    // Certifique-se de que o parâmetro é uma string\n    number = number.toString().replace(/[^\\d]/g, \"\");\n\n    let ddi = '55';\n    let ddd = number.substring(0, 2);\n\n    if (number.length === 13) {\n        ddi = number.substring(0, 2);\n        ddd = number.substring(2, 4);\n        return ddi + ddd + (parseInt(ddd) <= 28 ? number.substring(4, 13) : number.substring(5, 13));\n\n    } else if (number.length === 11) {\n        return ddi + ddd + (parseInt(ddd) <= 28 ? number.substring(2, 11) : number.substring(3, 11));\n\n    } else if (number.length === 10) {\n        return ddi + ddd + (parseInt(ddd) <= 28 ? '9' : '') + number.substring(2, 11);\n\n    } else if (number.length === 12) {\n        if (number.substring(0, 2) === '55') {\n            return number;\n        } else if (number.substring(0, 1) === '0') {\n            return formataTelefone(number.substring(1, 12));\n        } else {\n            return number;\n        }\n\n    } else {\n        return number;\n    }\n}\n\n// Aplicar a formatação ao valor de entrada\n$input.all()[0].json[\"payload.custom_fields\"][\"value\"] = formataTelefone($input.all()[0].json[\"payload.custom_fields\"][\"value\"]); \n\nreturn $input.all();\n"
      },
      "id": "633985c3-c8e6-40b9-b69c-b995cc913b07",
      "name": "Formata Telefone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1920,
        1340
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "payload.custom_fields",
        "include": "selectedOtherFields",
        "fieldsToInclude": "payload.name",
        "options": {}
      },
      "id": "ecade51b-9413-468a-b145-16037b40891e",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        720,
        980
      ]
    },
    {
      "parameters": {},
      "id": "9fe19021-b697-49e5-ac5d-d1d0e408ec5e",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        2420,
        840
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0d95f2d9-c9d0-406b-8fd7-1683003b03fa",
              "name": "whatsapp",
              "value": "={{ $json[\"payload.custom_fields\"].value }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6607b5ce-81c1-4caf-a875-4391b66cada5",
      "name": "whatsapp formatado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2260,
        1200
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1tXKFYiu2sisLoWIl91eTJfR1AQaNl2BTraZOUC37uF4",
          "mode": "list",
          "cachedResultName": "Processo de Agendamento - Follow Up's",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tXKFYiu2sisLoWIl91eTJfR1AQaNl2BTraZOUC37uF4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tXKFYiu2sisLoWIl91eTJfR1AQaNl2BTraZOUC37uF4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{new DateTime($now).toFormat('dd/MM/yyyy HH:mm')}}",
            "tipo": "={{ $json.ingresso }}",
            "telefone": "={{ $json[\"Telefone (Whatsap)\"] }}",
            "nome": "={{ $('Trata Webhook').item.json.payload.name }}",
            "chave": "={{ $json[\"Telefone (Whatsap)\"].slice(-7) }}",
            "email": "={{ $json.Email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chave",
              "displayName": "chave",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "respondeu?",
              "displayName": "respondeu?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "be78d7a9-8945-4ba5-9e1e-6374ef7dbf1d",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        1920,
        180
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "dd32b697-bb7a-4d2a-a432-a07f9bd46321",
              "leftValue": "={{ $json['payload.custom_fields'].name }}",
              "rightValue": "=Telefone",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "bcfe0ee9-6ca4-4ca6-8426-191e18a87044",
              "leftValue": "={{ $json['payload.custom_fields'].name }}",
              "rightValue": "=Ingresso Vip",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "e29564be-f89a-4c44-9354-b9295ae6b666",
              "leftValue": "={{ $json['payload.custom_fields'].name }}",
              "rightValue": "=E-mail",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "af8ecdc1-f19b-448f-ab9e-96dc7aafea4f",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        940,
        960
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2246b809-74f5-4b59-9da9-551cfe221e7f",
              "leftValue": "={{ $json.appended_payload_custom_fields_value[0] }}",
              "rightValue": "=true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "49f71b1b-d95b-4264-b0d1-91cd21bb5e22",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        380
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "977e70e0-658d-402e-93f2-8c8f98a1590c",
              "name": "ingresso",
              "value": "=normal",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5a34bb11-0a6f-4858-8612-8a8371b01b20",
      "name": "ingresso normal",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2020,
        820
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b08df131-aadb-4c9c-83d6-cbbd3dafee13",
              "name": "ingresso",
              "value": "vip",
              "type": "string"
            },
            {
              "id": "c75b5c2c-807e-4a3b-9f07-6ce9afa68d36",
              "name": "Telefone (Whatsap)",
              "value": "={{ $json.appended_payload_custom_fields_value[2] }}",
              "type": "string"
            },
            {
              "id": "a338550f-e570-48d4-a4f3-b72768d09663",
              "name": "Email",
              "value": "={{ $json.appended_payload_custom_fields_value[1] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2073f688-643c-4f5d-84fd-5f18d273f017",
      "name": "Dados finais",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1680,
        180
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "ingresso"
            },
            {
              "fieldToAggregate": "whatsapp"
            },
            {
              "fieldToAggregate": "nome"
            }
          ]
        },
        "options": {}
      },
      "id": "2b5ef75a-a09b-45d2-9960-1e4f3a9d8fe6",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2640,
        840
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "977e70e0-658d-402e-93f2-8c8f98a1590c",
              "name": "ingresso",
              "value": "=vip",
              "type": "string"
            },
            {
              "id": "c9338ee5-b60b-4c36-9926-530254ec525c",
              "name": "nome",
              "value": "={{ $json[\"payload.name\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e9b078ee-1091-47e5-8abb-ddffae382c74",
      "name": "ingresso vip e nome",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2020,
        660
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2246b809-74f5-4b59-9da9-551cfe221e7f",
              "leftValue": "={{ $json['payload.custom_fields'].name }}",
              "rightValue": "=E-mail",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9a75efcc-9343-4329-90df-8eb6a2c33a48",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1560,
        1140
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1fe9a52-a9ee-4e8f-b7a4-d85e82848dc3",
              "name": "E-mail",
              "value": "={{ $json['payload.custom_fields'].value }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3302193b-110e-4a9c-8756-d0fefe72210b",
      "name": "ingresso normal1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2020,
        1040
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "append",
              "field": "[\"payload.custom_fields\"].value"
            }
          ]
        },
        "options": {}
      },
      "id": "8c479f29-3647-43b7-8af9-17e8f9464343",
      "name": "Summarize",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        1120,
        940
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b08df131-aadb-4c9c-83d6-cbbd3dafee13",
              "name": "ingresso",
              "value": "normal",
              "type": "string"
            },
            {
              "id": "c75b5c2c-807e-4a3b-9f07-6ce9afa68d36",
              "name": "Telefone (Whatsap)",
              "value": "={{ $json.appended_payload_custom_fields_value[2] }}",
              "type": "string"
            },
            {
              "id": "a338550f-e570-48d4-a4f3-b72768d09663",
              "name": "Email",
              "value": "={{ $json.appended_payload_custom_fields_value[1] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "08dd97ea-9b57-45aa-9a94-72b2907e9c89",
      "name": "Dados finais1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1680,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": " https://activeilaenicole.api-us1.com/api/3/contactTags",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "Api-Token",
              "value": "7faa5f8fade7ade83a9851dfb75cb120c0c57114c3a8eb7a8f1f1d3620c93e0d05542921"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"contactTag\": {         \"contact\": {{ $json.id }}, \n\"tag\": 293   \n}}",
        "options": {}
      },
      "id": "d3a90b5f-0d1c-4daa-9e3d-1844a24b5045",
      "name": "ADD TAG DE FOLLOW NO ACTIVE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2300,
        180
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1tXKFYiu2sisLoWIl91eTJfR1AQaNl2BTraZOUC37uF4",
          "mode": "list",
          "cachedResultName": "Processo de Agendamento - Follow Up's",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tXKFYiu2sisLoWIl91eTJfR1AQaNl2BTraZOUC37uF4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tXKFYiu2sisLoWIl91eTJfR1AQaNl2BTraZOUC37uF4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{new DateTime($now).toFormat('dd/MM/yyyy HH:mm')}}",
            "tipo": "=normal",
            "telefone": "={{ $json.payload.custom_fields[6].value }}",
            "nome": "={{ $('Trata Webhook').item.json.payload.name }}",
            "chave": "={{ $json.payload.custom_fields[6].value.slice(-7) }}",
            "email": "="
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chave",
              "displayName": "chave",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "respondeu?",
              "displayName": "respondeu?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "6a7fded8-7979-41e2-b3d4-acab8c070394",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        740,
        380
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": " https://activeilaenicole.api-us1.com/api/3/contactTags",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "Api-Token",
              "value": "7faa5f8fade7ade83a9851dfb75cb120c0c57114c3a8eb7a8f1f1d3620c93e0d05542921"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"contactTag\": {         \"contact\": {{ $json.id }}, \n\"tag\": 293   \n}}",
        "options": {}
      },
      "id": "5ad1b963-2e7f-4148-b8b3-2ebb5367817f",
      "name": "ADD TAG DE FOLLOW NO ACTIVE1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2300,
        460
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "email": "={{ $json.email }}",
        "updateIfExists": true,
        "additionalFields": {}
      },
      "id": "e1a241e2-42ad-4340-8ffa-1330f50207e1",
      "name": "ActiveCampaign",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2120,
        180
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "jY4mO4rkMqLOPVXo",
          "name": "Ila & Nicole"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $json.email }}",
        "updateIfExists": true,
        "additionalFields": {}
      },
      "id": "a4649bcd-743b-4069-933d-e9146f6ae7e4",
      "name": "ActiveCampaign1",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2120,
        460
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "jY4mO4rkMqLOPVXo",
          "name": "Ila & Nicole"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "yxL0Eja1zDUksM4U",
        "options": {}
      },
      "id": "f3b9dd88-15d0-438d-b8d7-9bac361f136f",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        960,
        380
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.marcosfoks.com.br",
            "user-agent": "axios/0.24.0",
            "content-length": "9010",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, br",
            "b3": "66b0c8050000000065be1f90939f6144-4617dc8e3b1f2e93-0-5bd5c994b4443859",
            "cdn-loop": "cloudflare",
            "cf-connecting-ip": "3.23.71.80",
            "cf-ipcountry": "US",
            "cf-ray": "8ae6d9c75db06204-ORD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "traceparent": "00-66b0c8050000000065be1f90939f6144-4617dc8e3b1f2e93-00",
            "tracestate": "dd=t.tid:66b0c80500000000;t.dm:3;s:-1",
            "x-b3-parentspanid": "5bd5c994b4443859",
            "x-b3-sampled": "0",
            "x-b3-spanid": "4617dc8e3b1f2e93",
            "x-b3-traceid": "66b0c8050000000065be1f90939f6144",
            "x-datadog-parent-id": "5050748010554666643",
            "x-datadog-sampling-priority": "-1",
            "x-datadog-tags": "_dd.p.tid=66b0c80500000000",
            "x-datadog-trace-id": "7331331949218193732",
            "x-forwarded-for": "172.69.6.56",
            "x-forwarded-host": "n8n.marcosfoks.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "bc917484dc53",
            "x-real-ip": "172.69.6.56"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "0d2c441d-9497-42e6-a6a1-cfd3f78e912e:main",
            "trigger_id": "9efb4b05-33a3-45c5-bc00-743101f2c5b3",
            "date": "2024-08-05T12:39:34.134Z",
            "payload": {
              "id": "86a4c9ph9",
              "custom_id": null,
              "custom_item_id": 0,
              "name": "Drielly [TRÁFEGO]",
              "text_content": "",
              "description": "",
              "status": {
                "id": "c90130377914_xFlSwmlU",
                "status": "sem contato",
                "color": "#87909e",
                "orderindex": 0,
                "type": "open"
              },
              "orderindex": "39703749.00000000000000000000000000000000",
              "date_created": "1722380313909",
              "date_updated": "1722861570826",
              "date_closed": null,
              "date_done": null,
              "archived": false,
              "creator": {
                "id": 43040068,
                "username": "Tran",
                "color": "#ff5722",
                "email": "victor@grupolibertas.com.br",
                "profilePicture": "https://attachments.clickup.com/profilePictures/43040068_t8t.jpg"
              },
              "assignees": [
                {
                  "id": 82001013,
                  "username": "Victória Mapa",
                  "color": "#0388d1",
                  "initials": "VM",
                  "email": "victoriamapa.libertas@gmail.com",
                  "profilePicture": null
                }
              ],
              "group_assignees": [],
              "watchers": [
                {
                  "id": 43040068,
                  "username": "Tran",
                  "color": "#ff5722",
                  "initials": "T",
                  "email": "victor@grupolibertas.com.br",
                  "profilePicture": "https://attachments.clickup.com/profilePictures/43040068_t8t.jpg"
                },
                {
                  "id": 82001013,
                  "username": "Victória Mapa",
                  "color": "#0388d1",
                  "initials": "VM",
                  "email": "victoriamapa.libertas@gmail.com",
                  "profilePicture": null
                }
              ],
              "checklists": [],
              "tags": [],
              "parent": null,
              "priority": null,
              "due_date": null,
              "start_date": null,
              "points": null,
              "time_estimate": null,
              "time_spent": 0,
              "custom_fields": [
                {
                  "id": "6cf1dba1-1c24-471e-bd7a-9eed2c8e2d2c",
                  "name": "Funil SDR",
                  "type": "drop_down",
                  "type_config": {
                    "new_drop_down": true,
                    "options": [
                      {
                        "id": "305fa8d3-3e49-4f70-9f5f-69ad899e98f3",
                        "name": "Lead Aplicação",
                        "color": "#e50000",
                        "orderindex": 0
                      },
                      {
                        "id": "7223face-bb1e-4643-8eea-a451325b92cd",
                        "name": "Lead SE  Org",
                        "color": "#E65100",
                        "orderindex": 1
                      },
                      {
                        "id": "b0c7b0ef-a7d2-40db-a72b-b0acdeb469f2",
                        "name": "Lead SE Ads",
                        "color": "#ff7800",
                        "orderindex": 2
                      },
                      {
                        "id": "dfd25655-2597-4626-ba5b-ee2936f4ccc7",
                        "name": "Primeiro Contato",
                        "color": "#FF7FAB",
                        "orderindex": 3
                      },
                      {
                        "id": "6033d3c6-21f2-46a6-a747-3812d0f5d53b",
                        "name": "Follow-up Auto",
                        "color": "#f900ea",
                        "orderindex": 4
                      },
                      {
                        "id": "af659e5b-0f77-4d11-ad6e-4af588a0046e",
                        "name": "Contato Realizado (Agendando)",
                        "color": "#02BCD4",
                        "orderindex": 5
                      },
                      {
                        "id": "3438fdfb-f318-47b2-839a-e9de243f51fc",
                        "name": "Agendado",
                        "color": "#2ecd6f",
                        "orderindex": 6
                      },
                      {
                        "id": "e973fe5d-6d1f-4e4a-8e64-b6bd8fb38f6e",
                        "name": "Reagendamento",
                        "color": "#f9d900",
                        "orderindex": 7
                      },
                      {
                        "id": "d0b31d02-96dc-42e8-b658-f4a190410f66",
                        "name": "Processo Closer",
                        "color": "#1bbc9c",
                        "orderindex": 8
                      },
                      {
                        "id": "74d70840-b23a-4ede-8526-1572ebd34ee9",
                        "name": "Descartado",
                        "color": "#800000",
                        "orderindex": 9
                      }
                    ]
                  },
                  "date_created": "1721768908824",
                  "hide_from_guests": false,
                  "value": 4,
                  "required": false
                },
                {
                  "id": "ca63198d-4367-4195-a85b-8a81b810106a",
                  "name": "Clínica",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1721875004096",
                  "hide_from_guests": false,
                  "value": "Bem Estar - Paulinia ",
                  "required": false
                },
                {
                  "id": "f8d8e702-9e3c-4605-a15f-501f81a3b0e2",
                  "name": "Função",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1704488199180",
                  "hide_from_guests": false,
                  "value": "Dono/Sócio",
                  "required": false
                },
                {
                  "id": "deff6c81-9dc6-4b15-a249-937c677056fb",
                  "name": "Especialidade",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1721875025282",
                  "hide_from_guests": false,
                  "value": "Implante e prótese",
                  "required": false
                },
                {
                  "id": "a964eea7-44f0-476d-8246-e691e8166680",
                  "name": "Faturamento",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1681439246903",
                  "hide_from_guests": false,
                  "value": "Entre R$ 50 mil e R$ 100 mil",
                  "required": false
                },
                {
                  "id": "02c7e603-bf0a-43e4-8fa9-a6f9a0583ff2",
                  "name": "Transformação",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1721875072362",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "aac36645-04a7-4fbe-b2c7-15f62e5bcc49",
                  "name": "Telefone",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1695867402474",
                  "hide_from_guests": false,
                  "value": "5519989384211",
                  "required": false
                },
                {
                  "id": "a8440829-2de3-4025-b83f-bd235d8a0608",
                  "name": "Data primeira reunião",
                  "type": "date",
                  "type_config": {},
                  "date_created": "1708269902319",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "f3d09087-d64e-4bbe-83bf-6d8a2b2db77e",
                  "name": "Funil Closer",
                  "type": "drop_down",
                  "type_config": {
                    "options": [
                      {
                        "id": "c62b8b84-1dc6-49e8-bbc3-075d9edd3af6",
                        "name": "Agendado",
                        "color": "#2ecd6f",
                        "orderindex": 0
                      },
                      {
                        "id": "2467cb8b-e882-41c7-b3f3-c53b59c3f38f",
                        "name": "Descartado pós agendamento (desqualificado)",
                        "color": null,
                        "orderindex": 1
                      },
                      {
                        "id": "7b8485f9-c59a-467e-89f3-c8fbdd049a53",
                        "name": "No-show",
                        "color": "#7C4DFF",
                        "orderindex": 2
                      },
                      {
                        "id": "4b38362f-6995-49c1-891d-1e4fe80ff613",
                        "name": "Lead desqualificado (Proposta não apresentada)",
                        "color": "#800000",
                        "orderindex": 3
                      },
                      {
                        "id": "749cb46a-338b-42ba-a936-ea1957f3194a",
                        "name": "2ª Reunião (decisor ou proposta)",
                        "color": "#f9d900",
                        "orderindex": 4
                      },
                      {
                        "id": "92db3967-4299-42b9-8074-42e705bfa220",
                        "name": "No-show 2ª Reunião",
                        "color": "#7C4DFF",
                        "orderindex": 5
                      },
                      {
                        "id": "d8eef236-9216-4e75-af0a-a5fce0bc10b5",
                        "name": "Proposta apresentada",
                        "color": "#ff7800",
                        "orderindex": 6
                      },
                      {
                        "id": "8e6d1469-4f65-4d82-9712-797b5a6028ed",
                        "name": "Follow-up agendado",
                        "color": "#E65100",
                        "orderindex": 7
                      },
                      {
                        "id": "deb7ba94-9f9c-4dd2-b541-224c597dc41f",
                        "name": "No-show reunião follow",
                        "color": "#7C4DFF",
                        "orderindex": 8
                      },
                      {
                        "id": "e4ec4c2b-ace2-4277-b7ee-f1c122615b47",
                        "name": "Follow-up Longo",
                        "color": "#f9d900",
                        "orderindex": 9
                      },
                      {
                        "id": "ea2bda8c-fc7b-4bf3-8be3-9176260b8acb",
                        "name": "Aguardando pagamento",
                        "color": "#04A9F4",
                        "orderindex": 10
                      },
                      {
                        "id": "7fbaf701-28d5-4b10-b461-0621687c9162",
                        "name": "Comprou front-end",
                        "color": "#1bbc9c",
                        "orderindex": 11
                      },
                      {
                        "id": "a3772b9d-2a36-416d-8c4c-affd06b0b412",
                        "name": "Contrato Sala Black",
                        "color": "#02BCD4",
                        "orderindex": 12
                      },
                      {
                        "id": "6e6dc5f7-b481-4c55-a4c2-d2fd73ee664d",
                        "name": "Onboarding Sala Black",
                        "color": "#2ecd6f",
                        "orderindex": 13
                      }
                    ]
                  },
                  "date_created": "1721769349448",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "0578431b-85f8-45ab-89df-4a507c14a9d3",
                  "name": "Reunião agendada",
                  "type": "checkbox",
                  "type_config": {},
                  "date_created": "1722438493738",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "d49d6c6d-8fe5-4820-ae25-3981d75d57b4",
                  "name": "Motivo do loss",
                  "type": "drop_down",
                  "type_config": {
                    "new_drop_down": true,
                    "options": [
                      {
                        "id": "3a6bf161-a95c-4f19-8647-95e9f7439af4",
                        "name": "Informações de contato inválidas",
                        "color": "#932644",
                        "orderindex": 0
                      },
                      {
                        "id": "fccb1de8-090f-4481-9dcc-223c77e1d5a7",
                        "name": "Aplicou por engano",
                        "color": "#B4FDBA",
                        "orderindex": 1
                      },
                      {
                        "id": "783190b0-0b7a-4e1f-a954-2b1a8a27e0b8",
                        "name": "Lead desqualificado ou Fora do ICP",
                        "color": "#f9d900",
                        "orderindex": 2
                      },
                      {
                        "id": "d1a99f94-6fd2-4794-990a-db9e78751064",
                        "name": "Lead comprou da concorrência",
                        "color": "#e50000",
                        "orderindex": 3
                      },
                      {
                        "id": "92928566-af72-4710-881d-1e40dfa532d6",
                        "name": "Tentativas de contato esgotadas",
                        "color": "#02BCD4",
                        "orderindex": 4
                      },
                      {
                        "id": "25147fb2-8504-44f0-a60d-3d576e8fb145",
                        "name": "Não tem orçamento no momento",
                        "color": "#EA80FC",
                        "orderindex": 5
                      },
                      {
                        "id": "093639b6-d026-49aa-bef2-887859816417",
                        "name": "A compra não é prioridade",
                        "color": "#7C4DFF",
                        "orderindex": 6
                      },
                      {
                        "id": "df603306-2d00-43d0-ab5e-21bab03babfb",
                        "name": "No-show",
                        "color": "#AAC607",
                        "orderindex": 7
                      },
                      {
                        "id": "23e495d4-4044-4905-be7f-aaace9a12257",
                        "name": "Falta de interesse na abordagem",
                        "color": "#5FC5F4",
                        "orderindex": 8
                      },
                      {
                        "id": "b9e183c4-025c-41f8-bd77-29bc5fbc667f",
                        "name": "Lead duplicado",
                        "color": "#8B568F",
                        "orderindex": 9
                      },
                      {
                        "id": "51d9c39e-5aa8-40f7-aa54-b97f93a81b01",
                        "name": "Comprou outro produto nosso",
                        "color": "#BBC818",
                        "orderindex": 10
                      },
                      {
                        "id": "0662eb66-86cf-44be-839e-80cadbc0e563",
                        "name": "Blacklist",
                        "color": "#000000",
                        "orderindex": 11
                      },
                      {
                        "id": "d07f209c-c355-4ab1-8476-23221fedf1aa",
                        "name": "Não era decisor",
                        "color": "#40C294",
                        "orderindex": 12
                      },
                      {
                        "id": "990e2546-5275-47c4-a24a-72317c3d5d1f",
                        "name": "Falta de credibilidade",
                        "color": null,
                        "orderindex": 13
                      }
                    ]
                  },
                  "date_created": "1704230713082",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "85e5466a-afb4-4e65-bd1f-58af78c9479d",
                  "name": "Dificuldade",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1695867534125",
                  "hide_from_guests": false,
                  "value": "Fechamento ",
                  "required": false
                },
                {
                  "id": "48979394-c189-425a-a8ab-aad64178242b",
                  "name": "Investimento em anúncios",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1695867438787",
                  "hide_from_guests": false,
                  "value": "Sim, entre R$ 2.000 e R$ 5.000",
                  "required": false
                },
                {
                  "id": "13f4e607-7a31-428d-9775-fab416cb95d9",
                  "name": "Origem",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1704300723971",
                  "hide_from_guests": false,
                  "required": false
                }
              ],
              "dependencies": [],
              "linked_tasks": [],
              "locations": [],
              "team_id": "30971486",
              "url": "https://app.clickup.com/t/86a4c9ph9",
              "sharing": {
                "public": false,
                "public_share_expires_on": null,
                "public_fields": [
                  "assignees",
                  "priority",
                  "due_date",
                  "content",
                  "comments",
                  "attachments",
                  "customFields",
                  "subtasks",
                  "tags",
                  "checklists",
                  "coverimage"
                ],
                "token": null,
                "seo_optimized": false
              },
              "list": {
                "id": "901304701916",
                "name": "Funil SDR",
                "access": true
              },
              "project": {
                "id": "90130377914",
                "name": "[ILA] [AS] CRM Reunião Secreta",
                "hidden": false,
                "access": true
              },
              "folder": {
                "id": "90130377914",
                "name": "[ILA] [AS] CRM Reunião Secreta",
                "hidden": false,
                "access": true
              },
              "space": {
                "id": "90070031834"
              }
            }
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-08-06T21:10:45.000Z",
  "versionId": "49a4c337-3d20-4d7f-ada3-341fd9f44e2c"
}