workflows/Processo de Agendamento - Follow up [ETAPA 1].json
{
  "active": true,
  "connections": {
    "Trata Webhook": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Trata Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Dados finais",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dados finais1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Telefone": {
      "main": [
        [
          {
            "node": "whatsapp formatado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ingresso normal": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "whatsapp formatado": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "ingresso vip e nome": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados finais": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "ActiveCampaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "ingresso normal1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formata Telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ingresso normal1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados finais1": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "ActiveCampaign1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign": {
      "main": [
        [
          {
            "node": "ADD TAG DE FOLLOW NO ACTIVE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign1": {
      "main": [
        [
          {
            "node": "ADD TAG DE FOLLOW NO ACTIVE1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-16T15:30:47.903Z",
  "id": "87hY0QUMMvGTABWA",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Processo de Agendamento - Follow up [ETAPA 1]",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7d93e3cf-050c-411a-af20-ea40861db603",
        "options": {}
      },
      "id": "fc92cf02-2a9f-4440-858f-de617ede16fe",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        320,
        380
      ],
      "webhookId": "7d93e3cf-050c-411a-af20-ea40861db603"
    },
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]\n"
      },
      "id": "3dcbafca-0979-406c-9760-01b00b0876f2",
      "name": "Trata Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        540,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "function formataTelefone(number) {\n    // Certifique-se de que o parâmetro é uma string\n    number = number.toString().replace(/[^\\d]/g, \"\");\n\n    let ddi = '55';\n    let ddd = number.substring(0, 2);\n\n    if (number.length === 13) {\n        ddi = number.substring(0, 2);\n        ddd = number.substring(2, 4);\n        return ddi + ddd + (parseInt(ddd) <= 28 ? number.substring(4, 13) : number.substring(5, 13));\n\n    } else if (number.length === 11) {\n        return ddi + ddd + (parseInt(ddd) <= 28 ? number.substring(2, 11) : number.substring(3, 11));\n\n    } else if (number.length === 10) {\n        return ddi + ddd + (parseInt(ddd) <= 28 ? '9' : '') + number.substring(2, 11);\n\n    } else if (number.length === 12) {\n        if (number.substring(0, 2) === '55') {\n            return number;\n        } else if (number.substring(0, 1) === '0') {\n            return formataTelefone(number.substring(1, 12));\n        } else {\n            return number;\n        }\n\n    } else {\n        return number;\n    }\n}\n\n// Aplicar a formatação ao valor de entrada\n$input.all()[0].json[\"payload.custom_fields\"][\"value\"] = formataTelefone($input.all()[0].json[\"payload.custom_fields\"][\"value\"]); \n\nreturn $input.all();\n"
      },
      "id": "633985c3-c8e6-40b9-b69c-b995cc913b07",
      "name": "Formata Telefone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1920,
        1340
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "payload.custom_fields",
        "include": "selectedOtherFields",
        "fieldsToInclude": "payload.name",
        "options": {}
      },
      "id": "ecade51b-9413-468a-b145-16037b40891e",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        740,
        380
      ]
    },
    {
      "parameters": {},
      "id": "9fe19021-b697-49e5-ac5d-d1d0e408ec5e",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        2420,
        840
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0d95f2d9-c9d0-406b-8fd7-1683003b03fa",
              "name": "whatsapp",
              "value": "={{ $json[\"payload.custom_fields\"].value }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6607b5ce-81c1-4caf-a875-4391b66cada5",
      "name": "whatsapp formatado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2260,
        1200
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1tXKFYiu2sisLoWIl91eTJfR1AQaNl2BTraZOUC37uF4",
          "mode": "list",
          "cachedResultName": "Processo de Agendamento - Follow Up's",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tXKFYiu2sisLoWIl91eTJfR1AQaNl2BTraZOUC37uF4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tXKFYiu2sisLoWIl91eTJfR1AQaNl2BTraZOUC37uF4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{new DateTime($now).toFormat('dd/MM/yyyy HH:mm')}}",
            "tipo": "={{ $json.ingresso }}",
            "telefone": "={{ $json[\"Telefone (Whatsap)\"] }}",
            "nome": "={{ $('Trata Webhook').item.json.payload.name }}",
            "chave": "={{ $json[\"Telefone (Whatsap)\"].slice(-7) }}",
            "email": "={{ $json.Email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chave",
              "displayName": "chave",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "respondeu?",
              "displayName": "respondeu?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "be78d7a9-8945-4ba5-9e1e-6374ef7dbf1d",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        1920,
        180
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "dd32b697-bb7a-4d2a-a432-a07f9bd46321",
              "leftValue": "={{ $json['payload.custom_fields'].name }}",
              "rightValue": "=Telefone (Whatsapp)",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "bcfe0ee9-6ca4-4ca6-8426-191e18a87044",
              "leftValue": "={{ $json['payload.custom_fields'].name }}",
              "rightValue": "=Ingresso Vip",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "e29564be-f89a-4c44-9354-b9295ae6b666",
              "leftValue": "={{ $json['payload.custom_fields'].name }}",
              "rightValue": "=E-mail",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "af8ecdc1-f19b-448f-ab9e-96dc7aafea4f",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        940,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2246b809-74f5-4b59-9da9-551cfe221e7f",
              "leftValue": "={{ $json.appended_payload_custom_fields_value[0] }}",
              "rightValue": "=true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "49f71b1b-d95b-4264-b0d1-91cd21bb5e22",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        380
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "977e70e0-658d-402e-93f2-8c8f98a1590c",
              "name": "ingresso",
              "value": "=normal",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5a34bb11-0a6f-4858-8612-8a8371b01b20",
      "name": "ingresso normal",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2020,
        820
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b08df131-aadb-4c9c-83d6-cbbd3dafee13",
              "name": "ingresso",
              "value": "vip",
              "type": "string"
            },
            {
              "id": "c75b5c2c-807e-4a3b-9f07-6ce9afa68d36",
              "name": "Telefone (Whatsap)",
              "value": "={{ $json.appended_payload_custom_fields_value[2] }}",
              "type": "string"
            },
            {
              "id": "a338550f-e570-48d4-a4f3-b72768d09663",
              "name": "Email",
              "value": "={{ $json.appended_payload_custom_fields_value[1] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2073f688-643c-4f5d-84fd-5f18d273f017",
      "name": "Dados finais",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1680,
        180
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "ingresso"
            },
            {
              "fieldToAggregate": "whatsapp"
            },
            {
              "fieldToAggregate": "nome"
            }
          ]
        },
        "options": {}
      },
      "id": "2b5ef75a-a09b-45d2-9960-1e4f3a9d8fe6",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2640,
        840
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "977e70e0-658d-402e-93f2-8c8f98a1590c",
              "name": "ingresso",
              "value": "=vip",
              "type": "string"
            },
            {
              "id": "c9338ee5-b60b-4c36-9926-530254ec525c",
              "name": "nome",
              "value": "={{ $json[\"payload.name\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e9b078ee-1091-47e5-8abb-ddffae382c74",
      "name": "ingresso vip e nome",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2020,
        660
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2246b809-74f5-4b59-9da9-551cfe221e7f",
              "leftValue": "={{ $json['payload.custom_fields'].name }}",
              "rightValue": "=E-mail",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9a75efcc-9343-4329-90df-8eb6a2c33a48",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1560,
        1140
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1fe9a52-a9ee-4e8f-b7a4-d85e82848dc3",
              "name": "E-mail",
              "value": "={{ $json['payload.custom_fields'].value }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3302193b-110e-4a9c-8756-d0fefe72210b",
      "name": "ingresso normal1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2020,
        1040
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "append",
              "field": "[\"payload.custom_fields\"].value"
            }
          ]
        },
        "options": {}
      },
      "id": "8c479f29-3647-43b7-8af9-17e8f9464343",
      "name": "Summarize",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        1140,
        380
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b08df131-aadb-4c9c-83d6-cbbd3dafee13",
              "name": "ingresso",
              "value": "normal",
              "type": "string"
            },
            {
              "id": "c75b5c2c-807e-4a3b-9f07-6ce9afa68d36",
              "name": "Telefone (Whatsap)",
              "value": "={{ $json.appended_payload_custom_fields_value[2] }}",
              "type": "string"
            },
            {
              "id": "a338550f-e570-48d4-a4f3-b72768d09663",
              "name": "Email",
              "value": "={{ $json.appended_payload_custom_fields_value[1] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "08dd97ea-9b57-45aa-9a94-72b2907e9c89",
      "name": "Dados finais1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1680,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": " https://activeilaenicole.api-us1.com/api/3/contactTags",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "Api-Token",
              "value": "7faa5f8fade7ade83a9851dfb75cb120c0c57114c3a8eb7a8f1f1d3620c93e0d05542921"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"contactTag\": {         \"contact\": {{ $json.id }}, \n\"tag\": 293   \n}}",
        "options": {}
      },
      "id": "d3a90b5f-0d1c-4daa-9e3d-1844a24b5045",
      "name": "ADD TAG DE FOLLOW NO ACTIVE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2300,
        180
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1tXKFYiu2sisLoWIl91eTJfR1AQaNl2BTraZOUC37uF4",
          "mode": "list",
          "cachedResultName": "Processo de Agendamento - Follow Up's",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tXKFYiu2sisLoWIl91eTJfR1AQaNl2BTraZOUC37uF4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tXKFYiu2sisLoWIl91eTJfR1AQaNl2BTraZOUC37uF4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{new DateTime($now).toFormat('dd/MM/yyyy HH:mm')}}",
            "tipo": "={{ $json.ingresso }}",
            "telefone": "={{ $json[\"Telefone (Whatsap)\"] }}",
            "nome": "={{ $('Trata Webhook').item.json.payload.name }}",
            "chave": "={{ $json[\"Telefone (Whatsap)\"].slice(-7) }}",
            "email": "={{ $json.Email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chave",
              "displayName": "chave",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "respondeu?",
              "displayName": "respondeu?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "6a7fded8-7979-41e2-b3d4-acab8c070394",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        1920,
        460
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqyCUOYp9QE28Sw2",
          "name": "Cris - Libertas"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": " https://activeilaenicole.api-us1.com/api/3/contactTags",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "Api-Token",
              "value": "7faa5f8fade7ade83a9851dfb75cb120c0c57114c3a8eb7a8f1f1d3620c93e0d05542921"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"contactTag\": {         \"contact\": {{ $json.id }}, \n\"tag\": 293   \n}}",
        "options": {}
      },
      "id": "5ad1b963-2e7f-4148-b8b3-2ebb5367817f",
      "name": "ADD TAG DE FOLLOW NO ACTIVE1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2300,
        460
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "email": "={{ $json.email }}",
        "updateIfExists": true,
        "additionalFields": {}
      },
      "id": "e1a241e2-42ad-4340-8ffa-1330f50207e1",
      "name": "ActiveCampaign",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2120,
        180
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "jY4mO4rkMqLOPVXo",
          "name": "Ila & Nicole"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $json.email }}",
        "updateIfExists": true,
        "additionalFields": {}
      },
      "id": "a4649bcd-743b-4069-933d-e9146f6ae7e4",
      "name": "ActiveCampaign1",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2120,
        460
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "jY4mO4rkMqLOPVXo",
          "name": "Ila & Nicole"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.marcosfoks.com.br",
            "user-agent": "axios/0.24.0",
            "content-length": "22437",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, br",
            "b3": "668ea861000000003391bfeb71f60f2d-466c13d60c1c3cb0-0-250efb09bffd93f9",
            "cdn-loop": "cloudflare",
            "cf-connecting-ip": "3.138.39.166",
            "cf-ipcountry": "US",
            "cf-ray": "8a1194020e762c97-ORD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "traceparent": "00-668ea861000000003391bfeb71f60f2d-466c13d60c1c3cb0-00",
            "tracestate": "dd=t.tid:668ea86100000000;t.dm:3;s:-1",
            "x-b3-parentspanid": "250efb09bffd93f9",
            "x-b3-sampled": "0",
            "x-b3-spanid": "466c13d60c1c3cb0",
            "x-b3-traceid": "668ea861000000003391bfeb71f60f2d",
            "x-datadog-parent-id": "5074452690186812592",
            "x-datadog-sampling-priority": "-1",
            "x-datadog-tags": "_dd.p.tid=668ea86100000000",
            "x-datadog-trace-id": "3715962185507540781",
            "x-forwarded-for": "172.70.130.100",
            "x-forwarded-host": "n8n.marcosfoks.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "bc917484dc53",
            "x-real-ip": "172.70.130.100"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "06429884-5128-4acb-b30e-3c2e79e2c09e:main",
            "trigger_id": "a6122f2f-8407-41d5-9820-25594033d63d",
            "date": "2024-07-10T15:27:29.424Z",
            "payload": {
              "id": "86a3wgja7",
              "custom_id": null,
              "custom_item_id": 0,
              "name": "Vinícius",
              "text_content": "",
              "description": "",
              "status": {
                "id": "sc901300794753_RhQeAclv",
                "status": "tentando contato mensagem",
                "color": "#b660e0",
                "orderindex": 2,
                "type": "custom"
              },
              "orderindex": "39699487.00000000000000000000000000000000",
              "date_created": "1718990361861",
              "date_updated": "1720625247463",
              "date_closed": null,
              "date_done": null,
              "archived": false,
              "creator": {
                "id": 43040068,
                "username": "Tran",
                "color": "#ff5722",
                "email": "victor@grupolibertas.com.br",
                "profilePicture": "https://attachments.clickup.com/profilePictures/43040068_t8t.jpg"
              },
              "assignees": [],
              "group_assignees": [],
              "watchers": [
                {
                  "id": 43040068,
                  "username": "Tran",
                  "color": "#ff5722",
                  "initials": "T",
                  "email": "victor@grupolibertas.com.br",
                  "profilePicture": "https://attachments.clickup.com/profilePictures/43040068_t8t.jpg"
                }
              ],
              "checklists": [],
              "tags": [],
              "parent": null,
              "priority": null,
              "due_date": null,
              "start_date": null,
              "points": null,
              "time_estimate": null,
              "time_spent": 0,
              "custom_fields": [
                {
                  "id": "405b99b5-b2ef-48cc-86b5-ff9ade8162e2",
                  "name": "Projeto",
                  "type": "drop_down",
                  "type_config": {
                    "new_drop_down": true,
                    "options": [
                      {
                        "id": "dd12e1b6-b1b1-44ca-8155-5dfd947fc420",
                        "name": "LIBERTAS",
                        "color": "#0231E8",
                        "orderindex": 0
                      },
                      {
                        "id": "1680b939-2f18-461e-938c-323fa2ea0978",
                        "name": "ILA/NICOLE",
                        "color": "#EA80FC",
                        "orderindex": 1
                      },
                      {
                        "id": "bec805a5-3d9f-4861-8f91-a452f0a3bd14",
                        "name": "FOKS",
                        "color": "#04A9F4",
                        "orderindex": 2
                      },
                      {
                        "id": "c6ae36a2-5e5b-4aa9-9af5-cfb86d10767c",
                        "name": "KAPANY",
                        "color": "#b5bcc2",
                        "orderindex": 3
                      },
                      {
                        "id": "17dc3b04-799f-4bed-a36a-55d83b7fe088",
                        "name": "SERVIÇOS",
                        "color": "#FF4081",
                        "orderindex": 4
                      },
                      {
                        "id": "9693540b-72b4-4124-8d4b-b456802b41bf",
                        "name": "JESS",
                        "color": "#e50000",
                        "orderindex": 5
                      }
                    ]
                  },
                  "date_created": "1643371108857",
                  "hide_from_guests": false,
                  "value": 1,
                  "required": false
                },
                {
                  "id": "aac36645-04a7-4fbe-b2c7-15f62e5bcc49",
                  "name": "Telefone",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1695867402474",
                  "hide_from_guests": false,
                  "value": "557399593411",
                  "required": false
                },
                {
                  "id": "8f222c00-84bd-458c-b52a-7e58a1c5b7b5",
                  "name": "Idade",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1695867416475",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "67591179-a3ed-41af-af20-11bb646337bd",
                  "name": "Tempo de atuação",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1695867451405",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "a611ed68-cd18-427b-a26e-d3af1948413c",
                  "name": "Quantidade de vendas por mês",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1695867497625",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "980617e1-949b-47b2-9d7b-a34a9aaf4569",
                  "name": "Bate metas",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1695867519649",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "72b55348-c908-48df-bfe4-9c593d322e07",
                  "name": "Tempo que conhece Ila & Nicole",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1695867591102",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "7fdff21f-ee2a-4e0f-aae3-15925c60cb47",
                  "name": "Onde conheceu Ila & Nicole",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1695867605132",
                  "hide_from_guests": true,
                  "required": false
                },
                {
                  "id": "b3f5d5d5-f1d3-4eee-aa3e-04c262f70724",
                  "name": "Reunião Secreta",
                  "type": "number",
                  "type_config": {},
                  "date_created": "1695867734969",
                  "hide_from_guests": false,
                  "value": "12",
                  "required": false
                },
                {
                  "id": "b34a2a8e-bd74-41f8-9203-91e97c16ca9e",
                  "name": "Data compra",
                  "type": "date",
                  "type_config": {},
                  "date_created": "1695870886350",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "4ad91e62-76fc-49ee-9057-668bcaf87185",
                  "name": "utm_source",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1695870897185",
                  "hide_from_guests": false,
                  "value": "adsfb",
                  "required": false
                },
                {
                  "id": "f1733835-07a8-4dbf-a274-8d94e9616e1b",
                  "name": "utm_campaign",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1695870906563",
                  "hide_from_guests": false,
                  "value": "as1",
                  "required": false
                },
                {
                  "id": "ce49ae3e-50e3-4243-ac4a-8d88392be9c0",
                  "name": "utm_medium",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1695870918009",
                  "hide_from_guests": false,
                  "value": "[AS12] [INGRESSOS] [CONVERSÕES] [COMPRA] [ABO] [Q] - Público quente",
                  "required": false
                },
                {
                  "id": "337c028c-d492-44cd-8888-c0566b807def",
                  "name": "utm_content",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1695870929222",
                  "hide_from_guests": false,
                  "value": "02 - IG + FB | Todos | 180D",
                  "required": false
                },
                {
                  "id": "f60b21be-a6cb-49a6-b1ec-5c747df5fec3",
                  "name": "utm_term",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1695870939084",
                  "hide_from_guests": false,
                  "value": "web03_im_diferente",
                  "required": false
                },
                {
                  "id": "ab006b24-25bd-4127-b773-3d2e0a13e79f",
                  "name": "[AP] Localização da clínica",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1696977739792",
                  "hide_from_guests": true,
                  "required": false
                },
                {
                  "id": "a7047b11-fa75-4a60-ac3c-eb901a9f8321",
                  "name": "[AP] Valor médio",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1696977790998",
                  "hide_from_guests": true,
                  "required": false
                },
                {
                  "id": "a380a181-dab8-4b82-8d7a-9eca5787ae26",
                  "name": "[AP] Aquisição",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1696977804409",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "84426d1c-dbd2-4231-a426-fc9a6b846b17",
                  "name": "[AP] Faturamento",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1696977819458",
                  "hide_from_guests": true,
                  "required": false
                },
                {
                  "id": "0f44d9e6-7be7-484c-89c0-01dec2988b9b",
                  "name": "[AP] Especialidade",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1696977833721",
                  "hide_from_guests": true,
                  "required": false
                },
                {
                  "id": "4434c721-bf3e-41a6-ab11-2570eb7ce1a0",
                  "name": "[AP] Dificuldade",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1696977853474",
                  "hide_from_guests": true,
                  "required": false
                },
                {
                  "id": "c0937dbd-9d07-40e4-b21d-e5ac75aedb62",
                  "name": "[AP] Motivação",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1696977891059",
                  "hide_from_guests": true,
                  "required": false
                },
                {
                  "id": "0fd28f0a-ea38-43ce-8909-a84dc23102b2",
                  "name": "[AP] Motivo",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1696977910466",
                  "hide_from_guests": true,
                  "required": false
                },
                {
                  "id": "63a1e0dd-13c0-4115-8cf9-80b634e5fe24",
                  "name": "[AP] Pagamento",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1696977926885",
                  "hide_from_guests": true,
                  "required": false
                },
                {
                  "id": "43bab630-154f-4373-93e0-bc3d49da7652",
                  "name": "[AP] Transformação",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1696977946878",
                  "hide_from_guests": true,
                  "required": false
                },
                {
                  "id": "f3d5a3c7-7770-47fc-8509-18163d3d02a1",
                  "name": "Ingresso Vip",
                  "type": "checkbox",
                  "type_config": {},
                  "date_created": "1697484870441",
                  "hide_from_guests": false,
                  "value": "true",
                  "required": false
                },
                {
                  "id": "57c29c0b-e310-42b4-99e0-c6a5d7839e11",
                  "name": "Site",
                  "type": "url",
                  "type_config": {},
                  "date_created": "1697551978351",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "fff7c9ca-1a7f-4783-b4b2-edf2de27da13",
                  "name": "Recuperação",
                  "type": "drop_down",
                  "type_config": {
                    "new_drop_down": true,
                    "options": [
                      {
                        "id": "89b2311a-1d0d-4c4b-b684-e40612aa8cb2",
                        "name": "Initiate Checkout",
                        "color": "#E65100",
                        "orderindex": 0
                      },
                      {
                        "id": "6610c847-461f-46b8-b9b7-32bcc3eddea5",
                        "name": "Pix Emitido",
                        "color": "#2ecd6f",
                        "orderindex": 1
                      },
                      {
                        "id": "66ee8196-de7f-43c6-87fd-16413e2262bf",
                        "name": "Compra Cancelada",
                        "color": "#800000",
                        "orderindex": 2
                      }
                    ]
                  },
                  "date_created": "1698189839866",
                  "hide_from_guests": false,
                  "value": 0,
                  "required": false
                },
                {
                  "id": "f8d8e702-9e3c-4605-a15f-501f81a3b0e2",
                  "name": "Função",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1704488199180",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "96d06de6-5a82-4ec2-8701-f9860bd60c61",
                  "name": "Status primeira fase",
                  "type": "drop_down",
                  "type_config": {
                    "default": 0,
                    "placeholder": null,
                    "options": [
                      {
                        "id": "7f2c0271-b5f7-403f-be0e-ad9ffc98445f",
                        "name": "Sem contato",
                        "color": null,
                        "orderindex": 0
                      },
                      {
                        "id": "da8b490a-46ae-4f1c-ae08-aa80560b5e7f",
                        "name": "Tentando contato ligação",
                        "color": "#04A9F4",
                        "orderindex": 1
                      },
                      {
                        "id": "22c7737b-9da2-49a8-af44-f9d5c2b2f740",
                        "name": "Tentando contato mensagem",
                        "color": "#bf55ec",
                        "orderindex": 2
                      },
                      {
                        "id": "beccf21c-6710-41a5-9ccb-ef7bff18f46f",
                        "name": "Pediu para contatar depois",
                        "color": "#f9d900",
                        "orderindex": 3
                      },
                      {
                        "id": "6b0536a1-adb8-4313-bfd6-45e53246fd95",
                        "name": "Contato realizado",
                        "color": "#7C4DFF",
                        "orderindex": 4
                      }
                    ]
                  },
                  "date_created": "1705098134923",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "ec9a610c-eb1b-49cc-aa2c-adf11a6bacc1",
                  "name": "Responsável primeira etapa",
                  "type": "users",
                  "type_config": {
                    "single_user": true,
                    "include_groups": null,
                    "include_guests": true,
                    "include_team_members": true
                  },
                  "date_created": "1705098311586",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "a3f49eda-ec95-4118-875f-58a532a93873",
                  "name": "Evento/Patrocinador/Agência",
                  "type": "drop_down",
                  "type_config": {
                    "default": 0,
                    "placeholder": null,
                    "options": [
                      {
                        "id": "6ef7b26a-e8fd-4426-9282-c85bff6a8ca0",
                        "name": "Entrada de lead",
                        "color": null,
                        "orderindex": 0
                      },
                      {
                        "id": "b0254a66-e7d7-41dc-96f6-62fad7270f47",
                        "name": "Contato iniciado",
                        "color": "#81B1FF",
                        "orderindex": 1
                      },
                      {
                        "id": "9548bf50-c217-4366-910f-908567054734",
                        "name": "Contato realizado",
                        "color": "#FF4081",
                        "orderindex": 2
                      },
                      {
                        "id": "980286aa-c3a2-4935-bf36-c8c241e502b9",
                        "name": "Follow-up",
                        "color": "#ff7800",
                        "orderindex": 3
                      },
                      {
                        "id": "65d14638-4b1c-4ba4-9820-2fced0ccb636",
                        "name": "Aguardando pagamento",
                        "color": "#02BCD4",
                        "orderindex": 4
                      },
                      {
                        "id": "2244fa96-fb89-47f9-b4b1-4b80639947ab",
                        "name": "Comprou",
                        "color": "#2ecd6f",
                        "orderindex": 5
                      }
                    ]
                  },
                  "date_created": "1711416091284",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "a8440829-2de3-4025-b83f-bd235d8a0608",
                  "name": "Data da reunião",
                  "type": "date",
                  "type_config": {},
                  "date_created": "1708269902319",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "0866204c-99a9-44e9-b34e-ad229e1de8fe",
                  "name": "Telefone",
                  "type": "phone",
                  "type_config": {},
                  "date_created": "1699900147890",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "0dec2e2c-d0cc-47fe-b2e2-98ee3de42e25",
                  "name": "Turma",
                  "type": "drop_down",
                  "type_config": {
                    "new_drop_down": true,
                    "options": [
                      {
                        "id": "c49692b2-ce7a-4a75-a59d-9b90f2e631f5",
                        "name": "T1 - Vermelha - Agosto/23",
                        "color": "#e50000",
                        "orderindex": 0
                      },
                      {
                        "id": "f6c450f1-bdf6-4d09-a5ce-85fb77f9b667",
                        "name": "T2 - Cinza - Setembro/24",
                        "color": "#b5bcc2",
                        "orderindex": 1
                      },
                      {
                        "id": "d1e5a453-6434-435b-8930-059b1909b087",
                        "name": "T3 - Outubro/23",
                        "color": "#b5bcc2",
                        "orderindex": 2
                      },
                      {
                        "id": "70d0ad85-faa9-4bde-93ef-eb3a0af905fd",
                        "name": "T4 - 31/10",
                        "color": "#0231E8",
                        "orderindex": 3
                      },
                      {
                        "id": "60dc4125-9cad-4d50-a8d4-a15fb906e0fb",
                        "name": "T5 - Novembro/23",
                        "color": "#f9d900",
                        "orderindex": 4
                      },
                      {
                        "id": "c8e7a499-1335-4f54-9bf3-993e5be72d18",
                        "name": "T6 - Janeiro/24",
                        "color": "#2ecd6f",
                        "orderindex": 5
                      },
                      {
                        "id": "20828e75-1d5f-414f-9944-495a1270a6e4",
                        "name": "T7 - Fevereiro/24",
                        "color": "#E65100",
                        "orderindex": 6
                      },
                      {
                        "id": "08d19e9a-7e13-4fee-ba04-1b6cb1ca834b",
                        "name": "T8 - Março/24",
                        "color": "#9b59b6",
                        "orderindex": 7
                      },
                      {
                        "id": "b6c2e6f2-f857-43ed-afa0-8dc4b550dcf6",
                        "name": "T9 - Abril/24",
                        "color": "#1bbc9c",
                        "orderindex": 8
                      },
                      {
                        "id": "0879c9d9-5c73-4224-ba8e-06b8064381bc",
                        "name": "T10 - Maio/24",
                        "color": "#f900ea",
                        "orderindex": 9
                      },
                      {
                        "id": "7b4db95f-7111-4f03-90f6-b5799d7af37a",
                        "name": "T11 - Junho/24",
                        "color": "#AF7E2E",
                        "orderindex": 10
                      },
                      {
                        "id": "f7ce3b3a-0b21-4693-b1e9-0e6abd4daac9",
                        "name": "T12 - Julho/24",
                        "color": null,
                        "orderindex": 11
                      },
                      {
                        "id": "137b0943-e904-42be-8db6-e40031951abb",
                        "name": "T13 - Agosto/24",
                        "color": null,
                        "orderindex": 12
                      },
                      {
                        "id": "825d79d5-b42a-4967-b40e-f7ce38e47319",
                        "name": "T14 - Setembro/24",
                        "color": null,
                        "orderindex": 13
                      },
                      {
                        "id": "2e1042df-41a1-455f-ac71-94dc95893124",
                        "name": "T15 - Outubro/24",
                        "color": null,
                        "orderindex": 14
                      },
                      {
                        "id": "2b149133-a0e2-4bde-9a5f-aeccb50f74d4",
                        "name": "T16 - Novembro/24",
                        "color": null,
                        "orderindex": 15
                      },
                      {
                        "id": "b5b267d5-c185-4623-9d8e-7e8f81a5d853",
                        "name": "T17 - Dezembro/24",
                        "color": null,
                        "orderindex": 16
                      }
                    ]
                  },
                  "date_created": "1699900134450",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "a6428db5-6add-432f-a777-82a8c98c7a79",
                  "name": "Consultor",
                  "type": "users",
                  "type_config": {
                    "single_user": false,
                    "include_groups": null,
                    "include_guests": true,
                    "include_team_members": false
                  },
                  "date_created": "1699904103911",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "bd130af6-0457-466c-a502-76ce6c6c911c",
                  "name": "Mentor",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1699899852364",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "83bb329d-5016-4bff-8543-0939cb64e173",
                  "name": "Closer",
                  "type": "users",
                  "type_config": {
                    "single_user": true,
                    "include_guests": true,
                    "include_team_members": true
                  },
                  "date_created": "1716646685727",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "8707884a-d885-41d0-9df8-3bc14e8b847d",
                  "name": "Categoria",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1717512266969",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "9cce934a-ad50-40d5-8f24-ccfa24b14ca1",
                  "name": "Convidado",
                  "type": "checkbox",
                  "type_config": {},
                  "date_created": "1717519965875",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "d49d6c6d-8fe5-4820-ae25-3981d75d57b4",
                  "name": "Motivo do loss",
                  "type": "drop_down",
                  "type_config": {
                    "new_drop_down": true,
                    "options": [
                      {
                        "id": "3a6bf161-a95c-4f19-8647-95e9f7439af4",
                        "name": "Informações de contato inválidas",
                        "color": "#932644",
                        "orderindex": 0
                      },
                      {
                        "id": "fccb1de8-090f-4481-9dcc-223c77e1d5a7",
                        "name": "Aplicou por engano",
                        "color": "#B4FDBA",
                        "orderindex": 1
                      },
                      {
                        "id": "783190b0-0b7a-4e1f-a954-2b1a8a27e0b8",
                        "name": "Lead desqualificado ou Fora do ICP",
                        "color": "#f9d900",
                        "orderindex": 2
                      },
                      {
                        "id": "d1a99f94-6fd2-4794-990a-db9e78751064",
                        "name": "Lead comprou da concorrência",
                        "color": "#e50000",
                        "orderindex": 3
                      },
                      {
                        "id": "92928566-af72-4710-881d-1e40dfa532d6",
                        "name": "Tentativas de contato esgotadas",
                        "color": "#02BCD4",
                        "orderindex": 4
                      },
                      {
                        "id": "25147fb2-8504-44f0-a60d-3d576e8fb145",
                        "name": "Não tem orçamento no momento",
                        "color": "#EA80FC",
                        "orderindex": 5
                      },
                      {
                        "id": "093639b6-d026-49aa-bef2-887859816417",
                        "name": "A compra não é prioridade",
                        "color": "#7C4DFF",
                        "orderindex": 6
                      },
                      {
                        "id": "df603306-2d00-43d0-ab5e-21bab03babfb",
                        "name": "No-show",
                        "color": "#AAC607",
                        "orderindex": 7
                      },
                      {
                        "id": "23e495d4-4044-4905-be7f-aaace9a12257",
                        "name": "Falta de interesse na abordagem",
                        "color": "#5FC5F4",
                        "orderindex": 8
                      },
                      {
                        "id": "b9e183c4-025c-41f8-bd77-29bc5fbc667f",
                        "name": "Lead duplicado",
                        "color": "#8B568F",
                        "orderindex": 9
                      },
                      {
                        "id": "51d9c39e-5aa8-40f7-aa54-b97f93a81b01",
                        "name": "Comprou outro produto nosso",
                        "color": "#BBC818",
                        "orderindex": 10
                      },
                      {
                        "id": "0662eb66-86cf-44be-839e-80cadbc0e563",
                        "name": "Blacklist",
                        "color": "#000000",
                        "orderindex": 11
                      },
                      {
                        "id": "d07f209c-c355-4ab1-8476-23221fedf1aa",
                        "name": "Não era decisor",
                        "color": "#40C294",
                        "orderindex": 12
                      },
                      {
                        "id": "990e2546-5275-47c4-a24a-72317c3d5d1f",
                        "name": "Falta de credibilidade",
                        "color": null,
                        "orderindex": 13
                      }
                    ]
                  },
                  "date_created": "1704230713082",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "f7944972-177f-40fb-8356-c1fe4fff6509",
                  "name": "Respondeu aplicação",
                  "type": "checkbox",
                  "type_config": {},
                  "date_created": "1695867000615",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "bbb986f1-824e-4b75-b264-5333666c7bc2",
                  "name": "Qualificado",
                  "type": "checkbox",
                  "type_config": {},
                  "date_created": "1695867102522",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "093f3e86-8443-4d75-9710-f27cf69558df",
                  "name": "E-mail",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1695867383436",
                  "hide_from_guests": true,
                  "value": "drvinicius_odonto@hotmail.com",
                  "required": false
                },
                {
                  "id": "48979394-c189-425a-a8ab-aad64178242b",
                  "name": "Investimento em anúncios",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1695867438787",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "0d187506-4774-4d90-8d57-c6c9a5d80c3f",
                  "name": "Procedimento mais vendido",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1695867477062",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "85e5466a-afb4-4e65-bd1f-58af78c9479d",
                  "name": "Dificuldade",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1695867534125",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "294225af-d8dc-44e4-8ae1-028e4965dfae",
                  "name": "Faturamento ",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1695867542524",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "e0752dc0-514e-4b1c-b942-e1386a5e6a5c",
                  "name": "Vendas",
                  "type": "drop_down",
                  "type_config": {
                    "new_drop_down": true,
                    "options": [
                      {
                        "id": "84694b23-c26f-47ff-921d-0993119b6235",
                        "name": "Isca",
                        "color": null,
                        "orderindex": 0
                      },
                      {
                        "id": "104dff2e-3d7f-4b6f-aca6-aee3bcd9a23c",
                        "name": "Recuperação",
                        "color": "#e50000",
                        "orderindex": 1
                      },
                      {
                        "id": "30effc4f-6693-4437-a727-bb7724d1ced8",
                        "name": "Respondeu recuperação",
                        "color": "#800000",
                        "orderindex": 2
                      },
                      {
                        "id": "74870851-2173-421b-a25e-699cb81a7fcd",
                        "name": "Lead",
                        "color": "#b5bcc2",
                        "orderindex": 3
                      },
                      {
                        "id": "39b257fc-8372-4ae7-a067-10765198f900",
                        "name": "Respondeu Pesquisa",
                        "color": "#FF7FAB",
                        "orderindex": 4
                      },
                      {
                        "id": "dda4da49-04d9-4cf7-bc83-dd13ddd68e72",
                        "name": "Pré-aplicação",
                        "color": "#EA80FC",
                        "orderindex": 5
                      },
                      {
                        "id": "0e96883e-1ca1-44d6-8b4e-696048b0ae52",
                        "name": "Preencheu Aplicação",
                        "color": "#bf55ec",
                        "orderindex": 6
                      },
                      {
                        "id": "bf562c70-d028-4918-8292-cd926daeb16c",
                        "name": "Aguardando Pagamento",
                        "color": "#f900ea",
                        "orderindex": 7
                      },
                      {
                        "id": "54984cf8-15cf-4242-b69e-071ba365fc74",
                        "name": "Comprou (Impact/P.C.R/DNE)",
                        "color": "#1bbc9c",
                        "orderindex": 8
                      },
                      {
                        "id": "e9e5ba64-adf3-4ffb-8ae8-a65e8e5d5ed4",
                        "name": "Comprou a Sala Black",
                        "color": "#2ecd6f",
                        "orderindex": 9
                      },
                      {
                        "id": "2b24291c-b4f5-4f77-8bfd-ae536681f1ad",
                        "name": "Onboarding",
                        "color": "#e50000",
                        "orderindex": 10
                      },
                      {
                        "id": "100f6269-711a-4f7a-947d-19b9cbdf4f3a",
                        "name": "Aplicação Orgânico (SE)",
                        "color": "#81B1FF",
                        "orderindex": 11
                      },
                      {
                        "id": "ab1182bb-899e-4262-a613-b9cd74d323aa",
                        "name": "Lead (SE)",
                        "color": "#bcd5ff",
                        "orderindex": 12
                      },
                      {
                        "id": "8778802b-f09d-40f2-a13d-e53ea80cf31f",
                        "name": "Convite Reunião (SE)",
                        "color": "#81B1FF",
                        "orderindex": 13
                      },
                      {
                        "id": "6deaca49-d0ce-42d6-bb38-4506af4efe3d",
                        "name": "Convite Reunião (SE) - FOLLOW",
                        "color": "#0231E8",
                        "orderindex": 14
                      },
                      {
                        "id": "3180cfcd-0835-4f45-8008-3d2609d66a30",
                        "name": "Reunião Agendada (SE)",
                        "color": "#04A9F4",
                        "orderindex": 15
                      },
                      {
                        "id": "7ab02491-6aa0-4607-af1b-b1a68b8a5151",
                        "name": "Reunião Realizada (SE)",
                        "color": "#02BCD4",
                        "orderindex": 16
                      },
                      {
                        "id": "0818d031-49c5-4480-abce-c5511f194adc",
                        "name": "Follow-up (SE)",
                        "color": "#f9d900",
                        "orderindex": 17
                      },
                      {
                        "id": "6175c3f1-441d-4ca4-82d2-fcdb767ae319",
                        "name": "Agência",
                        "color": "#F99618",
                        "orderindex": 18
                      },
                      {
                        "id": "ec5008c0-2488-442f-9a0d-e0edca4fd6b5",
                        "name": "Evento Presencial",
                        "color": "#AF7E2E",
                        "orderindex": 19
                      },
                      {
                        "id": "a2d7ef42-d8a2-42fd-8ded-3636a6bca787",
                        "name": "Sponsor",
                        "color": "#1664E6",
                        "orderindex": 20
                      }
                    ]
                  },
                  "date_created": "1695961005791",
                  "hide_from_guests": false,
                  "value": 14,
                  "required": false
                },
                {
                  "id": "fa417e26-5f41-4afe-ab4b-628351b9cec1",
                  "name": "Respondeu Pesquisa",
                  "type": "checkbox",
                  "type_config": {},
                  "date_created": "1695962286317",
                  "hide_from_guests": true,
                  "required": false
                },
                {
                  "id": "27ddd108-8ae8-4353-99bc-49e1a800b676",
                  "name": "[AP] Clínica",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1696977767083",
                  "hide_from_guests": true,
                  "required": false
                },
                {
                  "id": "419bf586-a5b5-434a-a009-22bbc70abe54",
                  "name": "Telefone (Whatsapp)",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1697663405507",
                  "hide_from_guests": false,
                  "value": "557399593411",
                  "required": false
                },
                {
                  "id": "13f4e607-7a31-428d-9775-fab416cb95d9",
                  "name": "Origem",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1704300723971",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "b8ef7955-c874-423a-ae85-301bf39e717e",
                  "name": "[SB] Data da Compra",
                  "type": "date",
                  "type_config": {},
                  "date_created": "1719580466341",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "83513f62-c16b-4665-a792-a1bb76c4b359",
                  "name": "[SB] CNPJ",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1719580520511",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "21655671-5c1f-4d62-a219-e68922c13307",
                  "name": "[SB] Cidade",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1719580758158",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "86650f05-1f5a-4433-81fc-35f2797ce7ae",
                  "name": "[SB] UF",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1719580773610",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "29805e68-9d2e-437e-8b18-f35e1ed9997e",
                  "name": "[SB] Plataforma de Pagamento",
                  "type": "drop_down",
                  "type_config": {
                    "new_drop_down": true,
                    "options": [
                      {
                        "id": "3fea8683-cae3-47d0-9044-05daca395d03",
                        "name": "Asaas",
                        "color": "#0231E8",
                        "orderindex": 0
                      },
                      {
                        "id": "efca5f24-c4f4-49c6-be38-3c65fdfc8bd9",
                        "name": "Green",
                        "color": "#2ecd6f",
                        "orderindex": 1
                      },
                      {
                        "id": "1aa1a703-b702-4e46-b4e0-c50622a7e1f4",
                        "name": "Conta direto",
                        "color": "#f9d900",
                        "orderindex": 2
                      },
                      {
                        "id": "6030c642-03af-4d71-82d5-da0042859cbe",
                        "name": "Híbrido",
                        "color": "#9b59b6",
                        "orderindex": 3
                      }
                    ]
                  },
                  "date_created": "1719580835035",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "be4c7910-4388-46b3-b5d2-9dfa12c96030",
                  "name": "[SB] Forma de Pagamento",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1719580858798",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "261d84a6-e699-4c03-9178-01da36ec6dce",
                  "name": "[SB] Prazo",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1720186396105",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "fd16a814-b8e9-4128-b765-6c3165638bf0",
                  "name": "[SB] Valor",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1720186433444",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "504cfcc6-ca2d-403a-bc99-110b7fc17eee",
                  "name": "Dia de vencimento",
                  "type": "date",
                  "type_config": {},
                  "date_created": "1720187012189",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "40523737-82c1-49a5-9ebc-52d0a812b982",
                  "name": "Nome Completo do Sócio",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1720397127514",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "f0b9372f-1b84-4682-b425-45e5a6b52ece",
                  "name": "[SB] CPF",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1720397159656",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "5aed0524-bd1a-4476-96e0-4916b2057920",
                  "name": "[SB] Razão Social",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1720397258435",
                  "hide_from_guests": false,
                  "required": false
                },
                {
                  "id": "c71c40d9-74df-448a-ab08-c0ae70bb8fda",
                  "name": "[SB] Endereço",
                  "type": "short_text",
                  "type_config": {},
                  "date_created": "1720397283577",
                  "hide_from_guests": false,
                  "required": false
                }
              ],
              "dependencies": [],
              "linked_tasks": [],
              "locations": [],
              "team_id": "30971486",
              "url": "https://app.clickup.com/t/86a3wgja7",
              "sharing": {
                "public": false,
                "public_share_expires_on": null,
                "public_fields": [
                  "assignees",
                  "priority",
                  "due_date",
                  "content",
                  "comments",
                  "attachments",
                  "customFields",
                  "subtasks",
                  "tags",
                  "checklists",
                  "coverimage"
                ],
                "token": null,
                "seo_optimized": false
              },
              "list": {
                "id": "901300794753",
                "name": "CRM",
                "access": true
              },
              "project": {
                "id": "90130377914",
                "name": "[ILA] [AS] CRM Reunião Secreta",
                "hidden": false,
                "access": true
              },
              "folder": {
                "id": "90130377914",
                "name": "[ILA] [AS] CRM Reunião Secreta",
                "hidden": false,
                "access": true
              },
              "space": {
                "id": "90070031834"
              }
            }
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-07-17T04:04:36.000Z",
  "versionId": "0704767b-e457-4c17-b4ba-94cad712eb6b"
}